 <template>
    <div class="puzzle">
        <div class="puzzle-items"
            v-infinite-scroll="fetchProductsData"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="10"
            infinite-scroll-immediate-check="false">
            <router-link :to="'product/'+ item.sell_product.product_id" tag="div"  class="product-list" v-for="item in products" :key="item" v-if="products.length > 0">
                <div class="img" v-lazy:background-image="item.sell_product.all_image[0]">
                    <div class="numbers">{{ item.sell_product.puzzles }}格</div>
                </div>
                <div>
                    <div class="flex flex-column product-info justify-between">
                        <div class="name">{{ item.sell_product.product.name }}</div>
                        <div class="product-bottom">
                            <div class="flex justify-between items-center">
                                <div class="price"><span>￥</span>{{ item.sell_product.base_price }}</div>
                                <div class="join" @click.prevent="getInvolvedNow(item.sell_product)">立即参与</div>
                            </div>
                        </div>
                    </div>
                </div>
            </router-link>
        </div>
        <div class="empty" v-if="!products.length > 0">
            活动商品数量有限！<br/>抓紧机会！
            <router-link tag="div" :to="{name:'Game.Home'}" class="empty-button">去瞧瞧</router-link>
        </div>
        <share-box v-if="share" @close="share = false"></share-box>
        <product-sku-action
                v-if="product"
                :is_game=true
                @close="product=null"
                :action="ProductSkuAction.action"
                :sku="product.attributes"
                v-model="ProductSkuAction.result_sku"
                :inventories="product.inventories"
                :default_price="product.base_price"
                :default_image="product.image"
                @share="onShare"
                :can_join_game="can_join"
                :sell_attribute_value="product.sell_attribute_value"
        ></product-sku-action>
    </div>
</template>

<script>
    import {app_rules} from '/config/parameter'
    import ProductSkuAction from '/modules/ProductSkuAction.vue'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import { InfiniteScroll } from 'mint-ui';
    import ShareBox from '/components/ShareBox.vue'


    export default{
        components:{
            ProductSkuAction,
            ShareBox
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return{
                share: false,
                product: null,
                userName: '',
                ProductSkuAction: {
                    result_sku: {},
                    action: 'buy-now-game'
                },
                products: {},
                loading:false,
                page:1,
                last_page:10,
                can_join: 0,
            }
        },
        beforeRouteEnter (to, from, next) {
            let urls = [
                    RequestAPI.http.get('game/collection'+'?page=1'),
                    RequestAPI.http.get('game/join/user')
                ];
            if (Vue.$store.state.token) {
                urls.push(RequestAPI.http.get('user'))
            }
            Mint.Indicator.open();
            axios
                .all(urls)
                .then(axios.spread((products, join, user) => {
                    next(vm => {
                       vm.can_join = join.can_join_game;
                       vm.products = products.paginate_data.collection;
                        if (user) {
                            vm.userName = user.nickname;
                        }
                    })
                }))
                .finally(() => Mint.Indicator.close());
        },
        methods:{
            onShare(id){
                this.product = null;
                Mint.Indicator.open();
                RequestAPI.http.get('user')
                .then((response)=>{
                    this.userName = response.nickname;
                    this.share = true;
                })
                .finally(() => Mint.Indicator.close())
            },
            fetchProductsData(){
                console.log('this.page',this.page)
                if(this.page>this.last_page||this.loading){
                    return;
                }

                this.loading = true;

                let urls = [
                    RequestAPI.http.get('game/collection'+'?page='+this.page)
                ];
                if (Vue.$store.state.token) {
                    urls.push(RequestAPI.http.get('user'))
                }
                Mint.Indicator.open();
                axios
                    .all(urls)
                    .then(axios.spread((products, user) => {
                       // this.products = products.paginate_data.collection;
                       if (user) {
                            this.userName = user.nickname;
                        }

                        if(products.pagination.current_page == "1") {
                            this.products = [];
                        }

                        for (let i of products.paginate_data.collection){
                            this.products.push(i);
                        }
                        this.last_page =products.pagination.last_page;
                        this.page++;
                        this.loading = false;

                    }))
                    .finally(() => Mint.Indicator.close());
            },
            getInvolvedNow(item){
                if (!this.$store.state.token) {
                    if (this.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    }
                    this.$router.push({name: 'Auth.Login'})
                } else {
                    Mint.Indicator.open();
                    RequestAPI.http.get('product/' + item.product_id+'?provider=3').then((r) => {
                        this.product = r;
                    }).finally(() => Mint.Indicator.close());
                }
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .puzzle-items{
        margin: .21rem 0;
        background: #fff;

        .product-list{
            padding: .2rem;
            overflow: hidden;

            .img{
                width: 1.6rem;
                height: 1.6rem;
                float: left;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                margin-right: .3rem;

                .numbers{
                    display: inline-block;
                    background: rgba(0, 0, 0, 0.502);
                    padding: .08rem .09rem;
                    color: #fff;
                    font-size: .2rem;
                }
            }
            &:last-child{
                .product-info:after{
                    display: none;
                }
            }
        }

        .product-info{
            position: relative;
            height: 1.6rem;

            .name{
                font-size: .24rem;
                line-height: 1.5;
            }

            .price{
                font-size: .26rem;
                font-weight: 500;
                span{
                    font-size: .2rem;
                }
            }

            .join{
                font-size: .24rem;
                color: #fff;
                border-radius: 120px;
                background: rgb(188, 27, 33);
                padding: .14rem .27rem;
            }

            &:after{
                content: '';
                display: inline-block;
                width: 100%;
                height: 1px;
                background: rgb(223, 226, 230);
                position: absolute;
                bottom: -.1rem;
                left: 0;
            }
        }
    }
    .empty{
        padding: 1.2rem 0;
        text-align: center;
        color: #000;
        font-size: .3rem;
        line-height: 1.6;

        .empty-button{
            display: block;
            margin: .6rem auto 0;
            background: rgb(188, 27, 33);
            border-radius: 120px;
            color: #fff;
            text-align: center;
            padding: .3rem 0;
            width: 2.2rem;
            line-height: 1;
        }
    }
</style>
