<template>
    <div class="game-puzzle-home">
        <div class="fixed-header-test">
            <div class="top-nav-bar flex flex-column justify-between">
                <div class="btn-group flex">
                    <router-link to="rule" append tag="div" class="btn">
                        <i class="iconfont icon-liebiao-copy1"></i>
                        <span>游戏规则</span>
                    </router-link>
                    <div class="btn" @click="puzzle_url">
                        <i class="iconfont icon-xin heart"></i>
                        <span>我的拼图</span>
                    </div>
                    <div class="btn-text">
                        参与：{{prompt.join_number}}人<br/>
                        送出：{{prompt.send_number}}件
                    </div>
                </div>
                <div class="prompt flex justify-center flex-column center">
                    <div>参与：{{prompt.join_number}}人次&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;送出：{{prompt.send_number}}件</div>
                    <div class="red">格数越多，商品价值越高哦~</div>
                </div>
            </div>
            <div style="overflow: hidden" :class="show_nav ? 'scroll-fixed' : ''">
                <div class="scroll-nav btn-group flex" v-if="show_nav">
                    <div class="col-8">
                        <router-link to="rule" append tag="div" class="btn">
                            <i class="iconfont icon-liebiao-copy1"></i>
                            <span>游戏规则</span>
                        </router-link>
                        <router-link :to="puzzle_url" tag="div" append class="btn">
                            <i class="iconfont icon-xin heart"></i>
                            <span>我的拼图</span>
                        </router-link>
                    </div>
                    <div class="col-4 scroll-text">
                        参与：{{prompt.join_number}}人次<br/>
                        送出：{{prompt.send_number}}件
                    </div>
                </div>
                <div class="filter-tool flex items-center">
                    <div :class="query.type==i&&'on'" v-for="i in filter_conditions.number" @click="query.type=i,page=1,last_page=10, window.scroll(0, 0)">
                        {{ i || '全部' }}{{ i && '格' }}
                    </div>
                </div>
            </div>
        </div>

        <div class="products-list flex flex-wrap" :class="show_nav ? 'product-padding' : ''"
            v-infinite-scroll="fetchProductsData"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="10"
            v-show="productList || productList.length">
            <router-link :to="'product/'+ item.product_id" append tag="div" class="product-item col-6" v-for="item in productList" :key="item">
                <div class="item">
                    <div class="item__cover flex items-end"
                         v-lazy:background-image="item.image || item.all_image[0]"></div>
                    <div class="item__attr flex flex-column justify-between">
                        <div class="item__name ellipsis">{{ item.product.name }}</div>
                        <div class="flex justify-between items-center">
                            <div :class="priceClass">¥{{ item.base_price }}</div>
                            <div class="get-involved-now" @click.prevent="getInvolvedNow(item)">立即参与</div>
                        </div>
                    </div>
                </div>
                <div class="collection-status flex items-center justify-center" :class="item.collection&&'on'"
                     @click.prevent="collection(item)">
                    <div>{{item.puzzles}}格</div>
                </div>
            </router-link>
        </div>
        <share-box v-if="share" @close="share = false"></share-box>
        <product-sku-action
                v-if="product"
                :is_game=true
                @close="product=null"
                :action="ProductSkuAction.action"
                :sku="product.attributes"
                v-model="ProductSkuAction.result_sku"
                :inventories="product.inventories"
                :default_price="product.base_price"
                :default_image="product.image"
                @share="onShare"
                :can_join_game="can_join"
                :sell_attribute_value="product.sell_attribute_value"
        ></product-sku-action>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
        <empty-view v-show="!productList || !productList.length" :type="19" content="拼累了吧，先歇歇！<br/>小A正在努力补货中，美衣和惊喜都还有哦~   "/>
    </div>
</template>

<script>
    import EmptyView from '/modules/EmptyView.vue'
    import {app_rules} from '/config/parameter'
    import ProductSkuAction from '/modules/ProductSkuAction.vue'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import { InfiniteScroll } from 'mint-ui';
    import ShareBox from '/components/ShareBox.vue'
    import PointAward from '/components/PointAward.vue'


    export default{
        components: {
            ProductSkuAction,
            ShareBox,
            PointAward,
            EmptyView
        },
        props: {},
        directive: {
            InfiniteScroll
        },
        data(){
            return {
                award:{},
                share: false,
                filter_conditions: {
                    number: ['', 4, 6, 9, 12, 16, 20, 25]
                },
                productList: [],
                query: {
                    type: ''
                },
                product: null,
                ProductSkuAction: {
                    result_sku: {},
                    action: 'buy-now-game'
                },
                prompt: {
                    number: 0,
                },
                loading:false,
                page:1,
                last_page:10,
                show_nav: false,
                can_join: 0
            }
        },
        watch: {
            'query.type'(){
                this.fetchProductsData();
                this.fetchCanJoinData();
            }
        },
        created(){
            this.fetchProductsData();
            this.fetchCanJoinData();
        },
        methods: {
            puzzle_url(){
                if (!Vue.$store.state.token) {
                    if (Vue.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    } else {
                        this.$router.push({name: 'Game.Register'})
                    }
                } else {
                    if (this.prompt.playing == 0) {
                        this.$router.push({name: 'Game.Heartbeat'})
                    } else {
                        this.$router.push({name: 'Game.Puzzle'})
                    }
                }
            },
            onShare(id){
                this.product = null;
                this.prompt.playing = 1;
            },
            collection(item){
                if (!item.collection) {
                    RequestAPI.http.post('collection', {sell_product_id: item.id, provider: 2}).then((r) => {
                        item.collection = r;
                    })
                } else {
                    RequestAPI.http.delete('collection/' + item.collection.id).then((r) => {
                        item.collection = r;
                    })
                }
            },
            getInvolvedNow(item){
                if (!this.$store.state.token) {
                    if (this.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    }
                    this.$router.push({name: 'Game.Register'})
                } else {
                    Mint.Indicator.open();
                    RequestAPI.http.get('product/' + item.product_id + '?provider=3').then((r) => {
                        this.ProductSkuAction.result_sku = {}
                        this.product = r;
                    }).finally(() => Mint.Indicator.close());
                }
            },
            fetchCanJoinData(){
                Mint.Indicator.open();
                RequestAPI.http.get('game/join/user').then((r) => {
                    this.can_join = r.can_join_game;
                }).finally(() => Mint.Indicator.close());
            },
            fetchProductsData(){
                if (this.page > this.last_page || this.loading) {
                    return;
                }

                this.loading = true;
                Mint.Indicator.open();
                RequestAPI.http.get('game/' + this.query.type + '?page=' + this.page).then((r) => {
                    if (r.current_page == "1") {
                        this.productList = [];
                    }

                    for (let i of r.data) {
                        this.productList.push(i);
                    }
                    this.last_page = r.last_page;
                    this.page++;
                    this.loading = false;

                }).finally(() => Mint.Indicator.close());
            },
            getScrollTop(){
                var scrollTop = 0;
                if(window.document.documentElement&&window.document.documentElement.scrollTop){
                    scrollTop = window.document.documentElement.scrollTop;
                }else if(window.document.body){
                    scrollTop = window.document.body.scrollTop;
                }
                return scrollTop;
            },
            navScroll(filterNav){
                let scroll = this.getScrollTop();
                if (scroll >= filterNav){
                    this.show_nav = true;
                    return false
                };
                this.show_nav = false;
            }
        },
        mounted(){
            share.init('puzzle_index').then((r) => {
                shareAction.init(r.title, r.content, '', '', r.share_url, r.image,()=>{
                    if (this.$store.state.token) {
                        Mint.Indicator.open();
                        RequestAPI.http.get('activity-share/puzzle_index')
                            .then((response) => {
                                if (response && response != null) {
                                    this.award = response;
                                }
                            })
                            .finally(() => Mint.Indicator.close());
                    }
                });
            });
            let filterNav = this.$el.querySelector('.prompt').offsetTop;
            window.onscroll = ()=>{
                this.navScroll(filterNav)
            }
            window.addEventListener('touchmove', (event) => {
               this.navScroll(filterNav)
            })
        },
        beforeRouteEnter(to, from, next){
            let urls = [
                RequestAPI.http.get('user/join/number'),
            ];
            Mint.Indicator.open();
            axios.all(urls)
                .then(axios.spread((number) => {
                    next(vm => {
                        vm.prompt = number
                    })
                }))
                .finally(() => Mint.Indicator.close());
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .game-puzzle-home {
        background: #dfe2e6;
        min-height: 100vh;

        .fixed-header{
            .top-nav-bar{
                height: auto;
                background: #fff;
            }

            .btn-group {
                .btn-text{
                    display: block !important;
                }
            }

            .prompt{
                display: none;
            }

        }

        .top-nav-bar {
            background: url("../../assets/images/game-home-bg_02.png") no-repeat center center;
            height: calc(100vh - 7rem);
            transition: all .8s;
            background-size: cover;

            * {
                transition: all .8s;
            }

            &.fixed {
                background: #fff;
            }

            .btn-group {
                justify-content: space-between;

                > div{
                    margin: .2rem;
                }
                .btn-text{
                    display: none;
                    flex: 1;
                    text-align: center;
                    line-height: 1.2;
                }
                .btn {
                    background: rgba(0, 0, 0, .2);
                    color: #fff;
                    padding: .1rem;

                    i{
                        font-size: .3rem;
                        vertical-align: middle;

                        &.heart{
                            color: #ff6a70;
                        }
                    }
                }
            }

            .prompt {
                height: 1rem;
                background: rgba(222, 153, 43, .6);
                font-size: .24rem;
                color: #fff;
                line-height: 1.5;

                .red {
                    color: #de2b2b;
                }
            }
        }

        .scroll-nav{
            color: #000;
            background: #fff;
            padding: .35rem 0 .16rem;
            .btn{
                display: inline-block;
                background: rgba(0, 0, 0, .2);
                padding: .1rem;
                border-radius: 0.08rem;
                margin: 0 .14rem;
                background: rgba(22, 54, 71, 0.102);
                i{
                    font-size: .3rem;
                    vertical-align: middle;

                    &.heart{
                        color: rgba(188, 27, 33,0.502);
                    }
                }
            }
        }

        .filter-tool {
            overflow-x: auto;
            height: .8rem;
            background: #fff;
            color: rgba(0, 0, 0, .5);
            font-size: .24rem;
            padding: 0 .2rem;
            white-space: nowrap;

            .on {
                background: #000;
                color: #fff;
                border-radius: 25px;
            }

            > div {
                padding: .1rem .2rem;
            }
        }

        .products-list {
            padding: .1rem;
        }

        .product-item {
            position: relative;

            .item {
                border-radius: .05rem;
                overflow: hidden;
                margin: .1rem;
                border: 1px solid rgb(230, 230, 230);

                &__cover {
                    height: calc(100vw / 2 - .3rem);
                    text-align: center;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                &__attr {
                    padding: .2rem;
                    background: #fff;
                }

                &__name {
                    font-size: .24rem;
                    line-height: .36rem;
                    margin-bottom: .1rem;
                    -webkit-line-clamp: 3;
                    height: 1rem;
                }
                &__price {
                    font-size: .26rem;
                    font-weight: 500;
                    &.point {
                        color: #d79523;
                    }
                }
                .get-involved-now {
                    background: #bc1b21;
                    border-radius: 25px;
                    color: #fff;
                    padding: .1rem .2rem;
                }
            }

            .collection-status {
                position: absolute;
                right: 0;
                top: 0;
                width: .8rem;
                height: .8rem;
                font-size: .18rem;
                color: #fff;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url("../../assets/images/heart_unselect.png");

                &.on {
                    background-image: url("../../assets/images/heart_selected.png");
                }
            }
        }
        .scroll-fixed{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background: #fff;
            z-index: 99;
        }
        .product-padding{
            padding-top: 1.5rem;
        }
    }
</style>
