<template>
    <div>
        <div class="header-bar justify-between game-header" v-if="is_show">
            <router-link class="nav__item" :class="{'nav__item__on': nav_active == 1}" @click="nav_active = 1" tag="div" :to="{name:'Game.Puzzle'}" replace>
                <div class="content">
                    <span>进行中</span>
                </div>
            </router-link>
            <router-link class="nav__item" :class="{'nav__item__on': nav_active == 2}" @click="nav_active = 2" tag="div" :to="{name:'Game.Heartbeat'}" replace>
                <div class="content">
                    <span>心动的</span>
                </div>
            </router-link>
            <router-link class="nav__item" :class="{'nav__item__on': nav_active == 3}" @click="nav_active = 3" tag="div" :to="{name:'Game.Order'}" replace>
                <div class="content">
                    <span>已到手</span>
                </div>
            </router-link>
            <router-link class="nav__item" :class="{'nav__item__on': nav_active == 4}" @click="nav_active = 4" tag="div" :to="{name:'Game.Invalid'}" replace>
                <div class="content">
                    <span>已失效</span>
                </div>
            </router-link>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                is_show: true,
            }
        },
        watch:{
            '$route.name'(val){
                this.isShow();
            }
        },
        created(){
            this.isShow();
        },
        methods:{
            isShow(){
                this.is_show = ['Puzzle', 'Heartbeat', 'Order', 'Invalid'].indexOf(this.$route.name.split('.')[1]) >= 0
            }
        }
    }
</script>

<style lang="scss">
    .game-header{
        .nav__item {
            width: 33%;
            text-align: center;
            padding: 0;

            .content {
                display: inline-block;
                color: #000;
                line-height: .5rem;
                height: auto;
                padding: 0 .2rem;
                text-align: center;
                .active-icon {
                    display: none;
                }
            }
            &.router-link-active {
                &:before {
                    display: none;
                }
                span {
                    vertical-align: middle;
                }
                .content {
                    background: #000;
                    color: #fff;
                    border-radius: 120px;
                }
            }
        }
    }
</style>
