 <template>
    <div class="puzzle invalid" v-lock>
        <div class="products-list flex flex-wrap" v-if="products.length > 0"
            v-infinite-scroll="fetchProductsData"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="10"
            infinite-scroll-immediate-check="false">
            <div class="product-item col-6" v-for="item in products">
                <router-link :to="'show/'+ item.id" tag="div" class="item">
                    <div class="item__cover" v-lazy:background-image="item.sell_product.all_image[0]">
                        <div class="puzzles">{{ item.finished_number }}/{{ item.count }}</div>
                    </div>
                    <div class="item__attr flex flex-column justify-between">
                        <div class="item__name ellipsis">{{ item.sell_product.product.name }}</div>
                        <div class="flex justify-between items-center">
                            <div :class="priceClass">{{ item.sell_product.base_price }}</div>
                            <div class="get-involved-now" @click.prevent="getInvolvedNow(item.sell_product)" v-if="item.has_inventory == 1">再次发起</div>
                            <div class="get-involved-now blur" v-else>送完啦</div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
        <div class="empty" v-else>
            “拼”的是人气，荷包不会缩哦~ <br/>拼拼气更旺。
            <router-link tag="div" :to="{name:'Game.Home'}" class="empty-button">我要拼</router-link>
        </div>
        <share-box v-if="share" @close="share = false"></share-box>
        <product-sku-action
                v-if="product"
                :is_game=true
                @close="product=null"
                :action="ProductSkuAction.action"
                :sku="product.attributes"
                v-model="ProductSkuAction.result_sku"
                :inventories="product.inventories"
                :default_price="product.base_price"
                :default_image="product.image"
                @share="onShare"
                :can_join_game="can_join"
                :sell_attribute_value="product.sell_attribute_value"
        ></product-sku-action>
    </div>
</template>

<script>
    import {app_rules} from '/config/parameter'
    import ProductSkuAction from '/modules/ProductSkuAction.vue'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import { InfiniteScroll } from 'mint-ui';
    import ShareBox from '/components/ShareBox.vue'

    export default{
        components:{
            ProductSkuAction,
            ShareBox
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return{
                products: {},
                product: null,
                ProductSkuAction: {
                    result_sku: {},
                    action: 'buy-now-game'
                },
                share: false,
                userName: '',
                share: false,
                loading:false,
                page:1,
                last_page:10,
                can_join: 0,
            }
        },
        created(){
            this.fetchProductsData();
            this.fetchCanJoinData();
        },
        methods:{
            onShare(id){
                this.product = null;
                this.share = true;
            },
            fetchCanJoinData(){
                Mint.Indicator.open();
                RequestAPI.http.get('game/join/user').then((r) => {
                    this.can_join = r.can_join_game;
                }).finally(() => Mint.Indicator.close());
            },
            fetchProductsData(){
                console.log('this.page',this.page)
                if(this.page>this.last_page||this.loading){
                    return;
                }

                this.loading = true;

                let urls = [
                    RequestAPI.http.get('game/expired/user'+'?page='+this.page)
                ];
                if (Vue.$store.state.token) {
                    urls.push(RequestAPI.http.get('user'))
                }
                Mint.Indicator.open();
                axios
                    .all(urls)
                    .then(axios.spread((products, user) => {
                       // this.products = products.paginate_data.game;
                       if (user) {
                            this.userName = user.nickname;
                        }

                        if(products.pagination.current_page == "1") {
                            this.products = [];
                        }

                        for (let i of products.paginate_data.game){
                            this.products.push(i);
                        }
                        this.last_page =products.pagination.last_page;
                        this.page++;
                        this.loading = false;
                    }))
                    .finally(() => Mint.Indicator.close());
            },
            getInvolvedNow(item){
                if (!this.$store.state.token) {
                    if (this.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    }
                    this.$router.push({name: 'Auth.Login'})
                } else {
                    Mint.Indicator.open();
                    RequestAPI.http.get('product/' + item.product_id+'?provider=3').then((r) => {
                        this.product = r;
                    }).finally(() => Mint.Indicator.close());
                }
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .products-list {
        padding: .1rem;
    }

    .product-item {
        position: relative;

        .item {
            border-radius: .05rem;
            overflow: hidden;
            margin: .1rem;
            border: 1px solid rgb(230, 230, 230);

            &__cover {
                height: calc(100vw / 2 - .3rem);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;

                .puzzles{
                    display: inline-block;
                    color: #fff;
                    padding: .1rem;
                    font-size: .18rem;
                    border-top-left-radius: .05rem;
                    background: rgba(0, 0, 0, 0.702);
                }
            }

            &__attr {
                padding: .2rem;
                background: #fff;
            }

            &__name {
                font-size: .24rem;
                line-height: .36rem;
                margin-bottom: .1rem;
                -webkit-line-clamp: 2;
                height: .72rem;
            }
            &__price {
                font-size: .26rem;
                font-weight: 500;
                &.point {
                    color: #d79523;
                }
            }
            .get-involved-now {
                background: #bc1b21;
                border-radius: 25px;
                color: #fff;
                padding: .1rem .2rem;

                &.blur{
                    background: rgb(153, 153, 153);
                }
            }
        }
    }
    .invalid .time{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0.1rem;
        font-size: .2rem;
        color: $black3-color;
        text-align: left;
        background: rgba(0, 0, 0, 0.702);
        color: #fff;
        @include boxSizing(border-box);

        span{
            display: inline-block;
            border-radius: .1rem;
            background: #fff;
            color: #000;
            width: 24px;
            text-align: center;
            padding: .1rem 0;
            margin: 0 .1rem;
        }
    }
    .empty{
        padding: 1.2rem 0;
        text-align: center;
        color: #000;
        font-size: .3rem;
        line-height: 1.6;

        .empty-button{
            display: block;
            margin: .6rem auto 0;
            background: rgb(188, 27, 33);
            border-radius: 120px;
            color: #fff;
            text-align: center;
            padding: .3rem 0;
            width: 2.2rem;
            line-height: 1;
        }
    }
    .share-box{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        font-size: .32rem;
        z-index: 9999;

        .share-icon{
            display: block;
            text-align: right;
            margin: .3rem 0 .22rem 0;
            width: 100%;
            height: 1.22rem;
            @include backgroundImg(url('../../assets/images/arrow.png') no-repeat 95% center, contain);
        }
    }
</style>
