 <template>
    <div class="puzzle puzzle" v-lock>
        <div class="puzzle-notice center">
            <div class="text">今天还可发起 <span>{{ time_to_in }}</span> 款</div>
        </div>
        <div class="products-list flex flex-wrap" v-if="products.length > 0"
            v-infinite-scroll="fetchProductsData"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="10"
            infinite-scroll-immediate-check="false">
            <div class="product-item col-6" v-for="item in products">
                <router-link :to="'show/'+ item.id" tag="div" class="item">
                    <div class="item__cover" v-lazy:background-image="item.sell_product.all_image[0]">
                        <div class="puzzles">{{ item.finished_number }}/{{ item.count }}</div>
                        <div class="time" v-if="item.success != 1">
                            <div v-if="!remainTime[0] && !remainTime[1] && !remainTime[2]">
                                剩余 <span>00</span>:<span>00</span>:<span>00</span>结束
                            </div>
                            <div v-else>
                                <div v-if="item.success != 1">
                                    剩余 <span>{{ formatNumbers(remainTime[0]) }}</span>:<span>{{ formatNumbers(remainTime[1]) }}</span>:<span>{{ formatNumbers(remainTime[2]) }}</span>结束
                                </div>
                                <div v-else>
                                    <span>{{ formatNumbers(remainTime[0]) }}</span>:<span>{{ formatNumbers(remainTime[1]) }}</span>:<span>{{ formatNumbers(remainTime[2]) }}</span>后失效
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item__attr flex flex-column justify-between">
                        <div class="item__name ellipsis">{{ item.sell_product.product.name }}</div>
                        <div class="flex justify-between items-center">
                            <div :class="priceClass">￥{{ item.sell_product.base_price }}</div>
                            <div class="get-involved-now" @click.prevent="onCompound(item.order.order_sn, item.can_commit, item.order_remain_time)" v-if="item.success == 1">去合成</div>
                            <div class="get-involved-now" @click.prevent="onShare(item.id)" v-else><i class="iconfont icon-share"></i>分享</div>
                        </div>
                    </div>
                </router-link>
            </div>
            <dialogs type="3" :show="is_show" @close="is_show = false" :remain="order_remain_time"></dialogs>
        </div>
        <div class="empty" v-else>
            “拼”的是人气，荷包不会缩哦~ <br/>拼拼气更旺。
            <router-link tag="div" :to="{name:'Game.Home'}" class="empty-button">我要拼</router-link>
        </div>
        <share-box v-if="share" @close="share = false"></share-box>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import {app_rules} from '/config/parameter'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import Dialogs from '/components/Dialogs.vue'
    import { InfiniteScroll } from 'mint-ui';
    import ShareBox from '/components/ShareBox.vue'
    import PointAward from '/components/PointAward.vue'

    export default{
        components:{
            Dialogs,
            ShareBox,
            PointAward
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return{
                award: {},
                is_show: false,
                products: [],
                order_remain_time: 0,
                remainTime: [],
                time_to_in: null,
                share: false,
                userName: '',
                share: false,
                loading:false,
                page:1,
                last_page:10,

            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('user/game/playing').then((r) => {
                    next(vm => {
                        vm.products = r.paginate_data.game;
                        vm.time_to_in = r.time_to_in;

                        for(let i of vm.products) {
                            if (i.success == 1) {
                                vm.Countdown(i.order_remain_time)
                            } else {
                                vm.Countdown(i.remain_time)
                            }
                        }
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods:{
            fetchProductsData(){
                console.log('this.page',this.page)
                if(this.page>this.last_page||this.loading){
                    return;
                }

                this.loading = true;
                var that = this;
                Mint.Indicator.open();
                RequestAPI.http.get('user/game/playing'+'?page='+this.page)
                    .then(function (response) {
                        that.time_to_in = response.time_to_in;
                        if(response.pagination.current_page == "1") {
                            that.products = [];
                        }

                        for (let i of response.paginate_data.game){
                            that.products.push(i);
                            if (i.success == 1) {
                                that.Countdown(i.order_remain_time)
                            } else {
                                that.Countdown(i.remain_time)
                            }
                        }
                        that.last_page =response.pagination.last_page;
                        that.page++;
                        that.loading = false;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            onCompound(sn, can_commit, remain){
                if (can_commit == 1) {
                    this.$router.push({
                        name: 'Game.SubmitOrder',
                        params: {
                            'id': sn
                        }
                    })
                } else {
                    this.order_remain_time = remain;
                    this.is_show = true;
                }

            },
            onShare(id){
                share.init('puzzle', id).then((r) => {
                    shareAction.init(r.title, r.content, '', '', r.share_url,r.image, ()=>{
                        this.share = false;
                        if (this.$store.state.token) {
                            Mint.Indicator.open();
                            RequestAPI.http.get('activity-share/puzzle')
                                .then((response) => {
                                    if (response && response != null) {
                                        this.award = response;
                                    }
                                })
                                .finally(() => Mint.Indicator.close());
                        }
                    });
                });
                if (!this.$store.state.token) {
                    if (this.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    }
                    this.$router.push({name : 'Auth.Login'})
                } else {
                    if (this.$store.state.is_app) {
                        app_rules.share('puzzle', id);
                        return false;
                    }
                    this.share = true;
                }
            },
            formatNumbers(number) {
                return parseInt(number) <= 9 ? '0' + number : number;
            },
            Countdown(remain){
                let timer = null;
                timer = setInterval(() => {
                    if (remain < 1) {
                        clearInterval(timer);
                        return false;
                    }
                    remain --;

                    let hours = Math.floor(remain / 3600),
                        minutes = Math.floor(remain / 60) % 60,
                        seconds = remain % 60
                    this.remainTime = [hours, minutes, seconds];
                }, 1000)
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    %lines {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 20%;
        height: 1px;
        background: rgba(0, 0, 0, 0.502);
        margin: 0 .2rem;
    }

    .products-list {
        padding: .1rem;
    }

    .puzzle-notice{
        font-size: .26rem;
        margin-top: .23rem;

        .text{
            &:after{
                @extend %lines;
            }
            &:before{
                @extend %lines;
            }
        }

        span{
            font-size: .28rem;
            color: #bc1b21;
        }
    }

    .product-item {
        position: relative;

        .item {
            border-radius: .05rem;
            overflow: hidden;
            margin: .1rem;
            border: 1px solid rgb(230, 230, 230);

            &__cover {
                height: calc(100vw / 2 - .3rem);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;

                .puzzles{
                    display: inline-block;
                    color: #fff;
                    padding: .1rem;
                    font-size: .18rem;
                    border-top-left-radius: .05rem;
                    background: rgba(0, 0, 0, 0.702);
                }
            }

            &__attr {
                padding: .2rem;
                background: #fff;
            }

            &__name {
                font-size: .24rem;
                line-height: .36rem;
                margin-bottom: .1rem;
                -webkit-line-clamp: 2;
                height: .72rem;
            }
            &__price {
                font-size: .26rem;
                font-weight: 500;
                &.point {
                    color: #d79523;
                }
            }
            .get-involved-now {
                background: #bc1b21;
                border-radius: 25px;
                color: #fff;
                padding: .1rem .2rem;

                i{
                    vertical-align: middle;
                    margin-right: 0.1rem;
                }
            }
        }
    }
    .puzzle .time{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0.1rem;
        font-size: .2rem;
        color: $black3-color;
        text-align: left;
        background: rgba(0, 0, 0, 0.702);
        color: #fff;
        @include boxSizing(border-box);

        span{
            display: inline-block;
            border-radius: .1rem;
            background: #fff;
            color: #000;
            width: 20px;
            text-align: center;
            padding: .1rem 0;
            margin: 0 .1rem;
        }
    }
    .empty{
        padding: 1.2rem 0;
        text-align: center;
        color: #000;
        font-size: .3rem;
        line-height: 1.6;

        .empty-button{
            display: block;
            margin: .6rem auto 0;
            background: rgb(188, 27, 33);
            border-radius: 120px;
            color: #fff;
            text-align: center;
            padding: .3rem 0;
            width: 2.2rem;
            line-height: 1;
        }
    }
    .share-box{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        font-size: .32rem;
        z-index: 9999;

        .share-icon{
            display: block;
            text-align: right;
            margin: .3rem 0 .22rem 0;
            width: 100%;
            height: 1.22rem;
            @include backgroundImg(url('../../assets/images/arrow.png') no-repeat 95% center, contain);
        }
    }
</style>
