<template>
    <div class="mall-auth auth-padTop">
        <div class="auth-box">
            <div class="auth-items">
                <input type="tel" placeholder="手机号" v-model="form.phone">
            </div>
            <div class="auth-items flex items-center">
                <input type="tel" class="flex-one" placeholder="动态验证码" v-model="form.code" maxlength="4"/>
                <div class="right-align">
                    <span class="sendCode" v-if="!sms_countdown" @click="sendCode">发送</span>
                    <span class="sendCode gray-color" v-if="sms_countdown">已发送({{sms_countdown}}秒)</span>
                </div>
            </div>
        </div>
        <div class="auth-button" @click="commit">注册或登录</div>

        <div class="auth-checkbox" @click="setDefault">
            <i class="iconfont" :class="[ status == 1 ? 'icon-xuanzhong' : 'checkbox-empty']"></i>
            <span>同意<a href="/apih5/member/policy">《用户使用协议》</a></span>
        </div>

        <div class="center submit-items">
            <div class="title">店铺正在举办的活动有：</div>
            <div class="flex justify-between">
            <a href="/wechat/game" class="center submit-list">
                <img src="~/assets/images/game/submit1.png" alt="">
                <div class="button first">拼图送衣</div>
            </a>
            <a href="/wechat/mall/advertisement" class="center submit-list">
                <img src="~/assets/images/game/submit2.png" alt="">
                <div class="button">首单7折购<br/>+满送豪礼</div>
            </a>
            <a href="/wechat/mall/sales" class="center submit-list">
                <img src="~/assets/images/game/submit3.png" alt="">
                <div class="button">分享促单<br/>享返佣20% </div>
            </a>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapMutations} from 'vuex'
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components: {},
        data(){
            return {
                status: 1,
                form: {
//                    phone: '130' + parseInt(Math.random() * 1000000 + 9999999),
//                    code: '1',
                    uuid: this.$route.query.uuid || null,
                    user_game_id: this.$route.query.user_games_id,
                    notCheckUser: 1
                },
                sms_countdown: 0,
                confirm_password: '',
                fromRouter: null,
                show_iframe: false,
                show_advertisement: false,
                show_active: false
            }
        },
        mounted(){
        },
        beforeRouteEnter (to, from, next) {
            next((vm)=> {
                vm.fromRouter = from.name;
            })
        },
        methods: {
            ...mapActions([
                'login'
            ]),
            setDefault(){
                this.status = this.status == '1' ? '0' : '1';
            },
            commit(){
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                if (!this.form.code) {
                    Mint.Toast('请填写验证码');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('gameSign', this.form)
                    .then((response) => {
                        this.login(response.token);
                        this.$store.commit('fetchLoginPointDialog', 1);
                        if (this.form.user_game_id) {
                            window.location = 'http://app.amii.com';
                            return false;
                        }
                        if(!this.fromRouter) {
                            this.$router.replace({
                                path: '/game'
                            });
                        }
                        switch (this.fromRouter){
                            case 'Auth.Login':
                                this.$router.go(-2);
                                break;
                            default:
                                this.$router.go(-1);
                                break;
                        }
                    })
                    .finally(() => Mint.Indicator.close())
            },
            sendCode(){
                let sms_captcha = new SmsCaptcha();
                let validPhone = sms_captcha.validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                sms_captcha.send('code/register', this.form).then((response) => {
                    this.sms_countdown = 60;
                    let timeid = setInterval(() => {
                        if (!this.sms_countdown) {
                            clearInterval(timeid);
                        } else {
                            this.sms_countdown--;
                        }
                    }, 1000);
                });
            }
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .mall-auth{
        min-height: 100vh;
        background: #FFF;
        padding: 0 0.75rem;
        font-size: 0.24rem;
        color: $black-color;
    }
    .auth-box{
        .auth-items{
            position: relative;
            padding-top: 0.3rem;
            border-bottom: 2px solid rgb(231, 231, 231);

            input{
                width: 100%;
                padding: 0.2rem 0.3rem;
                font-size: 0.26rem;
                border: 0;
                @include boxSizing(border-box);
            }
        }
        @include placeHolder(#b7b7b7);
    }
    .auth-button{
        @include buttonStyle(#bc1b21,#fff,100%,0.9rem,0.04rem,0.32rem);
        line-height: 0.9rem;
        margin: 1.02rem 0 0.36rem 0;
        &.blur{
            background: rgb(216, 216, 216);
        }
    }
    .sendCode{
        border-left: 1px solid rgb(231, 231, 231);
        padding: 0 0.1rem 0 0.2rem;
    }
    .auth-error{
        padding: 0.55rem 0.33rem;
        color: #de1c1c;
        font-size: 0.24rem;

        i{
            font-size: 0.3rem;
            vertical-align: middle;
            margin-right: 5px;
        }

        a{
            color: $black-color;
        }
    }
    .auth-padTop {
        padding-top: 0.25rem;
    }
    .auth-checkbox{
        margin-top: .27rem;

        i{
            font-size: 19px;
            vertical-align: text-top;
            color: #bc1b21;
            margin-right: 0.14rem;

            &.checkbox-empty{
                display: inline-block;
                width: 15px;
                height: 15px;
                font-size: normal;
                border: 2px solid #c8c8c8;
                border-radius: .04rem;
                margin: 0.5px 0.14rem 0.5px 0;
                vertical-align: middle;
            }
        }
        span{
            font-size: 0.22rem;
            color: #999999;
            vertical-align: middle;
            line-height: 1;
        }

        a{
            color: #bc1b21;
            font-size: 0.22rem;
        }
    }
    .auth-iframes{
        width: 100%;
        border: 0;
    }
    .submit-items{
        margin: .52rem auto 0;
        padding-bottom: .46rem;

        .title{
            font-size: .3rem;
            color: #000;
            font-weight: 500;
            margin-bottom: .6rem;
        }

        .submit-list{
            img{
                width: 1.54rem;
                height: 1.54rem;
            }
        }
        .button{
            width: 1.57rem;
            padding: .1rem 0;
            color: #fff;
            background: #bc1b21;
            font-size: .24rem;
            border-radius: .04rem;
            margin: .15rem auto 0;
            min-height: .74rem;
            line-height: 1.5;
            &.first{
                line-height: .74rem;
            }
        }
    }
</style>
