 <template>
    <div class="game-rule">
        <div class="game-rule-items">
            <h2>详细规则</h2>
            <div class="content rules">
                <div class="text">用户成功发起游戏时点亮第1块拼图，邀请好友点亮剩余拼块需在24h内完成。</div>
                <div class="text">用户邀请好友后，好友需下载APP注册成为平台用户才能点亮拼图。</div>
                <div class="text">点亮全部拼块后请在120h内合成美衣，超时未合成系统将会自动取消。</div>
                <div class="text">游戏赠送的美衣，非质量问题不支持退换。</div>
                <div class="text">本活动仅限真实用户参与，不支持170、171、152、156、145、147开头的虚拟手机号码注册。</div>
                <div class="text">如发现任何作弊行为，本平台有权取消活动资格，并保留追究相关法律责任，最终解释权归本平台所有。 </div>
            </div>
        </div>
        <div class="feedback">
            <button class="active" @click="onJoin()">立即参加</button>
            <button @click="onFeedBack()">我要提建议</button>
            <span>（如被采用送200积分）</span>
        </div>
        <div class="feedback-box" v-if="show_feedback">
            <div class="feedback-content">
                <textarea rows="10" placeholder="您的意见是我们前进的动力！" v-model="form.text" autofocus></textarea>
                <button :class="[form.text.length <= 0 ? 'blur' : '']" @click="commit()">提交</button>
                <div class="feedback-close" @click="show_feedback = false">
                    <i class="iconfont icon-close"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {app_rules} from '/config/parameter'
    export default{
        components:{

        },
        data(){
            return{
                show_feedback: false,
                form: {
                    text: ''
                }
            }
        },
        mounted(){

        },
        methods:{
            commit(){
                if (this.form.text.length <= 0) return false;
                Mint.Indicator.open();
                RequestAPI.http.post('game/advice', this.form)
                .then((response) =>{
                    Mint.Toast({
                      message: 'A+有您会走得更远 感谢您的反馈or建议! '
                    });
                })
                .finally(() => {
                    Mint.Indicator.close();
                    this.show_feedback = false;
                })

            },
            onFeedBack(){
                if (!this.$store.state.token) {
                    if (this.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    } else {
                        this.$router.push({name: 'Auth.Login'})
                        return false;
                    }
                } else {
                    this.show_feedback = true
                }
            },
            onJoin(){
                if (!this.$store.state.token) {
                    if (this.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    } else {
                        this.$router.push({name: 'Auth.Login'})
                        return false;
                    }
                } else {
                    this.$router.push({name: 'Game.Home'})
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .game-rule{
        min-height: 100vh;
        background: #fff;
        font-size: .24rem;

        .game-rule-items{
            padding: .45rem .25rem;

            h2{
                font-size: .36rem;
                margin: 0 0 .4rem;

                &:before{
                    content: '';
                    display: inline-block;
                    margin-right: .1rem;
                    vertical-align: middle;
                    @include triangleStyle(8px, #f3bd00, right)
                    border-left-width: 10px;
                    border-right-width: 0;
                }
            }

            &:first-child{
                padding-bottom: 0;
            }

            .content{
                .text{
                    position: relative;
                    line-height: 2;
                    padding-left: .3rem;

                    &:before{
                        content: '';
                        position: absolute;
                        left: 3px;
                        top: 9px;
                        display: inline-block;
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        background: rgb(243, 189, 0);
                        vertical-align: middle;
                        margin-right: .17rem;
                    }

                    a{
                        color: #bb171d;
                    }
                }

                &.rules {
                    .text{
                        margin-bottom: .7rem;
                    }
                }
            }
        }

        .feedback{
            color: #bb171d;
            font-size: .24rem;
            padding-bottom: 1.4rem;
            text-align: center;

            button{
                display: block;
                width: 50%;
                border-radius: 120px;
                font-size: .34rem;
                padding: .22rem 0;
                text-align: center;
                border: 0;
                margin: .2rem auto;
                background: #fff;
                border: 1px solid #bc1b21;
                color: #bc1b21;

                &.active{
                    background: #bc1b21;
                    color: #fff;
                }
            }

            span{
                color: #999999;
            }
        }

        .feedback-box{
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, .7);

            .feedback-content{
                position: fixed;
                left: 50%;
                top: 50%;
                background: #fff;
                width: 80%;
                border-radius: 10px;
                padding: 0 .25rem;
                @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));

                textarea{
                    border: 1px solid rgb(205, 205, 205);
                    border-radius: 4px;
                    padding: .2rem;
                    margin: .4rem 0;
                    resize: none;
                    width: 100%;
                    font-size: .26rem;
                    @include boxSizing(border-box);
                    box-shadow: inset 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
                }

                button {
                    display: block;
                    width: 60%;
                    margin: 0 auto;
                    border: 0;
                    border-radius: 120px;
                    background: #bc1b21;
                    color: #fff;
                    padding: .17rem 0;
                    font-size: .26rem;

                    &.blur{
                        background: #999999;
                    }
                }

                .feedback-close{
                    position: relative;
                    bottom: -1.2rem;
                    left: 0;
                    width: .74rem;
                    height: .74rem;
                    border-radius: 100%;
                    background: rgba(0, 0, 0, 0.502);
                    border: 1px solid #fff;
                    text-align: center;
                    color: #fff;
                    line-height: .74rem;
                    margin: 0 auto;

                    i{
                        color: #fff;
                    }
                }
            }
        }
    }
</style>
