 <template>
    <div class="game-show" v-lock>
        <loadmore class="main" v-lock :top-method="loadTop" ref="loadmore">
            <div class="puzzle">
                <div class="puzzle-img">
                    <div class="puzzle-imgBox">
                        <img class="main-img" v-lazy="product_img">
                    </div>
                    <div class="puzzle-content">
                        <div class="shadow-block" v-for="(i,index) in puzzleArray.number" :style="computed_position(index)">
                            <div class="img" :style="'background-image: url('+ puzzleImg[i-1] +'); background-size:'+ puzzleArray.size +';background-position:'+ puzzleArray.position +''" v-if="userinfo.success != 1 && userinfo.expired != 1 && index >= userinfo.finished_number"></div>
                        </div>
                    </div>
                </div>
                <!-- 拼图完成 -->
                <img src="~/assets/images/complete.png" class="complete" v-if="userinfo.success == 1">
                <!-- 过期 -->
                <img src="~/assets/images/overdue.png" class="complete" v-if="userinfo.expired == 1">
            </div>
            <div class="info center">
                <div class="title">
                    <!-- 拼图完成 -->
                    <div>
                        <div v-if="userinfo.success == 1 || parseInt(userinfo.count) == parseInt(userinfo.finished_number)">哟，人气旺旺旺！<br/> 用时{{ success_time }}</div>
                        <div v-else>还差<span>{{ parseInt(userinfo.count) - parseInt(userinfo.finished_number) }}</span>块拼图，就可获得免费衣衣</div>
                    </div>
                </div>
                <div class="time" v-if="userinfo.success != 1">
                    <div v-if="!remainTime[0] && !remainTime[1] && !remainTime[2]">
                        剩余 <span>00</span>:<span>00</span>:<span>00</span>结束
                    </div>
                    <div v-else>
                        剩余 <span>{{ formatNumbers(remainTime[0]) }}</span>:<span>{{ formatNumbers(remainTime[1]) }}</span>:<span>{{ formatNumbers(remainTime[2]) }}</span>结束
                    </div>
                </div>
                <div class="game-show-button center">
                    <button v-if="!isOther && userinfo.success == 1" @click="onCompound">立即合成</button>
                    <button v-if="isOther && userinfo.success != 1 && userinfo.expired != 1" @click="helpPuzzles" :class="isActive ? 'blur' : ''">
                        <span>帮ta点亮</span>
                    </button>
                    <div class="invite-box" v-if="!isOther && userinfo.success != 1 && userinfo.expired != 1">
                        <img src="~/assets/images/game/invite-button.png" alt="" @click="onShare(null)">
                        <div class="progress" v-if="$store.state.is_app">
                            <div class="flex justify-between items-center">
                                <div class="share-icon" @click="onShare('wechat')">
                                    <i class="iconfont icon-weixin green"></i>
                                    <div>微信好友</div>
                                </div>
                                <div class="share-icon" @click="onShare('moments')">
                                    <i class="iconfont icon-pengyouquan yellow"></i>
                                    <div>朋友圈</div>
                                </div>
                                <div class="share-icon" @click="onShare('weibo')">
                                    <i class="iconfont icon-weibo red"></i>
                                    <div>新浪微博</div>
                                </div>
                                <div class="share-icon" @click="onShare('qq')">
                                    <i class="iconfont icon-qq blue"></i>
                                    <div>QQ</div>
                                </div>
                                <div class="share-icon" @click="onShare('copy')">
                                    <i class="iconfont icon-fuzhilianjie gray"></i>
                                    <div>复制链接</div>
                                </div>
                            </div>
                        </div>
                        <div class="progress" v-else>
                            <div class="flex items-center">
                                <div class="col-6">
                                    <div class="share-icon" @click="onShare('wechat')">
                                        <i class="iconfont icon-weixin green"></i>
                                        <div>微信好友</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="share-icon" @click="onShare('moments')">
                                        <i class="iconfont icon-pengyouquan yellow"></i>
                                        <div>朋友圈</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <router-link to="/game/puzzle" tag="button" v-if="isOther && has_playing == 1" :class="isActive || userinfo.success == 1 || userinfo.expired == 1 ? 'marginTop' : 'game-show-normal'">我的拼图</router-link>
                    <router-link to="/game" tag="button" v-if="isOther && has_playing == 0" :class="isActive || userinfo.success == 1 || userinfo.expired == 1 ? 'marginTop' : 'game-show-normal'">我也要拼</router-link>
                    <div v-if="userinfo.success == 1 && !isOther" class="title">今天还可发起<span> {{ userinfo.time_to_in }} </span>款</div>
                </div>
            </div>
            <div class="progress">
                <div class="progress-title center">
                    <span>游戏进程</span>
                </div>
                <div class="progress-content">
                    <div class="items flex" v-for="i in progress">
                        <img :src="i.user.avatar | placeholder('avatar')">
                        <div class="progress-bottom flex justify-between flex-column">
                            <div class="flex items-center">
                                <div class="col-7 title">{{ i.user.nickname }}
                                    <span v-if="i.user.id == userId">（自己）</span>
                                    <span v-if="isOther && i.position == 1">（发起人）</span>
                                </div>
                                <div class="col-5 right-align time">
                                    {{ i.created_at }}
                                </div>
                            </div>
                            <div class="activate-info">
                                激活第{{ i.position }}块拼图
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-title">
                <span>商品详情</span>
            </div>
            <div v-if="userinfo">
                <div v-html="userinfo.sell_product && userinfo.sell_product.product.detail"></div>
            </div>
        </loadmore>
        <share-box v-if="share" @close="share = false"></share-box>
        <dialogs :type="dialogs_type" :show="is_show" @close="is_show = false" :img="product_img" :remain="order_remain" :newuser="is_newUser"></dialogs>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import {app_rules} from '/config/parameter'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import Dialogs from '/components/Dialogs.vue'
    import ShareBox from '/components/ShareBox.vue'
    import PointAward from '/components/PointAward.vue'
   import { Loadmore } from 'mint-ui';

    export default{
        components:{
            Dialogs,
            ShareBox,
            PointAward,
            Loadmore
        },
        data(){
            return{
                has_playing: 0,
                is_newUser: null,
                award:{},
                order_remain: 0,
                dialogs_type: 1,
                is_show: false,
                isActive: false,
                share: false,
                remainTime: [0, 0, 0],
                product_img: '',
                isOther: true,
                userName: '',
                progress: {},
                userinfo: {},
                userId: null,
                sku_panel: {
                    is_show: false,
                    action: 'buy-now-game'
                },
                puzzleImg: [],
                puzzleNumber: 6,
                puz_cell: 2,
                puz_row: 3,
                puzzleArray: {},
                count: 0,
                uuid: null,
            }
        },
        beforeRouteEnter (to, from, next) {
            let urls = [
                    RequestAPI.http.get('game/product/' + to.params.id),
                    RequestAPI.http.get('game/' + to.params.id + '/user'),
                    RequestAPI.http.get('user/join/number'),
                ];
            if (Vue.$store.state.token) {
                urls.push(RequestAPI.http.get('user'))
            }
            Mint.Indicator.open();
            axios
                .all(urls)
                .then(axios.spread((userinfo, progress, joininfo, user) => {
                    next(vm => {
                        vm.progress = progress;
                        vm.userinfo = userinfo;
                        vm.puzzleNumber = parseInt(userinfo.count);
                        vm.puz_cell = userinfo.col;
                        vm.puz_row = userinfo.row;
                        vm.product_img = vm.userinfo.sell_product.all_image ? vm.userinfo.sell_product.all_image[0] : '';
                        vm.isActive = userinfo.canHelp == 1 ? false : true;
                        vm.order_remain = vm.userinfo.order_remain_time;
                        vm.uuid = vm.userinfo.user.uuid;
                        vm.has_playing = joininfo.playing;
                        vm.Countdown();
                        vm.computed_img();
                        let puzzles = [];
                        for(let i = 1; i <= 9; i++) {
                            if (vm.puzzleNumber == 6) {
                                puzzles.push(require('/assets/images/puzzles/6/6-'+ i +'.png'))
                            } else if (vm.puzzleNumber == 12) {
                                puzzles.push(require('/assets/images/puzzles/12/12-'+ i +'.png'))
                            } else if (vm.puzzleNumber == 20) {
                                puzzles.push(require('/assets/images/puzzles/20/20-'+ i +'.png'))
                            } else{
                                puzzles.push(require('/assets/images/puzzles/normal/'+ i +'.png'))
                            }
                        }
                        vm.puzzleImg = puzzles;
                        if (user) {
                            vm.userName = user.nickname;
                            vm.userId = user.id;
                            let myId = user.id;
                            let id = vm.userinfo.user_id;
                            if (myId == id) {
                                vm.isOther = false;
                                document.title = '我的拼图';
                            } else {
                                vm.isOther = true;
                            }
                        } else {
                            vm.isOther = true
                            vm.isActive = false;
                            document.title = userinfo.user.nickname + '的拼图';
                        }
                        // if (vm.$store.state.token && vm.isOther && vm.$store.state.game.userId.indexOf(user.id) < 0) {
                        //     var params = vm.$route.params.id;
                        //     axios.post(RequestAPI.base_url+'game/activate', {user_games_id: params}, {headers: {token:Vue.$store.state.token}})
                        //         .then( (response)=>{
                        //             if (response.data.status == 'success'){
                        //                 vm.isActive = true;
                        //                 vm.userinfo.success = vm.userinfo.finished_number == response.data.data.finished_number ? '1' : '0';
                        //                 vm.userinfo.finished_number = response.data.data.finished_number;
                        //                 vm.dialogs_type = 5;
                        //                 vm.is_show = true;
                        //                 vm.is_newUser = response.data.data.new;
                        //             } else {
                        //                 vm.dialogs_type = 6;
                        //                 vm.is_show = true;
                        //             }
                        //             vm.$store.commit('cacheGameUserId', user.id);
                        //         })
                        // }
                        if (vm.$store.state.is_app) {
                            window.location.href = "amii://appsetting?allow_share=1&page_share_provider=puzzle&page_share_id=" + userinfo.id;
                        }
                        share.init('puzzle', userinfo.id).then((r) => {
                            shareAction.init(r.title, r.content, '', '', r.share_url, r.image,()=>{
                                if (vm.$store.state.token && !vm.isOther) {
                                    Mint.Indicator.open();
                                    RequestAPI.http.get('activity-share/puzzle')
                                        .then((response) => {
                                            if (response && response != null) {
                                                vm.award = response;
                                            }
                                        })
                                        .finally(() => Mint.Indicator.close());
                                }
                            });
                        });
                    })
                }))
                .finally(() => Mint.Indicator.close());
        },
        beforeRouteLeave (to, from, next) {
            shareAction.init('', '', '', '', '');
            next();
        },
        computed:{
            puzzle_number(){
                return parseInt(this.userinfo.row * this.userinfo.col);
            },
            success_time(){
                let hours = Math.floor(this.userinfo.success_time / 3600),
                    minutes = Math.floor(this.userinfo.success_time / 60) % 60,
                    seconds = this.userinfo.success_time % 60;

                return hours + '小时 ' + this.formatNumbers(minutes) + '分 ' + this.formatNumbers(seconds) + '秒';
            }
        },
        mounted(){
        },
        methods:{
            loadTop() {
              this.$refs.loadmore.onTopLoaded();
              window.location.href = " ";
            },
            computed_img(){
                let numbers = [];
                for(let i = 1; i <=  this.puzzleNumber; i++) {
                    if (i == 1) {
                        numbers.push(i);
                    } else if (i < this.puz_row) {
                        numbers.push(2);
                    } else if (i % this.puz_row == 0 && i != this.puzzleNumber && i != this.puz_row) {
                        numbers.push(6);
                    } else if (i == this.puz_row) {
                        numbers.push(3);
                    } else if (i == this.puzzleNumber) {
                        numbers.push(9);
                    } else if (Math.ceil(i / this.puz_row) == this.puz_cell && i % this.puz_row == 1) {
                        numbers.push(7);
                    } else if (Math.ceil(i / this.puz_row) < this.puz_cell && i % this.puz_row == 1) {
                        numbers.push(4);
                    } else if ((Math.ceil(i / this.puz_row) == this.puz_cell) && (i % this.puz_row != 1 && i != this.puzzleNumber)) {
                        numbers.push(8);
                    } else {
                        numbers.push(5);
                    }
                }
                switch(this.puzzleNumber) {
                    case 4:
                        this.puzzleArray = {
                            size: '100%',
                            wid_plus: 15.2,
                            height_plus: 15,
                            left_plus: 42.5,
                            top_plus: 42.4,
                            number: numbers,
                            cut_left: 0,
                            cut_top: 0,
                            position: 'center'
                        };
                        break;
                    case 6:
                        this.puzzleArray = {
                            size: '100% 100%',
                            wid_plus: 10.6,
                            height_plus: 10,
                            left_plus: 33.5,
                            top_plus: 33,
                            number: numbers,
                            cut_left: 5,
                            cut_top: -12,
                            position: 'top center'
                        };
                        break;
                    case 9:
                        this.puzzleArray = {
                            size: '100%',
                            wid_plus: 10.3,
                            height_plus: 10,
                            left_plus: 33.2,
                            top_plus: 33.6,
                            number: numbers,
                            cut_left: 4.9,
                            cut_top: 5.1,
                            position: 'center'
                        };
                        break;
                    case 12:
                        this.puzzleArray = {
                            size: '100% 100%',
                            wid_plus: 8.5,
                            height_plus: 8,
                            left_plus: 33.2,
                            top_plus: 25,
                            number: numbers,
                            cut_left: 4,
                            cut_top: 4,
                            position: 'top center'
                        };
                        break;
                    case 16:
                        this.puzzleArray = {
                            size: '100%',
                            wid_plus: 8,
                            height_plus: 8,
                            left_plus: 25.2,
                            top_plus: 25.5,
                            number: numbers,
                            cut_left: 3.9,
                            cut_top: 3.9,
                            position: 'center'
                        };
                        break;
                    case 20:
                        this.puzzleArray = {
                            size: '100% 100%',
                            wid_plus: 8.8,
                            height_plus: 8.5,
                            left_plus: 25.5,
                            top_plus: 20,
                            number: numbers,
                            cut_left: 4.2,
                            cut_top: 4.2,
                            position: 'center'
                        };
                        break;
                    case 25:
                        this.puzzleArray = {
                            size: '100%',
                            wid_plus: 6,
                            height_plus: 6,
                            left_plus: 20,
                            top_plus: 20,
                            number: numbers,
                            cut_left: 3.2,
                            cut_top: 3.2,
                            position: 'center'
                        };
                        break;
                }
            },
            computed_position(index){
                let left = parseInt(index % this.puz_row) * this.puzzleArray.left_plus,
                    top = parseInt(index / this.puz_row) * this.puzzleArray.top_plus,
                    width = 100 / this.puz_row + this.puzzleArray.wid_plus,
                    height = 100 / this.puz_cell + this.puzzleArray.height_plus;

                if(parseInt(index+1) % this.puz_row == 0){
                    left = left - this.puzzleArray.cut_left;
                };
                if(parseInt(index / this.puz_row) == this.puz_cell - 1){
                    top = top - this.puzzleArray.cut_top;
                };
                return 'width: '+ width +'%;height:'+ height +'%;left:' +  left + '%;top:' + top  + '%'
            },
            onCompound(){
                if(!this.$store.state.is_app){
                    Mint.Toast('请下载app后合成喔~');
                    return;
                }
                Mint.Indicator.open();
                RequestAPI.http.get('game/user/'+ this.userinfo.id)
                .then((response)=>{
                    if (this.userinfo.can_commit == 1) {
                        this.$router.push({
                            name: 'Game.SubmitOrder',
                            params: {
                                'id': response.order.order_sn
                            }
                        })
                    } else {
                        this.dialogs_type = 3;
                        this.is_show = true;
                    }
                })
                .finally(() => Mint.Indicator.close())
            },
            onShare(type){
                console.log(type)
                share.init('puzzle', this.userinfo.id).then((r) => {
                    shareAction.init(r.title, r.content, '', '', r.share_url, r.image,()=>{
                        this.share = false;
                        if (this.$store.state.token && !this.isOther) {
                            Mint.Indicator.open();
                            RequestAPI.http.get('activity-share/puzzle')
                                .then((response) => {
                                    if (response && response != null) {
                                        this.award = response;
                                    }
                                })
                                .finally(() => Mint.Indicator.close());
                        }
                    });
                });
                if (this.userinfo.expired == 1) return false;
                if (!this.$store.state.token) {
                    if (this.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    }
                    this.is_show = true;
                } else {
                   if (this.$store.state.is_app) {
                        if (type) {
                            app_rules.share('puzzle', this.userinfo.id, null, type);
                            return false;
                        } else {
                            app_rules.share('puzzle', this.userinfo.id);
                            return false;
                        }
                    } else {
                        this.share = true;
                    }
                }
            },
            helpPuzzles(){
                var params = this.$route.params.id;
                if (this.isActive){
                    return false;
                }
                if (!this.$store.state.token) {
                    if (this.$store.state.is_app) {
                        app_rules.login();
                        return false;
                    }
                    this.$router.push({name: 'Game.Register', query:{uuid: this.uuid, user_games_id: params}});
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('user/add/userGameId', {user_game_id: params})
                    .then( (response)=>{
                        window.location = 'http://app.amii.com';
                    })
                    .catch((error) => {
                        this.$router.push({name: 'Game.Register', query:{uuid: this.uuid, user_games_id: params}});
                    })
                    .finally(() => Mint.Indicator.close())
            },
            // puzzle_class(i){
            //     let full = Math.abs(this.userinfo.count - (this.userinfo.col * this.userinfo.col));
            //     let count = full + parseInt(this.userinfo.finished_number);
            //     if (i <= count && this.userinfo.expired != 1) {
            //         return 'show';
            //     } else {
            //         return '';
            //     }
            // },
            Countdown(){
                let timer = null,
                    remain = this.userinfo.remain_time;

                timer = setInterval(() => {
                    if (remain < 1) {
                        clearInterval(timer);
                        return false;
                    }
                    remain --;

                    let hours = Math.floor(remain / 3600),
                        minutes = Math.floor(remain / 60) % 60,
                        seconds = remain % 60
                    this.remainTime = [hours, minutes, seconds];
                }, 1000)
            },
            formatNumbers(number) {
                return parseInt(number) <= 9 ? '0' + number : number;
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .game-show{
        min-height: 100vh;
        @include boxSizing(border-box);

        img{
            max-height: none;
        }

        .main{
            padding: .38rem .33rem;
            background: #f4f4f4;

            .puzzle{
                position: relative;
                border: 1px solid #fff;
                border-radius: .09rem;
                background: #fff;

                .puzzle-img{
                    position: relative;
                    overflow: hidden;
                    border-radius: .09rem;

                    .puzzle-imgBox{
                        height: 0;
                        padding-bottom: 100%;
                    }
                    .main-img{
                        width: 100%;
                        max-height: inherit;
                        z-index: 1;
                        border-radius: .09rem;
                    }

                    .puzzle-content{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: .09rem;
                        overflow: hidden;
                    }

                    .shadow-block{
                        position: absolute;
                        display: inline-block;
                        width: 43%;
                        height: 43%;
                        left: 0;
                        top: 0;
                        @include boxSizing(border-box);

                       .img{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background-size: 12em;
                            background-position: center center;
                            background-repeat: no-repeat;
                       }
                    }
                }
                .complete{
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    width: 1.5rem;
                    z-index: 12;
                }
            }

            .info{
                padding: .26rem 0 .4rem 0;

                .title{
                    color: $black3-color;
                    font-size: .28rem;
                    margin-bottom: .2rem;
                    font-weight: 500;
                    line-height: 1.286;

                    span{
                        font-size: .4rem;
                        color: $red-color2;
                    }
                }

                .time{
                    font-size: .24rem;
                    color: $black3-color;
                    margin-bottom: .24rem;

                    span{
                        display: inline-block;
                        border-radius: .1rem;
                        background: $black-color;
                        width: 24px;
                        text-align: center;
                        padding: .1rem 0;
                        color: #fff;
                        margin: 0 .1rem;
                    }
                }

                .game-show-button{
                    button{
                        width: 80%;
                        border-radius: 120px;
                        background: #bc1b21;
                        color: #fff;
                        font-size: .34rem;
                        padding: .22rem 0;
                        text-align: center;
                        border: 0;

                        &.blur{
                            background: #a0a0a0;
                            margin-bottom: .2rem;
                        }
                        &.game-show-normal{
                            color: #bc1b21;
                            border: 1px solid #bc1b21;
                            background: #fff;
                            margin-top: .2rem;
                        }
                        &.marginTop{
                            margin-top: .2rem;
                        }
                    }
                }
            }

            .progress{
                border-radius: .15rem;
                border: 2px dashed rgb(188, 27, 33);
                background: #fff;
                padding: .26rem .3rem;

                .progress-title{
                    position: relative;
                    margin-bottom: .2rem;
                    font-size: .26rem;
                    color: $black-color;

                    span{
                        position: absolute;
                        left: 50%;
                        padding: 0 .15rem;
                        background: #fff;
                        z-index: 10;
                        font-weight: 500;
                        @include prefix(transform, translateX(-50%), ('webkit', 'moz'));
                    }

                    &:after{
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 2px;
                        border-top: 0.853px solid rgba(188, 27, 33, 0.502);
                        vertical-align: middle;
                    }
                }

                .progress-content{
                    .items{
                        padding: .18rem 0;
                    }

                    img{
                        width: .7rem;
                        height: .7rem;
                        border-radius: 100%;
                        margin-right: .15rem;
                    }

                    .title{
                        font-size: .2219rem;
                        color: #bc1b21;

                        span{
                            display: inline-block;
                            color: #b8b8b8;
                            margin-left: .14rem;
                        }
                    }

                    .activate-info{
                        font-size: .2048rem;
                        color: $black-color;
                    }

                    .time{
                        color: $gray2-color;
                        font-size: .2rem;
                    }

                    .progress-bottom{
                        width: 100%;
                    }
                }
            }
        }

        .share-box{
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .6);
            color: #fff;
            text-align: center;
            font-size: .32rem;
            z-index: 9999;

            .share-icon{
                display: block;
                text-align: right;
                margin: .3rem 0 .22rem 0;
                width: 100%;
                height: 1.22rem;
                @include backgroundImg(url('../../assets/images/arrow.png') no-repeat 95% center, contain);
            }
        }

        .show-title{
            position: relative;
            margin: .8rem auto 0;
            font-size: .3rem;
            text-align: center;

            span{
                display: inline-block;
                position: relative;
                padding: 0 10px;
                background: #f4f4f4;
                z-index: 10;
            }
            &:after{
                content: '';
                display: inline-block;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 2px;
                background: rgba(0, 0, 0, 0.502);
                @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));
            }
        }

        .invite-box{
            position: relative;
            padding-top: .8rem;
            min-height: .4rem;
            img{
                position: absolute;
                left: 50%;
                width: 80%;
                max-width: 23em;
                top: .25rem;
                z-index: 10;
                @include prefix(transform, translateX(-50%), ('webkit', 'moz'));
            }
            .share-icon{
                padding: .38rem 0 0;
                line-height: 1;

                i{
                    display: inline-block;
                    font-size: .74rem;
                    margin-bottom: .16rem;
                    &.green{
                        color: rgb(78, 193, 28);
                    }
                    &.yellow{
                        color: rgb(255, 198, 0);
                    }
                    &.blue{
                        color: rgb(79, 185, 252);
                        margin-bottom: .22rem;
                    }
                    &.gray{
                        color: rgb(181, 180, 180);
                    }
                    &.red{
                        color: rgb(250, 124, 121);
                    }
                }
            }
        }
    }
</style>
