<template>
    <div class="mall-submit-order flex flex-wrap" v-if="data.addr">
        <div class="self-start">
            <div class="address flex bg-white right-arrow" v-if="select_address" @click="address_select_panel.show=true">
                <div class="address-ico flex justify-center items-center">
                    <div class="iconfont icon-address"></div>
                </div>
                <div class="address-select flex flex-column justify-around flex-auto">
                    <div>{{ select_address.realname }} &nbsp;&nbsp;<b>{{ select_address.phone }}</b></div>
                    <div><span v-for="i in select_address.address" v-if="i">{{ i.name }}</span>{{ select_address.detail }}</div>
                </div>
                <div class="address-ico"></div>
            </div>
            <div class="detail">
                <div class="products-list">
                    <div class="products-list-item bg-white flex justify-between" v-for="(i, index) in data.order.order_products">
                        <div class="product flex flex-auto">
                            <div class="product-cover" v-lazy:background-image="i.sell_product.image">
                                <span v-if="data.order.puzzles">{{ data.order.puzzles }}格</span>
                            </div>
                            <div class="product-attr flex flex-column justify-between" v-if="!is_edit">
                                <div class="title">{{i.sell_product.product.name}}</div>
                                <div class="sku">
                                    <span v-if="i.is_gift" class="sku-span">{{i.activity.order_description}}</span>
                                    <span v-else v-for="sku in i.inventory.sku">{{sku.sku_value.attribute.name+':'+sku.sku_value.value}}</span>
                                </div>
                                <div v-if="i.is_gift" class="price del">¥{{i.sell_product.market_price}}</div>
                                <div v-else class="price">￥{{i.inventory.mark_price}}</div>
                            </div>
                        </div>
                        <div class="btn flex justify-center items-center">
                            <div>x{{i.number}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-cell">
                <div class="flex items-center justify-between">
                    <div>活动类型</div>
                    <div class="notice">拼图送衣</div>
                </div>
            </div>
        </div>
        <div class="bottom-bar self-end flex items-center justify-between game-submit-button">
            <div class="flex-auto total-text">合计: <span class="amount">￥{{total_amount.order()}}</span></div>
            <div class="flex-auto btn-default" @click="onClickSubmitOrder">提交订单</div>
        </div>
        <submit-order-address-select v-if="address_select_panel.show" v-model="address_select_panel.val" @close="address_select_panel.show=false"/>
    </div>
</template>

<script>
    import SubmitOrderAddressSelect from '/modules/SubmitOrderAddressSelect.vue'
    import { Switch,Actionsheet } from 'mint-ui';

    export default{
        components:{
            SubmitOrderAddressSelect,
        },
        data(){
            return{
                show_available_coupons: false,
                action_sheet: {
                    actions: [],
                    is_visible: false,
                },
                address_select_panel: {
                    show: false,
                    val: null
                },
                display_coupon:{
                    text: null,
                    amount: 0,
                    val:null,
                },
                is_show_invoice: false,
                form: {
                },
                data: {
                    first_buy: {},
                    order: {
                        order_products: [],
                    }
                },
                from_route: {},
            }
        },
        watch:{
        },
        computed:{
            select_address(){
                if(this.address_select_panel.val){
                    return this.address_select_panel.val
                }
                return this.data.addr;
            },
            total_amount(){
                let products = this.data.order.order_products.filter(function(product){
                    return !product.is_gift;
                });
                let point_to_amount = this.data.point/100;
                let balance = this.data.balance;
                let form = this.form;
                let payment = this.data.calc_pay_fee.payfee;
                return {
                    products(){
                        let ret = 0;
                        for (let i of products){

                            ret += Number((i.number * payment).toFixed(2));
                        }
                        return ret;
                    },
                    order(){
                        let ret = this.products();
                        return ret.toFixed(2);
                    }
                }
            }
        },
        methods:{
            showHintWindow(){
                Mint.MessageBox.confirm('您还未设置收货地址，<br>是否新建', '', {closeOnClickModal: false})
                    .then(action => {
                        this.$router.push({
                            name: 'Settings.AddressEdit'
                        })
                    }, action => {
                        this.$router.go(-1);
                    });
            },
            onClickSubmitOrder(){
                let form = this.form;

                form.orderSn = this.data.order.order_sn;
                form.addrId = this.select_address.id || '';
                Mint.Indicator.open();
                RequestAPI.http.post('game/commit',form)
                    .then((r) => {
                        this.$router.replace({
                            name: 'Game.Submit'
                        });
                        return;
                    })
                    .finally(() => Mint.Indicator.close())
            },
        },
        mounted(){
            this.$nextTick(()=>{
                if (!this.data.addr){
                    this.showHintWindow();
                }
                if(this.from_route.name == 'Settings.Address'){
                    this.address_select_panel.show=true;
                }
            })
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http
                .get('pay/create', {
                    params: {
                        orderSn: to.params.id
                    }
                })
                .then((r) => {
                    next(vm => {
                        vm.data = r;
                        console.log(r);
                        vm.from_route=from;
                        // let give_product = r.order.give_product;
                        // if (give_product) {
                        //     give_product.is_gift = true;
                        //     give_product.number = 1;
                        //     r.order.order_products.push(give_product);
                        // }
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
    }
</script>

<style lang="scss">
    .mall-submit-order{
        /*min-height: 100vh;*/

        > div{
            width: 100%;
        }

        .address{
            font-size: .28rem;
            color: #333;
            height: 1.5rem;
            margin-bottom: .2rem;

            &-select{
                padding: .2rem 0;
            }

            &-ico{
                min-width: .8rem;
            }
        }

        .detail{
            font-size: .28rem;
            background: #fff;
            padding: 0 0 0 .2rem;

            .orders-list:last-child{
                border-bottom:none;
            }
        }

        .detail-cell{
            background: #fff;
            margin-top: .2rem;
            font-size: .28rem;

            > div {
                min-height: .9rem;
                padding: 0 .2rem;
                border-bottom: 1px solid #f0f0f0;

                &:last-child{
                    border-bottom:none;
                }

                &.right-arrow{
                    padding-right: .4rem;
                }
            }

            .info{
                font-size: .26rem;
            }

            .mint-switch{
                margin: .2rem 0;
            }

            input.invoice{
                width: 100%;
                padding: .2rem .2rem;
                border-radius: .05rem;
                border: 1px solid #d2d2d2;
                margin-bottom: .2rem;
            }
        }
        .products-list {
            &-item {
                padding: .2rem 0;
                margin-bottom: 1px;
                border-bottom: 1px solid #f0f0f0;

                &:last-child{
                    border-bottom:none;
                }

                > .btn {
                    min-width: .8rem;
                    width: .8rem;

                    .iconfont {
                        font-size: .3rem;
                    }

                    &:last-child {
                        color: #959595;
                    }
                }
            }
        }

        .product {

            &-cover {
                position: relative;
                min-width: 1.6rem;
                width: 1.6rem;
                height: 1.6rem;
                -webkit-background-size: cover;
                     -o-background-size: cover;
                    -ms-background-size: cover;
                   -moz-background-size: cover;
                        background-size: cover;
                background-position: center center;

                span{
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #fff;
                    padding: .1rem;
                    background: rgba(0, 0, 0, 0.502);
                }
            }

            &-attr {
                padding-left: .2rem;
                flex-grow: 1;

                .sku {
                    color: #959595;

                    span{
                        margin-right: .1rem;

                        &.sku-span{
                            padding: .1rem .25rem;
                            border-radius: 120px;
                            background: #000;
                            color: #fff;
                            font-size: .2rem;
                        }
                    }
                }

                .title, .price {
                    font-size: .26rem;
                    font-weight: 500;
                    &.del{
                        text-decoration: line-through;
                    }
                }
                .price{
                    text-decoration: line-through;
                }
            }
        }

        .bottom-bar{
            border-top: 1px solid #ccc;
            background: #fff;
            height: 1rem;
            line-height: 1rem;
            font-size: .3rem;

            > div{
                height: 100%;
            }

            .total-text{
                text-align: right;
                padding-right: .2rem;
            }

            .amount{
                color: #d79523;
            }
        }
        .game-submit-button{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
</style>
