 <template>
    <div class="game-submit">
        <div class="content center">
            <i class="iconfont icon-2xuanzhong"></i>
            <div class="info">恭喜亲，“拼”得美衣归，<br/>我们会尽快安排发货，请耐心等候哦！ </div>
        </div>
        <div class="center submit-items">
            <div class="title">店铺正在举办的活动有：</div>
            <div class="flex justify-between">
            <a href="/wechat/game" class="center submit-list">
                <img src="~/assets/images/game/submit1.png" alt="">
                <div class="button first">拼图送衣</div>
            </a>
            <a href="/wechat/mall/advertisement" class="center submit-list">
                <img src="~/assets/images/game/submit2.png" alt="">
                <div class="button">首单7折购<br/>+满送豪礼</div>
            </a>
            <a href="/wechat/mall/sales" class="center submit-list">
                <img src="~/assets/images/game/submit3.png" alt="">
                <div class="button">分享促单<br/>享返佣20% </div>
            </a>
            </div>
        </div>
    </div>
</template>

<script>
    import {app_rules} from '/config/parameter'
    export default{
        components:{

        },
        data(){
            return{

            }
        },
        mounted(){
            if (this.$store.state.is_app) {
                app_rules.complete();
            }
        },
        methods:{

        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .game-submit{
        .content{
            i{
                display: inline-block;
                color: #bc1b21;
                font-size: 1rem;
                margin: .7rem 0 .5rem;
            }

            .info{
                font-size: .3rem;
                color: #363636;
                line-height: 1.467;
            }
        }

        .submit-items{
            margin: 1.48rem auto 0;
            padding: 0 0.78rem;

            .title{
                font-size: .3rem;
                color: #000;
                font-weight: 500;
                margin-bottom: .6rem;
            }

            .submit-list{
                img{
                    width: 1.54rem;
                    height: 1.54rem;
                }
            }
        }

        .button{
            width: 1.57rem;
            padding: .1rem 0;
            color: #fff;
            background: $black-color;
            font-size: .24rem;
            border-radius: .04rem;
            margin: .15rem auto 0;
            min-height: .74rem;
            line-height: 1.5;
            &.first{
                line-height: .74rem;
            }
        }
    }
</style>
