<template>
    <div class="settings-forget">
        <div class="forget-cont">
            <div class="forget-items">
                <input class="width" type="tel" placeholder="手机号" v-model="form.phone">
            </div>
            <div class="forget-items flex items-center">
                <input type="tel" placeholder="验证码" class="col-8" v-model="form.code" maxlength="4">
                <div class="col-4 right-align">
                    <span class="forget-sendCode" v-if="!sms_countdown" @click="sendCode">发送验证码</span>
                    <span class="forget-sendCode gray-color" v-if="sms_countdown">已发送({{sms_countdown}}秒)</span>
                </div>
            </div>
        </div>
        <div class="settings-button" @click="next">下一步</div>
    </div>
</template>

<script>
    import SmsCaptcha from '/api/SmsCaptcha'
    import {mapMutations} from 'vuex'

    export default{
        components: {
        },
        data(){
            return {
                form: {
                    phone: '',
                    code: '',
                },
                sms_countdown: 0
            }
        },
        methods: {
            sendCode() {
                let sms_captcha = new SmsCaptcha();
                let validPhone = sms_captcha.validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                if (!this.form.code) {
                    Mint.Toast('请填写验证码');
                    return false;
                }
                sms_captcha.send('codeAuth/paymentPassword', this.form) .then((response) => {
                    this.sms_countdown = 60;
                    let timeid = setInterval(() => {
                        if (!this.sms_countdown) {
                            clearInterval(timeid);
                        } else {
                            this.sms_countdown--;
                        }
                    }, 1000);
                });
            },
            next() {
                this.$router.push({name:'Settings.ResetWithdraw', params: {code: this.form.code}})
                // this.verifyCode();
            },
            verifyCode() {
                Mint.Indicator.open();
                RequestAPI.http.post('payment_password/code', {code: this.form.code})
                    .then((response) => {
                        this.$router.push({name:'Settings.ResetWithdraw', params: {code: this.form.code}})
                    })
                    .finally(() => Mint.Indicator.close())
            },
        }

    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .settings-forget{
        height: 100vh;
        background: #FFF;
        .forget-cont{
            width: 80%;
            margin: 0 auto;
            padding-top: 0.2rem;
        }
        .forget-items{
            padding: 0.4rem 0 0 0;
            border-bottom: 1px solid rgb(231, 231, 231);
            input{
                padding: 0.2rem 0.28rem;
                font-size: 0.26rem;
                border: none;
                @include boxSizing(border-box);
                &.width{
                    width: 100%;
                }
            }
        }
        .forget-sendCode{
            display: inline-block;
            font-size: 0.26rem;
            color: $black-color;
            border-left: 1px solid rgb(231, 231, 231);
            padding: 0 0.1rem 0 0.2rem;
        }
    }
</style>
