<template>
    <div class="settings-home">
        <div class="settings-block">
            <router-link :to="{name: getRouterLinker()}" append class="settings-items flex items-center" tag="div">
                <div class="settings-title col-8">修改提现密码</div>
                <div class="settings-arrow col-4 right-align">
                    <span v-if="!has_withdraw_password">设置密码</span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </router-link>
            <router-link :to="{name: 'Auth.Forget', query:{title: '验证手机'}}" class="settings-items flex items-center" tag="div">
                <div class="settings-title col-8">修改登录密码</div>
                <div class="settings-arrow col-4 right-align"><i class="iconfont icon-youjiantou1"></i></div>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default{
        components: {

        },
        data(){
            return {
                //是否有设置过提现密码
                has_withdraw_password: Number(this.$store.state.user_info.has_payment_password),
            }
        },
        methods: {
            getRouterLinker() {
                if (this.has_withdraw_password) {
                    return 'Settings.Withdraw';
                }else {
                    return 'Settings.SetWithdraw'
                }
            }
        }

    }
</script>
