<template>
    <div class="settings-home">
        <!-- <set-password :type="type" :code="code"></set-password> -->
        <div class="settings-block">
            <div class="settings-items flex items-center">
                <div class="settings-arrow col-12">
                    <input type="password" placeholder="新密码" v-model="form.new_password" maxlength="6">
                    <i class="close-button" v-if="form.new_password" @click="form.new_password = ''"></i>
                </div>
            </div>
            <div class="settings-items flex items-center">
                <div class="settings-arrow col-12">
                    <input type="password" placeholder="请设置6位及以上的密码" v-model="confirm_newpsd" maxlength="6">
                    <i class="close-button" v-if="confirm_newpsd" @click="confirm_newpsd = ''"></i>
                </div>
            </div>
        </div>
        <div class="settings-notice">请输入6位提现密码</div>
        <div class="settings-button" @click="commit">保存</div>
    </div>
</template>

<script>
    import SmsCaptcha from '/api/SmsCaptcha'
    // import SetPassword from '/modules/SetPassword.vue'
    export default{
        components: {

        },
        data(){
            return {
                confirm_newpsd: '',
                form: {
                    new_password: '',
                    code: this.$route.params.code
                }
            }
        },
        methods: {
            commit(){
                let validPassword = (new SmsCaptcha).validator(this.form.new_password, 'number');
                if (!this.form.new_password) {
                    Mint.Toast('请输入新密码');
                    return false;
                } else if (!validPassword) {
                    Mint.Toast('请输入6位数字密码');
                    return false;
                }
                if (this.confirm_newpsd != this.form.new_password) {
                    Mint.Toast('确认密码与设置密码不一致');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('payment_password/reset', this.form)
                    .then((response) => {
                        this.$router.push({name : 'My.Home'})
                    })
                    .finally(() => Mint.Indicator.close())
            },
        },
    }
</script>
