<template>
    <div class="settings-home">
        <set-password :type="type"></set-password>
    </div>
</template>

<script>
    import SetPassword from '/modules/SetPassword.vue'
    export default{
        components: {
            SetPassword
        },
        data(){
            return {
                type: 'set_withdraw'
            }
        },
    }
</script>
