/* 禁用横屏显示 */
.disabled_landscape{
  background: rgba(0,0,0,.8);
  color: #fff;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 100vh;
  text-align: center;
  z-index: 2147483647;
  font-size: .36rem;
  display: none;
}