.header-bar {
  border-bottom: 1px solid #c0c0c0;
  background: rgba(255,255,255,.9);
  display: flex;

  //&::before{
  //  position: absolute;
  //  content: " ";
  //  display: block;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  z-index: -1;
  //}

  .title {
    font-size: 0.36rem;
    line-height: 0.9rem;
    margin: 0;
  }

  .btn {
    line-height: .9rem;
    text-align: center;
    min-width: .9rem;
    height: .9rem;
    border: 0;
    background: none;

    &.iconfont, .iconfont{
      font-size: 0.4rem;
    }
  }

  .nav{
    display: flex;
    font-size: .28rem;
    font-weight: 500;
    color: #959595;

    &__item{
      height: .9rem;
      line-height: .9rem;
      padding: 0 .2rem;
      position: relative;

      &__on, &.router-link-active{
        color: #000;

        &:before{
          position: absolute;
          content: " ";
          height: 2px;
          border-radius: 5px;
          background: #000;
          left: .15rem;
          bottom: .17rem;
          width: calc(100% - .3rem);
        }
      }
    }
  }

  .search {
    background: #dedede;
    border: 1px solid #dedede;
    border-radius: .1rem;
    height: .56rem;
    color: #707070;
    flex-grow: 1;
    margin-left: .2rem;
    text-align: center;
    line-height: .56rem;

    input{
      width: 100%;
      background: transparent;
      border: none;
      border-radius: .1rem;
      padding: 0 .5rem;
      height: .56rem;
      line-height: 1.6;
      display: block;

      &:focus{
        background: #fff;
      }
    }

    &-placeholder{
      position: absolute;
      left: .4rem;
      top: .18rem;
    }
  }
}
