.main{
  padding-bottom: 1rem;

  &.no-bottom{
    padding-bottom: 0;
  }
}
.close-button{
    position: absolute;
    right: 0;
    bottom: .23rem;
    display: inline-block;
    width: .3rem;
    height: .3rem;
    background: url('../../images/clear-button.png') no-repeat center center;
    background-size: contain;
}
