<template>
    <div class="advertisement-content">
        <iframe src="/apih5/advertisement"
            class="money-iframes"
            id="iFrame1"
            name="iFrame1"
            onload="this.height=iFrame1.document.body.scrollHeight;">

        </iframe>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import PointAward from '/components/PointAward.vue'
    export default{
        components:{
            shareAction,
            share,
            PointAward
        },
        data(){
            return{
                award: {},
                datas: {},
                content: '',
            }
        },
        mounted(){
            share.init('activity').then((r) => {
                shareAction.init(r.title, r.content, '', '', r.share_url, r.image,()=>{
                    if (this.$store.state.token) {
                        Mint.Indicator.open();
                        RequestAPI.http.get('activity-share/activity')
                            .then((response) => {
                                if (response && response != null) {
                                    this.award = response;
                                }
                            })
                            .finally(() => Mint.Indicator.close());
                    }
                });
            });
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .advertisement-content{
        min-height: 100vh;
        background: #fff;
    }
    .money-iframes{
        width: 100%;
        border: 0;
        min-height: 100vh;
    }
</style>
