<template>
    <div class="mall-home">
        <div v-scroll-to-fixed>
            <div class="header-bar justify-between items-center">
                <div class="flex col-4">
                    <router-link :to="{path: 'my/money'}" tag="div"
                             class="btn add-user"/>
                    <router-link :to="{path: 'products-list', query: {show_search: 1}}" append tag="div"
                             class="btn iconfont icon-search"/>
                </div>
                <div class="title iconfont icon-AMII col-4 center"></div>
                <div class="col-4 title-menu">
                    <!-- <router-link :to="{name:'My.Messages'}" tag="div" class="btn iconfont icon-message message-btn"/> -->
                    <i class="iconfont icon-caidan" @click="show_menus = !show_menus"></i>
                    <div class="show-menu" v-if="show_menus">
                        <router-link :to="{name:'My.Messages'}" tag="div" class="items">
                            <img src="~/assets/images/message.png" alt="">
                            <span>消息</span>
                        </router-link>
                        <div class="items" @click="menusShare">
                            <img src="~/assets/images/share-icon.png" alt="">
                            <span>分享</span>
                        </div>
                        <router-link :to="feedbackUrl" tag="div" class="items">
                            <img src="~/assets/images/advice.png" alt="">
                            <span>我要反馈</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="banner">
                <swipe>
                    <swipe-item v-for="i in banners" class="lazy-container" :key="i">
                        <img v-lazy="i.app_image" @click="onClickBannerLink(i)">
                    </swipe-item>
                </swipe>
            </div>
            <div class="list">
                <div class="item" v-for="(i, i_index) in populars">
                    <div class="title">{{ i.title }}</div>
                    <div class="cover" @click="onClickLink(i, i_index, 1)">
                        <img v-lazy="i.image">
                    </div>
                    <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
                        <div v-if="i_index == click_index">
                            <div class="prompt">{{ i.descript }}</div>
                            <div class="categories-list" v-if="i.children && i.children.length">
                                <div v-for="(ii, ii_index) in i.children">
                                    <a href="javascript:;" class="link" @click="onClickLink(ii, ii_index, 2)"
                                       :class="linkClass(ii, ii_index)">{{ ii.title }}</a>
                                    <div class="categories-list-two">
                                        <a href="javascript:;" class="link" @click="onClickLink(iii, iii_index)"
                                           v-for="(iii, iii_index) in ii.children">{{ iii.title }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
            <advertisement v-once></advertisement>
        </div>
        <fixed-bottom-bar></fixed-bottom-bar>
        <fixed-cart-icon></fixed-cart-icon>
        <share-box v-if="menus_share" @close="menus_share = false"></share-box>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import {Swipe, SwipeItem} from 'mint-ui';
    import FixedBottomBar from '/components/FixedBottomBar.vue'
    import FixedCartIcon from '/components/FixedCartIcon.vue'
    import Advertisement from '/components/Advertisement.vue'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import {app_rules} from '/config/parameter'
    import PointAward from '/components/PointAward.vue'
    import ShareBox from '/components/ShareBox.vue'

    export default{
        components: {
            Swipe,
            SwipeItem,
            FixedBottomBar,
            FixedCartIcon,
            Advertisement,
            ShareBox,
            PointAward
        },
        data(){
            return {
                click_index: null,
                click_two_index: null,
                banners: [],
                populars: [],
                award:{},
                show_menus: false,
                menus_share: false
            }
        },
        watch: {
            click_index(){
                this.click_two_index = null;
            }
        },
        computed:{
            feedbackUrl(){
                let urls = '';
                if (this.$store.state.token) {
                    urls = {name:'Settings.Feedback'};
                } else {
                    urls = {name:'Auth.Login'};
                }
                return urls;
            }
        },
        methods: {
            menusShare(){
                share.init('home').then((r) => {
                    shareAction.init(r.title, r.content, '', '', r.share_url, r.image,() => {
                        this.menus_share = false;
                        if (this.$store.state.token) {
                            Mint.Indicator.open();
                            RequestAPI.http.get('activity-share/home')
                                .then((response) => {
                                    if (response && response != null) {
                                        this.award = response;
                                    }
                                })
                                .finally(() => Mint.Indicator.close());
                        }
                    });
                });
                if (this.$store.state.is_app) {
                    app_rules.share('home');
                    return false;
                }
                this.menus_share = true;
                this.show_menus = false;
            },
            onClickLink(i, index, n){
                if (i.is_click == 0) {
                    switch (n) {
                        case 1:
                            this.click_index = (this.click_index == index ? null : index);
                            break;
                        case 2:
                            this.click_two_index = (this.click_two_index == index ? null : index);
                            break;
                    }
                    return null;
                }
                switch (i.provider) {
                    case 'product':
                        this.$router.push({
                            name: 'Mall.ProductDetail',
                            params: {
                                id: i.resource
                            }
                        });
                        break;
                    case 'html':
                        this.$router.push({
                            name: 'Game.index'
                        });
                        break;
                    default:
                        this.$router.push({
                            name: 'Mall.ProductsList',
                            query: {
                                provider: i.provider,
                                resource: i.resource
                            }
                        });
                        break;
                }
            },
            onClickBannerLink(i){
                if (i.is_click == 0)return null;
                switch (i.provider) {
                    case 'product':
                        this.$router.push({
                            name: 'Mall.ProductDetail',
                            params: {
                                id: i.resource
                            }
                        });
                        break;
                    case 'html':
                        if (i.resource.indexOf('/wechat/game') >= 0) {
                            this.$router.push({
                                name: 'Game.Home'
                            });
                        } else {
                            window.location.href = i.resource;
                        }
                        break;
                    default:
                        this.$router.push({
                            name: 'Mall.ProductsList',
                            query: {
                                provider: i.provider,
                                resource: i.resource
                            }
                        });
                        break;
                }
            },
            linkClass(ii, ii_index){
                let ret = [];
                if (ii.children && ii.children.length) {
                    ret.push('right-arrow')
                }
                if (ii.children && ii.children.length && this.click_two_index == ii_index) {
                    ret.push('on')
                }
                return ret;
            },
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            let urls = [
                RequestAPI.http.get('home'),
            ];
            axios
                .all(urls)
                .then(axios.spread((home) => {
                    next(vm => {
                        vm.banners = home.banners;
                        vm.populars = home.populars;
                    })
                }))
                .finally(() => Mint.Indicator.close())
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .mall-home {
        .main {
            background: #fff;
            position: relative;
        }

        .banner {
            height: calc(100vh - 2.3rem);
            max-height: 10.64rem;
            padding: .2rem;
        }

        .list {
            padding: .1rem .2rem 0 .2rem;

            .item {
                padding-top: .7rem;

                .title {
                    font-size: .36rem;
                    font-weight: bold;
                    padding-bottom: .04rem;
                }

                .cover {
                    padding: .2rem 0;
                    text-align: center;
                }

                .prompt {
                    font-size: .22rem;
                    text-align: center;
                    padding: .4rem 0 .3rem 0;
                }

                .categories-list {
                    margin: 0 -.2rem;
                    font-size: .28rem;

                    .link {
                        display: block;
                        padding-left: .5rem;
                        height: .8rem;
                        line-height: .8rem;
                        font-size: .22rem;
                        color: #000;
                        &:active {
                            background: #e6e6e6;
                        }
                        &.on {
                            & ~ .categories-list-two {
                                height: auto;
                            }
                        }
                    }
                    .categories-list-two {
                        height: 0;
                        overflow: hidden;
                        transition: height 1s;

                        .link {
                            padding-left: .7rem;
                        }
                    }
                }
            }
        }

        .add-user{
            display: inline-block;
            @include backgroundImg(url('../../assets/images/hongbao.png') no-repeat center center, 40%);
        }

        .message-btn{
            padding: 0 .2rem;
            text-align: right;
        }

        .title-menu{
            position: relative;
            text-align: right;
            padding-right: 6px;
            @include boxSizing(border-box);
            i{
                font-size: .6rem;
            }

            .show-menu{
                position: absolute;
                right: .1rem;
                top: 100%;
                color: #fff;
                font-size: .28rem;
                background: #49484b;
                padding: 0 .28rem;
                border-radius: 3px;
                margin-top: .1rem;
                width: 2rem;
                z-index: 999;

                img{
                    width: .4rem;
                    margin-right: .18rem;
                    vertical-align: middle;
                }
                span{
                    vertical-align: middle;
                }
                .items{
                    border-bottom: 1px solid rgb(102, 102, 102);
                    text-align: left;
                    padding: .2rem 0;

                    &:last-child {
                        border-bottom: 0;
                    }
                }

                &:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: .2rem;
                    top: -11px;
                    @include triangleStyle(6px, #49484b, top);
                }
            }
        }
    }

</style>
