<template>
    <div class="mall-product">
        <div class="header-bar justify-between">
            <router-link :to="{name: 'Mall.ShoppingCart'}" tag="div" class="btn">
                <span class="iconfont icon-cart" v-if="shopping_cart_count" :data-badge="shopping_cart_count"></span>
                <span class="iconfont icon-cart" v-else></span>
            </router-link>
            <div class="nav">
                <div class="nav__item" :class="{'nav__item__on': nav_active == 1}" @click="nav_active = 1">商品</div>
                <div class="nav__item" :class="{'nav__item__on': nav_active == 2}" @click="nav_active = 2">详情</div>
                <div class="nav__item" :class="{'nav__item__on': nav_active == 3}" @click="nav_active = 3 , refresh()">
                    评价
                </div>
            </div>
            <div class="title-menu">
                <!-- <router-link :to="{name:'My.Messages'}" tag="div" class="btn iconfont icon-message message-btn"/> -->
                <i class="iconfont icon-caidan" @click="show_menus = !show_menus"></i>
                <div class="show-menu" v-if="show_menus">
                    <router-link :to="{name:'My.Messages'}" tag="div" class="items">
                        <img src="~/assets/images/message.png" alt="">
                        <span>消息</span>
                    </router-link>
                    <router-link to="/" tag="div" class="items">
                        <img src="~/assets/images/home.png" alt="">
                        <span>首页</span>
                    </router-link>
                    <router-link :to="{name:'My.Home'}" tag="div" class="items">
                        <img src="~/assets/images/menus-me.png" alt="">
                        <span>我的</span>
                    </router-link>
                    <div class="items" @click="menusShare">
                        <img src="~/assets/images/share-icon.png" alt="">
                        <span>分享</span>
                    </div>
                    <router-link :to="feedbackUrl" tag="div" class="items">
                        <img src="~/assets/images/advice.png" alt="">
                        <span>我要反馈</span>
                    </router-link>
                </div>
            </div>
        </div>
        <loadmore class="main" v-if="nav_active == 1" :bottom-method="loadBottom">
            <div class="banner">
                <swipe :auto="0">
                    <swipe-item v-for="i in product_banners" :key="i">
                        <div class="swipe-item-img" v-lazy:background-image="i"></div>
                    </swipe-item>
                </swipe>
            </div>
            <div class="product-attr">
                <div class="name flex justify-between">
                    <div v-if="product.product">
                        {{ product.product.name }}
                    </div>
                    <div class="product-share" @click="onShare">
                        <i class="share-img"></i>
                        <div>分享</div>
                    </div>
                </div>
                <div class="notice" v-if="product.product">{{ product.product.sell_point}}</div>
                <div class="product-price">
                    <span class="price-current">¥{{product.base_price}}</span>
                    <span class="price-del" v-if="product.market_price">¥{{product.market_price}}</span>
                </div>
                <div class="other flex justify-between">
                    <div v-if="product.product">
                        快递：{{product.express_str}}<br/>
                        商品编号：{{ product.product.snumber }}
                    </div>
                    <div>月销量: {{product.volume}}件</div>
                </div>
                <!--<div class="preferential">
                    <span>•</span>&nbsp;满599减50
                </div>-->
                <div class="prompt flex justify-between">
                    <div><span class="iconfont icon-dagou"></span> 100%正品保证</div>
                    <div><span class="iconfont icon-dagou"></span> 七天无理由退货</div>
                    <div><span class="iconfont icon-dagou"></span> 官方发货</div>
                </div>
            </div>
            <div class="product-sku right-arrow" @click="onClickSelectSku">
                {{ selected_sku_str ? '已选择 ' + selected_sku_str : '选择 尺码 颜色分类' }}

            </div>
            <div class="product-comment">
                <div class="title">商品评价（{{product.comment_number}}）
                    <div class="right">好评率 <span class="praise">{{product.praise}}%</span></div>
                </div>
                <comment :val="product.comment" @select="openFullImage"></comment>
                <div class="more" @click="nav_active=3 , refresh()">查看更多 ></div>
            </div>
            <div slot="bottom" class="mint-loadmore-bottom">
                <div class="product-detail-more">
                    <hr class="line"/>
                    <div class="product-detail-content">继续拖动，查看商品详情</div>
                    <hr class="line"/>
                </div>
            </div>
        </loadmore>
        <div class="main product-detail" v-if="nav_active == 2">
            <div v-if="product.product" v-html="product.product.detail"></div>
        </div>
        <div class="main" v-if="nav_active == 3">
            <div class="comments-list"
                 v-show="comments && comments.length"
                 v-infinite-scroll="getComments"
                 infinite-scroll-disabled="disable_loadmore"
                 infinite-scroll-distance="pagination.per_page">
                <comment v-for="i in comments" :key="i" :val="i" @select="openFullImage"></comment>
            </div>
            <empty-view v-show="!comments || !comments.length" :type="type" :content="content"></empty-view>
        </div>

        <div class="fixed-bottom col-12 flex justify-between" v-if="!sku_panel.is_show">
            <div class="btn favorite" @click="onClickStar">
                <div class="iconfont" :class="product.collection_id?'icon-star3':'icon-star2'"></div>
                <div>{{ product.collection_id ? '已' : '' }}收藏</div>
            </div>
            <router-link to="/" tag="div" class="btn home">
                <div class="iconfont icon-shouye"></div>
                <div>首页</div>
            </router-link>
            <div class="btn-white flex-auto border-left" @click="onClickAddShoppingCart">加入购物车</div>
            <div class="btn-default flex-auto" @click="onClickBuyNow">立即购买</div>
        </div>
        <div class="fullImages-box" v-if="open_fullImg" @click="open_fullImg = false">
            <swipe class="fullImages" :auto="0" :defaultIndex="fullImg.index">
                <swipe-item v-if="product.comment" v-for="i in fullImg.data" :key="i">
                    <img :src="i.image">
                </swipe-item>
            </swipe>
        </div>
        <share-box v-if="share" @close="share = false"></share-box>
        <product-sku-action
                @close="onCloseSkuAction"
                :action="sku_panel.action"
                :sku="product.attributes"
                v-model="result_sku"
                v-if="sku_panel.is_show"
                :inventories="product.inventories"
                :default_price="product.base_price"
                :default_image="product.image"
                :recommend="recommend.recommend"
                :sell_attribute_value="product.sell_attribute_value"
        ></product-sku-action>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
        <back-top></back-top>
        <share-box v-if="menus_share" @close="menus_share = false"></share-box>
    </div>
</template>

<script>
    import {Swipe, SwipeItem, InfiniteScroll, Loadmore} from 'mint-ui';
    import Comment from '/components/Comment.vue'
    import BackTop from '/components/BackTop.vue'
    import ProductSkuAction from '/modules/ProductSkuAction.vue'
    import EmptyView from '/modules/EmptyView.vue'
    import {mapState} from 'vuex'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import PointAward from '/components/PointAward.vue'
    import ShareBox from '/components/ShareBox.vue'
    import {app_rules} from '/config/parameter'

    export default{
        components: {
            Swipe,
            SwipeItem,
            ShareBox,
            Comment,
            ProductSkuAction,
            EmptyView,
            Loadmore,
            BackTop,
            PointAward,
        },
        data(){
            return {
                show_menus: false,
                menus_share: false,
                award: {},
                open_fullImg: false,
                nav_active: 1,
                share: false,
                sku_panel: {
                    is_show: false,
                    action: null
                },
                fullImg: {
                    data: '',
                    index: 0
                },
                recommend: '',
                result_sku: {},
                product: {},
                client_y: 0,
                go_detials: false,
                comments: [],
                pagination: {
                    current_page: 0,
                },
                disable_loadmore: true,
                type: 4,
                content: '暂无商品评价',
            }
        },
        computed: {
            ...mapState([
                'shopping_cart_count'
            ]),
            feedbackUrl(){
                let urls = '';
                if (this.$store.state.token) {
                    urls = {name:'Settings.Feedback'};
                } else {
                    urls = {name:'Auth.Login'};
                }
                return urls;
            },
            selected_sku_str(){
                if (!this.product.attributes || !this.result_sku.sku) return null;
                let ret_arr = [];
                for (let i of this.result_sku.sku) {
                    ret_arr.push(i.value);
                }
                if (ret_arr.length != this.product.attributes.length) {
                    return null;
                }
                return ret_arr.join(' ');
            },
            product_banners(){
                if (!this.product.all_image)return [];
                if (this.product.all_image.length > 0) {
                    return this.product.all_image;
                }
                return [this.product.image];
            }
        },
        methods: {
            menusShare(){
                share.init('home').then((r) => {
                    shareAction.init(r.title, r.content, '', '', r.share_url, r.image,() => {
                        this.menus_share = false;
                        if (this.$store.state.token) {
                            Mint.Indicator.open();
                            RequestAPI.http.get('activity-share/home')
                                .then((response) => {
                                    if (response && response != null) {
                                        this.award = response;
                                    }
                                })
                                .finally(() => Mint.Indicator.close());
                        }
                    });
                });
                if (this.$store.state.is_app) {
                    app_rules.share('home');
                    return false;
                }
                this.menus_share = true;
                this.show_menus = false;
            },
            shareInit(id){
                share.init('product', id).then((r) => {
                    shareAction.init(r.title, r.content, '', '', r.share_url, r.image, () => {
                        this.share = false;
                        if (this.$store.state.token) {
                            Mint.Indicator.open();
                            RequestAPI.http.get('activity-share/product')
                                .then((response) => {
                                    if (response && response != null) {
                                        this.award = response;
                                    }
                                })
                                .finally(() => Mint.Indicator.close());
                        }
                    });
                });
            },
            loadBottom() {
                this.nav_active = 2;
            },
            onClickBuyNow(){
                if (this.selected_sku_str && this.result_sku.inventory.id && this.result_sku.quantity) {
                    this.$store.dispatch('nowCheckout', {
                        inventory_id: this.result_sku.inventory.id,
                        number: this.result_sku.quantity
                    });
                } else {
                    this.sku_panel.is_show = true;
                    this.sku_panel.action = 'buy-now';
                }

            },
            onShare(){
                this.share = true
            },
            onClickAddShoppingCart(){
                this.sku_panel.is_show = true;
                this.sku_panel.action = 'add-shopping-cart';
            },
            onClickSelectSku(){
                this.sku_panel.is_show = true;
                this.sku_panel.action = null;
            },
            onCloseSkuAction(e){
                this.sku_panel.is_show = false;
                this.sku_panel.action = e;
            },
            onClickStar(){
                if (this.product.collection_id) {
                    RequestAPI.http.delete('collection/' + this.product.collection_id).then((r) => {
                        this.product.collection_id = null;
                    })
                } else {
                    RequestAPI.http.post('collection', {
                        sell_product_id: this.product.id
                    }).then((r) => {
                        this.product.collection_id = r.id
                    })
                }
            },
            commentsUrl(){
                return 'comment/index/' + this.product.id
                    + '?page=' + this.pagination.current_page;
            },
            setLoadMoreEnable(){
                this.disable_loadmore = this.nav_active != 3 || this.pagination.current_page >= this.pagination.last_page;
            },
            getComments(){
                this.disable_loadmore = true;
                Mint.Indicator.open();

                if (this.pagination.current_page < this.pagination.last_page) {
                    let lastPage = parseInt(this.pagination.current_page, 10) + 1;
                    this.pagination.current_page = lastPage + "";
                }

                RequestAPI.http.get(this.commentsUrl())
                    .then((response) => {
                        console.log("response:" + this.pagination.current_page + " pagination.last_page:" + this.pagination.last_page);
                        if (this.pagination.current_page == "1") {
                            this.comments = [];
                        }

                        for (let i of response.paginate_data.comment) {
                            this.comments.push(i);
                        }
                        this.pagination = response.pagination;

                        this.setLoadMoreEnable();
                    })
                    .finally(() => Mint.Indicator.close());
            },
            refresh(){
                this.pagination.current_page = 0;
                this.getComments();
            },
            openFullImage(data, index){
                this.open_fullImg = true;
                this.fullImg = {
                    data: data,
                    index: index
                };
            }
        },
        directives: {
            InfiniteScroll,
        },
        created() {
            this.$store.dispatch('getShoppingCartProducts');
        },
        mounted(){
            if (this.$route.query.show_full_popup) {
                this.onClickBuyNow();
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            axios
                .all([
                    RequestAPI.http.get('product/' + to.params.id),
                    RequestAPI.http.get('suit/default/' + to.params.id)
                ])
                .then(axios.spread((product, recommend) => {
                    next(vm => {
                        vm.product = product;
                        vm.recommend = recommend;
                        vm.shareInit(vm.product.id);
                    })
                }))
                .finally(() => Mint.Indicator.close());
        },
        beforeRouteLeave (to, from, next) {
            shareAction.init('', '', '', '', '');
            next();
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .mall-product {
        .banner {
            height: 100vw;
            .swipe-item-img {
                height: 100%;
                text-align: center;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        .title-menu{
            position: relative;
            text-align: center;
            padding-right: 6px;
            @include boxSizing(border-box);
            i{
                line-height: .9rem;
                font-size: .6rem;
                text-align: center;
            }

            .show-menu{
                position: absolute;
                right: .1rem;
                top: 100%;
                color: #fff;
                font-size: .28rem;
                background: #49484b;
                padding: 0 .28rem;
                border-radius: 3px;
                margin-top: .1rem;
                width: 2rem;
                z-index: 999;

                img{
                    width: .4rem;
                    margin-right: .18rem;
                    vertical-align: middle;
                }
                span{
                    vertical-align: middle;
                }
                .items{
                    border-bottom: 1px solid rgb(102, 102, 102);
                    text-align: left;
                    padding: .2rem 0;

                    &:last-child {
                        border-bottom: 0;
                    }
                }

                &:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: .2rem;
                    top: -11px;
                    @include triangleStyle(6px, #49484b, top);
                }
            }
        }

        .product-attr {
            background: #fff;
            margin-bottom: .2rem;
            padding: 0 0 0 .2rem;

            > div {
                padding: .25rem .2rem .25rem 0;
            }
            .notice{
                padding: 0;
                color:#999999;
                font-size: .24rem;
            }
            .name {
                font-size: .3rem;
                word-break: break-all;
            }

            .product-share {
                padding-left: .2rem;
                border-left: 1px solid #f0f0f0;
                margin-left: .4rem;
                i {
                    display: inline-block;
                    width: .38rem;
                    height: .38rem;
                    margin-bottom: .1rem;
                    @include backgroundImg(url('../../assets/images/share.png') no-repeat center center, contain);
                }

                width: 1rem;
                text-align: center;
                font-size: .2rem;
            }

            .price {
                &-current {
                    color: #d79523;
                    font-size: .4rem;
                    margin-right: .1rem;
                }

                &-del {
                    color: #959595;
                    text-decoration: line-through;
                }
            }
            .other {
                color: #959595;
                border-bottom: 1px solid #f0f0f0;
                line-height: 1.5;
            }
            .preferential {
                color: #333;
                border-bottom: 1px solid #f0f0f0;

                > span {
                    color: #d79523;
                }
            }
            .prompt {
                color: #959595;
            }
        }

        .product-sku {
            background: #fff;
            margin-bottom: .2rem;
            padding: .25rem .2rem;
            color: #333;
        }
        .product-comment {
            background: #fff;
            margin-bottom: .1rem;

            .title {
                color: #333;
                font-size: .28rem;
                font-weight: 500;
                padding: .25rem .2rem;
            }
            .praise {
                color: #d79523;
            }
            .more {
                border-top: 1px solid #f0f0f0;
                color: #959595;
                text-align: center;
                height: .7rem;
                line-height: .7rem;
            }
        }

        .fixed-bottom {
            font-size: .32rem;
            border-top: 1px solid #f0f0f0;

            .btn {
                width: 1rem;
                font-size: .24rem;
                line-height: .4rem;
                padding-top: .15rem;
                background: #fff;
                text-align: center;

                .iconfont {
                    font-size: .4rem;

                }

                &.favorite {
                    .icon-star3 {
                        color: #d79523;
                    }
                }

                &.home {
                    border-left: 1px #f0f0f0 solid;
                }
            }
        }

        .product-detail {
            line-height: 1.8;
            background: #fff;
            min-height: calc(100vh - 1.9rem);
        }
        .product-detail iframe {
            width: 100%;
            height: 100%;
            border-width: 0;
        }
        .product-detail-more {
            text-align: center;
            font-size: 0.24rem;
            margin-top: 0.61rem;
            margin-bottom: 0.61rem;

            .line {
                display: inline-block;
                width: 25%;
                vertical-align: middle;
                border: 0;
                border-top: 1px solid #bcbcbc;
            }
        }
        .product-detail-content {
            display: inline;
            vertical-align: middle;
            width: 30%;
            margin-left: 1%;
            margin-right: 1%;
        }

        .comments-list {
            background: #fff;
            padding-left: .2rem;
            margin-bottom: .1rem;

            .comment {
                padding: .2rem .2rem .2rem 0;
            }
        }
    }

    .fullImages-box {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 10;

        .fullImages {
            img {
                position: fixed;
                left: 50%;
                top: 50%;
                max-height: 80%;
                @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));
            }
        }
    }

    .share-box {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        font-size: .32rem;
        z-index: 9999;

        .share-icon {
            display: block;
            text-align: right;
            margin: .3rem 0 .22rem 0;
            width: 100%;
            height: 1.22rem;
            @include backgroundImg(url('../../assets/images/arrow.png') no-repeat 95% center, contain);
        }
    }
</style>
