<template>
    <div class="mall-products-list">
        <div class="header-bar justify-between items-center">
            <div class="search" @click="onClickSearch">
                <span class="iconfont icon-search"></span>
                {{ form.search ? form.search : '搜索商品' }}
            </div>
            <div class="col-3 flex">
                <router-link :to="{name: 'Mall.ShoppingCart'}" tag="div" class="btn col-6">
                    <span class="iconfont icon-cart" v-if="shopping_cart_count" :data-badge="shopping_cart_count"></span>
                    <span class="iconfont icon-cart" v-else></span>
                </router-link>
                <div class="title-menu col-6">
                    <!-- <router-link :to="{name:'My.Messages'}" tag="div" class="btn iconfont icon-message message-btn"/> -->
                    <i class="iconfont icon-caidan" @click="show_menus = !show_menus"></i>
                    <div class="show-menu" v-if="show_menus">
                        <router-link :to="{name:'My.Messages'}" tag="div" class="items">
                            <img src="~/assets/images/message.png" alt="">
                            <span>消息</span>
                        </router-link>
                        <router-link to="/" tag="div" class="items">
                            <img src="~/assets/images/home.png" alt="">
                            <span>首页</span>
                        </router-link>
                        <div class="items" @click="menusShare">
                            <img src="~/assets/images/share-icon.png" alt="">
                            <span>分享</span>
                        </div>
                        <router-link :to="feedbackUrl" tag="div" class="items">
                            <img src="~/assets/images/advice.png" alt="">
                            <span>我要反馈</span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="main no-bottom">
            <img v-if="image_url" v-lazy="image_url" class="product-banner">
            <drop-down v-model="form.sort">
                <template slot="filter-layout">
                    <div class="iconfont icon-filter" :class="filter_class" @click="filter_panel.show=true"></div>
                    <div class="iconfont" :class="layout_class" @click="onClickSwitchLayout"></div>
                </template>
            </drop-down>
            <div class="list flex flex-wrap justify-between"
                 v-infinite-scroll="fetchData"
                 infinite-scroll-disabled="loading"
                 infinite-scroll-distance="10"
                 v-show="list && list.length">
                <products-list-item :class="item_class" v-for="(item, index) in list" :key="item" :item="item" @click.native="onClickItem(item.product.id)"></products-list-item>
            </div>
            <empty-view v-show="!list || !list.length" :type="type" :content="content"></empty-view>
        </div>
        <products-search v-model="form.search" @submit="onSubmitSearch" v-if="search_panel.show" ></products-search>
        <products-filter-panel v-if="filter_panel.show" v-model="filter_panel.value" :data="filter_panel.data" @close="filter_panel.close()"></products-filter-panel>
        <share-box v-if="menus_share" @close="menus_share = false"></share-box>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import ProductsSearch from '/components/ProductsSearch.vue'
    import ProductsListItem from '/components/ProductsListItem.vue'
    import DropDown from '/components/DropDown.vue'
    import ProductsFilterPanel from '/modules/ProductsFilterPanel.vue'
    import {InfiniteScroll} from 'mint-ui';
    import EmptyView from '/modules/EmptyView.vue'
    import {mapState} from 'vuex'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import {app_rules} from '/config/parameter'
    import ShareBox from '/components/ShareBox.vue'
    import PointAward from '/components/PointAward.vue'

    export default{
        components: {
            ProductsSearch,
            ProductsListItem,
            DropDown,
            ProductsFilterPanel,
            EmptyView,
            ShareBox,
            PointAward
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return {
                award: {},
                show_menus: false,
                menus_share: false,
                layout_select: 1,
                search_panel: {
                    show: false,
                    is_init_open: false,
                    is_opened: false
                },
                form: {
                    search: '',
                    sort: '',
                    page: 0,

                },
                filter_panel:{
                    show: false,
                    data: null,
                    value: {
                        filter: [],
                        price: {
                            from: '',
                            to: ''
                        }
                    },
                    close: ()=>{
                        this.filter_panel.show = false;
                        this.fetchData(true);
                    }
                },
                image_url: '',
                list: [],
                total_page: 0,
                loading: false,
                type:3,
                content:'未找到任何商品'
            }
        },
        watch: {
            '$route' (to, from) {
                if(to.name == from.name && to.query.show_search && !from.query.show_search){
                    this.search_panel.show = true;
                }
            },
            'search_panel.show'(val){
                if(!this.search_panel.is_opened && val){
                    this.search_panel.is_opened = true;
                }
            },

            'form.sort'(val){
                this.fetchData(true);
            }
        },
        computed: {
            ...mapState([
                'shopping_cart_count'
            ]),
            feedbackUrl(){
                let urls = '';
                if (this.$store.state.token) {
                    urls = {name:'Settings.Feedback'};
                } else {
                    urls = {name:'Auth.Login'};
                }
                return urls;
            },
            layout_class(){
                return this.layout_select == 1 ? 'icon-layout-one' : 'icon-layout-two'
            },
            item_class(){
                return this.layout_select == 1 ? 'col-6' : 'col-12'
            },
            filter_class(){
                if(this.filter_panel.value.filter.length
                    || this.filter_panel.value.price.from
                    || this.filter_panel.value.price.to
                ){
                    return 'on'
                }
                return '';
            },
        },
        methods: {
            menusShare(){
                share.init('home').then((r) => {
                    shareAction.init(r.title, r.content, '', '', r.share_url, r.image,() => {
                        this.menus_share = false;
                        if (this.$store.state.token) {
                            Mint.Indicator.open();
                            RequestAPI.http.get('activity-share/home')
                                .then((response) => {
                                    if (response && response != null) {
                                        this.award = response;
                                    }
                                })
                                .finally(() => Mint.Indicator.close());
                        }
                    });
                });
                if (this.$store.state.is_app) {
                    app_rules.share('home');
                    return false;
                }
                this.menus_share = true;
                this.show_menus = false;
            },
            onClickItem(id){
                this.$router.push({
                    name: 'Mall.ProductDetail',
                    params: {
                        id: id
                    }
                });
            },
            onClickSwitchLayout(){
                this.layout_select = this.layout_select == 1 ? 2 : 1
            },
            onClickSearch(){
                if (this.search_panel.is_init_open || this.search_panel.is_opened) {
                    this.$router.go(-1);
                } else {
                    this.search_panel.show = true;
                }
            },
            onSubmitSearch(search){
                this.form.search = search;
                this.search_panel.show = false;
                this.$router.push({
                    query: this.getQueryForm(this.form)
                });
                this.fetchData(true);
            },
            fetchData(is_init_page = false){
                if(
                    this.loading
                    || (!is_init_page && this.form.page && this.total_page <= this.form.page)
                    || this.search_panel.show
                ) return;
                this.loading = true;

                if (is_init_page || !this.form.page) {
                    this.form.page = 0;
                    this.total_page = 0;
                    window.scrollTo(0, 0);
                }
                this.form.page++;

                this.form.filter = this.filter_panel.value.filter.join('+');

                let arr = [];
                for (let k in this.filter_panel.value.price) {
                    if (!this.filter_panel.value.price[k]) continue;
                    arr.push(k + '_' + this.filter_panel.value.price[k]);
                }
                this.form.price = arr.join('+');

                Mint.Indicator.open();
                RequestAPI.http.get('product', {params: this.form})
                    .then((response) => {
                        if(this.form.page == 1) this.list = [];
                        for (let i of response.paginate_data.products){
                            this.list.push(i)
                        }
                        this.image_url = response.filter_image;
                        this.filter_panel.data = response.filters;
                        this.total_page = Number(response.pagination.last_page)
                    })
                    .finally(() => {
                        Mint.Indicator.close();
                        this.loading = false;
                    })
            },
            getQueryForm(source){
                return {
                    search: source.search || '',
                    provider: source.provider || '',
                    resource: source.resource || '',
                }
            },
        },
        created() {
            this.$store.dispatch('getShoppingCartProducts');
        },
        mounted(){
            if (this.$route.query.show_search) {
                this.search_panel.show = true;
                this.search_panel.is_init_open = true
            } else {
                Object.assign(this.form, this.getQueryForm(this.$route.query));
            }
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";
    .mall-products-list {
        background: #f0f0f0;

        .product-banner{
            width: 100%;
        }

        .list {
            padding: .1rem;
        }

        .title-menu{
            position: relative;
            text-align: center;
            i{
                line-height: .9rem;
                font-size: .6rem;
                text-align: center;
                padding-left: 5px;
            }

            .show-menu{
                position: absolute;
                right: .1rem;
                top: 100%;
                color: #fff;
                font-size: .28rem;
                background: #49484b;
                padding: 0 .28rem;
                border-radius: 3px;
                margin-top: .1rem;
                width: 2rem;
                z-index: 999;

                img{
                    width: .4rem;
                    margin-right: .18rem;
                    vertical-align: middle;
                }
                span{
                    vertical-align: middle;
                }
                .items{
                    border-bottom: 1px solid rgb(102, 102, 102);
                    text-align: left;
                    padding: .2rem 0;

                    &:last-child {
                        border-bottom: 0;
                    }
                }

                &:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: .2rem;
                    top: -11px;
                    @include triangleStyle(6px, #49484b, top);
                }
            }
        }
    }
</style>
