<template>
    <div class="sales-home">
        <iframe src="/apih5/sales/home"
            class="money-iframes"
            id="iFrame2"
            name="iFrame2"
            onload="this.height=iFrame2.document.body.scrollHeight;">
        </iframe>
        <div class="sales-content-txt">
            <div class="items">
                <span class="number"><img src="~/assets/images/number/number-1.png" alt=""></span>
                <span class="text">好友下单您可获得10%佣金，好友邀请他人下单您还可再获得10%佣金。 </span>
            </div>
            <div class="items">
                <span class="number"><img src="~/assets/images/number/number-2.png" alt=""></span>
                <span class="text">成功邀请好友，您将获得10元优惠券；被邀请的好友注册成功后可获得20元新人优惠券。 </span>
            </div>
            <div class="sales-invite-button" @click="onShare()">
                <span>邀好友，享返佣</span>
            </div>
        </div>
        <router-link to="/mall/sales" tag="div" class="rule-button">查看详情</router-link>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
        <share-box v-if="is_share && !is_app" @close="is_share = false"></share-box>
    </div>
</template>

<script>
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import ShareBox from '/components/ShareBox.vue'
    import PointAward from '/components/PointAward.vue'
    export default{
        components:{
            shareAction,
            share,
            ShareBox,
            PointAward
        },
        data(){
            return{
                award: {},
                html :'',
                is_share: false,
                is_app: false,
            }
        },
        mounted(){
            if (this.$store.state.is_app) {
                this.is_app = true;
            }
            share.init('tribe').then((r) => {
                shareAction.init(r.title, r.content, '', '', r.share_url, r.image,()=>{
                    this.is_share = false;
                    if (this.$store.state.token) {
                        Mint.Indicator.open();
                        RequestAPI.http.get('activity-share/tribe')
                            .then((response) => {
                                if (response && response != null) {
                                    this.award = response;
                                }
                            })
                            .finally(() => Mint.Indicator.close());
                    }
                });
            });
        },
        methods: {
            onShare(){
                if (this.$store.state.is_app) {
                    window.location.href='amii://share?provider=tribe';
                    return false;
                } else {
                    this.is_share = true;
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .sales-home{
        position: relative;
        height: 100vh;
        background: #fff;
        overflow: hidden;

        .sales-content-txt{
            position: absolute;
            top: 35%;
            left: 50%;
            width: 80%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            font-size: .24rem;
            color: rgb(85, 85, 85);
            line-height: 1.5;

            .items{
                margin-bottom: .5rem;
                height: .74rem;

                .number{
                    display: inline-block;
                    border-radius: 50%;
                    width: .74rem;
                    height: .74rem;
                    text-align: center;
                    float: left;
                    margin-right: .18rem;
                    vertical-align: middle;
                }
                .text{
                    vertical-align: middle;
                }
            }
        }
        .money-iframes{
            width: 100%;
            border: 0;
            min-height: 100vh;
        }
        .sales-invite-button{
            width: 100%;
            color: #fff;
            font-size: .3rem;
            line-height: 1;
            padding: 15px 0;
            background: #fb5252;
            text-align: center;
            border-radius: 120px;
            margin-top: 1rem;
        }
        .rule-button{
            position: absolute;
            right: 11px;
            top: 16%;
            background-color: rgb(253, 156, 1);
            box-shadow: 0px 5px 5px 0px rgba(69, 0, 96, 0.3);
            padding: 9px 6px;
            text-align: center;
            color: #fff;
            font-size: 12px;
            writing-mode: vertical-rl;
            line-height: 1.2;
            margin-bottom: 9px;
            cursor: pointer;
            border-radius: 2px;
        }
    }
</style>
