<template>
    <div class="sales-content">
        <iframe src="/apih5/sales/rule"
            class="money-iframes"
            id="iFrame2"
            name="iFrame2"
            onload="this.height=iFrame2.document.body.scrollHeight;">
        </iframe>
        <div class="invite-button" @click="onShare()">
            <i class="invite-icon"></i>
            <span>邀好友，享返佣</span>
        </div>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
        <share-box v-if="is_share && !is_app" @close="is_share = false"></share-box>
    </div>
</template>

<script>
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import ShareBox from '/components/ShareBox.vue'
    import PointAward from '/components/PointAward.vue'
    export default{
        components:{
            shareAction,
            share,
            ShareBox,
            PointAward
        },
        data(){
            return{
                award: {},
                html :'',
                is_share: false,
                is_app: false,
            }
        },
        mounted(){
            if (this.$store.state.is_app) {
                this.is_app = true;
            }
            share.init('tribe').then((r) => {
                shareAction.init(r.title, r.content, '', '', r.share_url, r.image,()=>{
                    this.is_share = false;
                    if (this.$store.state.token) {
                        Mint.Indicator.open();
                        RequestAPI.http.get('activity-share/tribe')
                            .then((response) => {
                                if (response && response != null) {
                                    this.award = response;
                                }
                            })
                            .finally(() => Mint.Indicator.close());
                    }
                });
            });
        },
        methods: {
            onShare(){
                if (this.$store.state.is_app) {
                    window.location.href='amii://share?provider=tribe';
                    return false;
                } else {
                    this.is_share = true;
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .sales-content{
        min-height: 100vh;
        background: #fff;
    }
    .money-iframes{
        width: 100%;
        border: 0;
        min-height: 100vh;
    }
    .invite-button{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #fff;
        font-size: 18px;
        line-height: 1;
        padding: 15px 0;
        background: #fb5252;
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
        text-align: center;
    }
    .invite-button span{
        vertical-align: middle;
    }
    .invite-button i{
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        margin-right: 8px;
        background: url('/assets/images/invite.png') no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -ms-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }
</style>
