<template>
    <div class="mall-shopping-cart">
        <div v-if="carts&&carts.length>0">
            <div class="header-bar justify-between">
                <div class="btn"></div>
                <div class="btn btn-edit" @click="is_edit=!is_edit">{{ !is_edit ? '编辑' : '保存' }}</div>
            </div>
            <div class="main">
                <div class="shopping-notice flex items-center justify-between" v-if="activity">
                    <div><i class="iconfont icon-liwu gift"></i>{{ activity.content }}</div>
                    <a :href="activity.url" class="detail">
                        <span>查看详情</span>
                        <i class="iconfont icon-youjiantou1"></i>
                    </a>
                </div>
                <div class="products-list product-shopcart">
                    <div class="products-list-item bg-gray flex justify-between" v-for="(i, index) in carts">
                        <div class="btn flex justify-center items-center" @click="onClickSelected(i)">
                            <div class="iconfont" :class="selected_id.indexOf(i.id)<0?'icon-duoxuanxuanxiangline':'icon-2xuanzhong'"></div>
                        </div>
                        <div class="product flex flex-auto" @click="onClickJump(i)">
                            <div class="product-cover" v-lazy:background-image="i.sell_product.all_image[0]"></div>
                            <div class="product-attr flex flex-column justify-between" v-if="!is_edit">
                                <div class="title">{{ i.sell_product.product.name }}</div>
                                <div class="sku">
                                    <span v-if="i.is_gift" class="sku-span">首单购赠品</span>
                                    <span v-else v-for="sku in i.inventory.sku" v-if="sku.sku_value">{{sku.sku_value.attribute.name+':'+sku.sku_value.value}}</span>
                                </div>
                                <div v-if="i.is_gift" class="price del">¥{{i.sell_product.market_price}}</div>
                                <div v-else class="price">￥{{i.inventory.mark_price}}</div>
                            </div>
                            <div class="product-attr flex flex-column justify-around" v-else>
                                <quantity-action v-model="i.number" @input="onInputQuantityAction(i)"/>
                                <div class="sku-btn" @click="onClickSkuAction(i, index)">
                                    <span v-for="sku in i.inventory.sku" v-if="sku.sku_value">{{sku.sku_value.attribute.name+':'+sku.sku_value.value}}</span>
                                    <div class="right iconfont icon-down"></div>
                                </div>
                            </div>
                        </div>
                        <div class="btn flex justify-center items-center" @click="onClickDeleteItem(i, index)">
                            <div v-if="!is_edit">x{{i.number}}</div>
                            <div class="iconfont icon-lajitong" v-else></div>
                        </div>
                    </div>
                </div>
                <!--<div class="offer-description">再买33.50元，满899减50</div>-->
                <you-may-also-like :provider="'cart'" :sign="sign"/>
            </div>
            <div class="fixed-bottom-panel justify-between">
                <div class="select-action" @click="onClickSelectAll">
                    <span class="iconfont" :class="!is_all_selected?'icon-duoxuanxuanxiangline':'icon-2xuanzhong'"/> 全选
                </div>
                <div v-if="!is_edit" class="flex justify-between flex-auto">
                    <div class="compute flex-auto">
                        <div class="compute-total">合计：<span class="amount">¥{{total_amount}}</span></div>
                        <div class="compute-shipping-instructions">不含邮费</div>
                    </div>
                    <div class="btn-default flex-auto" @click="onClickCheckout">结算</div>
                </div>
                <div v-else class="flex justify-between flex-auto">
                    <div class="btn-gray flex-auto" @click="onClickMultipleCollection">收藏</div>
                    <div class="btn-default flex-auto" @click="onClickMultipleDelete">删除</div>
                </div>
            </div>
        </div>
        <empty-view v-else :type="type" :content="content"></empty-view>
        <product-sku-action
                @close="onCloseSkuAction"
                :action="sku_panel.action"
                :sku="sku_panel.attributes"
                v-model="sku_panel.result"
                v-if="sku_panel.is_show"
                :inventories="sku_panel.inventories"
                :default_price="sku_panel.default_image"
                :default_image="sku_panel.default_image"
                :sell_attribute_value="sku_panel.sell_attribute_value"
        ></product-sku-action>
    </div>
</template>

<script>
    import YouMayAlsoLike from '/components/YouMayAlsoLike.vue'
    import QuantityAction from '/components/QuantityAction.vue'
    import ProductSkuAction from '/modules/ProductSkuAction.vue'
    import sum from 'lodash/sum'
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components: {
            YouMayAlsoLike,
            QuantityAction,
            ProductSkuAction,
            EmptyView,
        },
        data(){
            return {
                is_edit: false,
                select_sku: {},
                activity: {},
                sku_panel: {
                    result: {},
                    attributes: [],
                    inventories: [],
                    default_price: '',
                    default_image: '',
                    is_show: false,
                    action: 'shopping-cart-action',
                    list_index: null,
                },
                carts: [],
                submit_selected_id: [],
                edit_selected_id: [],
                type:6,
                content:'您的购物车是空的',
                sign: '',
            }
        },
        computed: {
            total_amount(){
                let subtotal_amounts = [];
                let carts = this.carts.filter(function(cart){
                    return !cart.is_gift;
                });
                for (let i of carts){
                    if(this.selected_id.indexOf(i.id) < 0)continue;
                    let subtotal_amount = Number(i.inventory.mark_price) * Number(i.number)
                    subtotal_amounts.push(Number(subtotal_amount.toFixed(2)))
                }
                return sum(subtotal_amounts).toFixed(2);
            },
            selected_id:{
                get(){
                    if(this.is_edit){
                        return this.edit_selected_id
                    }else{
                        return this.submit_selected_id
                    }
                },
                set(val){
                    if(this.is_edit){
                        this.edit_selected_id = val
                    }else{
                        this.submit_selected_id = val
                    }
                }
            },
            is_all_selected(){
                if(!this.carts.length) return false;
                return this.selected_id.length == this.carts.length
            }
        },
        watch:{
            is_edit(val){
                if(!val && this.edit_selected_id.length){
                    this.edit_selected_id = [];
                }
            },
            carts(val) {
                let product_ids = [];
                for (let i of val) {
                    product_ids.push(i.sell_product_id);
                }
                this.sign = product_ids.join(',')
            }
        },
        mounted(){
        },
        methods: {
            reload(){
                Mint.Indicator.open();
                RequestAPI.http.get('cart')
                    .then((response)=>{
                        this.carts = response.carts;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            onClickSelected(i){
                let index = this.selected_id.indexOf(i.id);
                if(index >= 0){
                    this.selected_id.splice(index, 1);
                }else{
                    this.selected_id.push(i.id);
                }
            },
            onClickCheckout(){
                if(!this.selected_id.length){
                    Mint.Toast('请选择商品');
                    return;
                }
                RequestAPI.http.post('order/cart', {carts: this.selected_id})
                    .then((r)=>{
                        this.$router.push({
                            name: 'Mall.SubmitOrder',
                            params: {id: r.orderSn}
                        })
                    });
            },
            onClickSelectAll(){
                if(!this.is_all_selected){
                    for (let i of this.carts){
                        if(this.selected_id.indexOf(i.id) < 0){
                            this.selected_id.push(i.id)
                        }
                    }
                }else{
                    this.selected_id = [];
                }
            },
            onInputQuantityAction(i){
                RequestAPI.http.put('cart/' + i.id, {
                    inventory_id: i.inventory_id,
                    number: i.number
                }).then(()=>this.reload());
            },
            onClickDeleteItem(i, index){
                if(!this.is_edit) return;
                Mint.MessageBox.confirm('确定删除 '+i.sell_product.product.name+' ?', '').then(action => {
                    RequestAPI.http.delete('cart/' + i.id).then((r) => {
                        this.carts.splice(index, 1);
                    });
                });

            },
            onClickMultipleDelete(){
                if(!this.selected_id.length){
                    Mint.Toast('请选择商品');
                    return;
                }
                if(!this.is_edit) return;
                Mint.MessageBox.confirm('确定删除'+this.selected_id.length+'个商品?', '').then(action => {
                    RequestAPI.http.post('cart/deletes', {
                        ids: this.selected_id
                    }).then((r)=>{
                        let remove_index = [];
                        for (let i of this.carts) {
                            if (this.selected_id.indexOf(i.id) >= 0) {
                                remove_index.push(this.carts.indexOf(i));
                            }
                        }
                        remove_index.sort((a, b) => a - b);
                        for (let i of remove_index.reverse()) {
                            this.carts.splice(i, 1);
                        }
                    })
                });
            },
            onClickMultipleCollection(){
                if(!this.selected_id.length){
                    Mint.Toast('请选择商品');
                    return;
                }
                RequestAPI.http.post('collection/stores', {
                    ids: this.selected_id
                }).then((r)=>{
                    Mint.Toast('收藏成功')
                })
            },
            onClickJump(i){
                if (this.is_edit) return;
                this.$router.push({
                    name: 'Mall.ProductDetail',
                    params: {id: i.sell_product.product.id}
                })
            },
            onClickSkuAction(i, index){
                let sku = [];
                for(let i of i.inventory.sku){
                    sku.push(i.sku_value)
                }
                this.sku_panel.result = {
                    sku: sku,
                    quantity: i.number,
                    inventory: i.inventory
                };
                this.sku_panel.default_price = i.sell_product.base_price;
                this.sku_panel.default_image = i.sell_product.all_image[0];
                this.sku_panel.list_index = index;
                RequestAPI.http.get('cart/product/'+i.sell_product.id).then((r)=>{
                    this.sku_panel.inventories = r.inventories;
                    this.sku_panel.attributes = r.attributes;
                    this.sku_panel.is_show = true;
                })
            },
            onCloseSkuAction(){
                this.sku_panel.is_show = false;
                const result = this.sku_panel.result;
                let product = this.carts[this.sku_panel.list_index];
                product.number = result.quantity;
                product.inventory = result.inventory;
                RequestAPI.http.put('cart/' + product.id, {
                    inventory_id: product.inventory.id,
                    number: product.number
                }).then(()=>this.reload());
            },
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            axios
                .all([
                    RequestAPI.http.get('cart'),
                    RequestAPI.http.get('activity/cart')
                ])
                .then(axios.spread((cart, activity) => {
                    next(vm => {
                        vm.carts = cart.carts;
                        vm.activity = activity.activity[0];
                    })
                }))
                .finally(() => Mint.Indicator.close());
        },
        beforeRouteLeave(to, from, next){
            this.$store.dispatch('getShoppingCartProducts');
            next();
        }
    }
</script>

<style lang="scss">
    .mall-shopping-cart {

        .btn-edit {
            font-size: .3rem;
        }

        .shopping-notice{
            padding: 0 .2rem;
            background: rgb(255, 237, 199);
            font-size: .24rem;

            .detail{
                padding: .3rem 0;
                color: #d79523;
                font-size: .22rem;
            }
            .gift{
                font-size: .3rem;
                vertical-align: middle;
                margin-right: 0.1rem;
            }
        }
        .product-shopcart{
            .products-list-item{
                border-bottom: 0.07rem solid #fff;
            }
        }
        .products-list {
            &-item {
                padding: .2rem 0;

                > .btn {
                    min-width: .8rem;
                    width: .8rem;

                    .iconfont {
                        font-size: .3rem;
                    }

                    &:last-child {
                        color: #959595;
                    }
                }
            }
        }

        .product {

            &-cover {
                min-width: 1.6rem;
                width: 1.6rem;
                height: 1.6rem;
                -webkit-background-size: cover;
                     -o-background-size: cover;
                    -ms-background-size: cover;
                   -moz-background-size: cover;
                        background-size: cover;
                background-position: center center;
            }

            &-attr {
                padding-left: .2rem;
                flex-grow: 1;

                .sku {
                    color: #959595;

                    span{
                        margin-right: .1rem;

                        & + span{
                            margin-right: 0;
                        }

                        &.sku-span{
                            padding: .1rem .25rem;
                            border-radius: 120px;
                            background: #000;
                            color: #fff;
                            font-size: .2rem;
                        }
                    }
                }

                .title, .price {
                    font-size: .26rem;
                    font-weight: 500;
                    &.del{
                        text-decoration: line-through;
                    }
                }

                .sku-btn {
                    border-radius: .05rem;
                    border: 1px solid #e6e6e6;
                    height: .5rem;
                    line-height: .5rem;
                    padding: 0 .15rem;
                    color: #333;

                    span{
                        margin-right: .1rem;

                        & + span{
                            margin-right: 0;
                        }
                    }

                    .iconfont {
                        color: #d7d7d7;
                    }
                }
            }
        }

        .offer-description {
            color: #959595;
            height: .8rem;
            line-height: .8rem;
            background: #fff;
            padding-left: .2rem;
        }

        .fixed-bottom-panel {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            font-size: .28rem;
            background: #fff;

            .select-action {
                line-height: 1rem;
                text-align: center;
                width: 1.5rem;
            }

            .compute {
                padding-top: .2rem;
                padding-right: .1rem;
                text-align: right;

                &-total {
                    font-size: .3rem;

                    .amount {
                        color: #d79523;
                    }
                }

                &-shipping-instructions {
                    font-size: .22rem;
                    color: #959595;
                }
            }
        }

        .you-may-also-like{
            margin-top: .3rem;
        }
    }
</style>
