<template>
    <div class="mall-submit-order flex flex-wrap" v-if="data.addr">
        <div class="self-start">
            <div class="address flex bg-white right-arrow" v-if="select_address" @click="address_select_panel.show=true">
                <div class="address-ico flex justify-center items-center">
                    <div class="iconfont icon-address"></div>
                </div>
                <div class="address-select flex flex-column justify-around flex-auto">
                    <div>{{ select_address.realname }} &nbsp;&nbsp;<b>{{ select_address.phone }}</b></div>
                    <div><span v-for="i in select_address.address" v-if="i">{{ i.name }}</span>{{ select_address.detail }}</div>
                </div>
                <div class="address-ico"></div>
            </div>
            <div class="detail">
                <div class="products-list">
                    <div class="products-list-item bg-white flex justify-between" v-for="(i, index) in data.order.order_products">
                        <div class="product flex flex-auto">
                            <div class="product-cover" v-lazy:background-image="i.sell_product.image">
                            </div>
                            <div class="product-attr flex flex-column justify-between" v-if="!is_edit">
                                <div class="title">{{i.sell_product.product.name}}</div>
                                <div class="sku">
                                    <span v-if="i.is_gift" class="sku-span">{{i.activity.order_description}}</span>
                                    <span v-else v-for="sku in i.inventory.sku">{{sku.sku_value.attribute.name+':'+sku.sku_value.value}}</span>
                                </div>
                                <div v-if="i.is_gift" class="price del">¥{{i.sell_product.market_price}}</div>
                                <div v-else class="price">￥{{i.inventory.mark_price}}</div>
                            </div>
                        </div>
                        <div class="btn flex justify-center items-center">
                            <div>x{{i.number}}</div>
                        </div>
                    </div>
                </div>
                <div class="shopping-notice flex items-center justify-between" v-if="activity">
                    <div><i class="iconfont icon-liwu gift"></i>{{ activity.content }}</div>
                    <a :href="activity.url" class="notice-detail">
                        <span>查看详情</span>
                        <i class="iconfont icon-youjiantou1"></i>
                    </a>
                </div>
                <div class="detail-cell">
                    <div class="flex items-center justify-between" v-if="!select_coupons.text">
                        <div>优惠券</div>
                        <div class="notice">{{ select_coupons.text|| '暂无可用优惠劵' }}</div>
                    </div>
                    <div class="flex items-center justify-between right-arrow" @click="onClickShopCoupons" v-else>
                        <div>优惠券</div>
                        <div class="notice">{{ select_coupons.text|| '暂无可用优惠劵' }}</div>
                    </div>
                    <!-- <div class="flex flex-wrap items-center justify-between">
                        <div>发票</div>
                        <mt-switch v-model="is_show_invoice" />
                        <input class="invoice" placeholder="发票抬头等信息" v-model="form.invoice" v-if="is_show_invoice">
                    </div> -->
                    <div class="flex items-center justify-between">
                        <div>使用积分 <span class="info">{{data.calc_pay_fee.can_use_point}} 可抵￥{{data.calc_pay_fee.can_use_point_discount}}</span></div>
                        <mt-switch v-model="form.point" v-if="data.calc_pay_fee.can_use_point_discount>0"></mt-switch>
                    </div>
                    <div class="flex items-center justify-between">
                        <div>账户余额 <span class="info">￥{{data.calc_pay_fee.can_use_balance}}</span></div>
                        <mt-switch v-model="form.balance" v-if="data.calc_pay_fee.can_use_balance>0"></mt-switch>
                    </div>
                    <div class="flex items-center justify-between">
                        <div>运费</div>
                        <div class="info">￥{{ data.calc_pay_fee.shipfee }}</div>
                    </div>
                    <div class="flex items-center justify-between" v-if="select_coupons.amount>0">
                        <div>优惠</div>
                        <div class="info">-￥{{ select_coupons.amount }}</div>
                    </div>
                    <div class="flex items-center justify-between" v-if="data.calc_pay_fee.vip_discount>0">
                        <div>VIP</div>
                        <div class="info">-￥{{ data.calc_pay_fee.vip_discount }}</div>
                    </div>
                   <!--  <div class="flex items-center justify-between" @click="onClickActionSheet('pay_by')">
                        <div>支付方式</div>
                        <div>{{ pay_by }}</div>
                    </div> -->
                </div>
            </div>
            <div v-if="activity" class="activity-notice">{{ activity.notice }}</div>
        </div>
        <div class="fixed-bottom bottom-bar self-end flex items-center justify-between">
            <div class="flex-auto total-text">合计: <span class="amount">￥{{data.calc_pay_fee.payfee}}</span></div>
            <div class="flex-auto btn-default" @click="onClickSubmitOrder">提交订单</div>
        </div>
        <mt-actionsheet :actions="action_sheet.actions" v-model="action_sheet.is_visible" />
        <submit-order-available-coupons v-if="show_available_coupons" v-model="display_coupon.val" :coupons="data.coupons" @close="show_available_coupons=false" />
        <submit-order-address-select v-if="address_select_panel.show" v-model="address_select_panel.val" @close="address_select_panel.show=false"/>
    </div>
</template>

<script>
    import SubmitOrderAvailableCoupons from '/modules/SubmitOrderAvailableCoupons.vue'
    import SubmitOrderAddressSelect from '/modules/SubmitOrderAddressSelect.vue'
    import { Switch,Actionsheet } from 'mint-ui';

    export default{
        components:{
            SubmitOrderAvailableCoupons,
            SubmitOrderAddressSelect,
            MtSwitch: Switch,
            MtActionsheet: Actionsheet,
        },
        data(){
            return{
                activity: {},
                show_available_coupons: false,
                action_sheet: {
                    actions: [],
                    is_visible: false,
                },
                address_select_panel: {
                    show: false,
                    val: null
                },
                display_coupon:{
                    text: null,
                    amount: 0,
                    val:null,
                },
                is_show_invoice: false,
                form: {
                    invoice: null,
                    payType: this.$store.state.is_wechat ? 'wemp' : 'alipayweb',
                    point: false,
                    balance: false,
                    couponCode: null,
                },
                data: {
                    calc_pay_fee: {},
                    first_buy: {},
                    order: {
                        order_products: [],
                    }
                },
                is_execution_getPayfee: false,
                from_route: {},
            }
        },
        watch:{
            'is_show_invoice'(){
                if(!this.is_show_invoice){
                    this.form.invoice=null;
                }
            },
            'form.point'(){
                this.getPayfee();
            },
            'form.balance'(){
                this.getPayfee();
            },
            'form.couponCode'(){
                this.getPayfee();
            },
            'select_address.id'(){
                this.getPayfee();
            },
        },
        computed:{
            select_address(){
                if(this.address_select_panel.val){
                    return this.address_select_panel.val
                }
                return this.data.addr;
            },
            pay_by(){
                switch (this.form.payType){
                    case 'wemp':
                        return '微信';
                        break;
                    case 'alipayweb':
                        return '支付宝';
                        break;
                }
            },
            select_coupons(){
                if(this.display_coupon.val){
                    this.display_coupon.text = this.display_coupon.val.coupon.title;
                    this.display_coupon.amount = this.display_coupon.val.coupon.value;
                    this.form.couponCode = this.display_coupon.val.code;
                }
                return this.display_coupon;
            },
            /*
            total_amount(){
                let products = this.data.order.order_products.filter(function (product) {
                    return !product.is_gift;
                });
                let point_to_amount = parseFloat(this.data.point / 100);
                let balance = parseFloat(this.data.balance);
                let form = this.form;
                let shipping_fee = parseFloat(this.data.order.shipping_fee);
                let coupon_amount = parseFloat(this.display_coupon.amount);
                let vip_discount = parseFloat(this.data.vip_discount);
                return {
                    products(){
                        let ret = 0;
                        for (let i of products) {
                            ret += Number((i.number * parseFloat(i.inventory.mark_price)).toFixed(2));
                        }
                        return ret;
                    },
                    order(){
                        let ret = this.products();
                        if (form.point) ret -= point_to_amount;
                        if (form.balance) ret -= balance;
                        ret += shipping_fee;
                        ret -= coupon_amount;
                        ret -= vip_discount;
                        if (ret < 0) ret = 0;
                        return ret.toFixed(2);
                    }
                }
            }*/
        },
        methods:{
            showHintWindow(){
                Mint.MessageBox.confirm('您还未设置收货地址，<br>是否新建', '', {closeOnClickModal: false})
                    .then(action => {
                        this.$router.push({
                            name: 'Settings.AddressEdit'
                        })
                    }, action => {
                        this.$router.go(-1);
                    });
            },
            onClickActionSheet(type){
                switch (type){
                    case 'pay_by':
                        this.action_sheet.actions = [
                            {
                                name: '微信',
                                method:()=>{this.form.payType = 'wemp'}
                            },
                            {
                                name: '支付宝',
                                method:()=>{this.form.payType = 'alipayweb'}
                            },
                        ];
                        if(!this.$store.state.is_wechat){
                            this.action_sheet.actions.splice(0, 1);
                        }else{
                            this.action_sheet.actions.splice(1, 1);
                        }
                        // this.action_sheet.is_visible = true;
                        break;
                }
            },
            onClickSubmitOrder(){
                let form = this.form;

                form.point = form.point ? parseFloat(this.data.calc_pay_fee.can_use_point) : 0;
                form.balance = form.balance ? parseFloat(this.data.calc_pay_fee.can_use_balance) : 0;
                form.orderSn = this.data.order.order_sn;
                form.couponCode = this.display_coupon.val?this.display_coupon.val.code:null;
                form.addrId = this.select_address.id || '';

                Mint.Indicator.open();
                RequestAPI.http.post('pay',form)
                    .then((r) => {
                        if(r.isFee == 1){
                            this.$router.push({
                                name: 'My.Orders.Show',
                                params: {
                                    id: this.data.order.order_sn
                                }
                            });
                            return;
                        }
                        switch (form.payType){
                            case 'wemp':
                                wx.chooseWXPay({
                                    timestamp: r.payData.timestamp,
                                    nonceStr: r.payData.nonceStr,
                                    package: r.payData.package,
                                    signType: r.payData.signType,
                                    paySign: r.payData.paySign,
                                    success:(res)=>{
                                        this.$router.replace({
                                            name: 'My.Orders.Show',
                                            params: {
                                                id: this.data.order.order_sn
                                            }
                                        });
                                    },
                                    fail:(res)=>{
                                        console.log(res);
                                    },
                                    cancel:(res)=>{
                                        this.$router.replace({
                                            name: 'My.Orders.Show',
                                            params: {
                                                id: this.data.order.order_sn
                                            }
                                        });
                                    }
                                });
                                break;
                            case 'alipayweb':
                                window.location.href = r.payData;
                                break;
                        }
                    })
                    .catch(()=>{
                        this.$router.replace({
                            name: 'My.Orders.Show',
                            params: {
                                id: this.data.order.order_sn
                            }
                        });
                    })
                    .finally(() => Mint.Indicator.close())
            },
            getPayfee(){
                if(this.is_execution_getPayfee) return;
                let form = this.form;

                form.addrId = this.select_address.id || '';
                if (!form.addrId) return;
                form.point = form.point ? parseFloat(this.data.calc_pay_fee.can_use_point) : 0;
                form.balance = form.balance ? parseFloat(this.data.calc_pay_fee.can_use_balance) : 0;
                form.orderSn = this.data.order.order_sn;
                form.couponCode = this.display_coupon.val ? this.display_coupon.val.code : null;

                this.is_execution_getPayfee = true;
                RequestAPI.http.get('payfee/' + this.data.order.order_sn, {params: form}).then((r) => {
                    this.data.calc_pay_fee = r.calc_pay_fee;
                    this.is_execution_getPayfee = false;
                });
            },
            onClickShopCoupons(){
                if (!this.data.coupons || !this.data.coupons.length) return;
                this.show_available_coupons = true;
            }
        },
        created(){
            this.$nextTick(() => {
                if (!this.data.addr) {
                    this.showHintWindow();
                }
                if (this.from_route.name === 'Settings.Address') {
                    //如果从地址编辑页过来，显示地址选择
                    this.address_select_panel.show = true;
                } /*else if (this.from_route.name && this.$store.state.is_wechat && this.$store.state.is_safari) {
                    location.reload();
                }*/
            })
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            axios
                .all([
                    RequestAPI.http.get('pay/create', {
                        params: {
                            orderSn: to.params.id
                        }
                    }),
                    RequestAPI.http.get('activity/order')
                ])
                .then(axios.spread((order, activity) => {
                    next(vm => {
                        vm.data = order;
                        if(order.coupons&&order.coupons.length>0){
                            vm.display_coupon.text='有'+order.coupons.length+'张优惠券可用'
                        }
                        vm.from_route=from;
                        let give_product = order.order.give_product;
                        if (give_product) {
                            give_product.is_gift = true;
                            give_product.number = 1;
                            order.order.order_products.push(give_product);
                        }
                        vm.activity = activity.activity[0];
                    })
                }))
                .catch(()=>{
                    Vue.$router.replace({
                        name: 'My.Orders',
                        params: {
                            status: 'all'
                        }
                    });
                })
                .finally(() => Mint.Indicator.close())
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";
    .mall-submit-order{
        min-height: 100vh;
        padding-bottom: 1.5rem;
        @include boxSizing(border-box)

        > div{
            width: 100%;
        }

        .address{
            font-size: .28rem;
            color: #333;
            height: 1.5rem;
            margin-bottom: .2rem;

            &-select{
                padding: .2rem 0;
            }

            &-ico{
                min-width: .8rem;
            }
        }

        .detail{
            font-size: .28rem;
            background: #fff;

            .orders-list:last-child{
                border-bottom:none;
            }

            &-cell{
                padding-left: 0.2rem;
                > div {
                    min-height: .9rem;
                    padding-right: .2rem;
                    border-bottom: 1px solid #f0f0f0;

                    &:last-child{
                        border-bottom:none;
                    }

                    .notice{
                        color: #959595;
                    }
                    &.right-arrow{
                        padding-right: .4rem;
                    }
                }

                .info{
                    font-size: .26rem;
                }

                .mint-switch{
                    margin: .2rem 0;
                }

                input.invoice{
                    width: 100%;
                    padding: .2rem .2rem;
                    border-radius: .05rem;
                    border: 1px solid #d2d2d2;
                    margin-bottom: .2rem;
                }
            }
        }

        .products-list {
            &-item {
                padding: .2rem 0 0.2rem .2rem;
                margin-bottom: 1px;
                border-bottom: 5px solid #fff;
                background: #f8f8f8;

                &:last-child{
                    border-bottom:none;
                }

                > .btn {
                    min-width: .8rem;
                    width: .8rem;

                    .iconfont {
                        font-size: .3rem;
                    }

                    &:last-child {
                        color: #959595;
                    }
                }
            }
        }

        .product {

            &-cover {
                min-width: 1.6rem;
                width: 1.6rem;
                height: 1.6rem;
                -webkit-background-size: cover;
                     -o-background-size: cover;
                    -ms-background-size: cover;
                   -moz-background-size: cover;
                        background-size: cover;
                background-position: center center;
            }

            &-attr {
                padding-left: .2rem;
                flex-grow: 1;

                .sku {
                    color: #959595;

                    span{
                        margin-right: .1rem;

                        &.sku-span{
                            padding: .1rem .25rem;
                            border-radius: 120px;
                            background: #000;
                            color: #fff;
                            font-size: .2rem;
                        }
                    }
                }

                .title, .price {
                    font-size: .26rem;
                    font-weight: 500;
                    &.del{
                        text-decoration: line-through;
                    }
                }
            }
        }

        .bottom-bar{
            border-top: 1px solid #ccc;
            background: #fff;
            height: 1rem;
            line-height: 1rem;
            font-size: .3rem;

            > div{
                height: 100%;
            }

            .total-text{
                text-align: right;
                padding-right: .2rem;
            }

            .amount{
                color: #d79523;
            }
        }
    }
    .shopping-notice{
        padding: 0 .2rem;
        background: rgb(255, 237, 199);
        font-size: .24rem;

        .notice-detail{
            padding: .3rem 0;
            color: #d79523;
            font-size: .22rem;
        }
        .gift{
            font-size: .3rem;
            vertical-align: middle;
            margin-right: 0.1rem;
        }
    }
    .activity-notice{
        padding: .23rem .3rem;
        line-height: 1.583;
        font-size: .24rem;
        color: rgb(149, 149, 149);
    }
</style>
