<template>
    <div class="wechat-share">
        <div class="body"><div class="content" style="padding: 10px"><h2>A+ | 开启极简时尚个人零售新时代（0投入、0风险、海量产品、高额佣金，万件美衣免费送！）</h2><p><br></p><p><img src="https://img0.amii.com/uploads/images/subjectCont/25e5e78743d85c7638b55030c19f906d337a1c4a.gif" style="width:100%"></p><p><br></p><p style="text-align: center; "><font color="#e79439"><b>AMII极简APP开启个人零售新时代！</b></font>&nbsp;</p><p><br></p><p style="text-align: center; ">您就是这个时代的意见领袖！</p><p style="text-align: center; ">您同时影响着您身边的每个人！</p><p style="text-align: center; ">您是共享经济时代的伟大开创者！</p><p><br></p><p style="text-align: center; ">&nbsp;<font color="#ffffff" style="background-color: rgb(231, 148, 57);"><b> 我们共同开拓&nbsp;</b></font></p><p style="text-align: center; "><font color="#ffffff" style="background-color: rgb(231, 148, 57);"><b>个人零售新时代的愿景&nbsp;</b></font></p><p><br></p><p style="text-align: center; ">让全球崇尚极简生活方式的所有人，</p><p style="text-align: center; ">轻松成就个人零售事业的梦想。</p><p><br></p><p style="text-align: center; "><font color="#ffffff" style="background-color: rgb(231, 148, 57);"><b>&nbsp;个人零售开启模式&nbsp;</b></font></p><p style="text-align: center; "><font color="#e79439"><b>品牌负责：</b></font></p><p>海量产品的设计、生产、拍摄、上新、仓储物流、退换货配送、售前售后服务、财务等全部由品牌帮您搞定！</p><p><br></p><p style="text-align: center; ">&nbsp;<font color="#e79439"><b>个人零售事业的开拓者：</b>&nbsp;</font></p><p>您将拥有</p><p><b>1.</b>个人事业<b><font color="#e79439">专属的二维码</font></b>；</p><p><b>2.</b>终身独享您所发展的一级二级部落会员各10%的佣金，<b><font color="#e79439">品牌返佣高达20%</font></b>；</p><p><b>3.</b>部落成员只要在规定的渠道<font color="#e79439"><b>成功下单购买，您都将获得返佣</b></font>！目前AMII微商城、小程序和APP已打通返佣机制，线上线下全渠道即将打通，敬请期待！</p><p><br></p><p>温馨提示：</p><p>人脉资源是一种共有资源，您需要<font color="#e79439"><b>尽快着力发展您的一级会员</b></font>，才能让您的个人事业规模最大化。品牌也会免费提供会员传播策划方案、丰富的内容资源、有趣的有奖游戏，助力您的个人事业发展壮大。</p><p><br></p><p style="text-align: center; "><font color="#ffffff" style="background-color: rgb(231, 148, 57);"><b>&nbsp;个人极简时尚0门槛创业&nbsp;</b></font></p><p><img src="https://img0.amii.com/uploads/images/subjectCont/949bbbba82d33b63601e46bc1fb4742687c13933.png" style="width:100%"><br></p><p><br></p><p style="text-align: center; "><b><font color="#ffffff" style="background-color: rgb(231, 148, 57);">&nbsp;</font><font color="#ffffff" style="background-color: rgb(231, 148, 57);">会员部落说明&nbsp;</font></b></p><p><img src="https://img0.amii.com/uploads/images/subjectCont/d9712da150a75e082efb46ef7c701ff38d4f5ec0.jpg" style="width:100%"><br></p><p><br></p><p style="text-align: center; "><b><font color="#ffffff" style="background-color: rgb(231, 148, 57);">&nbsp;</font><font color="#ffffff" style="background-color: rgb(231, 148, 57);">佣金分享机制&nbsp;</font></b></p><p><img src="https://img0.amii.com/uploads/images/subjectCont/8719ab850829e190a38758450547a19c1e0974d0.jpg" style="width:100%"><br></p><p><br></p><p style="text-align: center; "><b><font color="#ffffff" style="background-color: rgb(231, 148, 57);">&nbsp;</font><font color="#ffffff" style="background-color: rgb(231, 148, 57);">会员特权&nbsp;</font></b></p><p>现在成为A+会员，将获得我们准备的丰厚的优惠和礼品哟。</p><p><br></p><p style="text-align: center; "><b><font color="#e79439">/ 首单7折 /</font></b></p><p><font color="#e79439"><b>在A+下单，首单7折钜惠</b></font>，售价全渠道（线上、线下、APP、微商城）同步。</p><p><br></p><p style="text-align: center; "><font color="#e79439"><b>/ 拼图送衣 /</b></font></p><p>玩拼图游戏，<b><font color="#e79439">万件美衣免费送</font></b>！</p><p><img src="https://img0.amii.com/uploads/images/subjectCont/07c38d268a274392a8db73a7d174f656dceb3048.jpg" style="width:100%"><br></p><p><br></p><p style="text-align: center; "><font color="#ffffff" style="background-color: rgb(231, 148, 57);"><b>积分规则</b></font></p><p>注册、分享、消费、点赞、签到都可获得相应的积分。</p><p><br></p><p style="text-align: center; "><font color="#e79439"><b>/ 积分奖励/</b></font></p><p>积分可免费兑换商品。积分<font color="#e79439"><b>月度前三，及年度前十可获得对应的丰富奖励。</b></font><font color="#cec6ce">（同一用户6个月内最多获得2次月度奖励，我们希望给其他用户更多获奖机会。当然您还可竞选年度大奖喔。）</font></p><p>&nbsp;<img src="https://img0.amii.com/uploads/images/subjectCont/57f630fb41f417c7039ae561ee7fb03c5c284501.jpg" style="width:100%"></p><p><br></p><p style="text-align: center; "><font color="#ffffff" style="background-color: rgb(231, 148, 57);"><b>旗下品牌</b></font>&nbsp;&nbsp;</p><p>集团旗下共有<font color="#e79439"><b>五个主推品牌：极简女装“AMII”</b></font>、极简童装“AMII Kids”、东方极简女装“AMII Redefine”、浪漫极简女装“摩尼菲格”以及极简男装“AMIIREX”，产品线涵盖时尚女装、男装、童装、首饰、鞋类、箱包。</p><p><img src="https://img0.amii.com/uploads/images/subjectCont/6068536ecef7d2d626b7e9cea45ad05ddb985af4.jpg" style="width:100%"><br></p><p>&nbsp;</p><p>2017年6月，<font color="#e79439"><b>A+火爆上线</b></font>，开启全民共赢的<font color="#e79439"><b>个人零售新时代</b></font>。</p><p><br></p></div></div>
        <div class="qrcode-img center">
            <img :src="'data:image/png;base64,' + datas.qrcode" v-if="datas.qrcode">
        </div>
    </div>
</template>

<script>
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'

    export default{
        components:{
            shareAction,
            share,
        },
        data(){
            return{
                award: {},
                datas: {},
                uuid: this.$route.query.uuid,
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('qrcode/1?uuid='+ to.query.uuid)
                .then(function (response) {
                    next(vm => {
                        vm.datas = response;
                        vm.shareUrl = response.shareUrl;
                        vm.styles = response.user.image_provider
                        share.init('code').then((r) => {
                            shareAction.init(r.title, r.content, '', '', vm.shareUrl, r.image);
                        });
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .wechat-share{
        min-height: 100vh;
        background: #fff;

        img{
            max-height: none;
        }
        .qrcode-img{
            img{
                margin-top: -4em;
                width: 4rem;
            }
        }
    }

</style>
