<template>
    <div class="settings-about" v-html="html">
    </div>
</template>

<script>
    export default{
        components: {

        },
        data(){
            return {
                html :'',
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();

            RequestAPI.http.get('helper/h5-urls')
                .then((response) =>{
                    axios.get(response.about_page).then((response) => {
                        next(vm => {
                            vm.html = response.data;
                        });
                    })

                })
                .finally(() => Mint.Indicator.close());
        },
    }
</script>

<style lang="scss">
    .settings-about{
        background: #fff;
    }
</style>