<template>
    <div class="settings-home">
        <div class="settings-block">
            <div class="settings-items flex items-center">
                <div class="settings-title col-3">收件人</div>
                <div class="settings-arrow col-9">
                    <input type="text" placeholder="请输入收货人姓名" v-model="form.realname">
                </div>
            </div>
            <div class="settings-items flex items-center">
                <div class="settings-title col-3">联系电话</div>
                <div class="settings-arrow col-9">
                    <input type="text" placeholder="请输入收货人联系电话" v-model="form.phone">
                </div>
            </div>
            <div class="settings-items flex items-center">
                <div class="settings-title col-3">省市区</div>
                <div class="settings-arrow col-9">
                    <input type="text" placeholder="请选择收货地区" readonly v-model="addressArea" @click="openAddress" class="addressArea">
                </div>
            </div>
            <div class="settings-items flex items-center">
                <div class="settings-title col-3">详细地址</div>
                <div class="settings-arrow col-9">
                    <input type="text" placeholder="请输入详细地址" v-model="form.detail">
                </div>
            </div>
            <div class="settings-items flex items-center">
                <div class="settings-title col-3">邮政编码</div>
                <div class="settings-arrow col-9">
                    <input type="text" placeholder="请输入编码" v-model="form.post_code">
                </div>
            </div>
        </div>
        <div class="settings-checkbox" @click="setDefault">
            <i class="iconfont" :class="[ form.status == 1 ? 'icon-2xuanzhong' : 'icon-duoxuanxuanxiangline']"></i>
            <span>设为默认地址</span>
        </div>
        <div class="settings-button" @click="commit">保存</div>
        <div class="v-modal" v-if="address_show" @click="close"></div>
        <div class="address-box address-popup-bottom" :class="[ address_show == true ? 'addressShow' : '']">
            <div class="address-handle right-align">
                <div class="address-handle-close" @click="close"><i class="iconfont icon-close"></i></div>
            </div>
            <div class="address-content">
                <picker :slots="slots" @change="onValuesChange"></picker>
            </div>
        </div>
    </div>
</template>

<script>
    import { Picker } from 'mint-ui';
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components: {
            Picker
        },
        data(){
            return{
                addressArea: '',
                address_show: false,
                addressList: [],
                form: {
                    region_id: '',
                    realname: '',
                    detail: '',
                    phone: '',
                    status: '0',
                    post_code: '',
                },
                slots: [
                {
                    flex: 1,
                    values: [],
                    textAlign: 'center'
                }, {
                    flex: 1,
                    values: [],
                    textAlign: 'center'
                }, {
                    flex: 1,
                    values: [],
                    textAlign: 'center'
                },
              ]
            }
        },
        mounted(){
            let $this = this;
            let addressId = this.$route.params.addressId;
            if (addressId) {
                Mint.Indicator.open();
                RequestAPI.http.get('address/' + addressId)
                    .then(function (response) {
                        let province = response.address.province.name;
                        let city = response.address.city.name;
                        let area = '';
                        if (response.address.area) {
                            area = response.address.area.name
                        }
                        $this.form = response;
                        $this.addressArea = province +' '+ city +' '+ area;
                    })
            }
            Mint.Indicator.open();
            RequestAPI.http.get('address/info/list')
            .then((response) => {
                this.addressList = response;
            })
            .finally(() => {
                Mint.Indicator.close();
            })

        },
        methods: {
            setDefault(){
                this.form.status = this.form.status == '1' ? '0' : '1';
            },
            commit(){
                let addressId = this.$route.params.addressId;
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                if (this.form.realname.trim() == '') {
                    Mint.Toast('请填写收件人');
                    return false;
                }
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                if (this.addressArea == '') {
                    Mint.Toast('请填写收货地区');
                    return false;
                }
                if (this.form.detail.trim() == '') {
                    Mint.Toast('请填写详细地址');
                    return false;
                }
                if (this.form.post_code && this.form.post_code.length < 6) {
                    Mint.Toast('请填写正确的邮编');
                    return false;
                }
                Mint.Indicator.open();
                if (addressId) {
                    RequestAPI.http.put('address/' + addressId, this.form)
                        .then((response) => {
                            this.$router.go(-1)
                        })
                        .finally(() => Mint.Indicator.close())
                } else {
                    RequestAPI.http.post('address', this.form)
                        .then((response) => {
                            this.$router.go(-1)
                        })
                        .finally(() => Mint.Indicator.close())
                }
            },
            openAddress(){
                for(let i of this.addressList){
                    this.slots[0].values.push(i.name);
                }
                this.address_show = true;
            },
            close(){
                this.address_show = false;
            },
            onValuesChange(picker,values) {
                let citys = [], areas = [];
                for(let i of this.addressList){
                    if(i.name == values[0]){
                        if(!i.city.length){
                            picker.setSlotValues(1, []);
                            picker.setSlotValues(2, []);
                            this.form.region_id = i.province_id;
                            continue;
                        }
                        for(let ii of i.city){
                            citys.push(ii.name);
                            if(ii.name == values[1]){
                                if(!ii.area.length){
                                    picker.setSlotValues(2, []);
                                    this.form.region_id = ii.city_id;
                                    continue;
                                }
                                for(let iii of ii.area){
                                    areas.push(iii.name);
                                    if(iii.name == values[2]) {
                                        this.form.region_id = iii.area_id;
                                    }
                                }
                                picker.setSlotValues(2, areas);
                            }
                        }
                        picker.setSlotValues(1, citys);
                    }
                }
                if (this.address_show) {
                    this.addressArea = values.join(' ');
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .settings-checkbox{
        padding: 0.2rem 0.24rem;

        i{
            font-size: 0.4rem;
            vertical-align: middle;
            color: $black-color;
            margin-right: 0.14rem;

            &.icon-duoxuanxuanxiangline{
                color: rgb(194, 194, 194);
            }
        }
        span{
            font-size: 0.22rem;
            color: $gray1-color;
            vertical-align: middle;
        }
    }
    .addressArea{
        width: 100%;
    }
    .address-box{
        // display: none;
        position: fixed;
        background: #fff;
        width: 100%;
        top: 50%;
        left: 0;
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        &.address-popup-bottom{
            top: auto;
            right: auto;
            bottom: 0;
            left: 0;
            -webkit-transform: translate3d(0%, 100%, 0);
            transform: translate3d(0%, 100%, 0);
        }
        .address-handle{
            border-bottom: solid 1px #eaeaea;
            color: #26a2ff;
            line-height: 40px;
            font-size: 16px;
            .address-handle-close{
                display: inline-block;
                padding: 0 0.22rem;
            }
        }
        .address-content{
            font-size: 24px;
        }
        &.addressShow{
            // display: block;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
</style>
