<template>
    <div>
        <div class="settings-address" v-if="address">
            <div class="settings-block"  v-for="address in address">
                <div class="settings-items">
                    <div class="address-head flex items-baseline">
                        <div class="col-8">
                            <div class="address-name">{{ address.realname }}</div>
                            <div class="address-phone">{{ address.phone }}</div>
                        </div>
                        <!-- <div class="col-4 right-align"><span class="address-default" v-if="address.status == 1">默认</span></div> -->
                    </div>
                    <div class="address-info">{{ getAddress(address) }}</div>
                </div>
                <div class="address-handle flex items-center">
                    <div class="col-6">
                        <div class="address-setDefault" @click="setDefault(address.id)">
                            <span class="iconfont" :class="[ address.status == 1 ? 'icon-2xuanzhong' : 'icon-duoxuanxuanxiangline']"></span>
                            默认地址
                        </div>
                    </div>
                    <div class="col-6 right-align address-tools">
                        <router-link :to="{name: 'Settings.AddressEdit', params: { addressId: address.id }}" tag="div">
                            <i class="iconfont icon-bianji"></i><span>编辑</span>
                        </router-link>
                        <div @click="deleteData(address.id)"><i class="iconfont icon-shanchu"></i><span>删除</span></div>
                    </div>
                </div>
            </div>
            <router-link :to="{name: 'Settings.AddressEdit'}" append class="settings-button" tag="div">新增地址</router-link>
        </div>
        <empty-view v-else :type="type" :content="content" :btnText="btnText"/>
    </div>
</template>

<script>
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components: {
            EmptyView,
        },
        data(){
            return {
                address: {},
                type:7,
                content:'暂无地址',
                btnText:'新增地址',
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('address')
                .then(function (response) {
                    next(vm => {
                        vm.address = response;
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods:{
            setDefault(id){
                let $this = this,
                    addressId = {id: id};

                Mint.Indicator.open();
                RequestAPI.http.post('address/status', addressId)
                    .then(function (response) {
                        $this.reloadData($this);
                    })
                    .finally(() => Mint.Indicator.close())
            },
            deleteData(id){
                let $this = this;
                Mint.Indicator.open();
                RequestAPI.http.delete('address/'+ id)
                    .then(function (response) {
                        $this.reloadData($this);
                    })
                    .finally(() => Mint.Indicator.close())
            },
            reloadData($this){
                Mint.Indicator.open();
                RequestAPI.http.get('address')
                    .then(function (response) {
                        $this.address = response;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            getAddress(address){
                let province = address.address.province.name,
                    city = address.address.city.name,
                    area = '';
                if(address.address.area) {
                    area = address.address.area.name;
                }
                return province +' '+ city +' '+ area +' '+ address.detail;
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .settings-address{
        .settings-block{
            .settings-items{
                width: auto;
                padding: 0.22rem 0.4rem;
            }
            &:first-child{
                .address-default{
                    display: inline-block;
                }
            }
        }
        .address-head{
            margin-bottom: 0.28rem;
            color: $black1-color;
            .address-name{
                display: inline-block;
                font-size: 0.3rem;
            }
            .address-phone{
                display: inline-block;
                padding-left: 0.4rem;
                font-size: 0.26rem;
            }
            .address-default{
                display: none;
                padding: 0.05rem 0.1rem;
                border-radius: 0.04rem;
                background: $black-color;
                font-size: 0.14rem;
                color: #fff;
            }
        }
        .address-handle{
            padding: 0 0.25rem;
            font-size: 0.24rem;
            color: $black1-color;
            .address-setDefault{
                padding: 0.25rem 0.14rem 0.21rem;

                span{
                    font-size: 0.4rem;
                    vertical-align: middle;
                    color: $black-color;
                    margin-right: 0.14rem;

                    &.icon-duoxuanxuanxiangline{
                        color: rgb(194, 194, 194);
                    }
                }
            }
            .address-tools{
                div{
                    display: inline-block;
                    padding: 0.28rem 0.2rem 0.22rem;
                    i{
                        font-size: 0.3rem;
                        vertical-align: middle;
                        color: $black-color;
                        margin-right: 0.15rem;
                    }
                    span{
                        vertical-align: middle;
                    }
                }
            }
        }
        .address-info{
            color: #707070;
        }
    }
</style>
