<template>
    <div class="settings-home">
        <div class="settings-block">
            <div class="bind-info center">
                <img :src="user.avatar | placeholder('avatar')">
                <div class="bind-nickname">{{ user.nickname }}</div>
                <div class="bind-phone">{{ user.phone }}</div>
            </div>
        </div>
        <div class="settings-block">
            <div class="settings-items"><div class="settings-title bind-title">绑定账号</div></div>
            <div class="settings-items flex items-center">
                <div class="settings-title col-9"><i class="iconfont icon-phone"></i><span>手机</span></div>
                <router-link to="bind-phone" class="settings-arrow col-3 right-align" tag="div" v-if="!user.phone">
                    <span class="notbind-button">未绑定</span>
                </router-link>
                <div class="settings-arrow col-3 right-align" v-else>
                    <span class="bind-button">已绑定</span>
                </div>
            </div>
      <!--      <div class="settings-items flex items-center">
                <div class="settings-title col-9"><i class="iconfont icon-iconfontqq"></i><span>QQ</span></div>
                <router-link to="/" class="settings-arrow col-3 right-align" tag="div" v-if="user.is_qq == 0">
                    <span class="notbind-button">未绑定</span>
                </router-link>
                <div class="settings-arrow col-3 right-align" v-else>
                    <span class="bind-button">已绑定</span>
                </div>
            </div>
            <div class="settings-items flex items-center">
                <div class="settings-title col-9"><i class="iconfont icon-weibo-copy"></i><span>新浪微博</span></div>
                <router-link to="/" class="settings-arrow col-3 right-align" tag="div" v-if="user.is_weibo == 0">
                    <span class="notbind-button">未绑定</span>
                </router-link>
                <div class="settings-arrow col-3 right-align" v-else>
                    <span class="bind-button">已绑定</span>
                </div>
            </div>-->
            <div class="settings-items flex items-center">
                <div class="settings-title col-9"><i class="iconfont icon-wechat"></i><span>微信</span></div>
                <div @click="onClickOpenPlatformWechat" class="settings-arrow col-3 right-align" v-if="user.is_weixin == 0">
                    <span class="notbind-button">未绑定</span>
                </div>
                <div class="settings-arrow col-3 right-align" v-else>
                    <span class="bind-button">已绑定</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        components: {

        },
        data(){
            return {
                user: {}
            }
        },
        computed:{
            open_platform(){
                return {
                    wechat: RequestAPI.base_url + 'oath2/wemp/sign',
//                    weibo: RequestAPI.base_url + 'oath2/wemp/sign',
//                    qq: RequestAPI.base_url + 'oath2/wemp/sign'
                }
            }
        },
        methods:{
            onClickOpenPlatformWechat(){
                if(!this.$store.state.is_wechat){
                    Mint.Toast('当前非微信环境，无法绑定');
                    return;
                }
                window.location.href = this.open_platform.wechat;
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('member')
                .then(function (response) {
                    next(vm => {
                        vm.user = response;
                    })
                })
                .finally(() => Mint.Indicator.close())

        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .bind-info{
        padding: 0.58rem 0 0.5rem;
        font-size: 0.24rem;
        color: $black-color;
        img{
            border-radius: 100%;
            width: 1.3rem;
            height: 1.3rem;
            margin-bottom: 0.28rem;
        }
        .bind-nickname{
            margin-bottom: 0.2rem;
        }
    }
    .bind-title{
        color: #b7b7b7;
        font-size: 0.24rem;
    }
    %bindButton{
        margin-right: 0.25rem;
        font-size: 0.22rem;
        padding: 0.1rem 0.18rem;
        border-radius: 0.04rem;
    }
    .bind-button{
        background: #fff;
        color: #b7b7b7;
        border: 1px solid rgb(225, 225, 225);
        @extend %bindButton;
    }
    .notbind-button{
        background: #cd983e;
        color: #fff;
        border: 1px solid #cd983e;
        @extend %bindButton;
    }
</style>
