<template>
    <div class="settings-nickname" v-if="data">
        <div class="settings-block">
            <textarea :placeholder="data.description" class="feedback-txt" v-model="form.feedback"></textarea>
        </div>
        <div class="settings-notice">{{data.support ? data.support : '商品、商家投诉，请拨打AMII客服：4006-839-776'}}</div>
        <div class="settings-button"  @click="submitFeedback">提交</div>
    </div>
</template>

<script>
    export default{
        components: {

        },
        data(){
            return {
                form: {
                    feedback: '',
                },
                data: null,
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('feedback/create')
                .then((response) => {
                    next(vm => {
                        vm.data = response.feedback_data;
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods: {
            submitFeedback () {
                let $this = this;
                if (!this.form.feedback) {
                    Mint.Toast('请输入反馈内容！')
                    return;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('feedback', {content: this.form.feedback})
                    .then((response, status) => {
                        if (response == null) {
                             Mint.Toast('反馈成功！');
                             $this.$router.go(-1);
                        }
                    })
                .finally(() => Mint.Indicator.close())
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .feedback-txt{
        padding: 0.32rem 0.38rem;
        font-size: 0.26rem;
        height: 5.19rem;
        width: 100%;
        resize: none;
        border: none;
        @include placeHolder(#b7b7b7);
        @include boxSizing(border-box)
    }
</style>
