<template>
    <div class="settings-home">
        <div class="settings-block">
            <div class="figure-items flex justify-between">
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-2">姓名</div>
                        <div class="figure-arrow col-10 right-align">
                            <input type="text" v-model="form.name">
                            <span class="figure-span"></span>
                        </div>
                    </div>
                </div>
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-2">性别</div>
                        <div class="figure-arrow col-10 right-align">
                            <select class="figure-select" v-model="form.gender">
                                <option value="0">女</option>
                                <option value="1">男</option>
                                <option value="2"></option>
                            </select>
                            <i class="iconfont icon-youjiantou1"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="figure-items flex justify-between">
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-2">身高</div>
                        <div class="figure-arrow col-10 right-align">
                            <input type="text" v-model="form.height">
                            <span class="figure-span">cm</span>
                        </div>
                    </div>
                </div>
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-2">体重</div>
                        <div class="figure-arrow col-10 right-align">
                            <input type="text" v-model="form.weight">
                            <span class="figure-span">kg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="figure-items flex justify-between">
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-2">肩宽</div>
                        <div class="figure-arrow col-10 right-align">
                            <input type="text" v-model="form.shoulder_width">
                            <span class="figure-span">cm</span>
                        </div>
                    </div>
                </div>
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-2">胸围</div>
                        <div class="figure-arrow col-10 right-align">
                            <input type="text" v-model="form.bust">
                            <span class="figure-span">cm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="figure-items flex justify-between">
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-2">腰围</div>
                        <div class="figure-arrow col-10 right-align">
                            <input type="text" v-model="form.waist">
                            <span class="figure-span">cm</span>
                        </div>
                    </div>
                </div>
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-2">臀围</div>
                        <div class="figure-arrow col-10 right-align">
                            <input type="text" v-model="form.hips">
                            <span class="figure-span">cm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="figure-items flex justify-between">
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-3">大腿围</div>
                        <div class="figure-arrow col-9 right-align">
                            <input type="text" v-model="form.thigh_width">
                            <span class="figure-span">cm</span>
                        </div>
                    </div>
                </div>
                <div class="figure-list col-6">
                    <div class="flex items-center justify-between">
                        <div class="figure-title col-3">小腿围</div>
                        <div class="figure-arrow col-9 right-align">
                            <input type="text" v-model="form.leg_width">
                            <span class="figure-span">cm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="!isEdit">
                <div class="figure-items flex items-center justify-between" v-for="(i, index) in size.question">
                    <div class="figure-title col-7">{{ i.question }}</div>
                    <div class="figure-select col-6 right-align">
                        <select v-model="answers[index]" @change="getQuestion(i.option, answers[index], index)">
                            <option v-for="j in i.option">{{ j.kinds }}</option>
                        </select>
                        <i class="iconfont icon-youjiantou1"></i>
                    </div>
                </div>
            </div>
            <div v-else>
                <div class="figure-items flex items-center justify-between" v-for="(val, index) in form.question">
                    <div class="figure-title col-7">{{ val.question.question }}</div>
                    <div class="figure-select col-6 right-align">
                        <select v-model="val.answer" @change="getQuestion(size.question[index].option, val.answer, index)">
                            <option v-for="j in size.question[index].option">{{ j.kinds }}</option>
                        </select>
                        <i class="iconfont icon-youjiantou1"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings-block flex">
            <div class="figure-upload center col-6">
                <div class="figure-upload-title">正面全身照</div>
                <img-upload :crop="true" :max="{width: 720}" extend="front" @added="imageuploaded" class="setting-img" :class="form.front_photo ? '' : 'empty-img'">
                    <img :src="form.front_photo" @click="openImg(form.front_photo, 'front')">
                </img-upload>
            </div>
            <div class="figure-upload center col-6">
                <div class="figure-upload-title">侧面全身照</div>
                <img-upload :crop="true" :max="{width: 720}" extend="side" @added="imageuploaded" class="setting-img" :class="form.side_photo ? '' : 'empty-img'">
                    <img :src="form.side_photo" @click="openImg(form.side_photo, 'side')">
                </img-upload>
            </div>
        </div>
        <div class="settings-checkbox" @click="setDefault">
            <i class="iconfont" :class="[ form.status == 1 ? 'icon-2xuanzhong' : 'icon-duoxuanxuanxiangline']"></i>
            <span>设为默认身材</span>
        </div>
        <div class="settings-button" @click="commit">保存</div>
    <!--     <div class="full-image" v-if="imgUrl">
            <div class="image-content center">
                <img :src="imgUrl" alt="" @click="imgUrl = ''">
                <img-upload :crop="true" :max="{width: 720}" :extend="whichImg" @added="imageuploaded">
                    <div class="upload-txt">重新上传</div>
                </img-upload>
            </div>
        </div> -->
    </div>
</template>

<script>
    import ImgUpload  from '/components/ImgUpload';

    export default{
        components: {
            ImgUpload
        },
        data(){
            return{
                // imgUrl: '',
                // whichImg: 'front',
                isEdit: false,
                answers: ['请选择', '请选择'],
                size: {},
                question: [],
                oldAnswer: [],
                creatAnswer: [],
                form: {
                    name: '',
                    height: '',
                    gender: 2,
                    weight: '',
                    bust: '',
                    waist: '',
                    hips: '',
                    thigh_width: '',
                    shoulder_width: '',
                    status: '0',
                    leg_width: '',
                    side_photo: '',
                    front_photo: '',
                    answer: []
                }
            }
        },
        mounted(){
            let suitId = this.$route.params.id,
                all = [RequestAPI.http.get('suit/user/size')];

            if (suitId) {
                this.isEdit = true;
                all.push(RequestAPI.http.get('suit/'+ suitId));
            }
            Mint.Indicator.open();
            axios
            .all(all)
            .then(axios.spread((size, suit) => {
                this.size = size;
                if (!suit) {
                    // 初始化答案
                    for (let i = 0; i < size.question.length; i++) {
                        this.answers[i] = this.size.question[0].option[0].kinds;
                        this.creatAnswer.push({
                            "question_id": this.size.question[i].option[0].question_id,
                            "answer": this.size.question[i].option[0].kinds,
                            "option_id": this.size.question[i].option[0].id
                        })
                    }
                    return false;
                }
                this.form = suit;
                this.oldAnswer = suit.question;
                for (let i of suit.question) {
                    this.creatAnswer.push({
                        "question_id": i.question_id,
                        "answer": i.answer,
                        "option_id": i.id
                    })
                }
            }))
            .finally(() => Mint.Indicator.close());
        },
        methods: {
            openImg(img, type){
                this.imgUrl = img;
                this.whichImg = type;
            },
            getQuestion(option, answer, index){
                if(!option) return false;
                let indexs = index;
                if (!this.isEdit) {
                   indexs = undefined;
                }
                for (let i of option) {
                    if (answer == i.kinds) {
                        this.question = {
                            "index": indexs,
                            "question_id": i.question_id,
                            "answer": answer,
                            "option_id": i.id
                        }
                        if (!this.isEdit) {
                            this.creatAnswer[index] = {
                                "question_id": i.question_id,
                                "answer": answer,
                                "option_id": i.id
                            }
                        } else {
                            this.creatAnswer.push({
                                "question_id": i.question_id,
                                "answer": answer,
                                "option_id": i.id
                            })
                        }
                    }
                }
            },
            setDefault(){
                this.form.status = this.form.status == '1' ? '0' : '1';
            },
            commit(){
                let suitId = this.$route.params.id;
                let question = [];
                if(!this.form.name){
                    Mint.Toast('请填写姓名');
                    return;
                }
                if (this.question.index != undefined) {
                    // 循环旧数据问题，重新拼接成新的数据
                    for (let i of this.oldAnswer) {
                        question.push({
                            "question_id": i.question_id,
                            "answer": i.answer,
                            "option_id": i.id
                        })
                    }
                    // 移除私有index属性
                    this.question.index = null;
                    question[this.question.index] = this.question;
                    this.form.answer = question;
                    this.commitMethod(suitId);
                } else {
                    this.form.answer = this.creatAnswer;
                    this.commitMethod(suitId);
                }
            },
            commitMethod(suitId){
                Mint.Indicator.open();
                if (suitId) {
                    RequestAPI.http.put('suit/' + suitId, this.form)
                        .then((response) => {
                            this.$router.go(-1)
                        })
                        .finally(() => Mint.Indicator.close())
                } else {
                    RequestAPI.http.post('suit', this.form)
                        .then((response) => {
                            this.$router.go(-1)
                        })
                        .finally(() => Mint.Indicator.close())
                }
            },
            imageuploaded(res, type) {
                let data = new FormData();
                data.append('image', res, (new Date()).getTime() + '.png');
                if (!res) {
                    Mint.Toast('上传失败');
                } else {
                    Mint.Indicator.open();
                    RequestAPI.http.post('suit/image', data)
                        .then((response) => {
                            if (this.imgUrl) {
                               this.imgUrl = response.url;
                            }
                            switch (type) {
                                case 'front':
                                    this.form.front_photo = response.url;
                                    break;
                                case 'side':
                                    this.form.side_photo = response.url;
                                    break;
                            }
                        })
                        .finally(() => Mint.Indicator.close())
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .figure-items{
        border-bottom: 1px solid rgb(235, 235, 235);
        padding: 0 .3rem;

        .figure-list{
            input, select {
                border: 0;
                padding: .3rem .15rem .3rem 0;
                width: 65%;
                background: #fff;
                text-align: right;
                direction: rtl;
            }
            .figure-arrow{
                padding-right: .2rem;
            }
            &:last-child {
                .figure-title{
                    border-left: 1px solid rgb(230, 230, 230);
                    padding-left: .2rem;
                }
                .figure-arrow{
                    padding-right: 0;
                }
            }
        }
        .figure-select{
            select {
                border: 0;
                padding: .3rem .15rem .3rem 0;
                width: 65%;
                background: #fff;
                text-align: right;
                direction: rtl;
            }
        }
    }
    .figure-upload {
        padding: .45rem 0;

        .figure-upload-title{
            color: #666666;
            font-size: .26rem;
            margin-bottom: .4rem;
        }

        .setting-img{
            position: relative;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid rgb(215, 215, 215);
            width: 1.6rem;
            height: 1.6rem;

            &.empty-img{
                @include backgroundImg(url('../../assets/images/add-image.png') no-repeat center center, .6rem);
            }
        }
    }
    .settings-checkbox{
        padding: 0.2rem 0.24rem;

        i{
            font-size: 0.4rem;
            vertical-align: middle;
            color: $black-color;
            margin-right: 0.14rem;

            &.icon-duoxuanxuanxiangline{
                color: rgb(194, 194, 194);
            }
        }
        span{
            font-size: 0.22rem;
            color: $gray1-color;
            vertical-align: middle;
        }
    }

    // .full-image{
    //     position: fixed;
    //     left: 0;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     background: $black-color;
    //     z-index: 999;

    //     .image-content{
    //         position: fixed;
    //         left: 50%;
    //         top: 50%;
    //         width: 100%;
    //         @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));

    //         .upload-txt{
    //             display: inline-block;
    //             color: #fff;
    //             font-size: .32rem;
    //             margin-top: .3rem;
    //             border: 1px solid $gray1-color;
    //             border-radius: .04rem;
    //             padding: .1rem .2rem;
    //         }
    //     }
    // }
</style>
