<template>
    <div>
        <div class="settings-address" v-if="suits">
            <div class="settings-block"  v-for="suit in suits">
                <div class="settings-items">
                    <div class="figure-head flex items-center">
                        <div class="col-8">
                            <div class="address-name">{{ suit.name }}</div>
                            <div class="address-info">{{ suit_str(suit)}}</div>
                        </div>
                        <div class="col-4 right-align figure-imgs">
                            <img :src="suit.front_photo" v-if="suit.front_photo">
                            <img :src="suit.side_photo" v-if="suit.side_photo">
                        </div>
                    </div>
                </div>
                <div class="address-handle flex items-center">
                    <div class="col-6">
                        <div class="address-setDefault" @click="setDefault(suit.id)">
                            <span class="iconfont" :class="[ suit.status == 1 ? 'icon-2xuanzhong' : 'icon-duoxuanxuanxiangline']"></span>
                            默认身材
                        </div>
                    </div>
                    <div class="col-6 right-align address-tools">
                        <router-link :to="{name: 'Settings.FigureEdit', params: { id: suit.id }}" tag="div">
                            <i class="iconfont icon-bianji"></i><span>编辑</span>
                        </router-link>
                        <div @click="deleteData(suit.id)"><i class="iconfont icon-shanchu"></i><span>删除</span></div>
                    </div>
                </div>
            </div>
            <router-link :to="{name: 'Settings.FigureEdit'}" append class="settings-button" tag="div">新增身材</router-link>
        </div>
        <div class="suit_empty" v-else>
            <router-link :to="{name: 'Settings.FigureEdit'}" append class="suit_empty_button" tag="div">立即管理身材</router-link>
        </div>
    </div>
</template>

<script>
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components: {
            EmptyView,
        },
        data(){
            return {
                suits: {},
                type:8,
                content:'暂无身材',
                btnText:'新增身材',
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('suit')
                .then(function (response) {
                    next(vm => {
                        vm.suits = response;
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods:{
            suit_str(suits){
                let str = '';
                if (suits.height) {
                    str += suits.height + 'cm  ';
                }
                if (suits.bust){
                    str += suits.bust + '/ ';
                }
                if (suits.waist){
                    str += suits.waist + '/ ';
                }
                if (suits.hips){
                    str += suits.hips + ' ';
                }
                if (suits.weight){
                    str += suits.weight + 'kg ';
                }
                console.log(this.suits.height)
                return str;
            },
            setDefault(id){
                let $this = this,
                    defaultForm = {
                        id: id,
                        status: "1",
                    };

                Mint.Indicator.open();
                RequestAPI.http.post('suit/status', defaultForm)
                    .then(function (response) {
                        $this.reloadData($this);
                    })
                    .finally(() => Mint.Indicator.close())
            },
            deleteData(id){
                let $this = this;
                Mint.Indicator.open();
                RequestAPI.http.delete('suit/'+ id)
                    .then(function (response) {
                        $this.reloadData($this);
                    })
                    .finally(() => Mint.Indicator.close())
            },
            reloadData($this){
                Mint.Indicator.open();
                RequestAPI.http.get('suit')
                    .then(function (response) {
                        $this.suits = response;
                    })
                    .finally(() => Mint.Indicator.close())
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .settings-address{
        padding: .25rem;

        .settings-block{
            border-radius: .1rem;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);

            .settings-items{
                width: auto;
                padding: 0.22rem 0.4rem;
            }
        }
        .figure-head{
            color: $black1-color;
            .address-name{
                display: inline-block;
                font-size: 0.3rem;
            }
            .address-phone{
                display: inline-block;
                padding-left: 0.4rem;
                font-size: 0.26rem;
            }
            .address-info{
                margin-top: .33rem;
            }
        }
        .figure-imgs{
            img{
                width: .76rem;
                border-radius: .04rem;
                margin-right: .25rem;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .address-handle{
            padding: 0 0.25rem;
            font-size: 0.24rem;
            color: $black1-color;
            .address-setDefault{
                padding: 0.25rem 0.14rem 0.21rem;

                span{
                    font-size: 0.4rem;
                    vertical-align: middle;
                    color: $black-color;
                    margin-right: 0.14rem;

                    &.icon-duoxuanxuanxiangline{
                        color: rgb(194, 194, 194);
                    }
                }
            }
            .address-tools{
                div{
                    display: inline-block;
                    padding: 0.28rem 0.2rem 0.22rem;
                    i{
                        font-size: 0.3rem;
                        vertical-align: middle;
                        color: $black-color;
                        margin-right: 0.15rem;
                    }
                    span{
                        vertical-align: middle;
                    }
                }
            }
        }
        .address-info{
            color: #707070;
        }
    }
    .suit_empty{
        position: relative;
        min-height: 100vh;
        @include backgroundImg(url('../../assets/images/figure-empty.png') no-repeat center center, cover);

        .suit_empty_button{
            position: absolute;
            width: 80%;
            bottom: 1.8rem;
            left: 50%;
            background: #d79523;
            color: #fff;
            font-size: .3rem;
            padding: .3rem 0;
            text-align: center;
            line-height: 1;
            border-radius: 120px;
            @include prefix(transform, translateX(-50%), ('webkit', 'moz'));
        }
    }
</style>
