<template>
    <div class="settings-home">
        <div class="settings-block">
            <router-link to="infoEdit" append class="settings-items flex items-center" tag="div" v-if="user">
                <div class="settings-title col-9">
                    <div class="settings-avatar left">
                        <img :src="user.avatar | placeholder('avatar')">
                        <span :class="user_gender"></span>
                    </div>
                    <div class="settings-info-center">
                        <div class="my-nickname">{{ user.nickname }}</div>
                    </div>
                </div>
                <div class="settings-arrow col-3 right-align">
                    <span class="qrcode-icon"></span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </router-link>
            <router-link to="password" append class="settings-items flex items-center" tag="div">
                <div class="settings-title col-9">密码设置</div>
                <div class="settings-arrow col-3 right-align"><i class="iconfont icon-youjiantou1"></i></div>
            </router-link>
            <router-link to="binding" append class="settings-items flex items-center" tag="div">
                <div class="settings-title col-9">绑定账号</div>
                <div class="settings-arrow col-3 right-align"><i class="iconfont icon-youjiantou1"></i></div>
            </router-link>
            <router-link :to="{name: 'My.Withdraw.WithdrawChannel', query: {'setting': 1}}" class="settings-items flex items-center" tag="div">
                <div class="settings-title col-9">提现账号</div>
                <div class="settings-arrow col-3 right-align"><i class="iconfont icon-youjiantou1"></i></div>
            </router-link>
        </div>
        <div class="settings-block">
            <router-link to="about" append class="settings-items flex items-center" tag="div">
                <div class="settings-title col-9">品牌故事</div>
                <div class="settings-arrow col-3 right-align"><i class="iconfont icon-youjiantou1"></i></div>
            </router-link>
            <div class="settings-items flex items-center">
                <div class="settings-title col-6">联系客服</div>
                <div class="settings-arrow col-6 right-align">
                    <a href="tel:+4006839776">4006-839-776</a>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </div>
            <a href="/apih5/member/policy" class="settings-items flex items-center">
                <div class="settings-title col-9">用户协议</div>
                <div class="settings-arrow col-3 right-align"><i class="iconfont icon-youjiantou1"></i></div>
            </a>
        </div>
        <div class="settings-block flex center" @click="logout">
            <div class="settings-items">退出登录</div>
        </div>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex'

    export default{
        components: {},
        data(){
            return {
                user: this.$store.state.user_info || this.$store.state.temp.user
            }
        },
        computed:{
            user_gender(){
                let gender = '';
                if (this.user.gender == 0) {
                    gender = 'avatar-female'
                } else if (this.user.gender == 1) {
                    gender = 'avatar-male'
                }
                return gender;
            }
        },
        methods: {
            ...mapMutations([
                'updateToken'
            ]),
            logout(){
                Mint.MessageBox.confirm('确定要退出登录？', '')
                    .then(action => {
                        Mint.Indicator.open();
                        RequestAPI.http.get('logout')
                            .then(() => {
                                this.updateToken(null);
                                this.$router.push('/');
                            })
                            .finally(() => Mint.Indicator.close());
                    }, action => {
                    });
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .qrcode-icon{
        display: inline-block;
        width: .4rem;
        height: .4rem;
        vertical-align: middle;
        @include backgroundImg(url('../../assets/images/qrcode-icon.png') no-repeat center center, contain);
    }
    .settings-arrow i{
        vertical-align: middle
    }
    .settings-avatar {
        position: relative;

        img{
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
        span{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 0.32rem;
            height: 0.32rem;
            &.avatar-male{
                @include backgroundImg(url('../../assets/images/male.png') no-repeat center center, contain);
            }
            &.avatar-female{
                @include backgroundImg(url('../../assets/images/female.png') no-repeat center center, contain);
            }
        }
    }
    .settings-info-center {
        display: inline-block;
        vertical-align: middle;
        line-height: 50px;
        margin-left: .2rem;
        .my-nickname {
            font-size: 0.3rem;
            font-weight: 500;
            color: $black-color;
        }
    }
</style>
