<template>
    <router-view />
</template>

<script>
    export default{
        data(){
            return{

            }
        },
        components:{
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .settings-block{
        margin-bottom: 0.2rem;
        background: #FFF;
        color: $black1-color;
        font-size: 0.26rem;

        .settings-items{
            position: relative;
            width: 100%;
            padding: 0.29rem 0;
            border-bottom: 1px solid rgb(235, 235, 235);
            color: currentColor;
            &:last-child{
                border-bottom: 0;
            }
            input{
                width: 100%;
                padding: 0;
                padding-left: 0.4rem;
                border: 0;
                line-height:normal;
                @include boxSizing(border-box);
            }

            .close-button{
                bottom: .3rem;
            }
            @include placeHolder(#b7b7b7);
        }
        .settings-title{
            padding-left: 0.45rem;
            i{
                display: inline-block;
                font-size:0.4rem;
                color: #4b4b4b;
                margin-right: 0.28rem;
                vertical-align: sub;
            }
        }
        .settings-arrow{
            color: $gray1-color;
            i{
                color: rgb(215, 215, 215);
                font-size: 0.3rem;
                padding-right: 0.25rem;
                padding-left: 0.2rem;
            }
            a{
                color: inherit;
            }
        }
    }
    .settings-notice{
        font-size: 0.22rem;
        color: $gray1-color;
        padding: 0.28rem 0.22rem;
    }
    .settings-button{
        @include buttonStyle(#cd983e,#FFF,80%,0.9rem,0.04rem,0.28rem);
        display: block;
        margin: 1rem auto .6rem;
        line-height: 0.9rem;
    }
</style>
