<template>
    <div class="settings-home infoEdit">
        <div class="settings-block">
            <img-upload :crop="true" :max="{width: 100, height: 100}" @added="imageuploaded" class="settings-items flex items-center">
                <div class="settings-title col-6">头像</div>
                <div class="settings-arrow col-6 right-align">
                    <div class="settings-avatarBox">
                        <img :src="user.avatar | placeholder('avatar')" class="settings-avatar">
                    </div>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </img-upload>
            <router-link :to="{name: 'My.Member'}" class="settings-items flex items-center" tag="div">
                <div class="settings-title col-6">会员等级</div>
                <div class="settings-arrow col-6 right-align">
                    <span>V{{ user.level-1 }}</span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </router-link>
            <router-link :to="{name: 'My.Qrcode'}" class="settings-items flex items-center" tag="div">
                <div class="settings-title col-6">我的二维码</div>
                <div class="settings-arrow col-6 right-align">
                    <span class="qrcode-icon"></span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </router-link>
        </div>
        <div class="settings-block">
            <router-link to="modifyNickname" class="settings-items flex items-center" tag="div">
                <div class="settings-title col-6">昵称</div>
                <div class="settings-arrow col-6 right-align">
                    <span>{{ user.nickname }}</span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </router-link>
            <div class="settings-items flex items-center">
                <div class="settings-title col-6">性别</div>
                <div class="settings-arrow col-6 right-align" @click="gender_picker.gender_show = true">
                    <span v-text="gender_picker.gender">{{ user_gender }}</span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </div>
            <div class="settings-items flex items-center">
                <div class="settings-title col-6">生日</div>
                <div class="settings-arrow col-6 right-align" @click="openPicker">
                    <span>{{ pickerValue ? pickerValue : '添加生日' }}</span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </div>
            <router-link :to="getUrls" class="settings-items flex items-center" tag="div">
                <div class="settings-title col-6">绑定手机</div>
                <div class="settings-arrow col-6 right-align">
                    <span>{{ user.phone }}</span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </router-link>
        </div>
        <div class="settings-block">
            <router-link to="address" class="settings-items flex items-center" tag="div">
                <div class="settings-title col-3">收货地址</div>
                <div class="settings-arrow col-9 right-align">
                    <span class="settings-adr">{{ getAddress(address) }}</span>
                    <i class="iconfont icon-youjiantou1"></i>
                </div>
            </router-link>
            <router-link to="figure" class="settings-items flex items-center" tag="div">
                <div class="settings-title col-9">身材管理</div>
                <div class="settings-arrow col-3 right-align"><i class="iconfont icon-youjiantou1"></i></div>
            </router-link>
        </div>
        <actionsheet :actions="gender_picker.genderAction" v-model="gender_picker.gender_show" />
        <datetime-picker ref="picker" :endDate="datetime_picker.endDate" :startDate="datetime_picker.startDate" type="date" year-format="{value} 年" month-format="{value} 月" date-format="{value} 日" @confirm="confirm"></datetime-picker>
    </div>
</template>

<script>
    import { Actionsheet } from 'mint-ui';
    import { DatetimePicker } from 'mint-ui';
    import ImgUpload  from '/components/ImgUpload.vue';
    import {mapMutations} from 'vuex'

    Date.prototype.customFormat = function(formatString){
        var YYYY,YY,MMMM,MMM,MM,M,DDDD,DDD,DD,D,hhhh,hhh,hh,h,mm,m,ss,s,ampm,AMPM,dMod,th;
            YY = ((YYYY=this.getFullYear())+"").slice(-2);
            MM = (M=this.getMonth()+1)<10?('0'+M):M;
            MMM = (MMMM=["January","February","March","April","May","June","July","August","September","October","November","December"][M-1]).substring(0,3);
            DD = (D=this.getDate())<10?('0'+D):D;
            DDD = (DDDD=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][this.getDay()]).substring(0,3);
            th=(D>=10&&D<=20)?'th':((dMod=D%10)==1)?'st':(dMod==2)?'nd':(dMod==3)?'rd':'th';
            formatString = formatString.replace("#YYYY#",YYYY).replace("#YY#",YY).replace("#MMMM#",MMMM).replace("#MMM#",MMM).replace("#MM#",MM).replace("#M#",M).replace("#DDDD#",DDDD).replace("#DDD#",DDD).replace("#DD#",DD).replace("#D#",D).replace("#th#",th);
            h=(hhh=this.getHours());
            if (h==0) h=24;
            if (h>12) h-=12;
            hh = h<10?('0'+h):h;
            hhhh = hhh<10?('0'+hhh):hhh;
            AMPM=(ampm=hhh<12?'am':'pm').toUpperCase();
            mm=(m=this.getMinutes())<10?('0'+m):m;
            ss=(s=this.getSeconds())<10?('0'+s):s;

        return formatString.replace("#hhhh#",hhhh).replace("#hhh#",hhh).replace("#hh#",hh).replace("#h#",h).replace("#mm#",mm).replace("#m#",m).replace("#ss#",ss).replace("#s#",s).replace("#ampm#",ampm).replace("#AMPM#",AMPM);
    };
    export default{
        components: {
            Actionsheet,
            DatetimePicker,
            ImgUpload
        },
        data(){
            return{
                user: {},
                address: {},
                pickerValue: '',
                datetime_picker:{
                    startDate: new Date('1970-01-01'),
                    endDate: new Date,
                },
                gender_picker:{
                    gender_show: false,
                    gender: ' ',
                    genderAction: [
                        {
                            name: '未知',
                            method: ()=>{
                                this.gender_picker.genderAjax (2);
                                return this.gender_picker.gender = '未知';
                            }
                        },
                        {
                            name: '男',
                            method: ()=>{
                                this.gender_picker.genderAjax (1);
                                return this.gender_picker.gender = '男';
                            }
                        },
                        {
                            name: '女',
                            method: ()=>{
                                this.gender_picker.genderAjax (0);
                                return this.gender_picker.gender = '女';
                            }
                        }
                    ],
                    genderAjax: function (genderData){
                        RequestAPI.http.post('user/update', {gender: genderData})
                        .then((response) => {
                            this.user = response;
                        })
                        .finally(() => Mint.Indicator.close())
                    }
                }
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            axios
                .all([
                    RequestAPI.http.get('user')
                ])
                .then(axios.spread((user) => {
                    next(vm => {
                        vm.user = user;
                        vm.gender_picker.gender = vm.user_gender;
                        vm.pickerValue = user.birthday;
                        vm.cacheUserInfo(user);
                        vm.address = user.default_address;
                    })
                }))
                .finally(() => Mint.Indicator.close());
        },
        computed:{
            getUrls(){
                let url = 'bind-phone';
                if (this.user.phone) {
                    url = 'verifyPhone';
                }
                return url;
            },
            user_gender(){
                let gender = '未知';
                if (this.user.gender == 0) {
                    gender = '女'
                } else if (this.user.gender == 1) {
                    gender = '男'
                }
                return gender;
            }
        },
        methods: {
            ...mapMutations([
                'cacheUserInfo'
            ]),
            getAddress(address){
                if (!address.address) return '';
                let province = address.address.province.name,
                    city = address.address.city.name,
                    area = '';
                if(address.address.area) {
                    area = address.address.area.name;
                }
                return province +' '+ city +' '+ area +' '+ address.detail;
            },
            openPicker() {
                this.$refs.picker.open();
            },
            confirm(e){
                let date = new Date(e);
                this.pickerValue = date.customFormat( "#YYYY#-#MM#-#DD#" );
                RequestAPI.http.post('user/update', {birthday: this.pickerValue})
                    .then((response) => {
//                        this.user = response;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            imageuploaded(res) {
                let data = new FormData();
                if (!res) {
                    Mint.Toast('上传失败');
                } else {
                    data.append('avatar', res, (new Date()).getTime() + '.png');
                    Mint.Indicator.open();
                    RequestAPI.http.post('user/avatar', data)
                        .then((response) => {
                            this.user.avatar = response.avatar;
                        })
                        .finally(() => Mint.Indicator.close())
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .infoEdit{
        .settings-avatar{
            width: 0.68rem;
            height: 0.68rem;
            border-radius: 100%;
        }
    }
    .settings-avatarBox{
        position: relative;
        display: inline-block;
        .pure-button{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
    .qrcode-icon{
        display: inline-block;
        width: .4rem;
        height: .4rem;
        vertical-align: middle;
        @include backgroundImg(url('../../assets/images/qrcode-icon.png') no-repeat center center, contain);
    }
    .settings-arrow i{
        vertical-align: middle
    }
    .settings-adr{
        display: inline-block;
        width: inherit;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
    }
</style>
