<template>
    <div class="settings-nickname">
        <div class="settings-block">
            <div class="settings-items">
                <input type="text" placeholder="请输入昵称" maxlength="250" v-model="form.nickname">
            </div>
        </div>
        <!--<div class="settings-notice">请输入6个汉字或12个英文字母以内的昵称</div>-->
        <div class="settings-button" @click="commit">保存</div>
    </div>
</template>

<script>
    export default{
        components: {

        },
        data(){
            return {
                form: {
                    nickname: ''
                }
            }
        },
        methods: {
            commit(){
                if (this.form.nickname.trim() == '') {
                    Mint.Toast('请输入昵称');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('user/update', this.form)
                    .then((response) => {
                        this.$router.go(-1)
                    })
                    .finally(() => Mint.Indicator.close())
            },
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .settings-nickname{
        padding: 0.35rem 0;

        .settings-block{
            margin: 0 .15rem;
            border-radius: .1rem;
        }
    }

</style>
