<template>
    <div class="settings-nickname">
        <div class="settings-block">
            <div class="settings-items">
                <input type="tel" placeholder="请输入新手机" v-model="form.phone">
            </div>
            <div class="settings-items flex items-center">
                <div class="col-8"><input type="tel" placeholder="请输入验证码" v-model="form.code" maxlength="4"></div>
                <div class="col-4 right-align">
                    <div class="send-code" v-if="!sms_countdown" @click = "send">发送验证码</div>
                    <div class="send-code gray-color" v-if="sms_countdown">已发送({{sms_countdown}}秒)</div>
                </div>
            </div>
        </div>
        <div class="settings-button" @click = "complete">确定修改</div>
    </div>
</template>

<script>
    import SmsCaptcha from '/api/SmsCaptcha'
    export default{
        components: {

        },
        data() {
            return {
                form:{
                    oldPhone: '',
                    phone: '',
                    oldCode: '',
                    code: '',
                },
                sms_countdown: 0,

                empty_phone : '手机号码不得为空',
                error_phone : '请输入正确手机号码',
                empty_code : '验证码不得为空',
                error_code : '请输入4位验证码',
                send_success : '发送成功',
                modify_success : '验证成功',
                correct_code_length : 4,
            }
        },
        mounted(){
           this.form.oldPhone = this.$route.params.form.phone;
           this.form.oldCode = this.$route.params.form.code;
        },

        methods:{
            checkNewPhone(){
                if(this.form.phone == ''){
                    Mint.Toast(this.empty_phone);
                    return false;
                }
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                if (!validPhone) {
                    Mint.Toast(this.error_phone);
                    return false;
                }
                return true;
            },

            checkNewCode(){
                if(this.form.code == '' ){
                    Mint.Toast(this.empty_code);
                    return false;
                }

                if(this.form.code.length != this.correct_code_length){
                    Mint.Toast(this.error_code);
                    return false;
                }
                return true;
            },

            check(){
                return this.checkNewPhone() && this.checkNewCode();
            },

            send(){
                if(!this.checkNewPhone()){
                    return;
                }

                (new SmsCaptcha).send('codeAuth/updateNew', this.form).then((r)=>{
                    consoel.log(r)
                    this.sms_countdown = 60;
                    let timeid = setInterval(() => {
                        if (!this.sms_countdown) {
                            clearInterval(timeid);
                        } else {
                            this.sms_countdown--;
                        }
                    }, 1000);
                });
            },

            complete(){
                Mint.Indicator.open();

                RequestAPI.http.post('user/phone' , this.form)
                    .then(response => {
                        Mint.Toast(this.modify_success);
                        // back
                        this.$router.go(-2);
                    })
                    .finally(() => Mint.Indicator.close())
            },
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .send-code{
        display: inline-block;
        padding: 0 0.25rem 0 0.18rem;
        color: $black-color;
        border-left: 1px solid rgb(231, 231, 231);
    }
</style>
