<template>
    <div class="settings-nickname">
        <div class="settings-block">
            <div class="settings-items">
                <input type="tel" placeholder="请输入手机" v-model="form.phone">
            </div>
            <div class="settings-items flex items-center">
                <div class="col-8"><input type="tel" placeholder="请输入验证码" v-model="form.code" maxlength="4"></div>
                <div class="col-4 right-align">
                    <span class="send-code" v-if="!sms_countdown" @click="send">发送验证码</span>
                    <span class="sendCode gray-color" v-if="sms_countdown">已发送({{sms_countdown}}秒)</span>
                </div>
            </div>
        </div>
        <div class="settings-button" @click="onNext">下一步</div>
    </div>
</template>

<script>
    import SmsCaptcha from '/api/SmsCaptcha'
    export default{
        components: {},
        data(){
            return {
                form: {
                    phone: '',
                    code: '',
                },
                sms_countdown: 0,

                empty_phone: '手机号码不得为空',
                error_phone: '请输入正确手机号码',
                empty_code: '验证码不得为空',
                error_code: '请输入4位验证码',
                send_success: '发送成功',
                verify_success: '验证成功',
                correct_code_length: 4,
            }
        },
        methods: {
            checkPhone(){
                if (this.form.phone == '') {
                    Mint.Toast(this.empty_phone);
                    return false;
                }
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                if (!validPhone) {
                    Mint.Toast(this.error_phone);
                    return false;
                }
                return true;
            },

            checkCode(){
                if (this.form.code == '') {
                    Mint.Toast(this.empty_code);
                    return false;
                }

                if (this.form.code.length != this.correct_code_length) {
                    Mint.Toast(this.error_code);
                    return false;
                }
                return true;
            },

            checkAll(){
                return this.checkPhone() && this.checkCode();
            },

            send(){
                if (!this.checkPhone()) {
                    return;
                }

                (new SmsCaptcha).send('codeAuth/updateOld', this.form).then((response) => {
                    this.sms_countdown = 60;
                    let timeid = setInterval(() => {
                        if (!this.sms_countdown) {
                            clearInterval(timeid);
                        } else {
                            this.sms_countdown--;
                        }
                    }, 1000);
                });
            },

            onNext(){
                if (!this.checkAll()) {
                    return;
                }

                Mint.Indicator.open();

                RequestAPI.http.post('user/phone/code', this.form)
                    .then(response => {
                        Mint.Toast(this.verify_success);
                        // go next to modifyPhone
                        this.$router.push({
                            name: 'Settings.ModifyPhone',
                            params: {form: this.form}
                        });
                    })
                    .finally(() => Mint.Indicator.close())
            },

        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .settings-nickname{
        overflow: hidden;
    }

    .send-code{
        display: inline-block;
        padding: 0 0.25rem 0 0.18rem;
        color: $black-color;
        border-left: 1px solid rgb(231, 231, 231);
    }
</style>
