<template>
    <div class="point-award">
        <h1>6月积分榜</h1>
        <div class="point-award-items">
            <div class="content">
                <div class="title">获奖名单</div>
                <div>
                    <div class="items flex items-center" v-for="i in announces.users">
                        <div class="number">Top{{ i.placed }}</div>
                        <img :src="i.user.avatar | placeholder('avatar')" alt="">
                        <div class="user-info">
                            <div class="name">{{ i.user.nickname }}</div>
                            <div class="award-points">月度积分 <span>{{ i.points }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="point-award-items">
            <div class="content">
                <div class="title">月度奖励</div>
                <div>
                    <div class="items flex items-center">
                        <div class="number">1</div>
                        <img src="~/assets/images/award/award-iwatch.png" alt="">
                        <div class="user-info">
                            <div class="name">Apple Watch</div>
                        </div>
                    </div>
                    <div class="items flex items-center">
                        <div class="number">2</div>
                        <img src="~/assets/images/award/award-ecovacs.png" alt="">
                        <div class="user-info">
                            <div class="name">科沃斯(Ecovacs)智能 扫地机器人</div>
                        </div>
                    </div>
                    <div class="items flex items-center">
                        <div class="number">3</div>
                        <img src="~/assets/images/award/award-salav.png" alt="">
                        <div class="user-info">
                            <div class="name">贝尔莱德(SALAV)挂烫机 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="award-notice">*工作人员会在名单公布后一个工作日内电话联系你，请保持手机畅通哦~</div>
        <!-- <router-link class="center ranks" :to="{name: 'Points.AwardRank'}" tag="div">查看6月排名></router-link> -->
    </div>
</template>

<script>
    export default{
        components: {
        },
        data(){
            return {
                announces: {}
            }
        },
        methods: {

        },
        mounted(){
            document.title = '6月获奖名单'
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            console.log(to.query.resource);
            RequestAPI.http.get('point/announce/' + to.query.resource)
                .then((response) =>{
                    next(vm => {
                        vm.announces = response.announces
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .point-award{
        min-height: 100vh;
        padding: 0 .27rem .76rem;
        @include backgroundImg(url('../../assets/images/points-award.png') no-repeat top center, cover);

        h1{
            font-size: .48rem;
            color: #04a1d6;
            padding: 25% 0 .8rem;
            margin: 0;
            text-align: center;
        }
        .point-award-items{
            margin: .3rem 0;
            background: #fff;
            border-radius: .2rem;
            padding: .15rem;

            .content{
                border-radius: .1rem;
                border: 2px dashed rgb(4, 161, 214);
                padding: .3rem;
            }

            .title{
                font-size: .36rem;
                color: #1960ab;
                text-align: center;
                margin-bottom: .3rem;
            }

            .items{
                width: 90%;
                margin: 0 auto .38rem auto;

                .number{
                    font-size: .24rem;
                    font-weight: 500;
                }
                &:first-child {
                    .number{
                        color: #fc5959;
                    }
                }
                &:nth-child(2) {
                    .number{
                        color: #ffaa01;
                    }
                }
                &:last-child {
                    .number{
                        color: #fc8e59;
                    }
                }

                img{
                    width: .8rem;
                    height: .8rem;
                    border-radius: 100%;
                    margin: 0 .24rem;
                }

                .user-info{
                    .name{
                        font-size: .24rem;
                        color: #000000;
                        margin-bottom: .2rem;
                        line-height: 1;
                    }

                    .award-points{
                        font-size: .24rem;
                        color: #999999;
                        line-height: 1;

                        span{
                            color: #d79523;
                        }
                    }
                }
            }
        }
        .award-notice{
            padding-left: .3rem;
            font-size: .2rem;
            color: #1960ab;
        }
        .ranks{
            padding: .2rem 0 0;
            color: #d79523;
        }
    }
</style>
