<template>
    <div class="points-home">
        <div class="points-banner flex justify-between center items-top" v-if="user">
            <router-link to="recording" append tag="div" class="col-4">
                <img src="~/assets/images/point-record.png" class="record-icon">
                <div class="banner-title">积分明细</div>
            </router-link>
            <router-link to="recording" append tag="div" class="col-4">
                <img :src="user.avatar | placeholder('avatar')" class="avatar" />
                <div class="points-userinfo">
                    <span>可用积分</span>
                    <strong>{{ user.points }}</strong>
                </div>
            </router-link>
            <router-link to="rule" append tag="div" class="col-4">
                <img src="~/assets/images/point-rule.png" class="rule-icon">
                <div class="banner-title">积分规则</div>
            </router-link>
        </div>
        <div class="content">
            <router-link to="task" append tag="div" class="point-money">
                <img src="~/assets/images/point-task-img.png" alt="">
            </router-link>
            <div class="points-rank">
                <div class="points-rank-head flex justify-between items-center bg-white border-bottom">
                    <div class="items center">
                        <div class="btn" :class="type == 1 ? 'on' : ''" @click="switchType(1)">月度排名</div>
                        <div class="btn" :class="type == 2 ? 'on' : ''" @click="switchType(2)">年度排名</div>
                    </div>
                    <div class="award">
                        <a href="/apih5/point/award" class="col-4">
                            <i class="award-hot"></i>
                            <span>积分排名奖励</span>
                            <i class="iconfont icon-youjiantou1 award-arrow"></i>
                        </a>
                    </div>
                </div>
                <router-link :to="{name: 'Points.Rank', query:{type: type}}" tag="div" class="points-rank-content">
                    <div class="bg-white pl">
                        <div class="points-rank-items">
                            <div class="tribe-detail-items flex items-center justify-between" v-for="(i, index) in datas.month_rank" v-if="type == 1">
                                <div class="rank-number col-1" :class="computedId(parseInt(index)+1)">{{ parseInt(index) +1 }}</div>
                                <div class="rank-content col-11 border-bottom justify-between flex items-center">
                                    <div class="tribe-detail-info flex items-center col-7">
                                        <img :src="i.user.avatar | placeholder('avatar')" v-if="i.user">
                                        <span class="name" v-if="i.user">{{ i.user.nickname }}</span>
                                    </div>
                                    <div class="tribe-detail col-5 right-align">
                                        <span class="tribe-points active">{{ i.month_income }}分</span>
                                        <span class="iconfont" :class="rank_class(i.month_change)">
                                            <span class="tribe-middle" v-if="i.month_change == '' || i.month_change == 0"></span>
                                            <span v-if="i.month_change != 0">{{ i.month_change }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="points-rank-items">
                            <div class="tribe-detail-items flex items-center justify-between" v-for="(i, index) in datas.year_rank" v-if="type == 2">
                                <div class="rank-number col-1" :class="computedId(parseInt(index)+1)">{{ parseInt(index) +1 }}</div>
                                <div class="rank-content col-11 border-bottom justify-between flex items-center">
                                    <div class="tribe-detail-info flex items-center col-7">
                                        <img :src="i.user.avatar | placeholder('avatar')" v-if="i.user">
                                        <span class="name" v-if="i.user">{{ i.user.nickname }}</span>
                                    </div>
                                    <div class="tribe-detail col-5 right-align">
                                        <span class="tribe-points active">{{ i.year_income }}分</span>
                                        <span class="iconfont" :class="rank_class(i.year_change)">
                                            <span class="tribe-middle" v-if="i.year_change == '' || i.year_change == 0"></span>
                                            <span v-if="i.year_change != 0">{{ i.year_change }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-rank-items pl" v-if="month_user && type == 1">
                        <div class="tribe-detail-items flex items-center justify-between">
                            <div class="rank-number col-1 user-rank" :class="computedId(month_user.month_rank)">{{ month_user.month_rank }}</div>
                            <div class="rank-content col-11 border-bottom justify-between flex items-center">
                                <div class="tribe-detail-info flex items-center col-7">
                                    <img :src="month_user.user.avatar | placeholder('avatar')" v-if="month_user.user">
                                    <span class="name" v-if="month_user.user">{{ month_user.user.nickname }} <i>(自己)</i></span>
                                </div>
                                <div class="tribe-detail col-5 right-align">
                                    <span class="tribe-points active">{{ month_user.month_income }}分</span>
                                    <span class="iconfont" :class="rank_class(month_user.month_change)">
                                        <span class="tribe-middle" v-if="month_user.month_change == '' || month_user.month_change == 0"></span>
                                        <span v-if="month_user.month_change != 0">{{ month_user.month_change }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-rank-items pl" v-if="year_user && type == 2">
                        <div class="tribe-detail-items flex items-center justify-between">
                            <div class="rank-number col-1 user-rank" :class="computedId(year_user.month_rank)">{{ year_user.month_rank }}</div>
                            <div class="rank-content col-11 border-bottom justify-between flex items-center">
                                <div class="tribe-detail-info flex items-center col-7">
                                    <img :src="year_user.user.avatar | placeholder('avatar')" v-if="year_user.user">
                                    <span class="name" v-if="year_user.user">{{ year_user.user.nickname }} <i>(自己)</i></span>
                                </div>
                                <div class="tribe-detail col-5 right-align">
                                    <span class="tribe-points active">{{ year_user.year_income }}分</span>
                                    <span class="iconfont" :class="rank_class(year_user.year_change)">
                                        <span class="tribe-middle" v-if="year_user.year_change == '' || year_user.year_change == 0"></span>
                                        <span v-if="year_user.year_change != 0">{{ year_user.year_change }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
            <a class="center notice" v-if="datas.c_anounce[0]" :href="datas.c_anounce[0].url">
                {{ datas.c_anounce[0].name }}
            </a>
        </div>
        <div class="select-title">
            <div class="select-span">
                <img src="~/assets/images/points_title_icon.png" alt="">
                <span>积分兑换</span>
            </div>
        </div>
        <div class="select-range">
            <div v-for="i in range" class="items center">
                <div class="btn" :class="i.value!=form.sort||'on'" @click="form.sort=i.value">{{ i.name }}</div>
            </div>
        </div>
        <div class="list flex flex-wrap justify-between"
             v-infinite-scroll="fetchData"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="10">
            <products-list-item class="col-6" v-for="(item, index) in products" :key="item" type="point" :item="item" @click.native="onClickItem(item.product.id)"></products-list-item>
        </div>

        <fixed-bottom-bar></fixed-bottom-bar>
        <empty-view v-show="!products || !products.length" :type="19" content="商品已兑完了<br/>小A正在努力挑选兑换商品上架中，请期待哦~   "/>
    </div>
</template>

<script>
    import ProductsListItem from '/components/ProductsListItem.vue'
    import EmptyView from '/modules/EmptyView.vue'
    import FixedBottomBar from '/components/FixedBottomBar.vue'
    import {InfiniteScroll} from 'mint-ui';

    export default{
        components: {
            FixedBottomBar,
            EmptyView,
            ProductsListItem
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return {
                range: [
                    {
                        name: '极简美衣',
                        value: ''
                    },
                ],
                user: null,
                products: [],
                form: {
                    sort: '',
                    page: 0,
                },
                loading: false,
                last_page: false,
                type: 1,
                datas: {},
                month_user: {},
                year_user: {},
            }
        },
        computed: {},
        mounted(){
            if (this.$store.state.token) {
                this.fetchUserData();
            }
        },
        watch: {
            'form.sort'(val) {
                this.fetchData(true);
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('user/point/rank/serval')
                .then((response) =>{
                    next(vm => {
                        vm.datas = response;
                        vm.month_user = response.month_user;
                        vm.year_user = response.year_user;
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods: {
            switchType(type){
                this.type = type;
                window.scrollTo(0, 0);
            },
            rank_class(data){
                let ret = '';
                if (data != 0) {
                    ret = data > 0 ? 'icon-rank-up up' : 'icon-xiajiang down';
                }
                return ret;
            },
            computedId(id) {
                if (id == 1) {
                    return 'first-rank'
                } else if (id == 2 || id == 3) {
                    return 'active-rank'
                } else {
                    return ''
                }
            },
            onClickItem(id){
                this.$router.push({
                    name: 'Points.Product',
                    params: {
                        id: id
                    }
                });
            },
            handleScoreRange(score) {
                let name = score.from + '-' + score.to + '分'
                if (Number(score.from) == 0) {
                    name = score.to + '分以下'
                }
                if (!score.to){
                    name = score.from + '分以上'
                }
                return {name: name, value: score.from + '_' + score.to};
            },
            fetchData(is_init_page = false){
                if(this.loading || (!is_init_page && this.last_page)) return;
                this.loading = true;

                if (is_init_page || !this.form.page) {
                    this.form.page = 0;
                    this.last_page = false;
                    window.scrollTo(0, 0);
                }
                this.form.page++;

                Mint.Indicator.open();
                RequestAPI.http.get('point/product', {params:this.form})
                    .then((response) => {
                        if (this.form.page <= 1) {
                            this.products = response.paginate_data.products;
                        }else {
                            for (let i of response.paginate_data.products){
                                this.products.push(i)
                            }
                        }
                        if(this.range.length < response.score.length){
                            for(let i of response.score){
                                this.range.push(this.handleScoreRange(i))
                            }
                        }
                        if (response.paginate_data.products.length < response.pagination.per_page) {
                            this.last_page = true;
                        }
                    })
                    .finally(() => {
                        Mint.Indicator.close();
                        this.loading = false;
                    })
            },
            fetchUserData() {
                let $this = this;
                RequestAPI.http.get('user')
                    .then((r) => {
                        $this.user = r;
                    })
            },
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";
    .points-home{
        background: #dfe2e6;
        min-height: 100vh;
        padding-bottom: 1rem;
        @include boxSizing(border-box)

        .select-title{
            position: relative;
            background: #fff;
            padding: .3rem 0;
            font-size: .28rem;
            text-align: center;

            img{
                width: .5rem;
                vertical-align: middle;
            }

            span{
                vertical-align: middle;
            }
            .select-span{
                position: relative;
                display: inline-block;
                padding: 0 .2rem;
                z-index: 2;
                background: #fff;
            }
            &:after{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                display: inline-block;
                width: 70%;
                height: 1px;
                background: rgb(220, 220, 220);
                @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));
                z-index: 1;
            }
        }
        .empty-view{
            padding: 1.58rem 0;
        }
        .content{
            margin-bottom: .18rem;

            .notice {
                color: #d79523;
                font-size: .24rem;
                padding: .24rem 0;
                border-top: 1px solid rgba(216, 216, 216, 0.75);
                background: #f9f9f9;
                display:block;
            }

            .bg-white{
                padding-top: .1rem;
            }
        }

        .point-money{
            background: #fff;
        }

        .points-rank{
            .points-rank-head{
                border-color: rgba(216, 216, 216, 0.75);
                padding: .5rem .25rem .15rem 0;

                .btn {
                    display: inline-block;
                    margin: 0 .3rem 0 0;
                    padding: .1rem .15rem;
                    font-size: .26rem;
                    color: #000;
                    border-radius: 120px;

                    &:first-child {
                        margin-left: .3rem;
                    }
                    &.on{
                        background: #d79523;
                        color: #fff;
                    }
                }

                .award{
                    .award-hot{
                        display: inline-block;
                        width: .25rem;
                        height: .25rem;
                        vertical-align: middle;
                        @include backgroundImg(url('../../assets/images/hot.png') no-repeat center center, contain);
                    }
                    span{
                        vertical-align: middle;
                        font-size: .24rem;
                        color: rgba(0, 0, 0, 0.502);
                    }

                    .award-arrow{
                        font-size: .2rem;
                        vertical-align: middle;
                        color: rgba(0, 0, 0, 0.502);
                    }
                }
            }
        }
        .select-range{
            background: #fff;
            white-space: nowrap;
            overflow-x: auto;
            padding: 0 0 .18rem 0;

            .btn{
                color: #959595;
                padding: .1rem .2rem;
                display: inline-block;
                border-radius: 1rem;

                &.on{
                    background: #d79523;
                    color: #fff;
                }
            }
            .items{
                display: inline-block;
                padding: 0 0 0 .28rem;
            }
        }

        .list {
            padding: .1rem;
        }

        .points-rank-content{
            .pl{
                padding-left: .32rem;
            }
            .user-rank-items{
                background: #f9f9f9;
                padding-bottom: .1rem;
            }
            .tribe-detail-items{
                position: relative;
                overflow: hidden;
                border-color: rgb(220, 220, 220);

                .rank-content{
                    padding: 0.1rem 0.26rem .1rem 0;
                    border-color: rgba(216, 216, 216, 0.75);
                }

                &:last-child{
                    border-bottom: 0;
                    .rank-content{
                        border: 0;
                    }
                }
                .rank-number{
                    margin-left: .05rem;

                    &.user-rank{
                        font-size: .28rem;
                        color: #666666;
                    }
                }
                img{
                    width: 0.85rem;
                    height: 0.84rem;
                    border-radius: 100%;
                    float: left;
                    margin-right: 0.26rem;
                }
                .tribe-detail{
                    color: $black1-color;
                    font-size: 0.26rem;
                    & > span{
                        font-size: 0.2rem;
                        margin-left: .2rem;
                        font-weight: normal;
                        &.up{
                           color: #fd5050;
                        }
                        &.down{
                            color: #22ac38;
                        }
                        .tribe-middle{
                            display: inline-block;
                            width: 0.13rem;
                            height: 2px;
                            background: rgb(44, 153, 255);
                            border-radius: 120px;
                            vertical-align: middle;
                        }

                        &.tribe-points{
                            color: #999999;
                            font-size: .36rem;

                            &.active {
                                color: #d79523;
                            }
                        }
                    }
                }
            }

            .tribe-detail-info{
                font-size: .26rem;

                .name{
                    i{
                        color: #d70f01;
                        font-style: normal;
                    }
                }
            }

            .rank-number{
                font-size: .26rem;

                &.first-rank{
                    color: #d79523;
                }

                &.active-rank{
                    color: #4acaa7;
                }
            }
        }
    }
    .points-banner{
        padding: .3rem 0;
        color: #fff;
        @include backgroundImg(url('../../assets/images/point-banner.png') no-repeat center center, cover);

        .record-icon, .rule-icon{
            width: .8rem;
            height: .8rem;
            border-radius: 100%;
            margin-bottom: .2rem;
            margin-top: .3rem;
        }

        .banner-title{
            line-height: 1;
            font-size: .22rem;
        }

        .avatar{
            width: 1.28rem;
            height: 1.28rem;
            border-radius: 100%;
            border: 2px solid #fff;
            margin-bottom: .28rem;
        }

        .points-userinfo{
            span{
                font-size: .24rem;
                line-height: 1;
            }
            strong{
                display: block;
                font-size: .48rem;
                margin-top: .18rem;
                line-height: 1;
                font-weight: 500;
            }
        }
    }
    .point-money{
        width: 100%;
        img{
            width: 100%;
        }
    }
</style>
