<template>
    <div class="mall-product">
        <div class="header-bar justify-center">
            <div class="nav">
                <div class="nav__item" :class="{'nav__item__on': nav_active == 1}" @click="nav_active = 1">商品</div>
                <div class="nav__item" :class="{'nav__item__on': nav_active == 2}" @click="nav_active = 2">详情</div>
                <div class="nav__item" :class="{'nav__item__on': nav_active == 3}" @click="nav_active = 3 , getComments()">评价
               </div>
            </div>
        </div>
        <loadmore class="main" v-if="nav_active == 1" :bottom-method="loadBottom">
            <div class="banner">
                <swipe :auto="0">
                    <swipe-item v-for="i in product_banners" :key="i">
                        <div class="swipe-item-img" v-lazy:background-image="i"></div>
                    </swipe-item>
                </swipe>
            </div>
            <div class="product-attr">
                <div class="name flex justify-between">
                    <div v-if="product.product">
                        {{ product.product.name }}
                    </div>
                    <div class="product-share" @click="share = true">
                        <i class="share-img"></i>
                        <div>分享</div>
                    </div>
                </div>
                <div class="product-price">
                    <span class="price-current">{{ product.product_point }}积分 </span>
                    <span class="price-del" v-if="product.market_price">¥{{product.market_price}}</span>
                </div>
                <div class="other flex justify-between">
                    <div v-if="product.product">
                        快递：{{product.express_str}}<br/>
                        商品编号：{{ product.product.snumber }}
                    </div>
                    <div>月销量: {{product.volume}}件</div>
                </div>
                <!--<div class="preferential">
                    <span>•</span>&nbsp;满599减50
                </div>-->
                <div class="prompt flex justify-between">
                    <div><span class="iconfont icon-dagou"/> 100%正品保证</div>
                    <div><span class="iconfont icon-dagou"/> 七天无理由退货</div>
                    <div><span class="iconfont icon-dagou"/> 官方发货</div>
                </div>
            </div>
            <div class="product-sku right-arrow" @click="onClickSelectSku">
                {{ selected_sku_str ? '已选择 ' + selected_sku_str : '选择 尺码 颜色分类' }}

            </div>
            <div class="product-comment">
                <div class="title">商品评价（{{product.comment_number}}）
                    <div class="right">好评率 <span class="praise">{{product.praise}}%</span></div>
                </div>
                <comment :val="product.comment"/>
                <div class="more" @click="nav_active=3 , getComments()">查看更多 ></div>
            </div>
            <div slot="bottom" class="mint-loadmore-bottom">
                <div class="product-detail-more">
                    <hr class="line"/>
                    <div class="product-detail-content">继续拖动，查看商品详情</div>
                    <hr class="line"/>
                </div>
            </div>
        </loadmore>
        <div class="main product-detail" v-if="nav_active == 2">
            <div v-if="product.product" v-html="product.product.detail"></div>
        </div>
        <div class="main" v-if="nav_active == 3">
            <div class="comments-list"
                 v-show="comments && comments.length"
                 v-infinite-scroll="getComments"
                 infinite-scroll-disabled="disable_loadmore"
                 infinite-scroll-distance="pagination.per_page">
                <comment v-for="i in comments" :val="i" :key="i"></comment>
            </div>
            <empty-view v-show="!comments || !comments.length" :type="type" :content="content"></empty-view>
        </div>
        <div class="btn-orange fixed-bottom col-12" @click="onClickImmediately" v-if="!sku_panel.is_show">立即兑换</div>
        <product-sku-action
                @close="onCloseSkuAction"
                :action="sku_panel.action"
                :sku="product.attributes"
                v-model="result_sku"
                v-if="sku_panel.is_show"
                :inventories="product.inventories"
                :default_price="product.base_price"
                :default_image="product.image"
                :sell_attribute_value="product.sell_attribute_value"
                :recommend="recommend.recommend"
        ></product-sku-action>
        <share-box v-if="share" @close="share = false"></share-box>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import {Swipe, SwipeItem, InfiniteScroll, Loadmore} from 'mint-ui';
    import Comment from '/components/Comment.vue'
    import ProductSkuAction from '/modules/ProductSkuAction.vue'
    import {mapState} from 'vuex'
    import EmptyView from '/modules/EmptyView.vue'
    import PointAward from '/components/PointAward.vue'
    import ShareBox from '/components/ShareBox.vue'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'

    export default{
        components: {
            Swipe,
            SwipeItem,
            Comment,
            ProductSkuAction,
            EmptyView,
            ShareBox,
            Loadmore,
            PointAward
        },
        data(){
            return {
                award: {},
                share: false,
                nav_active: 1,
                sku_panel: {
                    is_show: false,
                    action: 'point-exchange'
                },
                recommend: '',
                result_sku: {},
                product: {},
                client_y: 0,
                go_detials: false,
                comments: [],
                pagination: {},
                disable_loadmore: true,
                type: 4,
                content: '暂无商品评价',
            }
        },
        computed: {
            ...mapState([
                'shopping_cart_count'
            ]),
            selected_sku_str(){
                if (!this.product.attributes || !this.result_sku.sku) return null;
                let ret_arr = [];
                for (let i of this.result_sku.sku) {
                    ret_arr.push(i.value);
                }
                if (ret_arr.length != this.product.attributes.length) {
                    return null;
                }
                return ret_arr.join(' ');
            },
            product_banners(){
                if (!this.product.all_image)return [];
                if (this.product.all_image.length > 0) {
                    return this.product.all_image;
                }
                return [this.product.image];
            },
        },
        methods: {
            shareInit(id){
                share.init('product', id).then((r) => {
                    shareAction.init(r.title, r.content, '', '', r.share_url, r.image,() => {
                        this.share = false;
                        if (this.$store.state.token) {
                            Mint.Indicator.open();
                            RequestAPI.http.get('activity-share/product')
                                .then((response) => {
                                    if (response && response != null) {
                                        this.award = response;
                                    }
                                })
                                .finally(() => Mint.Indicator.close());
                        }
                    });
                });
            },
            loadBottom() {
                this.nav_active = 2;
            },
            onClickImmediately(){
                if(this.is_select_sku){
                    this.$router.push({
                        name: 'Points.SubmitOrder'
                    })
                }else{
                    this.sku_panel.is_show = true;
                    this.sku_panel.action = 'point-exchange';
                }
            },
            onClickSelectSku(){
                this.sku_panel.is_show = true;
            },
            onCloseSkuAction(e){
                this.sku_panel.is_show = false;
                this.sku_panel.action = e;
            },
            commentsUrl(){
                return 'comment/index/' + this.product.id
                    + '?page=' + this.pagination.current_page;
            },
            setLoadMoreEnable(){
                this.disable_loadmore = this.nav_active != 3 ||
                    this.pagination.current_page >= this.pagination.last_page;
            },
            getComments(){
                this.disable_loadmore = true;
                Mint.Indicator.open();

                RequestAPI.http.get(this.commentsUrl())
                    .then((response) => {
                        if (this.pagination.current_page == "1") {
                            this.comments = [];
                        }

                        for (let i of response.paginate_data.comment) {
                            this.comments.push(i);
                        }
                        this.pagination = response.pagination;
                        this.setLoadMoreEnable();
                    })
                    .finally(() => Mint.Indicator.close());
            },
        },
        directives: {
            InfiniteScroll,
        },
        mounted(){
            if (this.$route.query.show_full_popup) {
                this.onClickImmediately();
            }
            if (this.$store.state.token) {
                this.$store.dispatch('getMyData');
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            axios
                .all([
                    RequestAPI.http.get('point/product/' + to.params.id),
                    RequestAPI.http.get('suit/default/'+ to.params.id)
                ])
                .then(axios.spread((product, recommend) => {
                    next(vm => {
                        vm.product = product;
                        vm.recommend = recommend;
                        vm.shareInit(vm.product.id);
                    })
                }))
                .finally(() => Mint.Indicator.close());
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";
    .mall-product {
        .banner {
            height: 100vw;
            .swipe-item-img{
                height: 100%;
                text-align: center;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        .product-attr {
            background: #fff;
            margin-bottom: .2rem;
            padding: 0 0 0 .2rem;

            > div {
                padding: .25rem .2rem .25rem 0;
            }

            .name {
                font-size: .3rem;
            }

            .product-share {
                padding-left: .2rem;
                border-left: 1px solid #f0f0f0;
                margin-left: .4rem;
                i {
                    display: inline-block;
                    width: .38rem;
                    height: .38rem;
                    margin-bottom: .1rem;
                    @include backgroundImg(url('../../assets/images/share.png') no-repeat center center, contain);
                }

                width: 1rem;
                text-align: center;
                font-size: .2rem;
            }

            .price {
                &-current {
                    color: #d79523;
                    font-size: .4rem;
                    margin-right: .1rem;
                }

                &-del {
                    color: #959595;
                    text-decoration: line-through;
                }
            }
            .other {
                color: #959595;
                border-bottom: 1px solid #f0f0f0;
                line-height: 1.5;
            }
            .preferential {
                color: #333;
                border-bottom: 1px solid #f0f0f0;

                > span {
                    color: #d79523;
                }
            }
            .prompt {
                color: #959595;
            }
        }

        .product-sku {
            background: #fff;
            margin-bottom: .2rem;
            padding: .25rem .2rem;
            color: #333;
        }
        .product-comment {
            background: #fff;
            margin-bottom: .1rem;

            .title {
                color: #333;
                font-size: .28rem;
                font-weight: 500;
                padding: .25rem .2rem;
            }
            .praise{
                color: #d79523;
            }
            .more {
                border-top: 1px solid #f0f0f0;
                color: #959595;
                text-align: center;
                height: .7rem;
                line-height: .7rem;
            }
        }

        .fixed-bottom {
            font-size: .32rem;
        }

        .add-favorite {
            width: 1.5rem;
            font-size: .24rem;
            line-height: .4rem;
            padding-top: .15rem;
            background: #fff;
            text-align: center;

            .iconfont {
                font-size: .4rem;
            }
        }

        .product-detail {
            line-height: 1.8;
            background: #fff;
            min-height: calc(100vh - 1.9rem);
        }
        .product-detail iframe {
            width: 100%;
            height: 100%;
            border-width: 0;
        }
        .product-detail-more {
            text-align: center;
            font-size: 0.24rem;
            margin-top: 0.61rem;
            margin-bottom: 0.61rem;

            .line {
                display: inline-block;
                width: 25%;
                vertical-align: middle;
                border: 0;
                border-top: 1px solid #bcbcbc;
            }
        }
        .product-detail-content {
            display: inline;
            vertical-align: middle;
            width: 30%;
            margin-left: 1%;
            margin-right: 1%;
        }

        .comments-list {
            background: #fff;
            padding-left: .2rem;
            margin-bottom: .1rem;

            .comment {
                padding: .2rem .2rem .2rem 0;
            }
        }
    }
    .share-box{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        font-size: .32rem;
        z-index: 9999;

        .share-icon{
            display: block;
            text-align: right;
            margin: .3rem 0 .22rem 0;
            width: 100%;
            height: 1.22rem;
            @include backgroundImg(url('../../assets/images/arrow.png') no-repeat 95% center, contain);
        }
    }
</style>
