<template>
    <div class="tribe gray-bg min-height">
        <div class="tribe-ranking">
            <div class="header-bar no-fixed" v-scroll-to-fixed>
                <div class="nav flex justify-center justify-around">
                    <div class="nav__item" :class="type == 1 ? 'nav__item__on' : ''" @click="switchType(1)">月度排名</div>
                    <div class="nav__item" :class="type == 2 ? 'nav__item__on' : ''" @click="switchType(2)">年度排名</div>
                </div>
            </div>
            <div class="point-rank-notice">排名积分每小时更新一次</div>
            <div class="tribe-detail-cont">
                <div>
                    <div class="tribe-detail-items border-bottom flex items-center justify-between" v-for="(i, index) in datas.month_rank" v-if="type == 1">
                        <div class="rank-number col-1" :class="computedId(parseInt(index)+1)">{{ parseInt(index) +1 }}</div>
                        <div class="tribe-detail-info flex items-center col-6">
                            <img :src="i.user.avatar | placeholder('avatar')" v-if="i.user">
                            <span class="name" v-if="i.user">{{ i.user.nickname }}</span>
                        </div>
                        <div class="tribe-detail col-5 right-align">
                            <span class="tribe-points" :class="computedPoints(index)">{{ i.month_income }}分</span>
                            <span class="iconfont" :class="rank_class(i.month_change)">
                                <span class="tribe-middle" v-if="i.month_change == '' || i.month_change == 0"></span>
                                <span v-if="i.month_change != 0">{{ i.month_change }}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tribe-detail-items border-bottom flex items-center justify-between" v-for="(i, index) in datas.year_rank" v-if="type == 2">
                        <div class="rank-number col-1" :class="computedId(parseInt(index)+1)">{{ parseInt(index) +1 }}</div>
                        <div class="tribe-detail-info flex items-center col-6">
                            <img :src="i.user.avatar | placeholder('avatar')" v-if="i.user">
                            <span class="name" v-if="i.user">{{ i.user.nickname }}</span>
                        </div>
                        <div class="tribe-detail col-5 right-align">
                            <span class="tribe-points" :class="computedPoints(index)">{{ i.year_income }}分</span>
                            <span class="iconfont" :class="rank_class(i.year_change)">
                                <span class="tribe-middle" v-if="i.year_change == '' || i.year_change == 0"></span>
                                <span v-if="i.year_change != 0">{{ i.year_change }}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="tribe-detail-items border-top flex items-center justify-between my-rankList" v-if="month_user && type == 1">
                    <div class="rank-number col-1" :class="computedId(month_user.month_rank)">{{ month_user.month_rank }}</div>
                    <div class="tribe-detail-info flex items-center col-11" v-if="month_user.user">
                        <img :src="month_user.user.avatar | placeholder('avatar')" v-if="month_user.user">
                        <div class="tribe-detail">
                            <a class="rank-name" v-if="month_user.user">{{ month_user.user.nickname }}</a>
                            <span class="iconfont" :class="rank_class(month_user.month_change)">
                                <span class="tribe-middle" v-if="month_user.month_change == '' || month_user.month_change == 0"></span>
                                <span v-if="month_user.month_change != 0">{{ month_user.month_change }}</span>
                            </span>
                            <div class="rank-income">
                                <span>月度积分：</span>{{ month_user.month_income }}分
                            </div>
                        </div>
                    </div>
                    <div class="tribe-tag"><span>我</span></div>
                </div>
                <div class="tribe-detail-items border-top flex items-center justify-between my-rankList" v-if="year_user && type == 2">
                    <div class="rank-number col-1" :class="computedId(year_user.year_rank)">{{ year_user.year_rank }}</div>
                    <div class="tribe-detail-info flex items-center col-11" v-if="year_user.user">
                        <img :src="year_user.user.avatar | placeholder('avatar')" v-if="year_user.user">
                        <div class="tribe-detail">
                            <a class="rank-name" v-if="year_user.user">{{ year_user.user.nickname }}</a>
                            <span class="iconfont" :class="rank_class(year_user.year_change)">
                                <span class="tribe-middle" v-if="year_user.year_change == '' || year_user.year_change == 0"></span>
                                <span v-if="year_user.year_change != 0">{{ year_user.year_change }}</span>
                            </span>
                            <div class="rank-income">
                                <span>年度积分：</span>{{ year_user.year_income }}分
                            </div>
                        </div>
                    </div>
                    <div class="tribe-tag"><span>我</span></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        components: {
        },
        directive: {
        },
        data(){
            return {
                type: this.$route.query.type,
                datas: {},
                month_user: {},
                year_user: {},
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('user/point/rank/all')
                .then((response) =>{
                    next(vm => {
                        vm.datas = response;
                        vm.month_user = response.month_user;
                        vm.year_user = response.year_user;
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods: {
            switchType(type){
                this.type = type;
                window.scrollTo(0, 0);
            },
            rank_class(data){
                let ret = '';
                if (data != 0) {
                    ret = data > 0 ? 'icon-rank-up up' : 'icon-xiajiang down';
                }
                return ret;
            },
            computedId(id) {
                if (id == 1) {
                    return 'first-rank'
                } else if (id == 2 || id == 3) {
                    return 'active-rank'
                } else {
                    return ''
                }
            },
            computedPoints(id) {
                if (id == 0 || id == 1 || id == 2) {
                    return 'active'
                } else {
                    return ''
                }
            }
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .tribe{
        padding-bottom: 1.5rem;
        @include boxSizing(border-box);
    }
    .point-rank-notice{
        font-size: .22rem;
        color: #999999;
        padding: .2rem 0 0;
        text-align: center;
        background: #fff;
    }
    .tribe-ranking{
        .nav{
            width: 100%;
        }
    }
    .my-tribe{
        .nav{
            width: 100%;
        }
        .header-bar{
            .nav__item{
                display: inline-block;
            }
        }
    }
    .tribe-detail-cont{
        background: #FFF;
        padding: 0 0.44rem;
        .tribe-detail-items{
            position: relative;
            padding: 0.28rem 0 0.22rem 0;
            overflow: hidden;
            border-color: rgb(220, 220, 220);

            &:last-child{
                border-bottom: 0;
            }
            &.my-rankList{
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background: rgb(250, 245, 228);
                padding: 0.28rem 0.44rem 0.22rem;
                @include boxSizing(border-box)
            }
            img{
                width: 0.85rem;
                height: 0.84rem;
                border-radius: 100%;
                float: left;
                margin-right: 0.26rem;
            }
            .tribe-detail{
                color: $black1-color;
                margin-bottom: 0.15rem;
                font-size: 0.26rem;
                & > span{
                    font-size: 0.2rem;
                    margin-left: .2rem;
                    font-weight: normal;
                    &.up{
                       color: #fd5050;
                    }
                    &.down{
                        color: #22ac38;
                    }
                    .tribe-middle{
                        display: inline-block;
                        width: 0.13rem;
                        height: 2px;
                        background: rgb(44, 153, 255);
                        border-radius: 120px;
                        vertical-align: middle;
                    }

                    &.tribe-points{
                        color: #999999;
                        font-size: .36rem;

                        &.active {
                            color: #d79523;
                        }
                    }
                }
            }
        }

        .tribe-detail-info{
            font-size: .26rem;
        }

        .rank-number{
            font-size: .26rem;

            &.first-rank{
                color: #d79523;
            }

            &.active-rank{
                color: #4acaa7;
            }
        }
    }
    .tribe-tag{
        position: absolute;
        right: 0rem;
        top: 0;
        width: .8rem;
        height: .8rem;
        color: #fff;
        font-size: .2rem;
        background: url('../../assets/images/tribe-tag.png') no-repeat right center;
        background-size: cover;

        span{
            position: absolute;
            right: .12rem;
            top: .1rem;
        }
    }
    .rank-name{
        display:inline-block;
        margin-bottom: 0.2rem;
        line-height: 1;
        font-size: 0.28rem;
    }

    .rank-income{
        color: #d79523;
        line-height: 1;
        span{
            color: #959595;
            font-size: .24rem;
        }
    }
</style>
