<template>
    <div class="points-recording">
        <div class="header-panel flex bg-white">
            <div class="col-6 flex items-center flex-column justify-center">
                <div class="label">当前可用积分</div>
                <div class="number">{{user.points}}</div>
            </div>
            <div class="col-6 flex items-center flex-column justify-center">
                <div class="label">累计获得积分</div>
                <div class="number">{{user.sum_points}}</div>
            </div>
        </div>
        <div class="list" v-show="points&&points.length>0"
             v-infinite-scroll="loadMore"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="10">
            <div v-for="item in points" class="flex flex-column justify-around">
                <div class="date">{{item.date}}</div>
                <div class="flex justify-between">
                    <div>{{item.type_str}}</div>
                    <div>{{item.points}}</div>
                </div>
            </div>
        </div>
        <empty-view v-show="!points || !points.length" :type="type" :content="content"/>
    </div>
</template>

<script>
    import EmptyView from '/modules/EmptyView.vue'
    import {InfiniteScroll} from 'mint-ui';

    export default{
        components:{
            EmptyView,
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return{
                type_list:{
                    '0':'订单积分',
                    '1':'消费',
                    '2':'签到积分'
                },
                user: {},
                points: [],
                page: 0,
                total_page:1,
                loading: false,
                type:9,
                content:'暂无明细',
            }
        },
        computed:{},
        mounted(){},
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            axios
                .all([
                    RequestAPI.http.get('user'),
                    RequestAPI.http.get('point/recored')
                ])
                .then(axios.spread((user, response) => {
                    next(vm => {
                        vm.user = user;
                        vm.points = response.paginate_data.points;
                        vm.page = Number(response.pagination.current_page)
                        vm.total_page = Number(response.pagination.last_page)
                    })
                }))
                .finally(() => {
                    Mint.Indicator.close();
                })
        },

        methods:{
            fetchData (pages) {
                if (this.loading || this.page >= this.total_page) {
                    return;
                }

                Mint.Indicator.open();
                this.loading = true
                RequestAPI.http.get('point/recored?page=' + pages)
                .then((response) => {
                    if (pages) {
                        for (let i of response.paginate_data.points){
                            this.points.push(i)
                        }
                    }else {
                        this.points = response.paginate_data.points;
                    }
                    this.page = Number(response.pagination.current_page)
                    this.total_page = Number(response.pagination.last_page)
                })
                .finally(() => {
                    Mint.Indicator.close()
                    this.loading = false;
                })
            },

            loadMore () {
                this.fetchData(this.page+1)
            }
        }
    }
</script>

<style lang="scss">
    .points-recording{
        .header-panel{
            height: 1.7rem;
            position: relative;
            margin-bottom: .2rem;

            &:before{
                position: absolute;
                top: 15%;
                right: 50%;
                height: 70%;
                width: 1px;
                background: #eee;
                content: " ";
            }

            .label{
                font-size: .26rem;
                margin-bottom: .1rem;
            }
            .number{
                font-size: .5rem;
            }
        }

        .list{
            background: #fff;

            > div{
                height: 1.4rem;
                padding: 0 .2rem;
                border-bottom: 1px solid #ccc;
                font-size: .28rem;

                &:last-child{
                    border-bottom: none;
                }
            }

            .date{
                color: #959595;
                font-size: .26rem;
            }
        }
    }
</style>
