<template>
    <div class="points-rule" v-html="html">
    </div>
</template>

<script>
    export default{
        components:{
        },
        data(){
            return {
                html :'',
            }
        },
        computed:{

        },
        methods:{


        },
        mounted(){},
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();

            RequestAPI.http.get('helper/h5-urls')
                .then((response) =>{
                    axios.get(response.point_rule_page).then((response) => {
                        next(vm => {
                            vm.html = response.data;
                        });
                    })

                })
                .finally(() => Mint.Indicator.close());
        },

    }
</script>
<style lang="scss">
    .points-rule{
        background: #fff;
    }
</style>