<template>
    <div class="mall-submit-order" v-if="data.addr">
        <div>
            <div class="address flex bg-white right-arrow" v-if="select_address" @click="address_select_panel.show=true">
                <div class="address-ico flex justify-center items-center">
                    <div class="iconfont icon-address"></div>
                </div>
                <div class="address-select flex flex-column justify-around flex-auto">
                    <div>{{ select_address.realname }} &nbsp;&nbsp;<b>{{ select_address.phone }}</b></div>
                    <div><span v-for="i in select_address.address" v-if="i">{{ i.name }}</span>{{ select_address.detail }}</div>
                </div>
                <div class="address-ico"></div>
            </div>
            <div class="detail">
                <div class="products-list">
                    <div class="products-list-item bg-white flex justify-between" v-for="(i, index) in data.order.order_products">
                        <div class="product flex flex-auto">
                            <div class="product-cover" :style="'background-image: url('+ i.sell_product.image | placeholder +')'">
                            </div>
                            <div class="product-attr flex flex-column justify-between" v-if="!is_edit">
                                <div class="title">{{i.sell_product.product.name}}</div>
                                <div class="sku">
                                    <span v-for="sku in i.inventory.sku">{{sku.sku_value.attribute.name+':'+sku.sku_value.value}}</span>
                                </div>
                                <div class="price">{{data.point}}积分</div>
                            </div>
                        </div>
                        <div class="btn flex justify-center items-center">
                            <div>x{{i.number}}</div>
                        </div>
                    </div>
                </div>
                <div class="detail-cell">
   <!--                  <div class="flex items-center justify-between right-arrow" @click="onClickActionSheet('delivery_time')">
                        <div>配送时间</div>
                        <div>{{ form.delivery_time }}</div>
                    </div> -->
                    <div class="flex items-center justify-between">
                        <div>使用积分</div>
                        <div class="info">{{data.point}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom col-12 btn-black" @click="onClickSubmitOrder">提交订单</div>
        <mt-actionsheet
                :actions="action_sheet.actions"
                v-model="action_sheet.is_visible">
        </mt-actionsheet>
        <submit-order-address-select v-if="address_select_panel.show" v-model="address_select_panel.val" @close="address_select_panel.show=false"/>
    </div>
</template>

<script>
    import SubmitOrderAddressSelect from '/modules/SubmitOrderAddressSelect.vue'
    import { Switch,Actionsheet } from 'mint-ui';

    export default{
        components:{
            SubmitOrderAddressSelect,
            MtSwitch: Switch,
            MtActionsheet: Actionsheet,
        },
        data(){
            return{
                show_available_coupons: false,
                action_sheet: {
                    actions: [],
                    is_visible: false,
                },
                form: {

                },
                address_select_panel: {
                    show: false,
                    val: null
                },
                display_coupon:{
                    text: null,
                    amount: 0,
                },
                is_show_invoice: false,
                data: {
                    order: {
                        order_products: [],
                    }
                },
                from_route: {},

            }
        },
        watch:{},
        computed:{
            select_address(){
                if(this.address_select_panel.val){
                    return this.address_select_panel.val
                }
                return this.data.addr;
            },
        },
        mounted(){
            this.$nextTick(()=>{
                if (!this.data.addr){
                    this.showHintWindow();
                }
                if(this.from_route.name=='Settings.Address'){
                    this.address_select_panel.show=true;
                }
            })
        },
        methods:{
            showHintWindow(){
                Mint.MessageBox.confirm('您还未设置收货地址，<br>是否新建', '')
                .then(action => {
                    this.$router.push({
                        name: 'Settings.AddressEdit'
                    })
                }, action => {
                    this.$router.go(-1);
                });
            },
            // onClickActionSheet(type){
            //     switch (type){
            //         case 'delivery_time':
            //             this.action_sheet.actions = [
            //                 {
            //                     name: '工作日',
            //                     method:()=>{this.form.delivery_time = '工作日'}
            //                 },
            //                 {
            //                     name: '假期',
            //                     method:()=>{this.form.delivery_time = '假日'}
            //                 },
            //             ];
            //             this.action_sheet.is_visible = true;
            //             break;
            //     }
            // },
            onClickSubmitOrder(){
                let form = this.form;

                form.orderSn = this.data.order.order_sn;
                form.addrId = this.select_address.id || '';

                Mint.Indicator.open();
                RequestAPI.http.post('point/pay',form)
                    .then((r) => {
                        this.$router.replace({
                            name: 'My.Orders.Show',
                            params: {
                                id: this.data.order.order_sn
                            }
                        })
                    })
                    .finally(() => Mint.Indicator.close())
            },
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http
                .get('point/pay', {
                    params: {
                        orderSn: to.params.id
                    }
                })
                .then((r) => {
                    next(vm => {
                        vm.data = r;
                        vm.from_route=from;
                    })
                })
                .catch(()=>{
                    Vue.$router.replace({
                        name: 'My.Orders',
                        params: {
                            status: 'all'
                        }
                    });
                })
                .finally(() => Mint.Indicator.close())
        },
    }
</script>

<style lang="scss">
    .mall-submit-order{
        .address{
            font-size: .28rem;
            color: #333;
            height: 1.5rem;
            margin-bottom: .2rem;

            &-select{
                padding: .2rem 0;
            }

            &-ico{
                min-width: .8rem;
            }
        }

        .detail{
            font-size: .28rem;
            background: #fff;
            padding: 0 0 0 .2rem;

            .orders-list:last-child{
                border-bottom:none;
            }

            &-cell{
                > div {
                    min-height: .9rem;
                    padding-right: .2rem;
                    border-bottom: 1px solid #f0f0f0;

                    &:last-child{
                        border-bottom:none;
                    }

                    &.right-arrow{
                        padding-right: .4rem;
                    }
                }

                .info{
                    font-size: .26rem;
                    color: #d79523;
                }

                .mint-switch{
                    margin: .2rem 0;
                }

                input.invoice{
                    width: 100%;
                    padding: .2rem .2rem;
                    border-radius: .05rem;
                    border: 1px solid #d2d2d2;
                    margin-bottom: .2rem;
                }
            }
        }

        .products-list {
            &-item {
                padding: .2rem 0;
                margin-bottom: 1px;
                border-bottom: 1px solid #f0f0f0;

                &:last-child{
                    border-bottom:none;
                }

                > .btn {
                    min-width: .8rem;
                    width: .8rem;

                    .iconfont {
                        font-size: .3rem;
                    }

                    &:last-child {
                        color: #959595;
                    }
                }
            }
        }

        .product {

            &-cover {
                min-width: 1.6rem;
                width: 1.6rem;
                height: 1.6rem;
                -webkit-background-size: cover;
                     -o-background-size: cover;
                    -ms-background-size: cover;
                   -moz-background-size: cover;
                        background-size: cover;
                background-position: center center;
            }

            &-attr {
                padding-left: .2rem;
                flex-grow: 1;

                .sku {
                    color: #959595;
                }

                .title, .price {
                    font-size: .26rem;
                    font-weight: 500;
                }
            }
        }

        .fixed-bottom{
            font-size: .3rem;
        }
    }
</style>
