<template>
    <div class="task">
        <div class="banner flex justify-between items-center">
            <div class="info">
                <div class="flex items-center">
                    <img :src="data.avatar | placeholder('avatar')">
                    <div>
                        <div class="name">{{ data.nickname }}</div>
                        <div class="points">您今天已赚取<span>{{ data.got_points }}</span>积分</div>
                    </div>
                </div>
            </div>
            <div class="done center">
                <span>已完成</span>
                <div>2</div>
            </div>
        </div>
        <div class="content">
            <div class="title">官方任务</div>
            <div class="items-content">
                <div class="items flex" v-for="i in data.task_list">
                    <div class="img" v-lazy:background-image="i.image"></div>
                    <div class="items-info col-9 flex flex-column justify-between">
                        <div>
                            <h3>{{ i.title }}</h3>
                            <div class="items-info-txt col-9">{{ i.content }}</div>
                        </div>
                        <div class="flex justify-between items-center">
                            <div class="items-points-left" v-html="getItemsPoints(i.task_points)"></div>
                            <div class="items-points-right">
                                <a :href="i.jump_url">GO!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        components: {

        },
        data(){
            return {
                data: {},
            }
        },
        computed: {

        },
        methods: {
            getItemsPoints(data){
                if (!data) return;
                let content =  data.join('<span>或</span>');
                if (content != '') content += '<a>积分</a>';
                return content;
            }
        },
        directives: {
        },
        mounted(){

        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('today-task')
                .then((response) =>{
                    next(vm => {
                        vm.data = response;
                    });
                })
                .finally(() => Mint.Indicator.close());
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .task{
        .banner{
            font-size: .24rem;
            color: #fff;
            padding: .25rem .2rem;
            @include backgroundImg(url('../../assets/images/point-task.png') no-repeat center center, cover);

            img{
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                margin-right: .08rem;
            }

            .name{
                line-height: 1;
            }

            .points{
                color: rgba(255, 255, 255, 0.502);
                margin-top: .15rem;

                span{
                    color: #fff;
                }
            }

            .done{
                span{
                    display: block;
                    color: rgba(255, 255, 255, 0.502);
                    padding-bottom: .18rem;
                    line-height: 1;
                }
            }
        }
        .content{
            padding: .2rem 0;
            background: #fff;

            .title{
                padding: .2rem .24rem;
                font-size: .28rem;
                font-weight: bold;
                border-bottom: 1px solid #e7e7e7;
            }

            .items{
                padding: .2rem;
                height: 1.8rem;
                border-bottom: 1px solid #e7e7e7;

                .img{
                    width: 1.8rem;
                    height: 1.8rem;
                    -webkit-background-size: cover;
                     -o-background-size: cover;
                    -ms-background-size: cover;
                   -moz-background-size: cover;
                        background-size: cover;
                    background-position: center center;
                }

                .items-info{
                    padding-left: .22rem;

                    h3{
                        margin: .1rem 0 .17rem;
                        font-size: .28rem;
                        font-weight: bold;
                        line-height: 1.2;
                    }

                    .items-info-txt{
                        font-size: .2rem;
                        color: rgba(0, 0, 0, 0.502);
                        line-height: 1.2;
                    }

                    .items-points-left{
                        font-size: .36rem;
                        color: #ff5216;

                        span{
                            font-size: .24rem;
                        }

                        a{
                            font-size: .24rem;
                            color: #d79523;
                        }
                    }

                    .items-points-right{
                        a{
                            display: block;
                            background: rgb(215, 149, 35);
                            border-radius: .04rem;
                            color: #fff;
                            font-size: .3rem;
                            padding: .16rem .44rem;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
</style>
