<template>
    <div class="community-game" v-lock>
        <div class="main"
            v-infinite-scroll="getData"
            infinite-scroll-disabled="loading"
            infinite-scroll-distance="10">
            <a class="community-game-items" :href="i.h5url" v-for="i in datas">
                <img v-lazy="i.image" alt="">
            </a>
        </div>
        <fixed-bottom-bar></fixed-bottom-bar>
        <empty-view v-show="!datas || datas.length <= 0" :type="17" content="暂无活动"/>
    </div>
</template>

<script>
    import FixedBottomBar from '/components/FixedBottomBar.vue'
    import { InfiniteScroll } from 'mint-ui'
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components: {
            FixedBottomBar,
            EmptyView,
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return {
                datas: [],
                form: {
                    page: 0
                },
                last_page: false,
                loading: false
            }
        },
        methods:{
            getData(is_init_page){
                if(this.loading || (!is_init_page && this.last_page)) return;
                this.loading = true;

                if (is_init_page || !this.form.page) {
                    this.form.page = 0;
                    this.last_page = false;
                    window.scrollTo(0, 0);
                }
                this.form.page++;

                Mint.Indicator.open();
                RequestAPI.http.get('activity/list', {params:this.form})
                    .then((response) =>{
                        let list = response.paginate_data.activity_list;
                        if (this.form.page <= 1) {
                            this.datas = list;
                        }else {
                            for (let i of list){
                                this.datas.push(i)
                            }
                        }
                        if (response.pagination.current_page === response.pagination.last_page || !parseInt(response.pagination.last_page)) {
                            this.last_page = true;
                        }
                    })
                    .finally(() => {
                        Mint.Indicator.close();
                        this.loading = false;
                    })
            }
        }
    }
</script>

<style lang="scss">
    .community-game{
        .main{
            padding: .22rem .19rem 1rem .19rem;
        }

        .community-game-items{
            width: 100%;
            display: block;
            margin-bottom: .22rem;

            img{
                width: 100%;
                border-radius: 10px;
            }
        }
    }
</style>
