<template>
    <div>
        <div class="header-bar community-active" v-if="is_show">
            <router-link class="nav__item" tag="div" :to="{name:'Community.Games'}" replace>
                <div class="content">
                    <img src="~/assets/images/A.png" class="active-icon">
                    <span>活动</span>
                </div>
            </router-link>
            <router-link class="nav__item" tag="div" :to="{name:'Community.Topics'}" replace>
                <div class="content">
                    <img src="~/assets/images/A.png" class="active-icon">
                    <span>专题</span>
                </div>
            </router-link>
            <router-link class="nav__item" tag="div" :to="{name:'Community.Videos'}" replace>
                <div class="content">
                    <img src="~/assets/images/A.png" class="active-icon">
                    <span>视频</span>
                </div>
            </router-link>
            <router-link class="nav__item" tag="div" :to="{name:'Community.Stores'}" replace>
                <div class="content">
                    <img src="~/assets/images/A.png" class="active-icon">
                    <span>实体店</span>
                </div>
            </router-link>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                is_show: true,
            }
        },
        watch:{
            '$route.name'(val){
                this.isShow();
            }
        },
        created(){
            this.isShow();
        },
        methods:{
            isShow(){
                this.is_show = ['Videos', 'Topics', 'Stores', 'Games'].indexOf(this.$route.name.split('.')[1]) >= 0
            }
        }
    }
</script>

<style lang="scss">
    .community-active{
        .nav__item {
            width: 33%;
            text-align: center;
            padding: 0;

            .content {
                display: inline-block;
                color: #000;
                line-height: .5rem;
                height: auto;
                padding: 0 .2rem;
                text-align: center;
                .active-icon {
                    display: none;
                }
            }
            &.router-link-active {
                &:before {
                    display: none;
                }
                span {
                    vertical-align: middle;
                }
                .active-icon {
                    display: inline-block;
                    width: .35rem;
                    vertical-align: middle;
                }
                .content {
                    background: #000;
                    color: #fff;
                    border-radius: 120px;
                }
            }
        }
    }
</style>