<template>
    <div class="community-topic">
        <div class="body">
            <div v-html="datas.content" class="content"></div>
        </div>
        <div class="support-topic" @click="onSupport()">
            <i class="iconfont" :class="computedClass"></i>
        </div>
        <back-top></back-top>
        <you-may-also-like :provider="'subject'" :sign="sign"/>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import YouMayAlsoLike from '/components/YouMayAlsoLike.vue'
    import {share} from '/api/Share'
    import {shareAction} from '/api/WechatShare'
    import PointAward from '/components/PointAward.vue'
    import BackTop from '/components/BackTop.vue'

    export default{
        components:{
            YouMayAlsoLike,
            BackTop,
            PointAward
        },
        data(){
            return{
                award: {},
                sign: this.$route.params.id,
                datas: {},
                support: false
            }
        },
        computed: {
            computedClass() {
                let cls = '';
                if (this.support == 1) {
                    cls = 'icon-zan01 on';
                } else {
                    cls = 'icon-zan';
                }

                return cls;
            }
        },
        methods: {
            onSupport() {
                Mint.Indicator.open();
                RequestAPI.http.post('subject/mark', {'subject_id': this.$route.params.id})
                .then((response) => {
                    this.support = response.subject.hadMark;
                })
                .finally(() => Mint.Indicator.close())
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('subject/' + to.params.id)
                .then(function (response) {
                    next(vm => {
                        vm.datas = response;
                        vm.support = response.hadMark;
                        share.init('subject', to.params.id).then((r) => {
                            shareAction.init(r.title, r.content, '', '', r.share_url, r.image, () => {
                                if (vm.$store.state.token) {
                                    Mint.Indicator.open();
                                    RequestAPI.http.get('activity-share/subject')
                                        .then((response) => {
                                            if (response && response != null) {
                                                vm.award = response;
                                            }
                                        })
                                        .finally(() => Mint.Indicator.close());
                                }
                            });
                        });
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        mounted(){
            window.install_app = (id)=>{
                if(!id) return;
                 this.$router.push({
                     name: 'Mall.ProductDetail',
                     params: {
                         id: id
                     }
                 })
            }
        },
        destroyed(){
            if(window.install_app) delete window.install_app;
        }
    }
</script>

<style lang="scss">
    .community-topic{

        .body{
            background: #fff;
            margin-bottom: .2rem;

            .title{
                font-size: .34rem;
                font-weight: bold;
                padding: .2rem;
            }

            .content{
                padding: .2rem;
            }
        }
        .support-topic{
            position: fixed;
            left: .2rem;
            bottom: 1.5rem;
            width: .92rem;
            height: .92rem;
            z-index: 98;
            cursor: pointer;
            border-radius: 100%;
            border: 1px solid rgb(229, 229, 229);
            background: rgba(255, 255, 255, 0.8);
            text-align: center;

            i{
                font-size: .4rem;
                line-height: .92rem;

                &.on{
                    color: #d79523;
                }
            }
        }
    }
</style>
