<template>
    <div class="community-topics" v-lock>
        <div class="main"
             v-infinite-scroll="getData"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="10">
            <router-link :to="getItemLink(i.id)" tag="div" class="topic" v-for="i in list" :key="i">
                <div class="topic-image" v-lazy:background-image="i.image"></div>
                <div class="topic-title">{{ i.title }}</div>
                <div class="topic-subtitle">{{ i.subtitle }}</div>
                <div class="topic-view-count">
                    <span><i class="iconfont icon-yan"></i> {{ i.scan }}</span>
                    <span><i class="iconfont icon-zan"></i> {{ i.marks }}</span>
                </div>
            </router-link>
        </div>
        <fixed-bottom-bar></fixed-bottom-bar>
    </div>
</template>

<script>
    import FixedBottomBar from '/components/FixedBottomBar.vue'
    import { InfiniteScroll } from 'mint-ui';

    export default{
        components: {
            FixedBottomBar,
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return {
                list: [],
                form: {
                    page: 0
                },
                last_page: false,
                loading: false
            }
        },
        mounted(){
        },
        methods: {
            getItemLink(id){
                return {
                    name: 'Community.Topic',
                    params: {
                        id: id
                    }
                }
            },
            getData(is_init_page){
                if(this.loading || (!is_init_page && this.last_page)) return;
                this.loading = true;

                if (is_init_page || !this.form.page) {
                    this.form.page = 0;
                    this.last_page = false;
                    window.scrollTo(0, 0);
                }
                this.form.page++;

                Mint.Indicator.open();
                RequestAPI.http.get('subject', {params:this.form})
                    .then((response) =>{
                        let list = response.paginate_data.subjects;
                        if (this.form.page <= 1) {
                            this.list = list;
                        }else {
                            for (let i of list){
                                this.list.push(i)
                            }
                        }
                        if (response.pagination.current_page === response.pagination.last_page || !parseInt(response.pagination.last_page)) {
                            this.last_page = true;
                        }
                    })
                    .finally(() => {
                        Mint.Indicator.close();
                        this.loading = false;
                    })
            }
        }
    }
</script>

<style lang="scss">
    .community-topics{
        background: #fff;
        min-height: 100vh;

        .main{
            margin-top: -.35rem;
        }

        .topic{
            text-align: center;
            margin: .35rem 0;

            &-image{
                margin-bottom: .35rem;
                width: 100%;
                height: 180px;
                -webkit-background-size: cover;
                     -o-background-size: cover;
                    -ms-background-size: cover;
                   -moz-background-size: cover;
                        background-size: cover;
                background-position: center center;
            }

            &-title{
                font-size: .34rem;
                margin-bottom: .2rem;
            }

            &-subtitle {
                color: #959595;
                margin-bottom: .2rem;
            }

            &-view-count{
                color: #cccccc;
                span{
                    padding: 0 .08rem;
                }
            }
        }
    }
</style>
