<template>
    <div class="community-videos">
        <div class="main" v-if="data">
            <div class="video"
                v-infinite-scroll="loadMore"
                infinite-scroll-disabled="loading"
                infinite-scroll-distance="10">
                <div class="video-title">最新视频</div>
                <div class="flex flex-wrap">
                    <div class="col-6" v-for="i in data">
                        <router-link :to="getVideoLink(i.id)" tag="div" class="video-item">
                            <div class="video-item-image" v-lazy:background-image="i.image"></div>
                            <div class="video-item-attr">
                                <div class="video-item-title">{{ i.title }}</div>
                                <div class="video-item-info flex justify-between">
                                    <div>{{ i.created_at }}</div>
                                    <div><span class="iconfont icon-xihuan02" data-true="icon-tubiao2223"></span> {{ i.likes }}</div>
                                </div>
                            </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <fixed-bottom-bar></fixed-bottom-bar>
    </div>
</template>

<script>
    import FixedBottomBar from '/components/FixedBottomBar.vue'
    import { InfiniteScroll } from 'mint-ui';

    export default{
        components: {
            FixedBottomBar,
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return {
                data: null,
                loading:false,
                page:1,
                last_page:10,
                pagination:{},
            }
        },
        mounted(){
            this.loadMore()
        },
        methods: {
            getVideoLink(id){
                return {
                    name: 'Community.Video',
                    params: {
                        id: id
                    }
                }
            },
            loadMore(){
                if(this.page>this.last_page||this.loading){
                    return;
                }

                this.loading = true;
                var that = this;
                Mint.Indicator.open();
                RequestAPI.http.get('video?type=new' +'&page='+this.page)
                    .then(function (response) {
                        if(response.pagination.current_page == "1") {
                            that.data = [];
                        }

                        for (let i of response.paginate_data.videos){
                            that.data.push(i);
                        }
                        that.last_page =response.pagination.last_page;
                        that.page++;
                        that.loading = false;
                    })
                    .finally(() => Mint.Indicator.close())
            }
        }
    }
</script>

<style lang="scss">
    .community-videos{
        .video{
            margin-top: .25rem;
            padding-bottom: .2rem;
            background: #fff;

            &-title{
                font-size: .26rem;
                height: .77rem;
                line-height: .77rem;
                padding-left: .2rem;
                padding-right: .4rem;
            }

            &-item{
                margin: .05rem;
                border: 1px solid #e1e1e1;
                border-radius: .05rem;
                overflow: hidden;

                &-image{
                    position: relative;
                    height: 2.6rem;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;

                    img{
                        filter: brightness(.6);
                    }

                    &:before{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-top: -.4rem;
                        margin-left: -.4rem;
                        width: .8rem;
                        height: .8rem;
                        text-align: center;
                        line-height: .8rem;
                        font-size: .4rem;
                        font-family: "iconfont";
                        content: "\E6CD";
                        color: #fff;
                        background: rgba(0,0,0,.7);
                        border-radius: 50%;
                        z-index: 1;
                    }
                }

                &-attr{
                    padding: .1rem;
                }

                &-title{
                    margin-bottom: .1rem;
                }

                &-info{
                    color: #959595;
                    font-size: .18rem;
                }
            }
        }
    }
</style>
