<template>
    <div class="community-video-list flex flex-wrap"
                v-infinite-scroll="loadMore"
                infinite-scroll-disabled="loading"
                infinite-scroll-distance="10">
        <div class="col-6" v-for="i in videos">
            <router-link :to="'/community/video/'+i.id" tag="div" class="video-item">
                <div class="video-item-image" v-lazy:background-image="i.image"></div>
                <div class="video-item-attr">
                    <div class="video-item-title">{{ i.title }}</div>
                    <div class="video-item-info flex justify-between">
                        <div>{{ i.created_at }}</div>
                        <div><span class="iconfont icon-yan"></span> {{ i.likes }}</div>
                    </div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    import { InfiniteScroll } from 'mint-ui';
    export default{
        components:{
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return{
                videos: [],
                loading:false,
                page:1,
                last_page:10,
                pagination:{},
            }
        },
        methods:{
            loadMore(){
                if(this.page>this.last_page||this.loading){
                    return;
                }

                this.loading = true;
                var that = this;
                Mint.Indicator.open();
                RequestAPI.http.get('video?type=' + this.$route.params.type+'&page='+this.page)
                    .then(function (response) {
                        if(response.pagination.current_page == "1") {
                            that.videos = [];
                        }

                        for (let i of response.paginate_data.videos){
                            that.videos.push(i);
                        }
                        that.last_page =response.pagination.last_page;
                        that.page++;
                        that.loading = false;
                    })
                    .finally(() => Mint.Indicator.close())
            }
        }
    }
</script>

<style lang="scss">
    .community-video-list{
        padding: .1rem;

        .video-item{
            margin: .05rem;
            border: 1px solid #e1e1e1;
            border-radius: .05rem;
            overflow: hidden;

            &-image{
                position: relative;
                height: 2.6rem;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                img{
                    filter: brightness(.6);
                }

                &:before{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -.4rem;
                    margin-left: -.4rem;
                    width: .8rem;
                    height: .8rem;
                    text-align: center;
                    line-height: .8rem;
                    font-size: .4rem;
                    font-family: "iconfont";
                    content: "\E6CD";
                    color: #fff;
                    background: rgba(0,0,0,.7);
                    border-radius: 50%;
                    z-index: 1;
                }
            }

            &-attr{
                padding: .1rem;
            }

            &-title{
                margin-bottom: .1rem;
            }

            &-info{
                color: #959595;
                font-size: .18rem;
            }
        }
    }
</style>
