<template>
    <div class="community-video flex flex-wrap relative">
        <div class="tool-bar flex justify-between absolute-top col-12">
            <div @click="$router.go(-1)"><span class="iconfont icon-close"></span></div>
            <div @click="onClickLike"><span class="iconfont icon-xihuan02" :class="is_like?'icon-tubiao2223':'icon-xihuan02'"></span></div>
        </div>
        <div class="self-center col-12">
            <video :src="datas.video" controls="controls" autoplay preload>您的浏览器不支持 video 标签。</video>
            <div class="description">
               {{ datas.description }}
            </div>
        </div>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import PointAward from '/components/PointAward.vue'
    export default{
        components: {
            PointAward
        },
        data(){
            return {
                award: {},
                is_like: false,
                datas: {}
            }
        },
        watch: {},
        methods: {
            onClickLike(){
                if (!this.is_like) {
                    RequestAPI.http.post('video/add-like/' + this.datas.id)
                        .then((response) => {
                            this.is_like = true
                        })
                        .finally(() => Mint.Indicator.close())
                } else {
                    RequestAPI.http.post('video/remove-like/' + this.datas.id)
                        .then((response) => {
                            this.is_like = false
                        })
                        .finally(() => Mint.Indicator.close())
                }
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('video/' + to.params.id)
                .then(function (response) {
                    next(vm => {
                        vm.datas = response;
                        vm.is_like = !(response.is_like === '0');
                        share.init('video', to.params.id).then((r) => {
                            shareAction.init(r.title, r.content, '', '', r.share_url,r.image, () => {
                                if (vm.$store.state.token) {
                                    Mint.Indicator.open();
                                    RequestAPI.http.get('activity-share/video')
                                        .then((response) => {
                                            if (response && response != null) {
                                                vm.award = response;
                                            }
                                        })
                                        .finally(() => Mint.Indicator.close());
                                }
                            });
                        });
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
    }
</script>

<style lang="scss">
    .community-video{
        min-height: 100vh;
        background: #000;
        color: #b3b3b3;

        video{
            width: 100%;
        }

        .tool-bar{
            font-size: .4rem;
             > div {
                 padding: .4rem;
             }
        }

        .description{
            line-height: 1.5;
            padding: .3rem;
        }
    }
</style>
