.img-container {
    width: 100px; /* whatever set width */
    height: 100px;
    display: inline-block; /* or you could float them */
    overflow: hidden;
}
.img-container img {
	min-width: 100px;
    width: 100%;
}
.resizable {
        width: 100px;
        height: 100px;
        padding: 0.5em; text-align: center; display: table-cell; vertical-align:middle;}
.img{
      width: 100%; height: 100%; vertical-align: middle;
}

