table tr th{
	text-align: center;
}
.table tbody>tr>td{
   vertical-align: middle;
   text-align: center;
}
td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}