body {
	font-family: "PingFang SC", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.gui-controls li.gui-folder > a .title {
    font-style: normal;
    font-size: 1.1em;
}
.spacer .logo {
	height: 100%;
	text-align: center;
}
.spacer .logo img {
	max-height: 100%;
	padding-top: 27px;
}
.text-green{
    color: green;
}
.text-red{
    color: red;
}
td.image-width-full img {
    width: 100%;
}
.image-contain {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin: 15px 0;
    overflow: hidden;
    position: relative;
}
.image-contain img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.plupload_container .plupload_header {
    display: none;
}
.plupload_content {
    top: 29px;
}
.upload-display {
    margin-bottom: 0;
    position: relative;
    width: 100%;
    height: 100%;
}
.upload-display.puload-display-banner-app {
    width: 85px;
    height: 125px;
}
.upload-display.puload-display-lg-banner-app {
    width: 335px;
    height: 480px;
}
.upload-display.puload-display-banner-mobile {
    width: 85px;
    height: 125px;
}
.upload-display.puload-display-weapp-mobile {
    width: 125px;
    height: 100px;
}
.upload-display.puload-display-md-weapp-mobile {
    width: 182px;
    height: 140px;
}
.upload-display.puload-display-lg-weapp-mobile {
    width:344px;
    height:238px;
}
.upload-display.puload-display-popular {
    width: 142px;
    height: 192px;
}
.upload-display.puload-display-cate-product {
    width: 450px;
    height: 282px;
}
.upload-display.puload-display-product {
    width: 450px;
    height: 450px;
}
.upload-display input {
    display: none;
}
.upload-display label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.upload-display img {
    width: 100%;
    height: 100%;
}
.position-ab {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.font-0 {
    font-size: 0;
    line-height: 0;
}
.images-select {
    cursor: pointer;
    margin-bottom: 0;
}
.images-selected {
    background:rgba(255, 255, 255, 0.5) none repeat scroll 0 0 !important;
}
