.product-wrapper{
    max-width: 414px;
    width: 100%;
    border:1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    font-size: 12px;
}
.product-img img{
    max-width: 100%;
}
.product-img{
    width: 40%;
}
.img-content{
    flex-grow: 1;
    padding: 10px 7px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.product-price-content{
    display: flex;
    justify-content: space-between;
}
.product-price{
    color: #dca678;
}
.buy-button{
    padding: 3px 10px;
    background: #000;
    color: #fff;
    border-radius: 5px;
}