.app-content {
    display: none;
    padding:  10px 0 ;
    min-height: 100vh;
    text-align: center;
    background: url(./images/app_bg.png) no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
            background-size: cover;

        -ms-background-size: cover;
}
.app-logo {
    display: block;
    margin: 0 auto;
    width: 94px;
}
.app-title {
    display: inline-block;
    position: relative;
}
.app-title img {
    width: 55%;
}
.app-download {
    display: block;
    margin: 16px auto 0;
    border-radius: 5px;
    width: 80%;
    height: 44px;
    font-size: 16px;
    line-height: 43px;
    color: #fff;
    background: #000;
}

.app-normal-button{
    display: block;
    margin: 10px auto 32px;
    border-radius: 5px;
    width: 80%;
    height: 44px;
    font-size: 16px;
    line-height: 43px;
    color: #000;
    background: #fff;
    border: 1px solid #000;
}

.app-images {
    width: 70%;
}

.pc-content {
    min-width: 1280px;
}

.black-bg {
    background: #000;
}

.pc-banner-bg{
    background: url('./images/pc-banner.png') no-repeat top center;
    background-size: cover;
}

.pc-box {
    margin: 0 auto;
    width: 60%;
}

@media (max-width: 1525px) {
    .pc-box {
        width: 80%;
    }
}

.pc-header {
    padding: 40px 0 0;
    color: rgba(255, 255, 255, .8);
}

.pc-logo {
    width: 111px;
}

.pc-header-txt a {
    position: relative;
    padding: 0 26px;
    font-size: 16px;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.pc-header-txt a:hover {
    color: #fff;
}

.pc-header-txt span {
    display: inline-block;
    width: 1px;
    height: 21px;
    vertical-align: middle;
    background: rgba(255, 255, 255, .8);
}

.pc-header-txt a:last-child {
    padding-right: 0;
}

.pc-title {
    display: block;
    margin-bottom: 60px;
}

.pc-buttons {
    display: inline-block;
    margin-right: 20px;
    padding: 4px 0;
    vertical-align: middle;
}

.pc-download-box {
    display: inline-block;
}

.pc-buttons a {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 8px 28px;
    font-size: 24px;
    vertical-align: middle;
    color: #fff;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;
}

.pc-buttons a:hover {
    background: rgba(255, 255, 255, .2);
}

.pc-buttons a:last-child {
    margin-bottom: 0;
}

.pc-buttons a i {
    display: inline-block;
    margin-right: 15px;
    width: 23px;
    height: 29px;
    vertical-align: middle;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
            background-size: cover;

        -ms-background-size: cover;
}

.pc-buttons a i.android {
    background: url(./images/android.png) no-repeat center center;
}

.pc-buttons a i.ios {
    background: url(./images/apple.png) no-repeat center center;
}

.pc-download-qrcode {
    width: 112px;
    vertical-align: middle;
}

.pc-banner-info {
    padding: 100px 0;
    width: 50%;
    vertical-align: bottom;
}

/*.pc-phones {
    position: relative;
    width: inherit;
}

.pc-phones img {
    position: relative;
    right: 0;
    bottom: -130px;
    vertical-align: bottom;
}*/

.pc-section:nth-child(odd) {
    background: #f7f8f9;
}

.pc-section-content {
    position: relative;
    bottom: -90px;
    padding: 132px 5% 0;
}

.pc-section-overflow {
    position: relative;
    z-index: 10;
    background: #fff;
}

.pc-section-overflow .pc-section-content {
    padding-top: 0;
}

.pc-section-info {
    position: relative;
    width: 50%;
}

.pc-section-info h2 {
    position: relative;
    z-index: 10;
    margin: 80px 0 14px;
    margin-right: 13%;
    font-size: 52px;
    font-weight: normal;
    line-height: 1;
    white-space: nowrap;
    color: #000;
}

.pc-section-info span {
    display: block;
    position: relative;
    z-index: 2;
    margin-right: 13%;
    font-size: 24px;
    line-height: 1.609;
    color: rgba(0, 0, 0, .6);
}

.pc-section-info::before {
    display: block;
    position: absolute;
    right: 0;
    bottom: 155px;
    z-index: 2;
    width: 186px;
    height: 276px;
    background: rgb(249, 180, 62);
    content: "";
}

.pc-section-icon {
    display: block;
    position: absolute;
    top: 136.5px;
    right: 137px;
    z-index: 12;
    width: 98px;
    height: 93px;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
            background-size: cover;

        -ms-background-size: cover;
}

.pc-clothes {
    background: url(./images/pc-clothes.png) no-repeat center center;
}

.pc-pig {
    background: url(./images/pc-pig.png) no-repeat center center;
}

.pc-info {
    background: url(./images/pc-info.png) no-repeat center center;
}

.pc-section:nth-child(odd) .pc-section-info::before {
    left: 0;
}

.pc-section:nth-child(odd) .pc-section-icon {
    left: -49px;
}

.pc-section:nth-child(odd) .pc-section-info h2,
.pc-section:nth-child(odd) .pc-section-info span {
    margin-right: 0;
    margin-left: 13%;
}

.pc-footer {
    margin-top: 180px;
    padding: 40px 0 20px;
    text-align: center;
    background: #000;
}

.pc-qrcode {
    display: inline-block;
    padding: 0 44px;
}

.pc-qrcode img {
    width: 97px;
    height: 97px;
}

.pc-qrcode-txt {
    margin-top: 22px;
    font-size: 14px;
    line-height: 1;
    color: rgba(255, 255, 255, .8);
}

.copyright {
    margin-top: 33px;
    font-size: 12px;
    color: rgba(255, 255, 255, .502);
}

.about-content {
    padding: 29px 0 24px;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    background: url(./images/about-bg.png) no-repeat center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
            background-size: cover;

        -ms-background-size: cover;
}

.about-logo {
    margin: 0 auto;
    width: auto;
}

.about-info h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
}

.about-info span {
    font-size: 14px;
    line-height: 2.122;
}

.about-qrcode {
    display: inline-block;
    padding: 0 45px;
    vertical-align: middle;
}

.about-qrcode img {
    width: 97px;
    height: 97px;
}

.about-qrcode-txt {
    margin: 20px 0 25px;
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
}

.about-copyright {
    font-size: 12px;
    line-height: 3.712;
    color: rgba(255, 255, 255, .502);
}


@media (max-width: 768px) {
    .app-content {
        display: block;
    }

    .pc-content{
        display: none;
    }
}
