* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
}
html,
body {
    margin: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    height: 100%;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 14px;

        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none!important;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
         -o-user-select: none;
}
a:focus,
a:hover {
    text-align: none!important;
}
canvas {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

         -o-user-select: none;
}
img {
    border-radius: .3em;
    max-width: 100%;
}
label {
    margin: 0;
    font-weight: normal;
}
button,
input,
select,
textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-size: inherit;
            outline: none;

        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
    -webkit-outline: none;
       -moz-outline: none;
        -ms-outline: none;
         -o-outline: none;
}
.hiden {
    display: none!important;
}
.vis-hidden {
    visibility: hidden!important;
}
.sm-hidden {
    display: inline-block;
}
.md-hidden {
    display: none;
}
.table-parent {
    display: table;
    width: 100%;
}
.table-vertical {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
.table-top {
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.txt-r {
    text-align: right;
}
.txt-l {
    text-align: left;
}
.txt-c {
    text-align: center;
}
.flex-content {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.justify-between {
    -webkit-justify-content: space-between;
       -moz-justify-content: space-between;
        -ms-justify-content: space-between;
         -o-justify-content: space-between;
            justify-content: space-between;
}
.direction-column {
    height: 100%;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
