<template>
    <div class="my-activity gray-bg min-height">
        <div class="my-activity-list" 
            v-show="messages && messages.length"
            v-infinite-scroll="getMessages"
            infinite-scroll-disabled="disable_loadmore"
            infinite-scroll-distance="pagination.per_page">
            <base-info v-for="i in messages" :val="i" :key="i"></base-info>
        </div>
    </div>
</template>

<script>
    import BaseInfo from '/components/BaseInfo.vue'

    export default{
        components:{
            BaseInfo,
        },

        data(){

            return{
                messages: [],
                pagination:{},
                disable_loadmore: true,
            }
        },
        methods:{
                setLoadMoreEnable(){
                    this.disable_loadmore = this.pagination.current_page == this.pagination.last_page;
                },

                getMessages(){
                    RequestAPI.http.get('notify/express')
                        .then(function (response) {
                            if(this.pagination.current_page == "1") {
                                this.messages = [];
                            }

                            for (let i of response.paginate_data.message){
                                this.messages.push(i);
                            }
                            this.pagination = response.pagination;
                            this.setLoadMoreEnable();
                        });
                }
        }, 
        beforeRouteEnter (to, from, next) {
          Mint.Indicator.open();
            RequestAPI.http.get('notify/express')
                .then(function (response) {
                    next(vm => {
                        if(vm.pagination.current_page == "1") {
                            vm.messages = [];
                        }

                        for (let i of response.paginate_data.message){
                            vm.messages.push(i);
                        }
                        vm.pagination = response.pagination;
                        vm.setLoadMoreEnable();
                    })
                })
                .finally(() => Mint.Indicator.close());
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";
</style>
