<template>
    <div class="my-delivery gray-bg min-height">

       <div class="my-notification-list"
            v-show="messages && messages.length"
            v-infinite-scroll="getMessages"
            infinite-scroll-disabled="disable_loadmore"
            infinite-scroll-distance="pagination.per_page">
            <delivery v-for="i in messages" :val="i" :key="i"></delivery>
        </div>
        <empty-view v-show="!messages || !messages.length" :type="type" :content="content"/>
    </div>
</template>

<script>
    import Delivery from '/components/Delivery.vue'
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components:{
            Delivery,
            EmptyView
        },

        data(){

            return{
                messages: [],
                pagination:{
                    current_page: 1
                },
                disable_loadmore: true,
                type: 11,
                content: '暂无消息',
            }
        },
        created(){
            this.getMessages();
        },
        methods:{
                setLoadMoreEnable(){
                    this.disable_loadmore = this.pagination.current_page == this.pagination.last_page;
                },

                getMessages(){
                    RequestAPI.http.get('notify/express')
                        .then((response)=>{
                            if(this.pagination.current_page == 1) {
                                this.messages = [];
                            }

                            for (let i of response.paginate_data.messages){
                                this.messages.push(i);
                            }
                            this.pagination = response.pagination;
                            this.setLoadMoreEnable();
                        });
                }
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

</style>
