<template>
    <div class="my-messages gray-bg min-height">
        <div class="my-messages-cont">
            <router-link to="deliverylist" append class="my-messages-items border-bottom" tag="div" @click="read(1)">
                <img src="~/assets/images/m-truck.png" alt="">
                <div class="my-messages-info">
                    <div class="items-center">
                        <div class="my-messages-title">
                            <div class="my-messages-txt">物流信息</div>
                            <div class="red-point" v-bind:style="{ color : hasNewDelivery }" >•</div>
                        </div>
                        <div class="my-messages-time right-align"></div>
                    </div>
                    <div class="my-messages-txt">{{ delivery == null ? '暂无新消息' : delivery.content }}</div>
                </div>
            </router-link>

            <router-link to="notificationlist" append class="my-messages-items" tag="div" @click="read(2)">
                <img src="~/assets/images/m-notice.png" alt="">
                <div class="my-messages-info">
                    <div class="items-center">
                       <div class="my-messages-title">
                            <div class="my-messages-txt">通知信息</div>
                            <div class="red-point" v-bind:style="{ color : hasNewNotification }">•</div>
                        </div>
                        <div class="my-messages-time right-align"></div>
                    </div>
                    <div class="my-messages-txt">{{ notification == null ? '暂无新消息' : notification.content }}</div>
                </div>
            </router-link>

            <router-link to="activitylist" append class="my-messages-items" tag="div" @click="read(3)" v-show="activity==null">
                <img src="~/assets/images/m-flag.png" alt="">
                <div class="my-messages-info">
                    <div class="items-center">
                        <div class="my-messages-title">
                            <div class="my-messages-txt">活动信息</div>
                            <div class="red-point" v-bind:style="{ color : hasNewActivity }">•</div>
                        </div>
                        <div class="my-messages-time right-align">16-12-31</div>
                    </div>
                    <div class="my-messages-txt">{{ activity == null ? '暂无新消息' : activity.content }}</div>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default{
        components:{
        },
        data(){
            return{
                    delivery: {},
                    notification: {},
                    activity: {},
                    hasNewNotification: 'transparent',
                    hasNewDelivery: 'transparent',
                    hasNewActivity: 'transparent',
            }
        },
        methods: {  
            redPointHandler(){

            },

            read(page){
                type = ""; 
                if(page == 1 && hasNewDelivery){
                    type = "express";
                }

                if(page == 2 && hasNewNotification){
                    type = "notify";
                }

                if(page == 3 && hasNewActivity){
                    type = "activity";
                }

                RequestAPI.http.post('notify/' + type)
                    .then(response => {
                        console.log(response);      
                    });
            }

        },
        
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            
            RequestAPI.http.get('notify/home')
                .then(function (response) {
                    next(vm => {
                        vm.delivery = response.home.express;
                        vm.notification = response.home.notify;
                        if(vm.delivery.state=='1'){
                            hasNewDelivery ='#d79523';
                        }
                        if(vm.notification.state=='1'){
                            hasNewNotification = '#d79523'
                        }
                        if(response.home.activity){
                            vm.activity = response.home.activity;
                            if(vm.notification.state=='1'){
                                hasNewActivity = '#d79523'
                            }
                        }
                    })
                })
                .finally(() => Mint.Indicator.close());
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-messages-cont{
        padding: 0 0 0 0.25rem;
        background: #FFF;
        margin-top: 0.15rem;
    }
    .my-messages-items{
        padding: 0.23rem 0 0.25rem;
        border-color: #e5e5e5;
        overflow: hidden;
        img{
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 0.04rem;
            margin-right: 0.16rem;
            float: left;
        }
        .my-messages-title{
            padding: 0 0 5px 0;

            .my-messages-txt{
                font-weight: 500;
                font-size: 0.32rem;
                color: $black-color;
                float: left;
            }

            .i{
                display: inline-block;
                width: 0.1rem;
                height: 0.1rem;
                background: rgb(215, 149, 35);
                border-radius: 100%;
                margin-left: 0.08rem;
                vertical-align: middle;
            }
        }
        .red-point {
            margin-left: 2.4rem; 
            color: #d79523;
            font-size: 0.32rem;
        }
        .my-messages-txt{
            color: $gray2-color;
            font-size: 0.24rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .my-messages-time{
            font-size: 0.22rem;
            color: $gray-color;
            margin-right: 0.28rem;
        }
    }
</style>
