<template>
    <div class="my-notification gray-bg min-height">
        <div class="my-notification-list" 
            v-show="messages && messages.length"
            v-infinite-scroll="getMessages"
            infinite-scroll-disabled="disable_loadmore"
            infinite-scroll-distance="pagination.per_page">
            <base-info v-for="i in messages" :val="i" :key="i" />
        </div>
        <empty-view v-show="!messages || !messages.length" :type="type" :content="content" />
    </div>
</template>

<script>
    import BaseInfo from '/components/BaseInfo.vue'
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components:{
            BaseInfo,
            EmptyView
        },

        data(){
            return{
                messages: [],
                pagination:{
                    current_page: '1',
                    last_page: 0,
                    per_page: 10,
                },
                disable_loadmore: true,
                type: 11,
                content: '暂无消息',
            }
        },
        mounted() {
            this.getMessages()
        },
        methods:{
                setLoadMoreEnable(){
                    this.disable_loadmore = this.pagination.current_page == this.pagination.last_page;
                },

                getMessages(){
                    Mint.Indicator.open();

                    RequestAPI.http.get('notify/notify')
                        .then( (response) => {
                            if(this.pagination.current_page == '1') {
                                this.messages = [];
                            }
                            for (let i of response.paginate_data.messages){
                                this.messages.push(i);
                            }
                            this.pagination = response.pagination;
                            this.setLoadMoreEnable();
                        })        
                        .finally(() => Mint.Indicator.close());
                }
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";
</style>
