.relative {
  position: relative
}

.absolute-top {
  position: absolute;
  top: 0;
  left: 0;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.sticky-top {
  position: sticky;
  top: 0;
  left: 0;
}
.sticky-bottom {
  position: sticky;
  bottom: 0;
  left: 0;
}