<template>
    <div class="empty-view" >
        <img src="~/assets/images/ic_empty_collect.png" v-if="type == 1" />
        <img src="~/assets/images/ic_empty_brow_history.png" v-if="type == 2" />
        <img src="~/assets/images/ic_empty_search.png" v-if="type == 3" />
        <img src="~/assets/images/ic_empty_comment.png" v-if="type == 4" />
        <img src="~/assets/images/ic_empty_coupon.png" v-if="type == 5" />
        <img src="~/assets/images/ic_empty_cart.png" v-if="type == 6" />
        <img src="~/assets/images/ic_empty_address.png" v-if="type == 7" />
        <img src="~/assets/images/ic_empty_figure.png" v-if="type == 8" />
        <img src="~/assets/images/ic_empty_score_detail.png" v-if="type == 9" />
        <img src="~/assets/images/ic_empty_order.png" v-if="type == 10" />
        <img src="~/assets/images/ic_empty_message.png" v-if="type == 11" />
        <img src="~/assets/images/ic_empty_member.png" v-if="type == 12" />
        <img src="~/assets/images/ic_empty_tribe.png" v-if="type == 13" />
        <img src="~/assets/images/ic_empty_score_detail.png" v-if="type == 14" />
        <img src="~/assets/images/ic_empty_store.png" v-if="type == 15" />
        <img src="~/assets/images/ic_empty_map.png" v-if="type == 16" />
        <img src="~/assets/images/ic_empty_active.png" v-if="type == 17" />
        <img src="~/assets/images/ic_empty_point.png" v-if="type == 18" />
        <img src="~/assets/images/game-empty.png" v-if="type == 19" class="game-empty">
        <div v-html="content" :class="type == 19 ? 'game-text' : ''"></div>
        <more-div v-for="content in moreContent" :key="content">{{ content }}<br></more-div>
        <button v-if="type == 2 || type == 6 || type == 7 || type == 8 || type == 12" @click="onClickAction">{{ btnText ? btnText: '随便逛逛' }}</button>
    </div>
</template>

<!--type = 1 为收藏页的empty view-->
<!--type = 2 为浏览足迹页的empty view-->
<!--type = 3 为搜索结果页的empty view-->
<!--type = 4 为评价列表页的empty view-->
<!--type = 5 为优惠券列表页的empty view-->
<!--type = 6 为购物车页的empty view-->
<!--type = 7 为地址列表页的empty view-->
<!--type = 8 为身材列表页的empty view-->
<!--type = 9 为积分明细页的empty view-->
<!--type = 10 为订单列表页的empty view-->
<!--type = 11 为系统消息页的empty view-->
<!--type = 12 为会员中心页的特权empty view-->
<!--type = 13 为部落详情成员empty view-->
<!--type = 14 为用户余额明细empty view-->
<!--type = 15 为社区实体店empty view-->
<!--type = 16 为实体店未开启定位empty view-->

<script>
    export default{
        components: {
        },
        props:{
            type: [Number, String],
            content: String,
            btnText: String,
            moreContent: Array,
        },
        data(){
            return {}
        },
        watch: {},
        methods:{
            onClickAction(){
                switch(this.type){
                    case 7:
                        this.$router.push({
                            name: 'Settings.AddressEdit'
                        })
                        break;
                    case 8:
                        this.$router.push({
                            name: 'Settings.FigureEdit'
                        })
                        break;
                    case 12:
                        this.$router.push({
                            name: 'Settings.VerifyPhone'
                        })
                        break;
                    default:
                        this.$router.push({
                            name: 'Mall.Home'
                        })
                        break;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>

    .empty-view{
        padding-top:1.58rem;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        img{
            width:1.68rem;
            text-align: center;
            margin-bottom:0.42rem;

            &.game-empty{
                width: 2.5rem;
            }
        }
        div{
            font-size: 0.32rem;
            color: #959595;
            text-align: center;
        }
        more-div{
            font-size: 0.24rem;
            color: #959595;
            text-align: center;
        }
        .game-text{
            font-size: .2rem;
            color: #666666;
            font-weight: bold;
            line-height: 1.3;
        }
        button{
            margin-top: 0.58rem;
            background: #cd983e;
            height: 0.9rem;
            width: 2.5rem;
            color: white;
            font-size: 0.32rem;
            text-align: center;
            border:1px solid #cd983e;
            border-radius: 0.1rem;
        }
    }
</style>
