<template>
    <router-link :to="{name: 'My.Orders.Show', params: { id: order.order_sn }}" append class="product-items" tag="div">
        <div class="orders-head flex items-center">
            <div class="order-number col-8">订单编号: {{ order.order_sn }}</div>
            <div class="orders-status col-4 right-align">{{ getStatus(order.status_str) }}</div>
        </div>
        <product-list v-if="order.order_products" :products="order.order_products" :status="order.status_str"></product-list>
        <div class="order-count flex items-center">
            <div class="col-6">共{{ getProductSum(order.order_products) }}件商品</div>
            <div class="col-6 right-align">
                <span class="order-count-info">
                    合计:￥{{ order.product_amount }}
                    <span>（含邮费￥{{ order.shipping_fee }}）</span>
                </span>
            </div>
        </div>
        <div class="order-handle flex items-center">
            <div class="col-2 order-handle-status">{{ getStatus(order.status_str) }}</div>
            <div class="col-10 order-buttons right-align">
                <div class="order-buttonBox" v-if="order.status_str == 'paying'" @click.prevent="cancel(order.order_sn)">
                    <button class="del normal-button">取消订单</button>
                </div>
                <div class="order-buttonBox" v-if="order.status_str == 'close' || order.status_str == 'success'" @click.prevent="deletes(order.order_sn)">
                    <button class="del normal-button">删除订单</button>
                </div>
                <router-link :to="{name: 'My.Orders.Express', params: { id: 1 }}" append class="order-buttonBox" tag="div" v-if="order.status_str == 'sending' || order.status_str == 'receiving'">
                    <button class="show normal-button">查看物流</button>
                </router-link>
                <div class="order-buttonBox" v-if="order.status_str == 'receiving'" @click.prevent="received(order.order_sn)">
                    <button class="confirm active-button">确认收货</button>
                </div>
                <router-link :to="{name: 'My.Orders.Comment', params: { order: 1 }}" append class="order-buttonBox" tag="div" v-if="order.status_str == 'appraising'">
                    <button class="comment active-button">评价</button>
                </router-link>
            </div>
        </div>
    </router-link>
</template>

<script>
    import ProductList from '/components/ProductList.vue'
    export default{
        components: {
            ProductList
        },
        props: ['order'],
        data(){
            return {
            }
        },
        watch:{

        },
        methods: {
            getStatus(status){
                let text = '';
                switch (status) {
                    case "paying":
                        text = '待付款';
                        break;
                    case "close":
                        text = '交易关闭';
                        break;
                    case "sending":
                        text = '待发货';
                        break;
                    case "receiving":
                        text = '待签收';
                        break;
                    case "appraising":
                        text = '待评价';
                        break;
                    case "success":
                        text = '交易成功';
                        break;
                    case "closerefundedpay":
                        text = '仅退款成功交易完成';
                        break;
                    case "refundpaysuccess":
                        text = '仅退款成功';
                        break;
                    case "failrefunded":
                        text = '退货退款成功交易失败';
                        break;
                    case "closerefundfail":
                        text = '退款拒绝交易成功';
                        break;
                    case "refundfail":
                        text = '退款拒绝';
                        break;
                    case "invalid":
                        text = '已失效';
                        break;
                }
                return text;
            },
            received(id){
                let $this = this;
                Mint.Indicator.open();
                RequestAPI.http.post('order/confirm', {orderSn: id})
                    .then(function (response) {
                        $this.$emit('reload', 'receiving')
                    })
                    .finally(() => Mint.Indicator.close())
            },
            cancel(id){
                let $this = this;
                Mint.Indicator.open();
                RequestAPI.http.post('order/cancel', {orderSn: id})
                    .then(function (response) {
                        $this.$emit('reload', 'paying')
                    })
                    .finally(() => Mint.Indicator.close())
            },
            deletes(id){
                let $this = this;
                Mint.Indicator.open();
                RequestAPI.http.post('order/destroy', {orderSn: id})
                    .then(function (response) {
                        $this.$emit('reload', '')
                    })
                    .finally(() => Mint.Indicator.close())
            },
            getProductSum(products){
                let sum = 0;
                for (let i of products) {
                    sum += parseInt(i.number);
                }
                return sum;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .product-items{
        background: #FFF;
        padding-left: 0.2rem;
        margin-bottom: 0.2rem;
    }
    .orders-head{
        padding: 0.28rem 0.2rem 0.28rem 0;
        border-bottom: 1px solid rgb(240, 240, 240);
        font-weight: 500;
        color: #333333;
        .order-number{
            font-size: 0.26rem;
        }
        .orders-status{
            font-size: 0.28rem;
        }
    }
    .order-count{
        padding: 0.28rem 0.2rem 0.28rem 0;
        border-bottom: 1px solid rgb(240, 240, 240);
        color: #333333;
        font-size: 0.26rem;
        font-weight: 500;
        .order-count-info{
            span{
                font-size: 0.22rem;
                font-weight: normal;
            }
        }
    }
    .order-handle{
        padding: 0.12rem 0;
        .order-handle-status{
            color: #d79523;
            font-size: 0.24rem;
            padding: 0.15rem 0;
        }
    }

    .order-buttonBox{
        padding-right: 0.22rem;
        width: 1.6rem;
        display: inline-block;
        button{
            display:inline-block;
        }
    }
    .normal-button{
        width: 100%;
        border: 1px solid rgb(125, 125, 125);
        border-radius: 0.04rem;
        padding: 0.15rem;
        background: #FFF;
        color: #555555;
        font-size: 0.26rem;
    }
    .active-button{
        width: 100%;
        border: 1px solid #cd983e;
        border-radius: 0.04rem;
        padding: 0.15rem;
        background: #cd983e;
        color: #FFF;
        font-size: 0.26rem;
    }
</style>
