<template>
    <div>
        <div class="product-list" v-if="orders&&orders.length">
            <router-link :to="{name: 'My.Orders.Show', params: { id: order.order_sn }, query: {order_status_str: order.order_status_str}}"
             append class="product-items" tag="div" v-for="order in orders" :key="order" v-if="!is_empty">
                <div class="orders-head flex items-center">
                    <div class="order-number col-8">订单编号: {{ order.order_sn }}</div>
                    <div class="orders-status col-4 right-align">{{ order_status[order.order_status_str] }}</div>
                </div>
                <product-list v-if="order.order_products"
                                    :products="order.order_products"
                                    :status="order.order_status_str"
                                    :type="order.provider"
                                    :give_product="order.give_product"
                                    :refund="order.can_refund"
                                    >
                </product-list>
                <div class="order-count flex items-center">
                    <div class="col-4">共{{ getProductSum(order.order_products) }}件商品</div>
                    <div class="col-8 right-align">
                        <span class="order-count-info">
                            合计:{{getTotalPrice(order.provider, order.order_fee)}}
                            <span v-if="order.shipping_fee">（含运费￥{{ order.shipping_fee }}）</span>
                        </span>
                    </div>
                </div>
                <div class="order-handle flex items-center" v-if="order.order_status_str != 'sending'">
                    <div class="col-2 order-handle-status" v-if="showRefundStatus(order.order_status_str,order.is_refund)">{{ order_status[order.order_status_str] }}</div>
                    <div :class="showRefundStatus(order.order_status_str, order.is_refund)?'col-10 order-buttons right-align':'col-12 order-buttons right-align'">
                        <div class="order-buttonBox" v-if="order.order_status_str == 'paying'" @click.prevent="cancel(order.order_sn)">
                            <button class="del normal-button">取消订单</button>
                        </div>
                        <div class="order-buttonBox" v-if="['close', 'success', 'appraising'].indexOf(order.order_status_str) >= 0" @click.prevent="deletes(order.order_sn)">
                            <button class="del normal-button">删除订单</button>
                        </div>
                        <router-link :to="routerExpress(order)" append class="order-buttonBox" tag="div"
                            v-if="['receiving', 'appraising'].indexOf(order.order_status_str)>=0">
                            <button class="show normal-button">查看物流</button>
                        </router-link>
                        <div class="order-buttonBox" v-if="order.order_status_str == 'paying'" @click.prevent="payShow(order)">
                            <button class="confirm active-button">付款</button>
                        </div>
                        <div class="order-buttonBox" v-if="order.order_status_str == 'receiving'" @click.prevent="received(order.order_sn)">
                            <button class="confirm active-button">确认收货</button>
                        </div>
                        <router-link :to="{name: 'My.Orders.Comment', params: { order: order.order_sn }}" class="order-buttonBox" tag="div"
                            v-if="order.order_status_str == 'appraising'">
                            <button class="comment active-button">评价</button>
                        </router-link>
                    </div>
                </div>
            </router-link>
        </div>
        <empty-view v-else :type="type" :content="content"></empty-view>
        <product-pay-action v-if="pay_panel" :order_sn="order_sn" @close="pay_panel = false"></product-pay-action>
    </div>
</template>

<script>
    import ProductList from '/components/ProductList.vue'
    import EmptyView from '/modules/EmptyView.vue'
    import ProductPayAction from '/components/ProductPayAction.vue'
    import {order_status} from '/config/parameter'

    export default{
        components: {
            ProductList,
            EmptyView,
            ProductPayAction
        },
        props: ['datas'],
        data(){
            return {
                order_status,
                is_empty: false,
                orders: {},
                order_sn: null,
                type:10,
                content:'暂无订单',
                pay_panel: false
            }
        },
        watch:{
            datas: function (val, oldVal){
                if (val.length <= 0) {
                    this.is_empty = true;
                    this.orders = [];
                } else {
                    this.is_empty = false;
                    this.orders = val;
                }
            }
        },
        methods: {
            showRefundStatus(val, is_refund) {
                return ['close', 'success'].indexOf(val) >= 0 && Number(is_refund);
            },
            getTotalPrice(provider, price) {
                if (provider == 'point') {
                    return price + '积分';
                }else {
                    return '¥' + price;
                }
            },
            received(id){
                let $this = this;
                Mint.Indicator.open();
                RequestAPI.http.post('order/confirm', {orderSn: id})
                    .then(function (response) {
                        $this.$emit('reload', 'receiving')
                    })
                    .finally(() => Mint.Indicator.close())
            },
            payShow(i){
                this.order_sn = i.order_sn;
                let type = 'alipayweb';
                if (this.$store.state.is_wechat) {
                    type = 'wemp';
                }
                Mint.Indicator.open();
                RequestAPI.http.put('pay/'+this.order_sn, {payType: type})
                    .then((r) => {
                        if(r.isFee == 1){
                            window.location.reload();
                            return;
                        }
                        switch (type){
                            case 'wemp':
                                wx.chooseWXPay({
                                    timestamp: r.payData.timestamp,
                                    nonceStr: r.payData.nonceStr,
                                    package: r.payData.package,
                                    signType: r.payData.signType,
                                    paySign: r.payData.paySign,
                                    success:(res)=>{
                                        window.location.reload();
                                    },
                                    fail:(res)=>{
                                        console.log(res);
                                    },
                                    cancel:(res)=>{
                                    }
                                });
                                break;
                            case 'alipayweb':
                                window.location.href = r.payData;
                                break;
                        }
                    })
                    .finally(() => Mint.Indicator.close());
                // return this.pay_panel = true;
            },
            cancel(id){
                Mint.MessageBox.confirm('是否确认取消订单', '')
                    .then(action => {
                        Mint.Indicator.open();
                        RequestAPI.http.post('order/cancel', {orderSn: id})
                            .then((response)=>{
                                this.$emit('reload', 'paying')
                            })
                            .finally(() => Mint.Indicator.close())
                    }, action => {
                    });
            },
            deletes(id){
                Mint.MessageBox.confirm('是否确认删除订单', '')
                    .then(action => {
                        Mint.Indicator.open();
                        RequestAPI.http.post('order/destroy', {orderSn: id})
                            .then((response)=>{
                                this.$emit('reload', '')
                            })
                            .finally(() => Mint.Indicator.close())
                    }, action => {
                    });
            },
            getProductSum(products){
                let sum = 0;
                for (let i of products) {
                    sum += parseInt(i.number);
                }
                return sum;
            },
            routerExpress(order) {
                return {
                    name: 'My.Orders.Express',
                    params: {
                        id: order.order_sn,
                    },
                    query: {
                        image: order.order_products[0].sell_product.all_image[0],
                    }
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    .product-list{
        .product-items{
            background: #FFF;
            margin-bottom: 0.2rem;
        }
        .orders-head{
            padding: 0.28rem 0.2rem 0.28rem 0.2rem;
            border-bottom: 1px solid rgb(240, 240, 240);
            font-weight: 500;
            color: #333333;
            .order-number{
                font-size: 0.26rem;
            }
            .orders-status{
                font-size: 0.28rem;
            }
        }
        .order-count{
            padding: 0.28rem 0.2rem 0.28rem 0.2rem;
            color: #333333;
            font-size: 0.26rem;
            font-weight: 500;
            .order-count-info{
                span{
                    font-size: 0.22rem;
                    font-weight: normal;
                }
            }
        }
        .order-handle{
            border-top: 1px solid rgb(240, 240, 240);
            padding: 0.12rem 0;
            .order-handle-status{
                color: #d79523;
                font-size: 0.24rem;
                padding: 0.15rem 0;
            }
        }
    }
    .order-buttonBox{
        padding-right: 0.22rem;
        width: 1.6rem;
        display: inline-block;
        button{
            display:inline-block;
        }
    }
    .normal-button{
        width: 100%;
        border: 1px solid rgb(125, 125, 125);
        border-radius: 0.04rem;
        padding: 0.15rem;
        background: #FFF;
        color: #555555;
        font-size: 0.26rem;
    }
    .active-button{
        width: 100%;
        border: 1px solid #cd983e;
        border-radius: 0.04rem;
        padding: 0.15rem;
        background: #cd983e;
        color: #FFF;
        font-size: 0.26rem;
    }
</style>
