<template>
    <full-popup class="products-filter-panel flex justify-end" @click.native="onClose" @close="close">
        <div class="filter relative">
            <div class="filter-title">筛选</div>
            <div class="filter-body">
                <template v-for="i in data">
                    <div class="filter-radio" v-if="['category', 'brand', 'service'].indexOf(i.filter_key) >= 0">
                        <div class="title">{{i.filter_name}}</div>
                        <div class="tags-options flex flex-wrap">
                            <div class="col-4" v-for="ii in i.filter_data">
                                <div class="item flex justify-center items-center" @click="onClick(i, ii.id)" :class="classOn(i.filter_key, ii.id)">{{ii.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-price" v-if="['price'].indexOf(i.filter_key) >= 0">
                        <div class="title">价格区间(元)</div>
                        <div class="range flex justify-around items-center">
                            <input placeholder="最低价" type="number" v-model="val.price.from">
                            <div class="range-symbol">～</div>
                            <input placeholder="最高价" type="number" v-model="val.price.to">
                        </div>
                        <div class="tags-options flex">
                            <div class="col-4" v-for="ii in i.filter_data">
                                <div class="item flex justify-center items-center" @click="onClickPrice(ii)" :class="classOnPrice(ii)">{{ii.name}}</div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <div class="flex absolute-bottom col-12">
                <div class="flex-auto btn-gray" @click="reset">重置</div>
                <div class="flex-auto btn-default" @click="close">确定</div>
            </div>
        </div>
    </full-popup>
</template>

<script>
    import FullPopup from '/components/FullPopup.vue'

    export default{
        props: ['data', 'value'],
        components:{
            FullPopup
        },
        data(){
            return{
                val: this.value || {},
            }
        },
        computed:{

        },
        mounted(){

        },
        methods:{
            onClose(e){
                if(e && e.target.className.indexOf('products-filter-panel') < 0)return;
                this.close();
            },
            onClick(item, val){
                let data = item.filter_key + '_' + val;
                let index = this.val.filter.indexOf(data);
                if (!item.filter_select) {
                    for(let i in this.val.filter){
                        if(i != "$remove" && this.val.filter[i].indexOf(item.filter_key + '_') >= 0){
                            this.val.filter.splice(i, 1);
                        }
                    }
                }
                if (index >= 0) {
                    this.val.filter.splice(index, 1);
                } else {
                    this.val.filter.push(data)
                }
            },
            classOn(key, val){
                let s = key+'_'+val;
                if(this.val.filter.indexOf(s) >= 0){
                    return 'on';
                }
                return null;
            },
            onClickPrice(i){
                this.val.price.from = i.from;
                this.val.price.to = i.to;
            },
            classOnPrice(i){
                if(this.val.price.from == i.from && this.val.price.to == i.to) return 'on';
                return '';
            },
            close(){
                let type = null;
                if (this.is_submit_order) {
                    type = 'buy-now'
                }else{
                    type = this.action
                }

                this.$emit('close', type);
                this.$emit('input', this.val);
            },
            reset(){
                this.val.price = {
                    from: '',
                    to: ''
                };
                this.val.filter = [];
                this.$emit('input', this.val);
            }
        }
    }
</script>

<style lang="scss">
    .products-filter-panel{
        background: rgba(0,0,0,.6);

        .filter{
            background: #fff;
            width: 80%;

            &-title{
                font-size: .34rem;
                color: #333;
                height: .9rem;
                line-height: .9rem;
                text-align: center;
                border-bottom: 1px solid #dcdcdc;
            }
            &-body{
                padding-left: .2rem;
                overflow-y: auto;
                height: calc(100vh - .9rem - 1rem);

                > div{
                    border-bottom: 1px solid #dcdcdc;

                    &:last-child{
                        border: none;
                    }
                }
            }

            .title{
                padding-bottom: .1rem;
                font-size: .26rem;
                color: #666;
            }

            .tags-options{

                .item {
                    margin: .1rem;
                    background: #f0f0f0;
                    text-align: center;
                    border-radius: .05rem;
                    height: .77rem;

                    &.on{
                        background: #000;
                        color: #fff;
                    }
                }
            }

            &-radio{
                padding: .2rem .2rem .2rem 0;
            }

            &-price{
                padding: .2rem .2rem .2rem 0;

                .range{
                    background: #f0f0f0;
                    border-radius: .05rem;
                    padding: .14rem .18rem;
                    margin-bottom: .2rem;

                    input{
                        flex-grow: 1;
                        width: 100%;
                        height: .55rem;
                        border-radius: .05rem;
                        border: none;
                        text-align: center;
                    }

                    &-symbol{
                        margin: 0 .2rem;
                        color: #b5b5b5;
                    }
                }
            }
        }
    }
</style>
