<template>
    <div>
        <full-popup class="product-sku-action flex items-end" @click.native="onClose" @close="close">
            <div class="panel">
                <div class="info">
                    <div class="image">
                        <div class="img" v-lazy:background-image="imgSrc"></div>
                    </div>
                    <div class="info-right flex flex-column justify-between">
                        <div :class="[is_game ? 'through' : '', 'price']" v-if="!is_point">¥{{ inventory_price }}</div>
                        <div :class="[is_game ? 'through' : '', 'price']" v-else>{{ inventory_price }}积分</div>
                        <div class="select-sku">
                            <div v-if="!selected_sku_str && !inventory.number">
                                请选择
                                <span v-for="i in sku">
                                    {{ i.name }}
                                </span>
                            </div>
                            <span v-if="selected_sku_str">已选：{{ selected_sku_str }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <div v-if="inventory.number">库存{{inventory.number}}件</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="system-recommend flex items-center">
                    <div class="col-8 system-recommend-txt" v-if="recommend">推荐: <span>S码</span> (根据您的默认身材推荐)</div>
                    <div class="col-8 system-recommend-txt" v-else>暂无尺码推荐</div>
                    <div class="col-4 right-align">
                        <router-link :to="{name: 'Settings.Figure'}" tag="div" class="system-address">
                            <span v-if="recommend">查看身材</span>
                            <span v-else>添加身材</span>
                            <i class="iconfont icon-youjiantou1"></i>
                        </router-link>
                    </div>
                </div> -->
                <div class="select bf">
                    <div class="sku" v-for="(i, index) in sku">
                        <div class="label">{{i.name}}:</div>
                        <div class="radio">
                            <span :class="getSkuClass(ii)" v-for="ii in i.attribute_value" @click="onClickSku(ii)">{{ ii.value }}</span>
                        </div>
                    </div>
                    <div class="quantity" v-if="is_hideNumber">
                        <div class="label">数量:</div>
                        <quantity-action v-model="value.quantity" :max="inventory.number||0"></quantity-action>
                    </div>
                </div>
                <div :class="action == 'buy-now-game' ? 'game_color btn-default ok' : 'btn-default ok'" v-if="action" @click="onClickAction()">{{ buttonText }}</div>
                <div class="btn-bar flex justify-between" v-if="!action">
                    <div class="btn-white flex-auto" @click="onClickAction('add-shopping-cart')">加入购物车</div>
                    <div class="btn-default flex-auto" @click="onClickAction('buy-now')">立即购买</div>
                </div>
            </div>
        </full-popup>
        <dialogs :type="dialogs_type" :show="is_show" @close="is_show = false" :messages="dialogs_message"></dialogs>
    </div>
</template>

<script>
    import {app_rules} from '/config/parameter'
    import QuantityAction from '/components/QuantityAction.vue'
    import Dialogs from '/components/Dialogs.vue'
    import FullPopup from '/components/FullPopup.vue'
    import {mapActions} from 'vuex'

    export default{
        components:{
            FullPopup,
            QuantityAction,
            Dialogs
        },
        props:{
            /**
             * add-shopping-cart|buy-now|shopping-cart-action
             */
            action: String,
            is_game: Boolean,
            value: Object,
            sku: Object, //attributes
            inventories: Object,
            default_price: [String, Number],
            default_image: [String, Number],
            recommend: [String, Number],
            can_join_game: [Boolean, Number],
            sell_attribute_value: {
                type: Array,
                default: []
            }
        },
        data(){
            return{
                is_show: false,
                is_submit_order: false,
                toast_index: null,
                buttonText: '确定',
                dialogs_type: 7,
                dialogs_message: '',
            }
        },
        mounted(){
            if (this.action == 'buy-now-game') {
                this.buttonText = '邀好友点亮拼图，免费获美衣';
            }
        },
        computed:{
            imgSrc(){
                let img = this.sell_attribute_value.find((v)=>{
                    return !!v && this.selected_sku_ids.indexOf(v.attribute_value_id) >= 0;
                });
                img = img && img.sell_product_attribute_value_image;
                return img || this.inventory.image || this.default_image
            },
            selected_sku_ids(){
                let ret = [];
                for (let i of this.value.sku){
                    ret.push(i.id);
                }
                return ret;
            },
            selected_sku_str(){
                let ret_arr = [];
                for (let i of this.value.sku){
                    ret_arr.push(i.value);
                }
                return ret_arr.join(' ');
            },
            inventory_price(){
                let ret = 0;
                if(this.is_point){
                    ret = this.inventory.show_price || this.default_price;
                }else{
                    ret = this.inventory.mark_price || this.default_price;
                }
                return parseFloat(ret).toFixed(2);
            },
            inventory(){
                if(!this.inventories || this.value.sku.length !== this.sku.length) return {};
                let attrs_id = [];
                for (let i of this.value.sku){
                    attrs_id.push(i.id);
                }

                let selected_sku_ids = this.selected_sku_ids.sort((a, b) => parseInt(a) > parseInt(b));

                let inventory = this.inventories.find((inventory)=>{
                    return inventory.value_key === selected_sku_ids.join('_')
                        || inventory.value_key === selected_sku_ids.reverse().join('_');
                });

                if(!inventory){
                    inventory = {};
                }

                this.$set(this.value, 'inventory', inventory);

                return inventory;
            },
            disabled_sku_ids(){
                if (!this.selected_sku_ids.length) return [];
                return this.inventories.filter((inventory) => {
                    if(parseInt(inventory.number) !== 0){
                        return false;
                    }
                    for (let i of this.selected_sku_ids){
                        if(inventory.value_key.split('_').indexOf(i) >= 0){
                            return true;
                        }
                    }
                    return false;
                }).map((inventory) => {
                    return inventory.value_key.split('_');
                }).reduce(
                    (acc, val) => acc.concat(val),
                    []
                );
            },
            is_point(){
                return this.action === 'point-exchange'
            },
            is_hideNumber(){
                return this.action !== 'buy-now-game' && this.action !== 'point-exchange';
            }
        },
        watch: {
        },
        methods:{
            ...mapActions([
                'addToCart'
            ]),
            onClickSku(i){
                if (this.disabled_sku_ids.indexOf(i.id) >= 0 && this.selected_sku_ids.indexOf(i.id) < 0) {
                    return;
                }
                for (let index in this.value.sku) {
                    let j = this.value.sku[index];
                    if (j.attribute_id !== i.attribute_id) continue;
                    if (j.id === i.id) {
                        this.value.sku.splice(index, 1);
                    } else {
                        this.value.sku.splice(index, 1, i);
                    }
                    return;
                }
                this.value.sku.push(i);
            },
            getSkuClass(i){
                let classes = [];
                if (this.selected_sku_ids.indexOf(i.id) >= 0) {
                    if (this.action === 'buy-now-game') {
                        classes.push('game_color');
                    } else {
                        classes.push('on');
                    }

                }

                if (this.disabled_sku_ids.indexOf(i.id) >= 0 && this.selected_sku_ids.indexOf(i.id) < 0) {
                    classes.push('disabled');
                }
                return classes;
            },
            onClose(e){
                if(e && e.target.className.indexOf('product-sku-action') < 0)return;
                this.close();
            },
            close(){
                let type = null;
                if (this.is_submit_order) {
                    type = 'buy-now'
                }else{
                    type = this.action
                }
                this.$emit('close', type);
                this.$emit('input', this.value);
            },
            onClickAction(type = ''){
                if (this.value.sku.length !== this.sku.length) {
                    if (this.toast_index) this.toast_index.close();
                    this.toast_index = Mint.Toast('请选择商品属性');
                    return;
                }
                if (!this.inventory.number) {
                    Mint.Toast('库存不足')
                    return false;
                }
                if (!type && this.action) type = this.action;

                switch (type){
                    case 'add-shopping-cart':
                        this.addToCart({
                            inventory_id: this.inventory.id,
                            number: this.value.quantity
                        });
                        this.close();
                        break;
                    case 'shopping-cart-action':
                        this.close();
                        break;
                    case 'buy-now':
                        this.is_submit_order = true;
                        this.$store.dispatch('nowCheckout', {
                            inventory_id: this.value.inventory.id,
                            number: this.value.quantity
                        });
                        break;
                    case 'buy-now-game':
                        this.is_submit_order = true;
                        let params = {
                            inventoryId: this.value.inventory.id,
                            number: this.value.quantity,
                        };
                        Mint.Indicator.open();
                        axios.post(RequestAPI.base_url+'game/order', params, {headers: {token:Vue.$store.state.token}})
                            .then((response) => {
                                Mint.Indicator.close()
                                if (response.data.status == 'success'){
                                    this.$router.push({name: 'Game.Show', params:{id: response.data.data.user_game_id}});
                                    // this.$emit('share', response.data.data.user_game_id)
                                } else {
                                    if (response.data.code == 10066) {
                                        if (Vue.$store.state.is_app) {
                                            location.href = 'amii://user/bindphone';
                                            return false;
                                        } else {
                                            Mint.MessageBox.confirm('当前账号未绑定手机，前往绑定？', '')
                                            .then(action => {
                                                Vue.$router.push({
                                                    name: 'Settings.BindPhone',
                                                });
                                            }, action => {
                                            });
                                        }
                                    } else {
                                        if (response.data.message.indexOf('今天次数已用完') < 0 && this.can_join_game == 0) {
                                            this.is_show = true;
                                            this.dialogs_message = response.data.message;
                                            return;
                                        }
                                        this.is_show = true;
                                        this.dialogs_type = 4;
                                        this.dialogs_message = response.data.message;
                                    }
                                }
                            })
                            .finally(() => Mint.Indicator.close());
                        break;
                    case 'point-exchange':
                        if (this.inventory.id) {
                            this.is_submit_order = true;
                            if(parseFloat(this.value.inventory.show_price) > parseFloat(this.$store.state.user_info.points)){
                                Mint.Toast('积分不足兑换');
                                return;
                            }
                            Mint.Indicator.open();
                            RequestAPI.http.post('point/order', {inventoryId: this.value.inventory.id})
                                .then((response) => {
                                    this.$router.push({
                                        name: 'Points.SubmitOrder',
                                        params: {id: response.orderSn}
                                    });
                                })
                                .finally(() => Mint.Indicator.close());
                        }else {
                            Mint.Toast('请选择商品属性');
                        }
                        break;
                }
            },
        },
        created(){
            if(!this.value.quantity){
                this.$set(this.value, 'quantity', 1);
            }
            if(!this.value.sku){
                this.$set(this.value, 'sku', []);
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .product-sku-action{
        background: rgba(0,0,0,.6);

        .panel{
            border-radius: .3rem .3rem 0 0;
            width: 100%;
            background: #fff;

            .info{
                padding: .3rem .3rem 0 .3rem;
                display: flex;

                .image{
                    padding: .1rem;
                    width: 2rem;
                    border-radius: .1rem;
                    margin-top: -1rem;
                    background: #fff;

                    .img{
                        border-radius: .1rem;
                        width: 2rem;
                        height: 2rem;
                        -webkit-background-size: cover;
                        -o-background-size: cover;
                        -ms-background-size: cover;
                        -moz-background-size: cover;
                        background-size: cover;
                        background-position: center center;
                    }
                }

                .info-right{
                    margin-left: .2rem;
                    line-height: 1.3;
                }

                .price{
                    font-size: .36rem;
                    color: #2e2e2e;
                }
            }

            .select-sku{
                line-height: 1.5;
            }

            .system-recommend{
                margin-top: .2rem;
                background: rgb(248, 248, 248);
                font-size: .22rem;
                color: $gray-color;
                padding: 0 .43rem;

                span{
                    color: $sienna-color;
                }
            }

            .system-address{
                color: $sienna-color;
                padding: .15rem 0;

                span{
                    vertical-align: middle;
                }

                i{
                    font-size: .35rem;
                    vertical-align: middle;
                }
            }

            .select{
                padding: .6rem .6rem 0 .6rem;
                color: #666666;

                > div {
                    padding-bottom: .6rem;
                    display: flex;
                }

                .label{
                    width: 1.5rem;
                    padding-top: .15rem;
                }

                .radio{
                    margin: 0 -.05rem;

                    span{
                        margin: .05rem;
                        padding: .1rem .2rem;
                        background: #f4f4f4;
                        border-radius: .05rem;
                        display: inline-block;

                        &.on{
                            background: #cd983e;
                            color: #fff;
                        }

                        &.disabled{
                            color: #c8c8c8;
                        }
                    }
                }
            }

            .ok{
                margin: .4rem .6rem .6rem .6rem;
                height: .7rem;
                border-radius: .03rem;
                line-height: .7rem;
            }

            .btn-bar{
                font-size: .32rem;
            }

            .through{
                text-decoration: line-through;
            }
        }
    }
    .game_color{
        background: #bc1b21!important;
        color: #fff;
    }
</style>
