<template>
    <div class="set-psd">
        <six-password v-model="password"></six-password>
        <div v-for="i in input_methods" v-if="type === i.type" class="settings-button" @click="commit">{{i.btn_name}}</div>
    </div>
</template>

<script>
    import SixPassword from '/components/SixPassword.vue'
    import {mapMutations} from 'vuex'

    export default{
        components: {
            SixPassword
        },
        props:{
            type: String,
            code: String,
        },
        data(){
            return {
                input_methods: [
                    {
                        type: 'old_withdraw',
                        name: '输入原提现密码',
                        btn_name: '下一步',
                    },
                    {
                        type: 'reset_withdraw',
                        name: '重置提现密码',
                        btn_name: '保存',
                    },
                    {
                        type: 'set_withdraw',
                        name: '设置提现密码',
                        btn_name: '确定'
                    },
                    {
                        type: 'again_withdraw',
                        name: '再次输入提现密码',
                        btn_name: '保存',
                    }
                ],
                password: '',
                form: {
                    new_password: '',
                    old_password: this.$route.params.password,
                    code: this.$route.params.code,
                },
                type: this.$route.type,
            }
        },
        methods: {
            ...mapMutations([
                'cacheUserInfo'
            ]),
            commit() {
                if (this.password.length < 6) {
                    Mint.Toast('请输入完整密码！');
                    return;
                }

                switch (this.type) {
                    case 'old_withdraw': {
                        this.resetNext(this.password);
                    }
                    break;
                    case 'reset_withdraw': {
                        this.savePassword();
                    }
                    break;
                    case 'set_withdraw': {
                        this.resetNext(this.password);
                        // this.again_withdraw(password);
                    }
                    break;
                    case 'again_withdraw': {
                        if (this.form.old_password != this.password) {
                            Mint.Toast('两次密码输入不一致！');
                            return;
                        }
                        // this.form.old_password = '';
                        this.savePassword();
                    }
                    break;
                }
            },
            savePassword() {
                this.form.new_password = this.password;
                Mint.Indicator.open();
                RequestAPI.http.post('payment_password/reset', this.form)
                    .then((response) => {
                        let message = this.type == 'reset_withdraw' ? '修改提现密码成功！' : '设置提现密码成功';
                        Mint.Toast(message);
                        this.$router.go(-2);
                        if (this.type == 'again_withdraw') {
                            let user = this.$store.state.user_info;
                            user.has_payment_password = 1;
                            this.cacheUserInfo(user);
                        }
                    })
                    .finally(() => Mint.Indicator.close())
            },
            resetNext(password) {
                let type = this.type == 'old_withdraw' ? 'reset_withdraw' : 'again_withdraw';
                this.$router.push({name: 'Settings.ResetWithdraw', params: {password: password, type: type}})
            },
            inputPasswordAgain(password) {
                this.$route.push({name: '', params: {password: password}})
            },
        }
    }
</script>

<style lang="scss" scoped>
    .set-psd{
        height: 100vh;
        background: #FFF;

        .six-password{
            padding: 0.58rem 0;
        }
    }
</style>
