<template>
    <full-popup class="store-map" @close="$emit('close')">
        <div class="map"></div>
        <div class="absolute-bottom col-12" v-if="clicked_store">
            <div class="selected-store-info">
                <div class="name">{{ clicked_store.name }}</div>
                <div class="contact">{{ clicked_store.address }}{{ clicked_store.detail_address }}</div>
                <div class="contact">{{ clicked_store.phone }}</div>
            </div>
        </div>
    </full-popup>
</template>

<script>
    import FullPopup from '/components/FullPopup.vue'
    const ICO1 = require('/assets/images/map_ico1.png');
    const ICO2 = require('/assets/images/map_ico2.png');

    export default{
        components:{
            FullPopup
        },
        props: ['list', 'position', 'center'],
        data(){
            return{
                map: null,
                clicked_store: null,
                clicked_marker: null,
            }
        },
        computed:{
            current_position(){
                let position = null;
                if (this.position && this.position.lat && this.position.lng) {
                    position = this.position;
                }

                if (!position && this.list.length > 0) {
                    position = {
                        lat: this.list[0].latitude,
                        lng: this.list[0].longitude
                    }
                }
                return new qq.maps.LatLng(position.lat, position.lng);
            },
            center_position(){
                let position = null;
                if (this.center && this.center.lat && this.center.lng) {
                    position = this.center;
                }
                if(!position){
                    return this.current_position;
                }
                return new qq.maps.LatLng(position.lat, position.lng);
            }
        },
        mounted(){
            this.map = new qq.maps.Map(this.$el.querySelector('.map'), {
                center: this.center_position,
                zoom: 12
            });
            let scaleSize = new qq.maps.Size(38, 57);
            let scaleSize1 = new qq.maps.Size(38, 38);
            let ico1 = new qq.maps.MarkerImage(ICO1, null, null, null, scaleSize1);
            let ico2 = new qq.maps.MarkerImage(ICO2, null, null, null, scaleSize);

            new qq.maps.Marker({
                position: this.current_position,
                animation: qq.maps.MarkerAnimation.DROP,
                map: this.map
            });
            qq.maps.event.addListener(this.map, 'click', () => {
                this.clicked_store = null;
                this.clicked_marker.set('icon', ico1);
            });
            for (let i of this.list) {
                let marker = new qq.maps.Marker({
                    icon: ico1,
                    map: this.map,
                    position: new qq.maps.LatLng(i.latitude, i.longitude)
                });
                qq.maps.event.addListener(marker, 'click', () => {
                    if (this.clicked_marker) this.clicked_marker.set('icon', ico1);
                    marker.set('icon', ico2);
                    this.clicked_store = i;
                    this.clicked_marker = marker;
                });
                if(this.center && this.center.lat === i.latitude && this.center.lng === i.longitude){
                    marker.set('icon', ico2);
                    this.clicked_store = i;
                    this.clicked_marker = marker;
                }
            }
        },
        methods:{
            getItemLink(id){
                return {
                    name: 'Community.Store',
                    params: {
                        id: id
                    }
                }
            },
        }
    }
</script>

<style lang="scss">
    .store-map{
        .map{
            min-height: 100vh;
        }

        .selected-store-info{
            background: #fafafa;
            margin: .2rem;
            padding: .2rem;
            box-shadow: 0 0 1px #ccc;

            > div{
                margin: .2rem 0;
            }

            .name{
                font-size: .3rem;
                font-weight: 700;
            }
            .contact{
                font-size: .26rem;
                font-weight: 400;
            }
        }
    }
</style>
