<template>
    <full-popup class="submit-order-available-coupons gray-bg" @close="$emit('close')">
        <div class="margin">
            <coupon-item :data="i" v-for="i in coupons" :key="i" @click.native="onSelect(i)"></coupon-item>
        </div>
    </full-popup>
</template>

<script>
    import CouponItem from '/components/CouponItem.vue'
    import FullPopup from '/components/FullPopup.vue'

    export default{
        components:{
            CouponItem,
            FullPopup
        },
        props: ['value', 'coupons'],
        computed:{},
        mounted(){},
        methods:{
            onSelect(i){
                this.$emit('input', i);
                this.$emit('close');
            }
        }
    }
</script>

<style lang="scss" scoped>
    .submit-order-available-coupons{
        overflow-y: auto;

        .margin{
            padding: .2rem;
        }
    }
</style>