<template>
    <full-popup class="submit-order-address-select gray-bg" @close="$emit('close')">
        <div class="toolbar justify-between">
            <div class="btn"></div>
            <div class="btn">选择地址</div>
            <router-link :to="{name:'Settings.Address'}" tag="div" class="btn">管理</router-link>
        </div>
        <div class="list">
            <div class="address flex bg-white" v-for="i in list">
                <div class="address-select flex flex-column justify-around flex-auto" @click="onItemClick(i)">
                    <div class="name-phone"><span>{{ i.realname }}</span><span>{{ i.phone }}</span></div>
                    <div class="full"><span v-if="i.status == 1">[默认]</span><span v-for="ii in i.address" v-if="ii">{{ ii.name }}</span>{{ i.detail }}</div>
                </div>
            </div>
        </div>
    </full-popup>
</template>

<script>
    import FullPopup from '/components/FullPopup.vue'

    export default{
        components:{
            FullPopup
        },
        props: ['value'],
        data(){
            return{
                list: []
            }
        },
        computed:{},
        methods:{
            onItemClick(i){
                this.$emit('input', i);
                this.$emit('close');
            }
        },
        mounted(){
            RequestAPI.http.get('address').then((r)=>{
                this.list = r
            })
        }
    }
</script>

<style lang="scss">
    .submit-order-address-select{
        overflow-y: auto;

        .toolbar {
            width: 100%;
            background: #fff;
            border-bottom: 1px solid #ebebeb;
            display: flex;
            justify-content: space-between;

            .btn{
                line-height: .9rem;
                text-align: center;
                min-width: .9rem;
                height: .9rem;
                border: 0;
                background: none;
                font-size: .3rem;
            }
        }

        .list{
            padding-left: .2rem;
            background: #fff;

            > div{
                border-bottom: 1px solid #ebebeb;

                &:last-child{
                    border-bottom: none;
                }
            }

            .name-phone{

                > span{
                    margin-right: .2rem;

                    &:first-child{
                        font-size: .3rem;
                    }
                    &:last-child{
                        font-size: .28rem;
                    }
                }
            }

            .full{
                color: #898989;
            }
        }
    }
</style>
