html {
  //font-size: calc(100vw / 7.5);
  font-size: 50px;
  margin: 0 auto;
}

//@media screen and (min-width: 415px) {
//  html{
//    font-size: 55.2px;
//  }
//}
body {
  font-size: .24rem;
  margin: 0;
}

img, video {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;

  &.auto-height {
    max-height: initial;
  }
}

*, :after, :before {
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*:focus {
  outline: none;
}

*:hover{
  // transition: all .8s;
}

a {
  text-decoration: none;
}

input {
  box-shadow: none;
  line-height: normal;
  -webkit-appearance: none !important;
  outline-offset: 0 !important;
}
