%avatar-box{
    display: inline-block;
    position: relative;
    padding: 0.43rem;

    img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    span{
        position: absolute;
        right: 0.4rem;
        bottom: 0.4rem;
        width: 0.32rem;
        height: 0.32rem;
        &.avatar-male{
            @include backgroundImg(url('../../assets/images/male.png') no-repeat center center, contain);
        }
        &.avatar-female{
            @include backgroundImg(url('../../assets/images/female.png') no-repeat center center, contain);
        }
    }
}
