$default-space: '.2rem' !default;

// color
$black-color: #000000;

$black1-color: #333333;

$black2-color: #060606;

$black3-color: #040404;

$gray-color: #666666;

$gray1-color: #959595;

$gray2-color: #999999;

$gray3-color: #858585;

$sienna-color: #d79523;

$red-color: #f73d38;

$red-color2: #eb4061;

$game-color: #ff6ba5;

$separate-color: rgb(230, 230, 230);
