<template>
    <div class="my-aftermarket-detail">
        <div v-for="item in logs">
            <div class="aftermarket-detail-time">{{item.created_at}} </div>
            <div v-if="Number(item.is_user_record) === 1" class="aftermarket-detail-items aftermarket-detail-mine">
                <div v-if="item.title === ''">
                    <div class="aftermarket-detail-title">{{item.content}}</div>
                </div>
                <div v-else>
                    <div class="aftermarket-detail-title border-bottom">{{item.title}}</div>
                    <div class="aftermarket-detail-cont">{{item.content}}</div>
                    <div class="flex">
                        <div v-if="item.images.length" class="aftermarket-detail-pic" v-for="(i, index) in item.images" @click="openFullImage(item.images, index)">
                            <img :src="i.value || placeholder " alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="aftermarket-detail-items">
                <div v-if="item.title == ''">
                    <div class="aftermarket-detail-title">{{item.content}}</div>
                </div>
                <div v-else>
                    <div class="aftermarket-detail-title border-bottom">{{item.title}}</div>
                        <div v-if="item.title === '退款成功'" class="aftermarket-detail-cont border-bottom">{{item.content}}</div>
                        <div v-else class="aftermarket-detail-cont">{{item.content}}</div>
                    <div class="flex">
                        <div v-if="item.images.length" class="aftermarket-detail-pic" v-for="(i, index) in item.images" @click="openFullImage(item.images, index)">
                            <img :src="i.value || placeholder " alt="">
                        </div>
                    </div>
                </div>
                <div v-if="Number(item.is_express)" class="aftermarket-detail-logistics right-align">
                    <router-link :to="{name: 'My.Orders.ExpressInfo', order: order }" append tag="div">
                        <button>填写退货物流信息</button>
                    </router-link>
                </div>
                <!-- 退款成功  -->
                <div v-if="item.title === '退款成功'" class="aftermarket-detial-finish table">
                    <div class="aftermarket-list table-cell">
                        <i class="aftermarket-icon iconfont icon-dagou"></i>
                        <span>商家已同意</span>
                    </div>
                    <span class="aftermarket-arrow table-cell"><i class="iconfont icon-jiantouyou"></i></span>
                    <div class="aftermarket-list table-cell">
                        <i class="aftermarket-icon iconfont icon-dagou"></i>
                        <span>商家已退款</span>
                    </div>
                    <span class="aftermarket-arrow table-cell"><i class="iconfont icon-jiantouyou"></i></span>
                    <div class="aftermarket-list">
                        <i class="aftermarket-icon iconfont icon-qian"></i>
                        <span>到账时间<br/>{{item.created_at}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 申请中/申请失败 -->
        <div v-if="data && (Number(data.refund_status) == 0 || Number(data.refund_status) === 4)" class="aftermarket-failure flex">
            <div class="col-6">
                <button class="cancel-button" @click="cancelRefund">取消申请</button>
            </div>
            <router-link :to="routerAftermarket(data, type)" append tag="div" class="col-6">
                <button class="modify-button">修改申请信息</button>
            </router-link>
        </div>
        <div class="fullImages-box" v-if="open_fullImg" @click="open_fullImg = false">
            <swipe class="fullImages" :auto="0" :defaultIndex="fullImg.index">
                <swipe-item v-for="i in fullImg.data" :key="i">
                    <img :src="i.value">
                </swipe-item>
            </swipe>
        </div>
    </div>
</template>

<script>
    import {Swipe, SwipeItem} from 'mint-ui';
    export default{
        components:{
            Swipe,
            SwipeItem
        },
        data(){
            return{
                fullImg: {},
                open_fullImg: false,
                data: null,
                logs: [],
                type: this.$route.query.type,
            }
        },
        beforeRouteEnter: (to, from, next) => {
            Mint.Indicator.open();
            RequestAPI.http.get('order-product/' + to.params.order + '/refund')
            .then(function (response) {
                next(vm => {
                    vm.data = response;
                    vm.logs = response.logs;
                })
            })
            .finally(() => Mint.Indicator.close());
        },
        methods:{
            openFullImage(data, index){
                this.open_fullImg = true;
                this.fullImg = {
                    data: data,
                    index: index
                };
            },
            cancelRefund() {
                let $this = this;
                Mint.MessageBox.confirm('是否确认取消售后申请？', '')
                    .then(action => {
                        Mint.Indicator.open();
                        RequestAPI.http.delete('order-product/' + this.data.order_product_id + '/refund/' + this.data.id)
                        .then(function (response) {
                            $this.$router.go(-1);
                        })
                        .finally(() => Mint.Indicator.close());
                    }, action => {
                    });
            },
            routerAftermarket(data, type) {
                return {
                        name: 'My.Orders.Aftermarket',
                        params: {
                            order: data.order_product_id,
                            type: type,
                        },
                        query: {
                            can_product: this.$route.query.can_product,
                            mark_price: this.$route.query.mark_price,
                        }
                    }
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-aftermarket-detail{
        padding: 0 0.22rem 1.3rem;
        overflow: hidden;
    }
    .aftermarket-detail-time{
        padding: 0.3rem 0;
        text-align: center;
        color: $gray1-color;
        font-size: 0.22rem;
    }
    .aftermarket-detail-items{
        position: relative;
        padding: 0 0.2rem;
        border-radius: 0.06rem;
        color: $black1-color;
        background: #FFF;
        margin-bottom: 0.2rem;
        border: 1px solid rgb(225, 225, 225);

        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            left: -16px;
            top: 0.24rem;
            @include triangleStyle(8px, #FFF, left);
            border-top-width: 7px;
            border-bottom-width: 7px;
        }
        &.aftermarket-detail-mine{
            background: rgb(75, 75, 75);
            color: #FFF;
            &:before{
                left: 100%;
                @include triangleStyle(8px, rgb(75, 75, 75), right);
            }
        }
        .aftermarket-detail-title{
            padding: 0.22rem 0;
            border-color: rgb(235, 235, 235);
            font-size: 0.28rem;
        }
        .aftermarket-detail-cont{
            font-size: 0.24rem;
            line-height: 1.667;
            padding: 0.27rem 0 0.3rem;
            border-color: rgb(235, 235, 235);
        }
        .aftermarket-detail-pic{
            padding-bottom: 0.3rem;

            img{
                background: white;
                width: 1.61rem;
                height: 1.61rem;
                margin-right: 0.22rem;
            }
        }
        .aftermarket-detail-logistics{
            padding-bottom: 0.22rem;
            button{
                padding: 0.15rem 0.22rem;
                border: 1px solid $black-color;
                border-radius: 0.04rem;
                color: $black-color;
                font-size: 0.24rem;
                line-height: 1;
                background: #FFF;
            }
        }
        .aftermarket-detial-finish{
            padding: 0.32rem 0 0.4rem;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            .aftermarket-list{
                display: inline-block;
                vertical-align: top;
                width: 22%;
                .aftermarket-icon{
                    display: block;
                    font-size: 1rem;
                    color: rgb(225, 225, 225);
                    text-align: center;
                }
                span{
                    display: block;
                    font-size: 0.2rem;
                    color: $gray1-color;
                    margin-top: 0.25rem;
                }
                &:last-child{
                    i{
                        color: $sienna-color;
                    }
                    span{
                        color: $black1-color;
                    }
                }
            }
            .aftermarket-arrow{
                display: inline-block;
                width: 14%;
                font-size: 0.8rem;
                padding-top: 0.1rem;
                color: rgb(225, 225, 225);
            }
        }
    }
    .aftermarket-failure{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9;

        button{
            width: 100%;
            border: 0;
            font-size: 0.32rem;
            color: #FFF;
            padding: 0.33rem;
        }
        .cancel-button{
            background: #FFF;
            color: #000;
            border-top: 1px solid gainsboro;
        }
        .modify-button{
            background: #cd983e;
        }
    }
    .fullImages-box{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 10;

        .fullImages{
            img{
                position: fixed;
                left: 50%;
                top: 50%;
                max-height: 80%;
                @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));
            }
        }
    }
</style>
