<template>
    <div class="my-orders-aftermarket">
        <div class="aftermarket-cont">
            <div class="aftermarket-list table border-bottom" v-for="(i, index) in list"
                 @click="onClickOption(i.children, index)">
                <div class="table-cell aftermarket-label">{{ i.children_title }}</div>
                <div class="table-cell aftermarket-input">
                    <input type="text" :value="getChildrenVal(i.children[select_index[index]], index)" readonly>
                </div>
                <div class="table-cell aftermarket-arrow right-align"><i class="iconfont icon-youjiantou1"></i></div>
            </div>

            <div class="aftermarket-list table border-bottom" v-if="max_money">
                <div class="table-cell aftermarket-label">退款{{ computedStr }}</div>
                <div class="table-cell aftermarket-input">
                    <input type="text" v-model="form.money" readonly>
                </div>
                <!-- <div class="table-cell aftermarket-arrow right-align">最多{{!is_point ? '￥' + max_money : max_money + '积分'}}</div> -->
            </div>
            <div class="aftermarket-list table border-bottom" v-if="max_express_fee">
                <div class="table-cell aftermarket-label">垫付运费</div>
                <div class="table-cell aftermarket-input">
                    <input type="text" v-model="form.express_fee" readonly>
                </div>
                <!-- <div class="table-cell aftermarket-arrow right-align">最多￥{{max_express_fee}}</div> -->
            </div>
            <div class="aftermarket-list table border-bottom">
                <div class="table-cell aftermarket-label">退款说明</div>
                <div class="table-cell aftermarket-input"><input type="text" v-model="form.content" placeholder="选填">
                </div>
            </div>
        </div>
        <div class="notice" v-if="max_express_fee">同一个订单多个商品退货只垫付一次运费。</div>
        <div class="aftermarket-image flex flex-wrap">
            <div v-for="(item, index) in imageList" class="relative">
                <!-- <img :src="item" alt=""> -->
                <div class="images" :style="'background-image:url('+ item +')'"></div>
                <span class="iconfont icon-close absolute-top-right"
                      @click="form.images.splice(index, 1); imageList.splice(index, 1)"></span>
            </div>
        </div>
        <div class="aftermarket-pic" v-if="form.images.length < 3">
            <img-upload :max="{width: 750}" @added="imageuploaded">
                <div class="aftermarket-empty">
                    <i class="iconfont icon-camera"></i>
                    <div>上传凭证</div>
                    <span>（最多三张）</span>
                </div>
            </img-upload>
        </div>
        <div class="aftermarket-button" @click="submitOrderRefund">提交</div>
        <div class="v-modal" v-if="options_picker.show" @click="options_picker.show = false"></div>
        <div class="address-box address-popup-bottom" :class="[ options_picker.show == true ? 'addressShow' : '']"
             v-if="options_picker.show">
            <div class="address-handle right-align">
                <div class="address-handle-close" @click="options_picker.show=false"><i class="iconfont icon-close"></i>
                </div>
            </div>
            <picker :slots="options_picker.slots" @change="onPickerValuesChange"></picker>
        </div>
    </div>
</template>

<script>
    import {Picker} from 'mint-ui';
    import ImgUpload  from '/components/ImgUpload.vue';

    export default{
        components: {
            ImgUpload,
            Picker
        },
        data(){
            return {
                is_point: this.$route.params.type == 'point',
                options: [],
                options_picker: {
                    show: false,
                    slots: [],
                    select_index_key: null,
                    select_children: null,
                },
                select_index: [0, 0, 0, 0],
                max_money: null,
                max_express_fee: null,
                imageList: [],
                form: {
                    provider: '',
                    options_str: '',
                    money: '',
                    content: '',
                    express_fee: '',
                    images: []
                }
            }
        },
        computed: {
            computedStr(){
                return this.is_point ? '积分' : '金额'
            },
            options_str(){
                let str = [];
                for (let i in this.list) {
                    let ret = this.getChildrenVal(this.list[i].children[this.select_index[i]], i);
                    str.push(this.list[i].children_title + '：' + ret);
                }
                return str.join('，');
            },
            //返回显示列表数据
            list(){
                let ret = [];
                if (!this.options.length) return ret;
                let old_children = {
                    children_title: '申请服务',
                    children: this.options,
                };
                for (let i of this.select_index) {
                    if (!old_children.children || !old_children.children_title) break;
                    ret.push(old_children);
                    if (!old_children.children[i]) break;
                    old_children = old_children.children[i];

                    this.max_money = old_children.max_amount || null;
                    this.max_express_fee = old_children.max_shipping_amount || null;
                    if (old_children.provider) this.form.provider = old_children.provider;
                }
                this.form.money = this.max_money;
                this.form.express_fee = this.max_express_fee;
                return ret;
            }
        },
        mounted() {
        },
        watch: {},
        methods: {
            getChildrenVal (data, index) {
                let ret = data.name;
                if (!data.children_title && data.children) {
                    ret += ' ' + data.children[this.select_index[parseInt(index) + 1]].name
                }
                return ret;
            },
            submitOrderRefund(){

                let exp = /^-?\d+\.?\d{0,6}$/;

                if (this.max_money) {
                    let money = Number(this.form.money);
                    if (!this.form.money || !exp.test(this.form.money)) {
                        if (this.is_point) {
                            Mint.Toast('请输入退积分')
                        } else {
                            Mint.Toast('请输入退款金额')
                        }
                        return;
                    } else if (money > Number(this.max_money)) {
                        if (this.is_point) {
                            Mint.Toast('退积分不能超过' + this.max_money)
                        } else {
                            Mint.Toast('退款金额不能超过¥' + this.max_money)
                        }
                        return;
                    }
                }
                if (this.max_express_fee) {
                    if (!this.form.express_fee || !exp.test(this.form.express_fee)) {
                        Mint.Toast('请输入运费金额');
                        return;
                    } else if (Number(this.form.express_fee) > Number(this.max_express_fee)) {
                        Mint.Toast('垫付运费金额不能超过¥' + this.max_express_fee);
                        return;
                    }
                }

                this.form.options_str = this.options_str;
                Mint.Indicator.open();
                RequestAPI.http.post('order-product/' + this.$route.params.order + '/refund', this.form)
                    .then((response) => {
                        Mint.Toast('申请售后成功');
                        this.$router.go(-1);
                    })
                    .finally(() => Mint.Indicator.close())
            },
            onClickOption(children, index){
                if (children.length < 2) return;
                let slots = [];
                let current_child = children[this.select_index[index]];
                let slot = {
                    values: [],
                    defaultIndex: this.select_index[index],
                    textAlign: 'center'
                };
                for (let i of children) {
                    slot.values.push(i.name);
                }
                slots.push(slot);

                if (!current_child.children_title && current_child.children) {
                    let slot = {
                        values: [],
                        defaultIndex: this.select_index[index + 1],
                        textAlign: 'center'
                    };
                    for (let i of current_child.children) {
                        slot.values.push(i.name);
                    }
                    slots.push(slot);
                }

                this.options_picker.slots = slots;
                this.options_picker.show = true;
                this.options_picker.select_children = children;
                this.options_picker.select_index_key = index;
            },
            onPickerValuesChange(picker, values){
                let old_children = this.options_picker.select_children;
                let old_index = this.options_picker.select_index_key;
                for (let i of values) {
                    if (!i) continue;
                    let index = old_children.findIndex((v) => v.name === i);
                    if (index < 0) index = 0;

                    this.select_index.splice(old_index, 1, index);

                    if (old_children[index] && !old_children[index].children_title && old_children[index].children) {
                        old_children = old_children[index].children;
                        old_index += 1;
                        let next_picker_option = [];
                        for (let ii of old_children) {
                            next_picker_option.push(ii.name);
                        }
                        picker.setSlotValues(values.indexOf(i) + 1, next_picker_option);
                    }
                }

            },
            imageuploaded(res) {
                let data = new FormData();
                if (!res) {
                    Mint.Toast('上传失败');
                } else {
                    data.append('image', res, (new Date()).getTime() + '.png');
                    Mint.Indicator.open();
                    RequestAPI.http.post('order-product/image', data)
                        .then((response) => {
                            console.log(response);
                            if (response.image_url) {
                                this.imageList.push(response.image_url);
                            } else {
                                let base_url = RequestAPI.base_url.substring(0, RequestAPI.base_url.length - 4);
                                this.imageList.push(base_url + 'uploads/images/refund/' + response.value);
                            }
                            this.form.images.push(response)
                        })
                        .finally(() => Mint.Indicator.close())
                }
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('order-product/' + to.params.order + '/copywriting')
                .then((r) => {
                    next(vm => {
                        vm.options = r;
                    })
                })
                .finally(() => Mint.Indicator.close());
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-orders-aftermarket {
        min-height: calc(100vh - 1rem);
        padding-bottom: 1rem;
        background: #fff;

        .notice{
            padding: 0.2rem .45rem 0;
            font-size: .2rem;
            color: $gray-color;
        }
    }

    .aftermarket-list {
        width: 100%;
        padding: 0.38rem 0 0.4rem;
        font-size: 0.26rem;
        border-color: rgb(235, 235, 235);
        overflow: hidden;

        .aftermarket-label {
            width: 1.96rem;
            text-align: center;
            color: $black1-color;
        }
        .aftermarket-input {
            @include placeHolder(#b7b7b7);

            input {
                width: 100%;
                border: 0;
            }
        }
        .aftermarket-arrow {
            font-size: 0.24rem;
            color: #b7b7b7;
            padding-right: 0.25rem;
            i {
                font-size: 0.3rem;
            }
        }
    }

    .aftermarket-problem-list {
        border-color: rgb(230, 230, 230);
        padding: 0 0.44rem 0.22rem 0.44rem;

        .aftermarket-problem-content {
            width: 40%;
            &:first-child {
                padding-right: .22rem;
            }
            .aftermarket-problem-item {
                border-color: rgb(230, 230, 230);
                font-size: 0.24rem;
                text-align: center;

                .title {
                    padding-top: .22rem;
                    color: #333333;
                }
                .content {
                    display: block;
                    padding: .22rem;
                    color: #999999;
                }
                .btn-content {
                    margin-bottom: .22rem;

                    .btn {
                        width: .32rem;
                        height: .32rem;
                        background: white;
                        border-color: .1rem black;
                        border-radius: 50%;
                        margin: 0 auto;

                        select {
                            width: .24rem;
                            height: .24rem;
                            background: black;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .aftermarket-image {
        margin: 0.25rem 0.22rem;
        .images {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 0.2rem;
            margin-bottom: 0.2rem;
            background-size: cover;
            background-position: center;
        }
        .absolute-top-right {
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            margin-right: .1rem;
            margin-top: -.1rem;
            padding: .1rem;
            border-radius: 50%;
            font-size: .1rem;
        }
    }

    .aftermarket-pic {
        margin: 0.25rem 0.22rem;
        position: relative;

        .aftermarket-empty {
            display: inline-block;
            padding: 0 0.23rem;
            text-align: center;
            color: #b7b7b7;
            border-radius: 0.06rem;
            border: 1px solid rgb(215, 215, 215);
            font-size: 0.2rem;

            i {
                display: block;
                font-size: 0.48rem;
                margin: 0.25rem 0 0.22rem 0;
            }

            span {
                display: block;
                font-size: 0.16rem;
                margin: 0.1rem 0 0.17rem;
            }
        }
        .pure-button {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            height: 100%;
        }
    }

    .aftermarket-button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #cd983e;
        color: #fff;
        padding: 0.35rem 0;
        text-align: center;
        font-size: 0.32rem;
    }

    .my-orders-aftermarket {
        .address-box {
            // display: none;
            position: fixed;
            background: #fff;
            width: 100%;
            top: 50%;
            left: 0;
            -webkit-transform: translate3d(-50%, 100%, 0);
            transform: translate3d(-50%, 100%, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: .2s ease-out;
            transition: .2s ease-out;
            &.address-popup-bottom {
                top: auto;
                right: auto;
                bottom: 0;
                left: 0;
                -webkit-transform: translate3d(0%, 100%, 0);
                transform: translate3d(0%, 100%, 0);
            }
            .address-handle {
                border-bottom: solid 1px #eaeaea;
                color: #26a2ff;
                line-height: 40px;
                font-size: 16px;
                .address-handle-close {
                    display: inline-block;
                    padding: 0 0.22rem;
                }
            }
            .address-content {
                font-size: 24px;
            }
            &.addressShow {
                // display: block;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
</style>
