<template>
    <div class="my-orders-home">
        <div class="my-orders-content"
            v-infinite-scroll="fetchData"
            infinite-scroll-disabled="loading && !last_page"
            infinite-scroll-distance="10"
        >
            <order-list :datas="orders" @reload="fetchData(true)"></order-list>
        </div>
    </div>
</template>

<script>
    import OrderList from '/modules/OrderList.vue'
    import { InfiniteScroll } from 'mint-ui'

    export default{
        components:{
            OrderList
        },
        directives: {
            InfiniteScroll
        },
        data(){
            return{
                orders: [],
                form: {
                    page: 0,
                    status: 'refunding',
                },
                loading: false,
                last_page: false,
            }
        },
        mounted() {
            if (this.$route.params.status) {
                this.form.status = this.$route.params.status;
            }
            this.fetchData(true);
        },
        methods:{
            fetchData(is_init_page = false){
                if(this.loading || (!is_init_page && this.last_page)) return;
                this.loading = true;

                if (is_init_page || !this.form.page) {
                    this.form.page = 0;
                    this.last_page = false;
                    window.scrollTo(0, 0);
                }
                this.form.page++;

                Mint.Indicator.open();
                RequestAPI.http.get('order', {params:this.form})
                .then((response) =>{
                    if (this.form.page <= 1) {
                        this.orders = response.paginate_data.orders;
                    }else {
                        for (let i of response.paginate_data.orders){
                            this.orders.push(i)
                        }
                    }
                    if (response.paginate_data.orders.length < response.pagination.per_page) {
                        this.last_page = true;
                    }
                })
                .finally(() => {
                    Mint.Indicator.close();
                    this.loading = false;
                })
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

</style>
