<template>
    <div class="my-orders-comment">
        <div class="comment-box" v-for="( i , index ) in products">
            <img :src="i.image" alt="">
            <div class="comment-text">
                <textarea placeholder="请填写对该商品的评价" v-model="i.content"></textarea>
            </div>
            <div class="comment-image flex flex-wrap">
                <div v-for="(item, index2) in i.images" class="relative">
                    <img :src="item">
                    <span class="iconfont icon-close absolute-top-right" @click="i.images.splice(index2, 1);"></span>
                </div>
            </div>
            <div class="comment-pic">
                 <img-upload :max="{width: 750}" @added="imageuploaded" :extend="index">
                    <div class="comment-empty">
                        <i class="iconfont icon-camera"/>
                    </div>
                </img-upload>
            </div>
            <div class="comment-rate">
                评价分数
                <rate v-model="i.comment_rank_id" :size="15" class="right"></rate>
            </div>
        </div>
        <div class="comment-handle table">
            <div class="table-cell comment-radio" @click="changeAnonymity">
                <span class="iconfont" :class="[ status ? 'icon-2xuanzhong' : 'icon-duoxuanxuanxiangline']"></span>
                匿名评论
            </div>
            <div class="table-cell right-align">
                <button class="comment-button" @click="commitComment">提交</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Rate from '/components/Rate.vue'
    import ImgUpload  from '/components/ImgUpload';
    export default{
        components:{
            ImgUpload,
            Rate
        },
        data(){
            return{
                status:false,
                imageList:[],
                setHeader: {
                    token: this.$store.state.token,
                },
                products:[
                ],
                form:{
                    images:[],
                },
                postData:{
                    orderSn:this.$route.params.order,
                    comments:[],
                },
            }
        },
        methods:{
            changeAnonymity(){
                return this.status = !this.status;
            },
            imageuploaded(res, index) {
                let data = new FormData();
                if (!res) {
                    Mint.Toast('上传失败');
                } else {
                    data.append('comment_image', res, (new Date()).getTime() + '.png');
                    Mint.Indicator.open();
                    RequestAPI.http.post('comment/upload', data)
                        .then((response) => {
                            this.products[index].images.push(response.image_url);
                        })
                        .finally(() => Mint.Indicator.close())
                }
            },
            commitComment(){
                this.postData.comments=[];
                for (let i = 0; i < this.products.length; i++) {
                    if(!this.products[i].content){
                        Mint.Toast('评论内容不能为空!');
                        return;
                    }
                    if(!this.products[i].comment_rank_id){
                        Mint.Toast('请选择评价分数!');
                        return;
                    }
                    let form = {};
                    form.status=this.status?1:0;
                    form.content = this.products[i].content;
                    form.inventoryId = this.products[i].inventory_id;
                    form.comment_rank_id = this.products[i].comment_rank_id;
                    form.images=this.products[i].images;
                    this.postData.comments.push(form);
                }
                Mint.Indicator.open();
                RequestAPI.http.post('comment',this.postData)
                   .then((response)=>{
                        Mint.Toast('商品评论成功!');
                        this.$router.go(-1);
                   })
                   .finally(() => Mint.Indicator.close())
            }
        },
        beforeRouteEnter (to, from, next) {
           Mint.Indicator.open();
           RequestAPI.http.get('comment/create',{
                    params: {
                        orderSn: to.params.order
                    }
                })
               .then(function (response) {
                   next(vm => {
                       for(let i of response.products){
                           i.comment_rank_id = 0;
                           i.images = [];
                       }
                       vm.products = response.products;
                   })
               })
               .finally(() => Mint.Indicator.close())

       }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-orders-comment{
        padding-bottom: 1.2rem;
    }
    .comment-box{
        background: #FFF;
        margin-bottom: 0.2rem;
        padding: 0.2rem 0.22rem 0.25rem;
        img{
            width: 1.11rem;
            height: 1.14rem;
            float: left;
        }
        .comment-text{
            display: block;
            margin-left: 1.31rem;
            textarea{
                width: 100%;
                resize: none;
                padding: 0;
                height: 2.18rem;
                font-size: 0.26rem;
                border: 0;
            }
            @include placeHolder($gray1-color);
        }
        .comment-image{
            margin-bottom:0.1rem;
            margin-left: -.1rem;
            margin-right: -.1rem;

            > div{
                margin: .1rem;
            }

            .absolute-top-right{
                background: rgba(0, 0, 0, 0.8);
                color: #fff;
                margin-right: -.1rem;
                margin-top: -.1rem;
                padding: .1rem;
                border-radius: 50%;
                font-size: .1rem;
            }

            img{
                width: 1.4rem;
                height: 1.4rem;
            }
        }
        .comment-pic{
            position:relative;
            .pure-button{
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                height:100%;
            }
        }
        .comment-rate{
            margin-top: .2rem;
            font-size: .26rem;
            height: .4rem;
            line-height: .4rem;
            color: #666;
        }
        .comment-empty{
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 0.05rem;
            border: 1px solid rgb(215, 215, 215);
            text-align: center;
            line-height: 1.4rem;
            i{
                font-size: 0.48rem;
                color: rgb(215, 215, 215);
            }
        }

    }
    .comment-handle{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.1);
        background: #FFF;
        .comment-radio{
            font-size: 0.26rem;
            color: $black1-color;
            padding-left: 0.22rem;

            span{
                font-size: 0.4rem;
                vertical-align: middle;
                margin-right: 0.14rem;

                &.icon-duoxuanxuanxiangline{
                    color: rgb(194, 194, 194);
                }
            }
        }
        .comment-button{
            width: 2.58rem;
            height: 0.98rem;
            background: #cd983e;
            color: #FFF;
            text-align: center;
            border: 0;
            font-size: 0.32rem;
        }
    }
</style>
