<template>
    <div class="my-orders-expressInfo">
        <div class="aftermarket-list table border-bottom">
            <div class="table-cell aftermarket-label">物流公司</div>
            <div class="table-cell aftermarket-input"><input type="text" placeholder="请输入物流公司" v-model="form.courier_company"></div>
<!--            <div class="table-cell aftermarket-input" @click="is_show = true"><input type="text" placeholder="请选择物流公司" v-model="status" readonly></div> -->
            <div class="table-cell aftermarket-arrow right-align">
<!--            <i class="iconfont icon-youjiantou1"></i>  -->
            </div>
        </div>
        <div class="aftermarket-list table border-bottom">
            <div class="table-cell aftermarket-label">物流单号</div>
            <div class="table-cell aftermarket-input"><input type="text" placeholder="请输入物流单号" v-model="form.courier_number"></div>
            <div class="table-cell aftermarket-arrow right-align"></div>
        </div>
        <div class="aftermarket-button" @click="submitRefundExpress">提交</div>
        <actionsheet :actions="actions" v-model="is_show" />
    </div>
</template>

<script>
    import { Actionsheet } from 'mint-ui';

    export default{
        components:{
            Actionsheet
        },
        data(){
            return{
                is_show: false,
                status: '顺丰物流',
                actions: [
                    {
                        name: '顺丰物流',
                        method: ()=>{
                            return this.status = '顺丰物流';
                        }
                    },
                    {
                        name: '申通物流',
                        method: ()=>{
                            return this.status = '申通物流';
                        }
                    }
                ],
                order: this.$route.params.order,
                form: {
                    courier_company: '',
                    courier_number: '',
                }
            }
        },
        methods:{
            submitRefundExpress() {
                let $this = this;
                // this.form.courier_company = this.status;

                Mint.Indicator.open();
                RequestAPI.http.post('order-product/' + this.order + '/refund-express', this.form)
                    .then((response) => {
                        Mint.Toast('填写物流信息成功');
                        $this.$router.go(-1)
                    })
                    .finally(() => Mint.Indicator.close())
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .aftermarket-list{
        width: 100%;
        padding: 0.38rem 0 0.4rem;
        font-size: 0.26rem;
        border-color: rgb(235, 235, 235);
        background: #FFF;

        .aftermarket-label{
            width: 1.96rem;
            text-align: center;
            color: $black1-color;
        }
        .aftermarket-input{
            input{
                border: 0;
                padding: 0;
                line-height:normal;
            }
            @include placeHolder(#b7b7b7);
        }
        .aftermarket-arrow{
            font-size: 0.24rem;
            color: #b7b7b7;
            padding-right: 0.25rem;
            i{
                font-size: 0.3rem;
            }
        }
    }
    .aftermarket-button{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $black-color;
        color: #fff;
        padding: 0.35rem 0;
        text-align: center;
        font-size: 0.32rem;
    }
</style>
