<template>
    <div class="my-orders-express" v-if="express_data.data && express_data.data.length">
        <div class="express-product">
            <img :src="image | placeholder" alt="">
            <div class="express-product-info">
                <div>物流公司: {{express_data.com}}</div>
                <div>运单编号: {{express_data.nu}}</div>
            </div>
        </div>
        <div class="express-info">
            <div class="express-list" v-for="i in express_data.data">
                <div class="express-address">{{i.context}}</div>
                <div class="express-time">{{i.time}}</div>
                <span></span>
            </div>
        </div>
    </div>
    <empty-view v-else :content="content"/>
</template>

<script>
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components:{
            EmptyView
        },
        data(){
            return{
                express_data: {},
                content: '暂无物流信息',
                image: this.$route.query.image,
            }
        },
        beforeRouteEnter: (to, from, next) => {
            Mint.Indicator.open();
            RequestAPI.http.get('order/' + to.params.id + '/express')
            .then(function (response) {
                next(vm => {
                    vm.express_data = response.info;
                })
            })
            .finally(() => Mint.Indicator.close());
        },
        methods:{

        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .express-product{
        background: #FFF;
        padding: 0.2rem;
        margin-bottom: 0.2rem;
        overflow: hidden;

        img{
            width: 1.6rem;
            height: 1.6rem;
            float: left;
            margin-right: 0.2rem;
        }
        .express-product-info{
            div{
                line-height: 1.692;
                color: $black1-color;
                font-size: 0.26rem;
            }
        }
    }
    .express-info{
        background: #FFF;
        padding-left: 0.2rem;
        overflow: hidden;

        .express-list{
            padding: 0.32rem 0 0.3rem;
            border-bottom: 1px solid rgb(240, 240, 240);
            position: relative;
            margin-left: 0.60rem;
            color: $black1-color;

            &:last-child{
                border: 0;
            }
            &:before{
                content: '';
                height: 100%;
                width: 1px;
                background: rgb(240, 240, 240);
                position: absolute;
                top: 0.32rem;
                left: -0.42rem;
            }
            span{
                display: inline-block;
                position: absolute;
                left: -0.58rem;
                top: 0.3rem;
                width: 0.34rem;
                height: 0.34rem;
                border-radius: 100%;
                background: transparent;
                &:after{
                    content: '';
                    display: inline-block;
                    width: 0.18rem;
                    height: 0.18rem;
                    border-radius: 100%;
                    background: #e1e1e1;
                    margin: 4px;
                }
            }
            &:first-child{
                color: $sienna-color;
                span{
                    background: #f9efde;
                    &:after{
                        background: rgb(215, 149, 35);
                    }
                }
            }
            .express-address{
                margin-bottom: 0.2rem;
                font-size: 0.26rem;
            }
            .express-time{
                font-size: 0.2rem;
            }
        }
    }
</style>
