<template>
    <div class="my-orders-home">
        <div class="my-orders-search header-bar justify-between items-center">
            <div class="search" @click="onClickSearch">
                <span class="iconfont icon-search"></span>
                {{ form.search || '搜索订单' }}
            </div>
        </div>
        <div class="header-bar justify-between items-center">
            <div class="nav justify-around">
                <router-link class="nav__item" tag="div" :to="{name:'My.Orders',params:{status:'all'}}" replace>全部</router-link>
                <router-link class="nav__item" tag="div" :to="{name:'My.Orders',params:{status:'paying'}}" replace>待付款</router-link>
                <router-link class="nav__item" tag="div" :to="{name:'My.Orders',params:{status:'sending'}}" replace>待发货</router-link>
                <router-link class="nav__item" tag="div" :to="{name:'My.Orders',params:{status:'receiving'}}" replace>待签收</router-link>
                <router-link class="nav__item" tag="div" :to="{name:'My.Orders',params:{status:'appraising'}}" replace>待评价</router-link>
            </div>
        </div>
        <div class="my-orders-content"
            v-infinite-scroll="fetchData"
            infinite-scroll-disabled="loading && !last_page"
            infinite-scroll-distance="10"
        >
            <order-list :datas="orders" @reload="fetchData(true)"></order-list>
        </div>
        <products-search v-model="form.search" @submit="onSubmitSearch" v-if="is_show_search" :order_search="true"></products-search>
    </div>
</template>

<script>
    import ProductsSearch from '/components/ProductsSearch.vue'
    import OrderList from '/modules/OrderList.vue'
    import { InfiniteScroll } from 'mint-ui'

    export default{
        components:{
            ProductsSearch,
            OrderList
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return{
                is_show_search: false,
                form: {
                    search: '',
                    page: 0,
                    status: '',
                },
                loading: false,
                last_page: false,
                orders: []
            }
        },
        watch:{
            '$route.params.status'(val){
                this.form.status = val;
                this.fetchData(true);
            }
        },
        created() {
            this.form.status = this.$route.params.status;
        },
        methods:{
            navIsOn(status){
                return status == this.form.status ? 'nav__item__on' : '';
            },
            onClickSearch(){
                this.is_show_search=true;
            },
            onSubmitSearch(search){
                this.form.search = search;
                this.is_show_search = false;
                this.fetchData(true);
            },
            fetchData(is_init_page = false){
                if(this.loading || (!is_init_page && this.last_page)) return;
                this.loading = true;

                if (is_init_page || !this.form.page) {
                    this.form.page = 0;
                    this.last_page = false;
                    window.scrollTo(0, 0);
                }
                this.form.page++;

                if (this.form.status == 'all') {
                    this.form.status = '';
                }

                Mint.Indicator.open();
                RequestAPI.http.get('order', {params:this.form})
                .then((response) =>{
                    if (this.form.page <= 1) {
                        this.orders = response.paginate_data.orders;
                    }else {
                        for (let i of response.paginate_data.orders){
                            this.orders.push(i)
                        }
                    }
                    if (response.paginate_data.orders.length < response.pagination.per_page) {
                        this.last_page = true;
                    }
                })
                .finally(() => {
                    Mint.Indicator.close();
                    this.loading = false;
                })
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-orders-home{
        .nav{
            width: 100%;
        }
        .my-orders-search{
            padding: 0.18rem 0.2rem 0.18rem 0;
            background: #FFF;
            @include boxSizing(border-box);
        }
    }
    .orders-tab{
        width: 20%;
        .nav__item{
            display: inline-block;
        }
    }
</style>
