<template>
    <div class="my-orders-show">
        <div class="show-items orders-addressBox">
            <router-link :to="routerExpress()" append class="table order-logistics border-bottom" tag="div" v-if="express">
                <div class="table-cell address-icon truck"><i class="iconfont icon-truck"></i></div>
                <div class="table-cell address-info">
                    <div class="logistics-info">{{express.context}}</div>
                    <div class="logistics-time">{{express.time}}</div>
                </div>
                <div class="table-cell right-align arrow"><i class="iconfont icon-youjiantou1"></i></div>
            </router-link>
            <div class="table order-address">
                <div class="table-cell address-icon"><i class="iconfont icon-address"></i></div>
                <div class="table-cell address-info" v-if="order.shipping_address">
                    <div><span>{{order.shipping_address.name}}</span><span>{{order.shipping_address.phone}}</span></div>
                    <div>{{order.shipping_address.address}}</div>
                </div>
            </div>
        </div>
        <div :class="order.provider=='point' ? 'show-items point order-content' : 'show-items order-content'">
            <div class="order-status border-bottom">
                <!-- 交易关闭 -->
                <!-- 待付款 -->
                <div class="flex items-center">
                    <div class="col-9">{{ order_status[order.order_status_str] }}</div>
                    <router-link :to="{name: 'My.Orders.Comment', params: { order: order.order_sn }}" class="col-3 right-align comment" tag="div"
                        v-if="order.order_status_str=='appraising'">
                        <i class="iconfont icon-edit"></i>
                    </router-link>
                </div>
            </div>
            <product-list v-if="order.order_products"
                                :products="order.order_products"
                                :status="order.order_status_str"
                                :type="order.provider"
                                :give_product="order.give_product"
                                :refund="order.can_refund"
                                >
            </product-list>
            <div class="order-price" v-if="order.provider === 'standard'">
                <div class="flex order-price-items">
                    <span class="col-6">运费</span>
                    <div class="col-6 right-align">￥{{ order.shipping_fee }}</div>
                </div>
                <div class="flex order-price-items" v-if="getDiscount != 0">
                    <span class="col-6">优惠</span>
                    <div class="col-6 right-align">
                       -￥{{ getDiscount }}
                    </div>
                </div>
                <div class="flex order-price-items" v-if="order.point_discount != 0">
                    <span class="col-6">积分抵扣</span>
                    <div class="col-6 right-align">
                       -￥{{ order.point_discount }}
                    </div>
                </div>
                <div class="flex order-price-items" v-if="order.balance_discount != 0">
                    <span class="col-6">余额抵扣</span>
                    <div class="col-6 right-align">
                       -￥{{ order.balance_discount }}
                    </div>
                </div>
                <div class="flex order-price-items">
                    <span class="col-6">实付款（含运费）</span>
                    <div class="col-6 right-align">￥{{ order.order_fee }}</div>
                </div>
            </div>
        </div>
        <!-- <div class="show-items order-bill" v-if="order.provider === 'standard'">
            <div class="order-bill-not" v-if="order.invoice == ''">不开发票</div>
            <div class="order-bill-info" v-else>
                <span>发票信息</span>
                <div>{{ order.invoice }}</div>
            </div>
        </div> -->
        <div class="show-items order-info">
            <div class="flex">
                <div class="col-12 order-info-txt">
                    <div>订单编号：{{ order.order_sn }}</div>
                    <div>创建日期：{{ order.created_at }}</div>
                    <div v-if="order.paid_time">支付时间：{{order.paid_time}}</div>
                    <div v-if="order.payments && order.payments.length && order.payments.provider !='amii' && computedPayment != ''">支付方式：{{ computedPayment }}</div>
                    <div v-if="order.receipt_time">收货时间：{{order.receipt_time}}</div>
                </div>
            </div>
        </div>
        <div class="button-box">
            <div class="flex">
                <!-- 交易删除 -->
                <div class="active-button show-button" @click="deletes()"
                    v-if="['appraising', 'success'].indexOf(order.order_status_str)>=0">删除订单
                </div>
                <!-- 待付款 -->
                <div class="col-6 gray-button show-button" @click="cancel()" v-if="order.order_status_str == 'paying'">取消订单</div>
                <div class="col-6 active-button show-button" @click="show()" v-if="order.order_status_str == 'paying'">付款</div>
                <!-- 待收货 -->
                <router-link :to="routerExpress()" append class="col-6 gray-button show-button" tag="div"
                    v-if="['receiving', 'appraising', 'success'].indexOf(order.order_status_str)>=0">查看物流
                </router-link>
                <div class="col-6 active-button show-button" @click="received()" v-if="order.order_status_str == 'receiving'">确认收货</div>
                <!-- 退款关闭 -->
                <div class="col-6 active-button show-button" @click="deletes()" v-if="order.order_status_str == 'close'">删除订单</div>
            </div>
        </div>
        <product-pay-action v-if="pay_panel" :order_sn="order.order_sn" @close="pay_panel = false"></product-pay-action>
    </div>
</template>

<script>
    import ProductList from '/components/ProductList.vue'
    import ProductPayAction from '/components/ProductPayAction.vue'
    import {order_status} from '/config/parameter'

    export default{
        components:{
            ProductList,
            ProductPayAction
        },
        data(){
            return{
                order_status,
                order: {},
                pay_panel: false,
                express: null
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('order/' + to.params.id)
                .then((response)=>{
                    next(vm => {
                        vm.order = response.order;
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        mounted(){
            let status_str = this.$route.query.order_status_str;
            if (['receiving', 'appraising', 'success'].indexOf(status_str) >= 0) {
                this.getExpressData(this.$route.params.id)
            }
        },
        computed:{
            computedPayment(){
                let context = '';
                switch(this.order.payments.provider) {
                    case 'alipay':
                        context = '支付宝支付';
                    break;
                    case 'wechat':
                        context = '微信支付';
                    break;
                    case 'weapp':
                        context = '小程序支付';
                    break;
                    case 'weweb':
                        context = '微信网页支付';
                    break;
                    case 'amii':
                        context = '';
                    break;
                }
                return context;
            },
            getDiscount(){
                return parseFloat(this.order.discount)+parseFloat(this.order.coupon_discount)
            }
        },
        methods:{
            getPayTimeShow(order_status){
                let arr = ['unconfirm', 'paying', 'close'];
                let index = arr.indexOf(order_status);
                return !(index >= 0);
            },
            show(){
                let type = 'alipayweb';
                if (this.$store.state.is_wechat) {
                    type = 'wemp';
                }
                Mint.Indicator.open();
                RequestAPI.http.put('pay/'+this.order.order_sn, {payType: type})
                    .then((r) => {
                        if(r.isFee == 1){
                            window.location.reload();
                            return;
                        }
                        switch (type){
                            case 'wemp':
                                wx.chooseWXPay({
                                    timestamp: r.payData.timestamp,
                                    nonceStr: r.payData.nonceStr,
                                    package: r.payData.package,
                                    signType: r.payData.signType,
                                    paySign: r.payData.paySign,
                                    success:(res)=>{
                                        window.location.reload();
                                    },
                                    fail:(res)=>{
                                        console.log(res);
                                    },
                                    cancel:(res)=>{
                                    }
                                });
                                break;
                            case 'alipayweb':
                                window.location.href = r.payData;
                                break;
                        }
                    })
                    .finally(() => Mint.Indicator.close());
                // return this.pay_panel = true;
            },
            received(){
                let $this = this;
                Mint.Indicator.open();
                RequestAPI.http.post('order/confirm', {orderSn: this.order.order_sn})
                    .then(function (response) {
                        $this.order.order_status_str = 'appraising';
                    })
                    .finally(() => Mint.Indicator.close())
            },
            cancel(){
                let $this = this;
                Mint.MessageBox.confirm('是否确认取消订单', '')
                    .then(action => {
                        Mint.Indicator.open();
                        RequestAPI.http.post('order/cancel', {orderSn: this.order.order_sn})
                            .then((response)=>{
                                $this.$emit('reload', 'paying')
                                $this.order.order_status_str = 'close';
                            })
                            .finally(() => Mint.Indicator.close())
                    }, action => {
                    });
            },
            deletes(){
                let $this = this;
                Mint.MessageBox.confirm('是否确认删除订单', '')
                    .then(action => {
                        Mint.Indicator.open();
                        RequestAPI.http.post('order/destroy', {orderSn: this.order.order_sn})
                            .then((response)=>{
                                $this.$router.go(-1);
                            })
                            .finally(() => Mint.Indicator.close())
                    }, action => {
                    });

            },
            getExpressData(order_sn) {
                let $this = this;
                Mint.Indicator.open();
                RequestAPI.http.get('order/' + order_sn + '/express')
                .then((response) => {
                    $this.express = response.info.data[0];
                })
                .finally(() => Mint.Indicator.close());
            },
            routerExpress() {
                return {
                    name: 'My.Orders.Express',
                    params: {
                        id: this.order.order_sn,
                    },
                    query: {
                        image: this.order.order_products[0].sell_product.all_image[0],
                    }
                }
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-orders-show{
        padding-bottom: 1rem;
    }
    .show-items{
        background: #FFF;
        margin-bottom: 0.2rem;
        padding: 0.29rem 0 0.29rem 0.22rem;
        &.point{
            padding-bottom: 0;
        }
    }
    .orders-addressBox{
        .address-icon{
            vertical-align: middle;
            font-size: 0.6rem;
            color: rgb(75, 75, 75);
            padding-right: 0.24rem;
            width: 0.63rem;
            &.truck{
                color: $sienna-color;
                font-size: 0.35rem;
            }
        }
        .arrow{
            vertical-align: middle;
            font-size: 0.4rem;
            padding-right: 0.22rem;
            color: rgb(215, 215, 215);
        }
        .address-info{
            font-size: 0.28rem;
            color: $black1-color;
            div{
                margin-bottom: 0.3rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            span{
                display: inline-block;
                margin-right: 0.3rem;
            }
        }
        .order-logistics{
            width: 100%;
            border-color: rgb(240, 240, 240);
            padding-bottom: 0.26rem;
            margin-bottom: 0.3rem;
        }
        .logistics-info{
            color: $sienna-color;
        }
        .logistics-time{
            font-size: 0.22rem;
            color: $gray1-color;
        }
    }
    .order-content{
        padding-left: 0;

        .order-status{
            font-size: 0.28rem;
            color: $black1-color;
            padding-bottom: 0.3rem;
            border-color: rgb(240, 240, 240);
            padding-left: .2rem;

            .comment{
                padding-right: 0.22rem;
                font-size: 0.37rem;
                color: rgb(75, 75, 75);
            }
        }
        .order-price{
            padding: 0.25rem 0.22rem 0 0.2rem;
            font-size: 0.26rem;
            color: $black-color;
            .order-price-items{
                margin-bottom: 0.28rem;
                span{
                    color: $gray1-color;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .order-bill{
        color: $black-color;
        font-size: 0.28rem;
        .order-bill-info{
            span{
                display: inline-block;
                color: $gray1-color;
                font-size: 0.26rem;
                margin-bottom: 0.2rem;
            }
        }
    }
    .order-info{
        padding-right: 0.22rem;
        color: $gray1-color;
        font-size: 0.22rem;
        .order-info-txt{
            div{
                margin-bottom: 0.2rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .copy-button{
            width: 0.88rem;
            height: 0.35rem;
            text-align: center;
            border: 1px solid rgb(125, 125, 125);
            border-radius: 0.06rem;
            font-size: 0.2rem;
            background: #FFF;
        }
    }
    .button-box{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 8;
        .show-button{
            width: 100%;
            padding: 0.32rem 0;
            text-align: center;
            font-size: 0.32rem;
            &.active-button{
                background: #cd983e;
                color: #FFF;
            }
            &.gray-button{
                background: #fff;
                color: #999999;
                border-top: 1px solid rgb(220, 220, 220);
            }
        }
    }
</style>
