<template>
    <div>
        <div class="advertisement" v-if="data">
            <div class="advertisement-cont">
                <div class="center">
                    <img src="~/assets/images/gift.png" alt="">
                </div>
                <div class="title center">{{data.title}}</div>
                <div class="advertisement-items">
                    <div class="items flex" v-for="i in data.text">
                        <div class="col-1">
                            <i class="advertisement-icon"></i>
                        </div>
                        <span class="col-11">
                            {{i.text}}
                        </span>
                    </div>
                </div>
                <div class="flex justify-between">
                    <div class="button normal col-6" @click="close">不再提醒</div>
                    <div class="button center col-6" @click="close">知道了</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: [],
        components: {},
        data(){
            return {
                data: null,
            }
        },
        watch:{
        },
        created(){
            if(!this.$store.state.one_display.advertisement) this.fetchPurchaseText();
        },
        methods: {
            fetchPurchaseText() {
                if(window.location.pathname.indexOf('game') >= 0) return;
                Mint.Indicator.open();
                RequestAPI.http.get('purchase/text')
                    .then((response) => {
                        this.data = response;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            close(){
                this.data=false;
                this.$store.commit('setOneDisplay', 'advertisement')
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .advertisement-notice{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: .18rem 0;
        text-align: center;
        background: rgba(205, 152, 62, 0.902);
        color: #fff;
        z-index: 999;
        font-size: .24rem;

        i{
            font-size: .4rem;
            margin-right: 0.1rem;
            vertical-align: middle;

            &.close-button{
                position: absolute;
                font-size: .24rem;
                vertical-align: middle;
                right: 5px;
                top: 0.24rem;
                margin-right: 0;
            }
        }
    }
    .advertisement{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.502);
        z-index: 999;

        .advertisement-cont{
            position: fixed;
            left: 50%;
            top: 50%;
            width: 6rem;
            margin-top: .5rem;
            background: #fff;
            box-shadow: 0 10px 9.8px 0.2px rgba(12, 4, 7, 0.1);
            border-radius: .14rem;
            @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));

            img{
                position: relative;
                width: 2.16rem;
                height: 2.27rem;
                top: -1.05rem;
            }

            .title{
                margin: -.75rem 0 .45rem 0;
                font-size: .34rem;
                color: #000;
            }

            .items{
                padding: 0 .3rem .4rem;
                font-size: .28rem;
                color: $black2-color;
                line-height: 1.643;
            }

            .advertisement-icon{
                display: inline-block;
                width: .3rem;
                height: .3rem;
                vertical-align: middle;
                @include backgroundImg(url('../assets/images/stars.png') no-repeat center center, contain);
            }

            .button{
                padding: .3rem 0;
                background: $sienna-color;
                color: #FFF;
                font-size: .3rem;
                border-bottom-right-radius: .14rem;
                text-align: center;

                &.normal{
                    background: #fff;
                    color: #999999;
                    border-bottom-left-radius: .14rem;
                    border-bottom-right-radius: 0;
                    border-top: 1px solid rgb(220, 220, 220);
                }
            }
        }
    }
</style>
