<template>
    <div class="back-top" @click="backTop" v-if="isShow">
        <div class="content flex justify-center flex-column">
            <i class="iconfont icon-arrow"></i>
            <span>Top</span>
        </div>
    </div>
</template>

<script>
    export default{
        props: [],
        components: {},
        data(){
            return {
                winH: 0,
                timer: null,
                isTop: true,
                isShow: false,
            }
        },
        watch:{
        },
        created(){
            this.winH = document.documentElement.clientHeight,
            // 设置滚动事件；
            window.onscroll = () => {
                var toTop = document.body.scrollTop || document.documentElement.scrollTop;
                if (toTop >= this.winH) {
                    this.isShow = true;
                }else{
                    this.isShow = false;
                };
                // 判断是否抵达顶部，若否，停止计时器；
                if (!this.isTop) {
                    clearInterval(this.timer);
                };
                // 重置布尔值判断；
                this.isTop = false;
            }
        },
        methods: {
            backTop(){
                this.timer = setInterval(() => {
                    var toTop = document.body.scrollTop || document.documentElement.scrollTop;
                    // 设置速度，用等式而不用具体数值是为了产生缓动效果；
                    var speed = Math.ceil(toTop/5);
                    // 作差，产生缓动效果；
                    document.documentElement.scrollTop = document.body.scrollTop = toTop - speed;
                    // 重置布尔值判断；
                    this.isTop = true;
                    // 判断是否抵达顶部，若是，停止计时器；
                    if (toTop == 0) {
                        clearInterval(this.timer);
                    };
                },50);
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .back-top{
        position: fixed;
        right: .2rem;
        bottom: 1.5rem;
        width: .92rem;
        height: .92rem;
        z-index: 98;
        cursor: pointer;

        .content{
            width: .92rem;
            height: .92rem;
            border-radius: 100%;
            border: 1px solid rgb(229, 229, 229);
            background: rgba(255, 255, 255, 0.8);
            text-align: center;

            i{
                font-size: .26rem;
                line-height: 1;
            }
            span{
                display: block;
                margin-top: .1rem;
                font-size: .18rem;
                line-height: 1;
            }
        }
    }
</style>
