<template>
    <div class="base-info">
        <div class="base-info-time">{{val.created_at}}</div>
        <div class="base-info-cont">
            <div class="base-info-title">{{val.title}}</div>
            <div class="base-info-txt">{{val.content}}</div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['val'],
        components: {},
        data(){
            return {}
        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .base-info{
        padding-bottom: 0.28rem;

        .base-info-time{
            text-align: center;
            font-size: 0.22rem;
            color: #666666;
            margin-top: 0.24rem;
            margin-bottom: 0.28rem;
        }
        .base-info-cont{
            padding: 0.28rem;
            margin-left: 0.15rem;
            margin-right: 0.15rem;
            background: #FFF;
            margin-top: 0.15rem;
            border-style: solid;
            border-width: 1px;
            border-color: #e5e5e5;

            .base-info-title{
                color: #333333;
                font-size: 0.28rem;
                font-weight: 400;
            }
            .base-info-txt{
                font-weight: 300;
                color: #999999;
                font-size: 0.26rem;
                margin-top: 0.2rem;
            }
        }
    }
</style>
