<template>
    <div class="charts">
        <div class="charts-title">半月收益趋势(元)</div>
        <div id="charts"></div>
    </div>
</template>

<script>
    /**
     * https://github.com/ecomfe/echarts
     */
    import echarts from 'echarts/lib/echarts'
    // 引入柱状图
    require('echarts/lib/chart/line');
    require('echarts/lib/component/tooltip');

    export default{
        props: ['charts'],
        data(){
            return {
                option: {
                    tooltip: {
                        trigger: 'axis',
                        confine: true,
                        formatter: '{c}',
                        backgroundColor: '#fb7a52',
                        extraCssText: 'border-radius: 120px',
                        padding: [5, 12],
                    },
                    grid: {
                        top: '0',
                        left: '0',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'category',
                        axisLine: {
                            onZero: false,
                            show: false
                        },
                        splitLine: {
                            show: true,
                            lineStyle: {
                                color: 'rgb(244, 244, 244)',
                                width: 2
                            }
                        },
                        axisTick:{
                            show: false
                        },
                        boundaryGap: false,
                        data: []
                    },
                    yAxis: {
                        show: false,
                    },
                    series: [
                        {
                            name: '',
                            type: 'line',
                            smooth: true,
                            lineStyle: {
                                normal: {
                                    width: 4,
                                    shadowColor: '#fff',
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color:{
                                        type: 'radial',
                                        x: 0,
                                        y: 0,
                                        r: 1,
                                        colorStops: [{
                                            offset: 0, color: '#f9a92c' // 0% 处的颜色
                                        }, {
                                            offset: 1, color: '#fb7b51' // 100% 处的颜色
                                        }],
                                        globalCoord: false // 缺省为 false
                                    }
                                }
                            },
                            data:[]
                        }
                    ]
                },
            }
        },
        mounted(){
            console.log()
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('charts'));

            for(var i of this.charts) {
                this.option.xAxis.data.push(i.day.split('-')[2])
                this.option.series[0].data.push(i.incomes)
            }
            // 绘制图表
            myChart.setOption(this.option);
        }
    }
</script>

<style lang="scss" scoped>
    #charts{
        width: 100%;
        height: 1.6rem;
        padding-bottom: .2rem;
    }
    .charts-title{
        font-size: .2rem;
        color: #808088;
        padding: .2rem 5%;
        text-align: left;
    }
</style>
