<template>
    <div class="comment" v-if="val">
        <div class="user flex items-center justify-between">
            <div class="col-6">
                <div class="user-avatar">
                    <img :src="val.user.avatar | placeholder('avatar')"/>
                </div>
                <div class="user-name">{{val.status == 1 ? '匿名用户' : val.user.nickname}}</div>
            </div>
            <span>{{val.created_at}}</span>
        </div>
        <div class="content">
            {{val.content}}
            <!-- <rate :value="val.comment_rank_id" :size="13" :disabled="true"></rate> -->
            <div class="content-attr">
                <span v-for="i in val.inventory.sku">{{i.sku_value.attribute.name}}:{{i.sku_value.value}}</span>
            </div>
            <div class="images" v-if="val.image && val.image.length >= 1">
                <div class="images-box" :style="'width: '+ val.image.length * 90 + 'px;'">
                    <div class="image" v-for="(i, index) in val.image" @click="chooseImg(val.image, index)" v-lazy:background-image="i.image"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Rate from '/components/Rate.vue'

    export default{
        props: ['val'],
        components: {
            Rate,
        },
        data(){
            return {}
        },
        mounted(){
            console.log()
        },
        methods: {
            chooseImg(data, index){
                this.$emit('select', data, index)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .comment {
        padding: .1rem .2rem .2rem .2rem;
        border-bottom: 1px solid #f0f0f0;

        &:last-child{
            border-bottom:0;
        }

        .user {
            margin-bottom: .2rem;

            &-avatar {
                width: .6rem;
                height: .6rem;
                float: left;
                margin-right: .2rem;

                img {
                    width: .6rem;
                    height: .6rem;
                    border-radius: 50%;
                }
            }
            &-name {
                margin-left: .1rem;
                line-height: .7rem;
            }
        }

        .content {
            font-size: .26rem;

            .rate{
                padding-top: .2rem;
            }
            &-attr {
                padding: .2rem 0;
                font-size: .2rem;
                color: #999999;

                > span {
                    margin-right: .1rem;
                }
            }

            .images{
                position: relative;
                padding-top: .1rem;
                margin: 0 -.05rem;
                overflow-y: hidden;
                overflow-x: scroll;
                height: 1.55rem;

                .images-box{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 1.55rem;
                    overflow: hidden;
                }
                .image{
                    float: left;
                    margin: 4px;
                    width: 78px;
                    height: 78px;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -ms-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    background-position: center center;
                }
            }
        }
    }
</style>
