<template>
    <div class="coupon-item flex" :class="type_ui.style">
        <span class="coupon-item-circle__left"><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
        <div class="col-8 coupon-item-info">
            <div class="coupon-item-price" v-if="data.coupon.provider == 'cash'">￥{{ data.coupon.value }}</div>
            <div class="coupon-item-price" v-if="data.coupon.provider == 'fullcut'"><span>满</span>{{ parseFloat(data.coupon.lowest) }}<span>减</span>{{ parseFloat(data.coupon.value) }}</div>
            <div class="coupon-item-time">使用期限: {{ data.coupon.start.substring(0, 10) }}至{{ data.coupon.end.substring(0, 10) }}</div>
        </div>
        <div class="col-4 coupon-item-type center">
            <div class="iconfont coupon-item-icon" :class="type_ui.ico_class"></div>
            <div class="coupon-item-typeTxt">{{ type_ui.text }}</div>
        </div>
        <span class="coupon-item-circle__right"><i></i><i></i><i></i><i></i><i></i><i></i><i></i></span>
        <div class="invalid-notice" v-if="is_disabled">
            <span v-if="data.coupon.status == 1">已使用</span>
            <span v-if="data.coupon.coupon_status == 'overdata'">已过期</span>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['data'],
        components:{
        },
        data(){
            return{
            }
        },
        computed:{
            is_disabled(){
                return this.data.coupon.coupon_status == 'overdata' || this.data.coupon.coupon_status == 'unavailable';
            },
            type_ui(){
                let ret = {
                    style: [],
                    text: '',
                    ico_class: ''
                };
                switch (this.data.coupon.provider){
                    case 'cash':
                        ret.text = '现金券';
                        ret.ico_class = 'icon-coupon';
                        ret.style.push('cash');
                        break;
                    case 'fullcut':
                        ret.text = '满减券';
                        ret.ico_class = 'icon-coupon1';
                        ret.style.push('subtract');
                        break;
                    case 'rebate':
                        ret.text = '折扣券';
                        ret.ico_class = 'icon-coupon1';
                        ret.style.push('subtract');
                        break;
                }
                if(this.is_disabled){
                    ret.style.push('invalid');
                }
                return ret;
            },
        },
        mounted(){},
        methods:{}
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .coupon-item{
        position: relative;
        margin-bottom: 0.15rem;
        &.cash{
            .coupon-item-type{
                background: #f83d60;
                border: 1px solid #f83d60;
            }
        }
        &.subtract{
            .coupon-item-type{
                background: #f3c81e;
                border: 1px solid #f3c81e;
            }
        }
        &.invalid{
            .coupon-item-price,.coupon-item-time{
                color: #cccccc;
            }

            .coupon-item-type{
                background: #cccccc;
                border: 1px solid #cccccc;
            }

            .invalid-notice{
                position: absolute;
                right: 27%;
                bottom: 20px;
                display: block;
                padding: 5px;
                border: 1px solid rgb(165, 165, 165);
                border-radius: 100%;
                span{
                    display: inline-block;
                    width: 1.08rem;
                    height: 1.08rem;
                    border: 1px solid rgb(165, 165, 165);
                    line-height: 1.08rem;
                    text-align: center;
                    border-radius: 100%;
                    font-size: 0.24rem;
                    color: #918f8f;
                    @include prefix(transform, rotate(-30deg), ('webkit', 'moz'));
                }
            }
        }
        &-circle__left, &-circle__right{
            position: absolute;
            i{
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                border: 2px solid rgb(238, 238, 238);
                background: #f0f0f0;
                margin-bottom: 2px;
            }
        }
        &-circle__left{
            left: -6px;
            top: 4px;
        }
        &-circle__right{
            right: -5px;
            top: 4px;
        }
        &:last-child{
            .coupon-item-type{
                &:after{
                    content: '';
                    position: absolute;
                    display: block;
                    left: -12px;
                    bottom: -17px;
                    width: 23px;
                    height: 23px;
                    background: #f0f0f0;
                    border-radius: 100%;
                }
            }
        }

        &-info{
            border: 1px solid rgb(238, 238, 238);
            background: #FFF;
            border-right: 0;
            padding: 0.35rem 0.35rem 0.35rem 0.4rem;
        }
        &-type{
            padding: 0.35rem 0;
            border-left: 0;
            color: #FFF;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                display: block;
                left: -12px;
                top: -17px;
                width: 23px;
                height: 23px;
                background: #f0f0f0;
                border-radius: 100%;
            }
        }
        &-price{
            font-size: 0.6rem;
            font-weight: bold;
            color: $black-color;
            margin-bottom: 0.3rem;
            span{
                font-size: 0.24rem;
            }
        }
        &-time{
            font-size: 0.22rem;
            color: $gray-color;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-icon{
            font-size: 0.65rem;
            color: rgba(255, 255, 255, 0.702);
            margin-bottom: 0.34rem;
        }
        &-typeTxt{
            font-size: 0.24rem;
        }
    }
</style>
