<template>
    <div class="delivery">
        <div class="delivery-time">{{val.created_at}}</div>
        <div class="delivery-cont">
            <div class="delivery-title">{{val.title}}</div>
            <div class="delivery-items">
                <img :src="val.order_image" alt="">
                <div class="delivery-info">
                    <div class="flex items-right">
                        <div class="delivery-title">{{val.order_name}}
                            <!-- <i></i> -->
                        </div>
                    </div>
                <div class="delivery-txt">{{val.order_sn}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['val'],
        components: {},
        create(){
        },
        data(){
            return {}
        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .delivery{
        padding-bottom: 0.28rem;

        .delivery-time{
            text-align: center;
            font-size: 0.22rem;
            color: #666666;
            margin-top: 0.24rem;
            margin-bottom: 0.28rem;
        }
        .delivery-title{
            color: #d79523;
            font-size: 0.28rem;
        }
        .delivery-cont{
            padding: 0.28rem    ;
            margin-left: 0.15rem;
            margin-right: 0.15rem;
            background: #FFF;
            margin-top: 0.15rem;
            border-style: solid;
            border-width: 1px;
            border-color: #e5e5e5;
        }
        .delivery-items{
            padding: 0.23rem 0 0 0;
            border-color: #e5e5e5;
            overflow: hidden;
            img{
                width: 1.08rem;
                height: 1.08rem;
                border-radius: 0.04rem;
                margin-right: 0.16rem;
                float: left;
            }
            .delivery-title{
                font-weight: 500;
                font-size: 0.26rem;
                color: $black-color;
                margin-bottom: 0.1rem;
                line-height: 1.538;
                i{
                    display: inline-block;
                    width: 0.1rem;
                    height: 0.1rem;
                    background: rgb(215, 149, 35);
                    border-radius: 100%;
                    margin-left: 0.08rem;
                    vertical-align: middle;
                }
            }
            .delivery-txt{
                color: $gray2-color;
                font-size: 0.22rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
</style>
