<template>
    <div class="dialogs" v-if="show">
        <div class="content" v-if="type == 1">
            <img src="~/assets/images/game/game-login.png" alt="" class="login-banner">
            <div class="title">帮好友点亮拼图获免费美衣</div>
            <router-link :to="{name : 'Auth.Register'}" append tag="button" class="active">立即注册，点亮</router-link>
            <router-link :to="{name : 'Auth.Login'}" append tag="button">直接登录，点亮</router-link>
            <div class="notice">加入会员首单7折购+满减豪礼！</div>
            <div class="close" @click="onClose">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
        <div class="content center" v-if="type == 2">
            <div class="help-title">恭喜你！帮好友点亮<span>1块</span>拼图</div>
            <div class="help-notice"> 呼朋唤友，誓要将美衣“拼”到手！</div>
            <div class="help-content">
                <div class="bg">
                    <div class="img-bg"></div>
                    <div class="img" v-lazy:background-image="img"></div>
                </div>
            </div>
            <a href="http://app.amii.com" class="button active">我也要拼</a>
            <div class="notice">“拼”的是人气，荷包不会缩哦，拼拼气更旺。</div>
            <div class="close" @click="onClose">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
        <div class="content center" v-if="type == 3">
            <div class="compound-title">亲，今天美衣已送完，<br/>请明天及时合成获取美衣哦~ </div>
            <div class="remainTime">
                <div v-if="!remainTime[0]">
                    <span>00</span>:<span>00</span>:<span>00</span>后失效
                </div>
                <div v-else>
                    <div>
                        <span>{{ formatNumbers(remainTime[0]) }}</span>:<span>{{ formatNumbers(remainTime[1]) }}</span>:<span>{{ formatNumbers(remainTime[2]) }}</span>后失效
                    </div>
                </div>
            </div>
            <button class="active marg-bottom" @click="onClose">确定</button>
            <!-- <div class="close" @click="onClose">
                <i class="iconfont icon-close"></i>
            </div> -->
        </div>
        <div class="content center" v-if="type == 4">
            <div class="compound-title" v-html="messages"></div>
            <button class="active marg-bottom" @click="onClose">确定</button>
            <!-- <div class="close" @click="onClose">
                <i class="iconfont icon-close"></i>
            </div> -->
        </div>
        <div class="content center" v-if="type == 5">
            <div class="compound-title">已成功帮小伙伴点亮拼图
                <div v-if="newuser == 1">获得20元新人券</div>
            </div>
            <button class="active marg-bottom" @click="onClose">确定</button>
        </div>
        <div class="content center" v-if="type == 6">
            <div class="compound-title">您已帮好友点亮过拼图，<br/>无法再点亮了哦！<br/>亲亲也赶紧去参与吧，<br/>将免费美衣“拼”到手！</div>
            <router-link :to="{name : 'Game.Home'}" append tag="button" class="active" @click="onClose">确定</router-link>
            <div class="close" @click="onClose">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
        <div class="content center" v-if="type == 7">
            <div class="compound-title" v-html="messages"></div>
            <button class="margin-bottom" @click="onClose">继续浏览</button>
            <router-link :to="{name : 'Game.Puzzle'}" append tag="button" class="active">查看已发起的游戏</router-link>
            <div class="close" @click="onClose">
                <i class="iconfont icon-close"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['type', 'show', 'img', 'remain', 'newuser', 'messages'],
        components: {},
        data(){
            return {
                remainTime: [0, 0, 0],
            }
        },
        mounted(){
            if (this.type == 3) {
                this.Countdown()
            }
        },
        watch:{
            remain(){
                this.Countdown()
            }
        },
        methods:{
            onClose(){
                if (this.type == 2 || this.type == 5) {
                    location.href = '';
                }
                this.$emit('close')
            },
            Countdown(){
                let timer = null,
                    remain = this.remain;

                timer = setInterval(() => {
                    if (remain < 1) {
                        clearInterval(timer);
                        return false;
                    }
                    remain --;

                    let hours = Math.floor(remain / 3600),
                        minutes = Math.floor(remain / 60) % 60,
                        seconds = remain % 60
                    this.remainTime = [hours, minutes, seconds];
                }, 1000)
            },
            formatNumbers(number) {
                return parseInt(number) <= 9 ? '0' + number : number;
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .dialogs{
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .7);
        z-index: 999;

        .content{
            position: fixed;
            left: 50%;
            top: 50%;
            background: #fff;
            width: 80%;
            border-radius: 10px;
            font-size: .26rem;
            @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));

            .login-banner{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            img{
                width: 100%;
            }

            .title{
                margin: .54rem 0 .5rem;
                text-align: center;
            }

            .notice{
                font-size: .2rem;
                color: rgba(0, 0, 0, 0.502);
                margin: .1rem 0 0;
                text-align: center;
            }

            .help-title{
                margin: .7rem 0 .2rem;
                span{
                    font-size: .36rem;
                    color: #bc1b21;
                }
            }

            .help-notice{
                display: inline-block;
                font-size: .24rem;
                color: #bc1b21;
                border-radius: 120px;
                background: rgba(188, 27, 33,0.102);
                padding: 5px .3rem;
            }

            .help-content{
                position: relative;
                width: 80%;
                margin: 0 auto;
                padding: .6rem .5rem .8rem 0;
                @include backgroundImg(url('../assets/images/game/game-stars.png') no-repeat bottom right, contain);

                .bg{
                    position: relative;
                    width: 3.4rem;
                    height: 2.6rem;
                    margin: 0 auto;
                    overflow: hidden;

                    .img-bg{
                        position: relative;
                        width: 3.4rem;
                        height: 2.6rem;
                        @include backgroundImg(url('../assets/images/game/pintu.png') no-repeat center center, cover);
                        z-index: 10;
                    }
                    .img{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 3.3rem;
                        height: 2.6rem;
                        z-index: 9;
                        -webkit-background-size: cover;
                             -o-background-size: cover;
                            -ms-background-size: cover;
                           -moz-background-size: cover;
                                background-size: cover;
                        background-position: top center;
                    }
                }
            }
            .compound-title{
                font-size: .28rem;
                line-height: 1.25;
                margin: 1.2rem 0 .4rem;
                padding: 0 .2rem;
            }
            .remainTime{
                width: 100%;
                padding: 0.1rem;
                font-size: .2rem;
                color: $black3-color;
                text-align: center;
                color: #000;
                margin-bottom: .4rem;
                @include boxSizing(border-box);

                span{
                    display: inline-block;
                    border-radius: .1rem;
                    background: #000;
                    color: #fff;
                    width: 24px;
                    text-align: center;
                    padding: .1rem 0;
                    margin: 0 .1rem;
                }
            }
        }

        button, .button {
            display: block;
            width: 60%;
            margin: 0 auto;
            border-radius: 120px;
            border: 1px solid #bc1b21;
            padding: .17rem 0;
            font-size: .26rem;
            color: #bc1b21;
            background: #fff;
            margin-top: .3rem;

            &.active{
                background: #bc1b21;
                color: #fff;
                margin-top: 0;
            }
            &.margin-bottom{
                margin-bottom: .3rem;
                margin-top: .8rem;
            }
        }

        .close{
            position: relative;
            bottom: -1.2rem;
            left: 0;
            width: .74rem;
            height: .74rem;
            border-radius: 100%;
            background: rgba(0, 0, 0, 0.502);
            border: 1px solid #fff;
            text-align: center;
            color: #fff;
            line-height: .74rem;
            margin: 0 auto;

            i{
                color: #fff;
            }
        }

        .marg-bottom{
            margin-bottom: .74rem;
        }
    }
</style>
