<template>
    <div class="download-prompt flex justify-between items-center" v-if="show_download_prompt">
        <div class="close" @click="close">
            <div class="iconfont icon-close"></div>
        </div>
        <div class="logo"><img src="~/assets/images/download_logo_Icon.png"/></div>
        <div class="content flex-auto" v-html="content"></div>
        <div class="btn" @click="download" v-html="download_button" v-if="!is_download_bg"></div>
        <div class="btn-bg" @click="download" v-else></div>
    </div>
</template>

<script>
    export default{
        components: {},
        props: {},
        data(){
            return {
                show_download_prompt: false,
                content: '加入AMII开启个人零售新时代',
                download_button: '下载',
                download_link: 'http://app.amii.com',
                is_download_bg: false
            }
        },
        watch: {
            '$route.name'(val){
                // if(['Game.Register'].indexOf(val) >= 0){
                //     this.show_download_prompt = false;
                // } else {
                //     this.show_download_prompt = !this.$store.state.one_display.download_prompt && !this.$store.state.is_app;
                // }
                if (this.$store.state.token) {
                    this.show_download_prompt = !this.$store.state.one_display.download_prompt && !this.$store.state.is_app;
                } else {
                    this.show_download_prompt = false;
                }

                if(['Game.Show', 'Game.Home', 'My.Share', 'Mall.ProductDetail', 'Points.Product', 'Game.Product', 'Game.Register'].indexOf(val) >= 0){
                    if (this.$store.state.token) {
                        this.show_download_prompt = !this.$store.state.one_display.download_prompt && !this.$store.state.is_app;
                    } else {
                        this.show_download_prompt = false;
                    }
                }

                if(['Community.Topic', 'Community.Video', 'Mall.ProductDetail'].indexOf(val) >= 0 && !this.$store.state.token){
                    this.content = '<span>加入AMII开启个人零售新时代 </span><div class="notice">0风险、0投入、海量产品、高额佣金</div>';
                    this.download_button = '20元新人券<br/>点击领取';
                    this.download_link = '/wechat/my/share?uuid=' + this.$route.query.uuid;
                    this.is_download_bg = true;
                }

            }
        },
        created(){
        },
        methods: {
            close(){
                this.show_download_prompt=false;
                this.$store.commit('setOneDisplay', 'download_prompt')
            },
            download(){
                window.location.href = this.download_link;
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .download-prompt {
        background: #f2f2f2;
        border-bottom: 1px solid #e6e6e6;
        padding: .1rem 0;

        .close {
            width: .7rem;
            text-align: center;
            height: 100%;
            line-height: 500%;
        }
        .logo {
            height: .96rem;
            width: .96rem;
        }
        .title{
            font-size: .26rem;
        }
        .content {
            line-height: 1.8;
            padding: 0 .2rem;

            span{
                font-size: .24rem;
                color: #000000;
            }

            .notice{
                font-size: .19rem;
                color: #666666;
            }
        }
        .btn {
            padding: .05rem .18rem;
            border-radius: .1rem;
            border: 1px solid #c2c2c2;
            background: #ffffff;
            margin-right: .2rem;
            white-space: nowrap;
            text-align: center;
            line-height: 1.5;
            font-size: .24rem;
        }
        .btn-bg {
            width: 20%;
            max-width: 1.78rem;
            height: .77rem;
            margin-right: .23rem;
            @include backgroundImg(url('../assets/images/download-btn.png') no-repeat center center, contain);
        }
    }
    .download-padding{
        min-height: calc(100vh - 1.3rem - 1px) !important;
    }
</style>
