<template>
    <div v-scroll-to-fixed>
        <div class="filter-sort-order flex justify-between">
            <div class="sort-order flex-auto flex justify-between">
                <div :class="current_option.cs" @click="is_show_drop_down=!is_show_drop_down">
                    {{ current_option.name }}<span class="iconfont icon-triangle"></span>
                </div>
                <div class="flex price_order" :class="price_class" @click="onClickPrice">
                    价格
                    <div class="ico flex flex-column justify-center">
                        <div class="iconfont icon-triangle2-copy"></div>
                        <div class="iconfont icon-triangle"></div>
                    </div>
                </div>
                <div class="flex-auto" :class="value=='sell_desc'&&'on'" @click="input('sell_desc')">销量优先</div>
            </div>
            <div class="filter-layout">
                <slot name="filter-layout"></slot>
            </div>
        </div>
        <div class="drop-down" v-if="is_show_drop_down">
            <div class="flex justify-between items-center" v-for="(i, index) in options" :class="value==i.value&&'on'"
                 @click="onClickItem(i)">
                <div>{{ i.name }}</div>
                <div class="iconfont icon-gou"></div>
            </div>
        </div>
    </div>

</template>

<script>
    import {sort_order} from '/config/parameter'

    export default{
        props: ['value'],
        data(){
            return {
                is_show_drop_down: false
            }
        },
        computed: {
            options(){
                return sort_order.filter((i) => i.is_drop_down);
            },
            current_option(){
                let name = '综合排序';
                let cs = 'on';
                let i = this.options.find((i) => i.value === this.value);
                i ? name = i.name : cs = '';
                return {name, cs}
            },
            price_class(){
                if(this.value === 'price_asc'){
                    return 'asc'
                }
                if(this.value === 'price_desc'){
                    return 'desc'
                }
                return '';
            }
        },
        watch: {
            value(){
                this.is_show_drop_down = false;
            }
        },
        mounted(){
        },
        methods: {
            onClickPrice(){
                if(this.value === 'price_asc'){
                    return this.$emit('input', 'price_desc');
                }
                this.$emit('input', 'price_asc');
            },
            onClickItem(i){
                this.input(i.value);
                this.is_show_drop_down = false;
            },
            input(val){
                this.$emit('input', val);
            },
            is_on(i){
                return i.name == this.value
            },
        }
    }
</script>

<style lang="scss">
    .filter-sort-order {
        background: #fff;
        height: .7rem;
        line-height: .7rem;
        font-size: .26rem;

        .sort-order {
            > div {
                padding: 0 .2rem;
            }
        }

        .price_order {
            .ico {
                line-height: 0.5;
            }

            &.asc{
                color: #d79523;
                .iconfont:last-child {
                    color: #000;
                }
            }
            &.desc{
                color: #d79523;
                .iconfont:first-child {
                    color: #000;
                }
            }
        }

        .filter-layout {
            width: 2rem;
            text-align: right;

            .iconfont {
                display: inline-block;
                padding: 0 .2rem;
                text-align: center;
            }
        }

        .on {
            color: #d79523;
        }
    }

    .drop-down {
        border-top: 1px solid #f0f0f0;
        background: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 1;
        font-size: .26rem;

        > div {
            margin-left: .2rem;
            padding-right: .2rem;
            height: .8rem;
            border-bottom: 1px solid #f7f7f7;

            &.on {
                color: #d79523;

                > .iconfont {
                    display: inherit;
                }
            }

            > .iconfont {
                display: none;
            }
        }
    }
</style>
