<template>
    <router-link :to="{name: 'Mall.ShoppingCart'}" tag="div" class="fixed-cart-icon">
        <div class="iconfont icon-cart"></div>
        <div class="count" v-if="shopping_cart_count">{{ shopping_cart_count }}</div>
    </router-link>
</template>

<script>
    import {mapState} from 'vuex'

    export default{
        computed: {
            ...mapState([
                'shopping_cart_count'
            ]),
        },
        created() {
            this.$store.dispatch('getShoppingCartProducts');
        },
    }
</script>

<style lang="scss" scoped>
    .fixed-cart-icon{
        position: fixed;
        right: .3rem;
        bottom: 1.9rem;
        color: #fff;
        z-index: 1;

        > div{
            border-radius: 50%;
        }

        .iconfont{
            background: #2b2c2d;
            width: 1rem;
            height: 1rem;
            text-align: center;
            line-height: 1rem;
            font-size: .4rem;
        }

        .count {
            position: absolute;
            right: 0;
            top:0;
            background: #d79523;
            width: .35rem;
            height: .35rem;
            text-align: center;
            line-height: .38rem;
        }
    }
</style>