<template>
    <div class="fixed-bottom-bar flex justify-around">
        <router-link :to="item.to" class="item" tag="div" v-for="(item, index) in bar_nav" :key="item">
            <div class="ico" :class="item.ico_class"></div>
            <div class="name">{{ item.name }}</div>
        </router-link>
    </div>
</template>

<script>
    export default{
        data(){
            return{
                bar_nav: [
                    {
                        name: '商城',
                        ico_class: {
                            'icon1': true
                        },
                        to: {
                            path: '/mall',
                        }
                    },
                    {
                        name: '社区',
                        ico_class: {
                            'icon2': true
                        },
                        to: {
                            name: 'Community.index',
                        }
                    },
                    {
                        name: '积分',
                        ico_class: {
                            'icon3': true
                        },
                        to: {
                            path: '/points',
                        }
                    },
                    {
                        name: '我的',
                        ico_class: {
                            'icon4': true
                        },
                        to: {
                            path: '/my',
                        }
                    },
                ]
            }
        },
        components:{},
        methods:{}
    }
</script>

<style lang="scss" scoped>
    .fixed-bottom-bar{
        background: #f8f8f9;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 10;
        height: 1rem;

        .item{
            text-align: center;
            width: calc(100% / 4);
            padding-top: .15rem;
            color: #888888;

            .ico{
                width: .5rem;
                height: .45rem;
                margin: 0 auto;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;

                &.icon1{
                    background-image: url("../assets/images/bottom-bar-ico1.png");
                }
                &.icon2{
                    background-image: url("../assets/images/bottom-bar-ico2.png");
                }
                &.icon3{
                    background-image: url("../assets/images/bottom-bar-ico3.png");
                }
                &.icon4{
                    background-image: url("../assets/images/bottom-bar-ico4.png");
                }
            }

            .name{
                padding: .1rem 0;
            }

            &.router-link-active{
                color: #000;

                .ico {
                    &.icon1 {
                        background-image: url("../assets/images/bottom-bar-ico1-on.png");
                    }
                    &.icon2 {
                        background-image: url("../assets/images/bottom-bar-ico2-on.png");
                    }
                    &.icon3 {
                        background-image: url("../assets/images/bottom-bar-ico3-on.png");
                    }
                    &.icon4 {
                        background-image: url("../assets/images/bottom-bar-ico4-on.png");
                    }
                }
            }
        }
    }
</style>
