<template>
    <div class="full-popup">
        <slot></slot>
    </div>
</template>

<script>
    export default{
        components: {},
        data(){
            return {}
        },
        watch: {
            '$route' (to, from) {
                if (to.name == from.name && !to.query.show_full_popup && from.query.show_full_popup) {
                    this.$emit('close', this.$el);
                }
            }
        },
        computed: {
            has_hash(){
                return !!this.$route.query.show_full_popup;
            }
        },
        mounted(){
            if (!this.has_hash) {
                this.$router.push({
                    query: Object.assign({}, this.$route.query, {
                        show_full_popup: new Date().getTime()
                    })
                })
            }
            document.querySelector('html').setAttribute('class', 'noscroll');
        },
        beforeDestroy(){
            if (this.has_hash) {
                this.$router.go(-1);
            }
            document.querySelector('html').removeAttribute('class');
        },
        methods: {}
    }
</script>

<style lang="scss">
    .full-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 99;
    }
</style>