<template>
    <label>
        <slot></slot>
        <input type="file" :accept="accept" :disabled="disabled" :style="input_style" @change="onChange">
    </label>
</template>

<script>
    /**
     * https://github.com/blueimp/JavaScript-Load-Image
     */
    import loadImage from 'blueimp-load-image'
//    import 'blueimp-canvas-to-blob'

    export default{
        props: ['crop', 'max', 'extend'],
        data(){
            return {
                disabled: false,
                accept: [
                    'image/jpeg',
                    'image/jpg',
                    'image/png',
                    'image/bmp',
                ].join(','),
                options: {
                    maxWidth: 1000,
                    maxHeight: 1000,
                    crop: !!this.crop,
                    canvas: true
                },
                input_style: {
                    opacity: 0,
                    position: 'absolute',
                    left: 0,
                    top: 0,
                    width: '100%',
                    height: '100%',
                    padding: 0,
                    margin: 0,
//                    zIndex: -1,
                }
            }
        },
        computed: {},
        mounted(){
            if (this.max) {
                this.options.maxWidth = this.max.width || 1000;
                this.options.maxHeight = this.max.height || 1000;
            }
        },
        methods: {
            onChange(event){
                for (let i = 0; i < event.target.files.length; i++) {
                    let file = event.target.files[i];
                    if (file.type.indexOf('image') < 0) continue;
                    loadImage(file, (img, data)=>this.imgHandle(img), this.options);
                }
            },
            imgHandle(img){
                if (!img) return;

                let dataURI = img.toDataURL();
                let byteString;
                if (dataURI.split(',')[0].indexOf('base64') >= 0) {
                    byteString = atob(dataURI.split(',')[1]);
                } else {
                    byteString = unescape(dataURI.split(',')[1]);
                }
                let mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
                let ia = new Uint8Array(byteString.length);
                for (let i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeAt(i);
                }
                let file = new Blob([ia], {type: mimeString});
//                    let file = new File([ia], (new Date()).valueOf() + '.png', {type: mimeString});

                this.$emit('added', file, this.extend);
            }
        }
    }
</script>
