<template>
    <div class="point-award" v-if="show">
        <div class="cont">
            <i class="img"></i>
            <span>+{{ point }}</span>
        </div>
        <div class="msg">{{ message }}</div>
    </div>
</template>

<script>
    export default{
        props: ['point', 'message', 'close_timeout'],
        components: {
        },
        data(){
            return {
                show: !!this.point
            }
        },
        mounted(){
            setTimeout(() => {
                this.show = false;
            }, this.close_timeout || 2000)
        },
        methods: {

        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .point-award {
        position: fixed;
        left: 50%;
        top: 20%;
        background: rgba(0, 0, 0, .7);
        color: #fff;
        border-radius: .1rem;
        z-index: 9999;
        padding: .45rem .50rem;
        @include prefix(transform, translateX(-50%), ('webkit', 'moz'));

        .cont {
            margin: .26rem 0 .5rem;

            .img {
                display: inline-block;
                width: 1.04rem;
                height: .75rem;
                vertical-align: middle;
                margin-right: 10px;
                @include backgroundImg(url('../assets/images/coin.png') no-repeat center center, contain);
            }

            span {
                font-size: .54rem;
                vertical-align: middle;
                color: #d79523;
            }
        }

        .msg {
            text-align: center;
            font-size: .3rem;
        }
    }
</style>
