<template>
    <point-award :point="award.points" :message="award.message" :close_timeout="3000" v-if="show"></point-award>
</template>

<script>
    import PointAward from './PointAward.vue'

    export default{
        components: {
            PointAward
        },
        data(){
            return {
                award: {},
                show:false,
                disabled: false,
            }
        },
        watch:{
            '$store.state.award_point'(val){
                if(!val) return;
                this.fetchData();
            },
            '$route.name'(val){
                if(val.indexOf('Game.') >= 0){
                    this.disabled = true;
                } else {
                    this.disabled = false;
                }
            }
        },
        mounted(){
            this.fetchData();
        },
        methods: {
            fetchData(){
                if(this.disabled) return;
                if(!this.$store.state.token) return;
                RequestAPI.http.get('received')
                    .then((response) => {
                        if (!response) {
                            this.$store.commit('fetchLoginPointDialog', 0);
                            return;
                        }
                        this.award = response;
                        this.show = true;
                    });
            }
        }
    }
</script>
