<template>
    <div class="products-search">
        <form class="header-bar justify-between items-center" @submit.prevent="onSubmitSearch">
            <div class="search flex items-center">
                <input type="search" :placeholder="getSearchPlaceHolder()" v-model="keyword" ref="popup_search">
                <div class="search-placeholder">
                    <span class="iconfont icon-search"></span>
                </div>
            </div>
            <button type="submit" class="btn">搜索</button>
        </form>
        <div class="search-prompt">
            <div class="search-prompt-group" v-if="$store.state.search_history.length">
                <div class="name">搜索历史</div>
                <div class="keywords">
                    <div v-for="i in $store.state.search_history" @click="onClickKeyword(i)">{{i}}</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="search-prompt-group" v-if="!order_search">
                <div class="flex items-center justify-between">
                    <div class="name">热门搜索</div>
                    <div class="eye-icon iconfont icon-yan" v-if="open_hot_search" @click="eye(false)" />
                    <div class="eye-icon iconfont icon-guanbiyanjing" v-else @click="eye(true)" />
                </div>
                <div class="keywords" v-show="open_hot_search">
                    <div v-for="i in hotSearch" @click="onClickKeyword(i.name)">{{i.name}}</div>
                </div>
            </div>
            <div class="search-prompt-group" v-if="order_search">
                <div class="name">最近购买</div>
                <div class="keywords">
                    <div v-for="i in orderProducts" @click="onClickProduct(i.sell_product_id, i.sell_product.provider)" class="search-prompt-pic">
                        <img :src="i.sell_product.image | placeholder" alt="">
                        <div class="search-prompt-price">￥{{i.sell_product.base_price}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['value', 'display_recently_purchased', 'order_search'],
        data(){
            return{
                keyword: this.value,
                hotSearch:[],
                orderProducts: [],
                open_hot_search: true,
            }
        },
        watch: {
            '$route' (to, from) {
                if(to.name == from.name && !to.query.show_search && from.query.show_search){
                    this.onSubmitSearch();
                }
            }
        },
        computed:{
            has_hash(){
                return !!this.$route.query.show_search;
            }
        },
        methods:{
            onSubmitSearch(){
                this.$store.commit('addSearchKeyword', this.keyword);
                this.$emit('submit', this.keyword)
            },
            onClickKeyword(keyword){
                this.keyword = keyword;
                this.onSubmitSearch();
            },
            onClickProduct(product_id, provider) {
                let name = Number(provider) === 2 ? 'Points.Product' : 'Mall.ProductDetail';

                this.$router.push({
                    name: name,
                    params: {id: product_id}
                })
            },
            getSearchPlaceHolder() {
                return this.order_search ? '搜索全部订单' : '搜索商品';
            },
            fetchHotSearch() {
                RequestAPI.http.get('hot/search')
                    .then((response)=>{
                        this.hotSearch = response;
                    });
            },
            fetchRecentlyBuyProducts() {
                RequestAPI.http.get('order/products')
                    .then((response)=>{
                        this.orderProducts = response.orderProducts;
                    });
            },
            eye(open_eye) {
                this.open_hot_search = open_eye;
            },
        },
        mounted(){
            this.$refs.popup_search.focus();
            if(!this.has_hash){
                this.$router.push({
                    query: {
                        show_search: 1
                    }
                });
            }
            if (this.order_search) {
                this.fetchRecentlyBuyProducts();
            }else {
                this.fetchHotSearch();
            }
        },
        beforeDestroy(){
            if(this.has_hash){
                this.$router.go(-1);
            }
        },
    }
</script>

<style lang="scss" scoped>
    .products-search{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        min-height: 100vh;
        background: #fff;
        z-index: 9;

        .search-prompt{
            padding: .25rem;

            &-group{
                padding-bottom: .3rem;

                .name{
                    font-size: .27rem;
                    font-weight: 500;
                }
                .eye-icon{
                    font-size: .30rem;
                }

                .keywords{
                    margin: 0 -.1rem;
                    overflow: hidden;

                    > div{
                        color: #333333;
                        float: left;
                        padding: .1rem .2rem;
                        background: #f2f2f2;
                        margin: .1rem;
                        border-radius: .04rem;
                        &.search-prompt-pic{
                            position: relative;
                            margin-right: 0.2rem;
                            background: #FFF;
                            padding: 0;
                            img{
                                width: 1.6rem;
                                height: 1.6rem;
                            }
                            .search-prompt-price{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background: rgba(0, 0, 0, 0.502);
                                font-size: 0.22rem;
                                color: #FFF;
                                text-align: center;
                                padding: 0.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
</style>
