<template>
    <div class="orders-items">
        <div class="orders-list" v-for="data in products">
            <div class="img" v-lazy:background-image="data.sell_product.product.main_image"></div>
            <div class="orders-info">
                <div class="orders-name ellipsis">{{ data.sell_product.product.name }}</div>
                <div class="flex orders-size items-center">
                    <div class="col-6">
                        <span v-if="data.is_gift" class="sku-span">{{giveProductDescript(data)}}</span>
                        <span v-else v-for="sku in data.inventory.sku" v-if="sku.sku_value&&sku.sku_value.attribute">{{ sku.sku_value.attribute.name }}:{{ sku.sku_value.value }}</span>
                    </div>
                    <div class="col-6 right-align">x {{ data.number }}</div>
                </div>
                <div class="flex items-center">
                    <div class="col-6" v-if="data.is_gift"><strong class="orders-price del">¥{{data.sell_product.market_price}}</strong></div>
                    <div class="col-6" v-else>
                        <strong class="orders-price" v-if="type == 'standard'">￥{{ data.inventory.mark_price }}</strong>
                        <strong class="orders-price" v-if="type == 'game'">￥{{ data.inventory.mark_price }}</strong>
                        <strong class="orders-price" v-if="type == 'point'">{{ data.inventory.mark_price }}积分</strong>
                    </div>
                    <div class="col-6 orders-button" v-if="(!data.is_gift && refund !=0)">
                        <router-link v-if="!data.refund_status" :to="routerAftermarket(data, type)" append tag="div">
                            <button>{{getStatusTitle(data.refund_status)}}</button>
                        </router-link>
                        <router-link v-else :to="routerAftermarketDetail(data, type)" append tag="div" >
                            <button>{{getStatusTitle(data.refund_status)}}</button>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        components: {},
        props: ['products', 'status', 'type', 'give_product', 'refund'],
        data(){
            return {
            }
        },
        mounted() {
            if (this.give_product) {
                this.give_product.is_gift = true;
                this.give_product.number = 1;
                this.products.push(this.give_product);
            }
        },
        methods: {
            giveProductDescript(data) {
                if (data.activity && data.activity.order_description) {
                    return data.activity.order_description;
                }else {
                    return '首单购赠品';
                }
            },
            refundProduct(status) {
                if (status == 'sending') {
                    return false;
                }else {
                    return true;
                }
            },
            routerAftermarket(data, type) {
                return {
                    name: 'My.Orders.Aftermarket',
                    params: {
                            order: data.id,
                            type: type
                         },
                    query: {
                            can_product: this.refundProduct(this.status),
                            mark_price: data.inventory.mark_price,
                            is_receiving: this.status == 'receiving'
                         }
                    }
            },
            routerAftermarketDetail(data, type) {
                return {
                    name: 'My.Orders.AftermarketDetail',
                    params: {
                        order: data.id,
                    },
                    query: {
                        type: type,
                        can_product: this.refundProduct(this.status),
                        mark_price: data.inventory.mark_price
                    },
                }
            },
            getProductDetail(data) {
                if (this.type === 'point') {
                    return {name: 'Points.Product', params: {id: data.product_id}};
                }
                return {name: 'Mall.ProductDetail', params: { id: data.product_id }};
            },
            getStatusTitle(refund_status) {
                if (!refund_status) {
                    return '申请售后';
                }
                let str = this.type == 'point' ? '退积分' : '退款';
                switch(Number(refund_status)) {
                    case 0: {
                        return str + '中';
                    }
                    break;
                    case 1: {
                        return '申请通过';
                    }
                    break;
                    case 2: {
                        return str + '通过';
                    }
                    break;
                    case 3: {
                        return str + '成功';
                    }
                    break;
                    case 4: {
                        return str + '失败';
                    }
                    break;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .orders-list{
        padding: 0.22rem 0.2rem 0.22rem 0.2rem;
        border-bottom: 5px solid #fff;
        overflow: hidden;
        background: #f8f8f8;
        .img{
            width: 1.61rem;
            height: 1.61rem;
            float: left;
            margin-right: 0.3rem;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                -ms-background-size: cover;
               -moz-background-size: cover;
                    background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #fff;
        }
        .orders-name{
            font-size: 0.26rem;
            font-weight: 500;
            color: #333333;
            padding-right: 0.2rem;
            -webkit-line-clamp: 2;
            max-height: .6rem;
        }
        .orders-size{
            margin: 0.2rem 0 0.25rem;
            color: #959595;
            font-size: 0.24rem;
            span{
                margin-right: 0.24rem;
            }
        }
        .orders-price{
            color: #333333;
            font-weight: 500;
            font-size: 0.26rem;
            &.del{
                text-decoration: line-through;
            }
        }
        .orders-button{
            text-align: right;
            button{
                height: 0.40rem;
                text-align: center;
                border: 1px solid rgb(125, 125, 125);
                border-radius: 0.04rem;
                font-size: 0.24rem;
                background: #FFF;
                color: #555555;
            }
        }
        .sku-span{
            padding: .1rem .25rem;
            border-radius: 120px;
            background: #000;
            color: #fff;
            font-size: .2rem;
        }
    }
</style>
