<template>
    <div class="order-payBox" @click="onClose">
        <div class="pay-content">
            <div class="pay-title flex border-bottom items-center">
                <div class="col-9">支付方式</div>
                <div class="col-3 right-align" @click="$router.go(-1)"><i class="iconfont icon-close"></i></div>
            </div>
            <div class="pay-items flex border-bottom items-center" @click="changePay(1)" v-if="!$store.state.is_wechat">
                <div class="pay-option col-9">
                    <i class="iconfont icon-zhifubao alipay"></i>
                    <span>支付宝</span>
                </div>
                <div class="pay-radio col-3 right-align">
                    <span class="iconfont" :class="[ payChecked == 1 ? 'icon-2xuanzhong' : 'icon-duoxuanxuanxiangline']"></span>
                </div>
            </div>
            <div class="pay-items flex items-center" @click="changePay(2)" v-if="$store.state.is_wechat">
                <div class="pay-option col-9">
                    <i class="iconfont icon-weixin-copy wechat"></i>
                    <span>微信支付</span>
                </div>
                <div class="pay-radio col-3 right-align">
                    <span class="iconfont" :class="[ payChecked == 2 ? 'icon-2xuanzhong' : 'icon-duoxuanxuanxiangline']"></span>
                </div>
            </div>
            <div class="pay-enter" @click="onClickDefine">确定</div>
        </div>
    </div>
</template>

<script>
    export default{
        components:{
        },
        props:['order_sn'],
        data(){
            return{
                payChecked: (!!this.$store.state.is_wechat?2:1),
            }
        },
        computed:{
            form(){
                let ret = {
//                    orderSn: this.order_sn,
//                    _method: 'patch'
                };
                switch (this.payChecked){
                    case 1:
                        ret.payType = 'alipayweb';
                        break;
                    case 2:
                        ret.payType = 'wemp';
                        break;
                }
                return ret;
            }
        },
        watch: {
            '$route' (to, from) {
                if(from.query.show_pay_panel){
                    this.closePayFn();
                }
            }
        },
        methods:{
            changePay(type){
                return this.payChecked = type;
            },
            closePayFn(){
                this.$emit('close');
            },
            onClose(e){
                if(e && e.target.className != 'order-payBox')return;
                this.$router.go(-1);
            },
            onClickDefine(){
                Mint.Indicator.open();
                RequestAPI.http.put('pay/'+this.order_sn, this.form)
                    .then((r) => {
                        if(r.isFee == 1){
                            window.location.reload();
                            return;
                        }
                        switch (this.form.payType){
                            case 'wemp':
                                wx.chooseWXPay({
                                    timestamp: r.payData.timestamp,
                                    nonceStr: r.payData.nonceStr,
                                    package: r.payData.package,
                                    signType: r.payData.signType,
                                    paySign: r.payData.paySign,
                                    success:(res)=>{
                                        window.location.reload();
                                    },
                                    fail:(res)=>{
                                        console.log(res);
                                    },
                                    cancel:(res)=>{
                                    }
                                });
                                break;
                            case 'alipayweb':
                                window.location.href = r.payData;
                                break;
                        }
                    })
                    .finally(() => Mint.Indicator.close());
                this.$emit('close');
            }
        },
        mounted(){
            this.$router.push({
                query: {
                    show_pay_panel: 1
                }
            })
        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .order-payBox{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background: rgba(0,0,0,.6);

        .pay-content{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            background: #FFF;
        }
        .pay-title{
            padding: 0.38rem 0.22rem 0.3rem;
            font-size: 0.26rem;
            color: $black1-color;
            border-color: rgb(240, 240, 240);

            i{
                font-size: 0.4rem;
                color: rgb(75, 75, 75);
            }
        }
        .pay-items{
            border-color: rgb(240, 240, 240);
            padding: 0.25rem 0 0.22rem 0;
            margin-left: 0.22rem;
            i{
                font-size: 0.54rem;
                vertical-align: middle;
                margin-right: 0.2rem;
                &.alipay{
                    color: #1caceb;
                }
                &.wechat{
                    color: #3cb035;
                }
            }
            span{
                color: $black1-color;
                font-size: 0.28rem;
            }
            .pay-radio{
                position: relative;
                padding-right: 0.22rem;
                span{
                    font-size: 0.5rem;
                    &.icon-duoxuanxuanxiangline{
                        color: rgb(194, 194, 194);
                    }
                }
            }
        }
        .pay-enter{
            width: 100%;
            text-align: center;
            background: #FFF;
            color: #010101;
            font-size: 0.32rem;
            padding: 0.33rem 0;
            border-top: 0.2rem solid #dddddd;
        }
    }
</style>
