<template>
    <div class="products-list-item">
        <div class="item">
            <div class="item__cover" v-lazy:background-image="item.image || item.all_image[0]"></div>
            <div class="item__attr flex flex-column justify-between">
                <div class="item__name ellipsis">{{ item.product.name }}</div>
                <div class="flex justify-between">
                    <div :class="priceClass">{{ price }}</div>
                    <div class="item__sale-count" v-if="!this.type">{{ item.volume }}人付款</div>
                    <div class="item__market-price" v-if="market_price">{{market_price}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        components: {},
        props: ['item', 'type'],
        data(){
            return {}
        },
        computed:{
            priceClass(){
                return this.type == 'point' ? 'item__price point' : 'item__price';
            },
            price(){
                let ret = '';
                switch (this.type) {
                    case 'point':
                        ret = this.item.product_point + '积分';
                        break;
                    default:
                        ret = '¥ ' + this.item.base_price;
                        break;
                }
                return ret;
            },
            market_price(){
                let ret = '';
                switch (this.type) {
                    case 'point':
                        ret = '¥ ' + this.item.market_price;
                        break;
                    default:
                        ret = null;
                        break;
                }
                return ret
            }
        },
        methods: {}
    }
</script>

<style lang="scss">
    .products-list-item{
        .item {
            border-radius: .05rem;
            overflow: hidden;
            margin: .1rem;
            border: 1px solid rgb(230, 230, 230);

            &__cover {
                padding-bottom: 100%;
                text-align: center;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }

            &__attr {
                padding: .2rem;
                background: #fff;
            }

            &__name {
                font-size: .24rem;
                line-height: .36rem;
                margin-bottom: .1rem;
                -webkit-line-clamp: 2;
                height: .72rem;
            }
            &__price {
                font-size: .26rem;
                font-weight: 500;
                &.point{
                    color: #d79523;
                }
            }
            &__sale-count {
                font-size: .2rem;
                color: #959595;
            }
            &__market-price {
                font-size: .2rem;
                color: #959595;
                text-decoration: line-through;
            }
        }
        &.col-12 {
            .item {
                display: flex;

                &__cover {
                    width: 2.16rem;
                    height: 2.16rem;
                    padding-bottom: 0;
                }

                &__attr {
                    flex: 1;
                }
            }
        }
    }
</style>
