<template>
    <div class="quantity-action">
        <div class="btn" :class="disabled_minus" @click="minus">-</div>
        <!--<div class="quantity">{{quantity}}</div>-->
        <input class="quantity" type="number" v-model.trim.number="quantity" @focus="emitInput" :style="styles"/>
        <div class="btn" :class="disabled_plus" @click="plus">+</div>
    </div>
</template>

<script>
    export default{
        components: {},
        props: {
            'value': Number,
            'max': {
                type: Number,
                default: 99999
            },
            'min': Number,
        },
        data(){
            return {
                quantity: parseInt(this.value) || 1,
                timeout_id: false
            }
        },
        computed: {
            disabled_minus(){
                let min = 1;
                if (this.min != undefined) min = Number(this.min);
                if (this.quantity > min)return false;
                return 'disabled'
            },
            disabled_plus(){
                if (!this.max || this.quantity < this.max)return false;
                return 'disabled'
            },
            styles(){
                return {
                    width: (String(this.quantity).length * 8)+'px'
                }
            }
        },
        watch:{
            value(val, old_val){
                if(val != this.quantity){
                    this.quantity = val;
                }
            },
            quantity(val){
                this.emitInput();
            },
            max(val){
                this.emitInput();
            }
        },
        methods: {
            emitInput(){
                let quantity = parseInt(this.quantity);
                let max = parseInt(this.max);

                if (!quantity) quantity = 1;
                if (quantity > max) quantity = max;

                if (this.timeout_id) clearTimeout(this.timeout_id);

                this.timeout_id = setTimeout(() => {
                    this.timeout_id = false;
                    this.$emit('input', quantity);
                }, 500)
            },
            minus(){
                if (this.disabled_minus)return;
                this.quantity--;

            },
            plus(){
                if (this.disabled_plus)return;
                this.quantity++;
            },
        },
    }
</script>

<style lang="scss" scoped>
    .quantity-action {
        > * {
            border: 1px solid #e6e6e6;
            border-radius: .05rem;
            height: .5rem;
            line-height: .5rem;
            text-align: center;
            display: inline-block;
        }
        .btn {
            width: .5rem;
            color: #666666;

            &.disabled {
                color: #ccc;
            }
        }
        .quantity {
            min-width: .5rem;
            padding: 0 .1rem;
            background: none;
        }
    }
</style>