<template>
    <div class="rate">
        <span class="iconfont icon-star3" :class=" i>val || 'on'" v-for="i in 5" @click="onClick(i)" :style="style"></span>
    </div>
</template>

<script>
    export default{
        components: {},
        props: ['value', 'size', 'disabled'],
        data(){
            return {
                val: this.value,
            }
        },
        computed:{
            style(){
                let ret = {};
                if(this.size){
                    ret.fontSize = this.size+'px';
                }
                return ret;
            }
        },
        methods: {
            onClick(i){
                if(this.disabled) return;
                this.val = i;
                this.$emit('input', this.val);
            }
        },
        mounted(){
        }
    }
</script>

<style lang="scss">
    .rate{
        .iconfont{
            color: #e5e5e5;

            &.on{
                color: #d79523;
            }
        }
    }
</style>
