<template>
    <div class="share-box" @click="closeFn">
        <div v-if="isWechat">
            <i class="share-icon"></i>
            <span>请点击右上角发送给朋友</span>
        </div>
        <div v-else>
            <div class="notice">请使用浏览器<br/>自带分享功能发送给好友  </div>
            <img src="~/assets/images/share-button.png">
        </div>
    </div>
</template>

<script>
    export default{
        props: [],
        components: {},
        data(){
            return {
                isWechat: false
            }
        },
        mounted(){
            if (this.$store.state.is_wechat){
                this.isWechat = true;
            }
        },
        methods:{
            closeFn(){
                this.$emit('close')
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .share-box {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        font-size: .32rem;
        z-index: 9999;

        .share-icon {
            display: block;
            text-align: right;
            margin: .3rem 0 .22rem 0;
            width: 100%;
            height: 1.22rem;
            @include backgroundImg(url('../assets/images/arrow.png') no-repeat 95% center, contain);
        }

        .notice{
            margin: 2.2rem 0;
            line-height: 1.6;
            font-size:.3rem;
        }

        img{
            width: 2.6rem;
        }
    }
</style>
