<template>
    <div class="six-password" @click="inputFocus">
        <input type="tel" v-model="val" autofocus maxlength="6" unselectable="on" pattern="\d*" autocomplete="off" @keydown.delete="onDelete">
        <div class="am-password-handy-security">
            <div v-for="i in 6"><i :class="!(val.length >= i) || 'visible'"></i></div>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['value'],
        data(){
            return {
                val: ''
            }
        },
        computed:{},
        watch:{
            val(val){
                if(val.length === 6){
                    this.$emit('input', val);
                }
            },
        },
        mounted(){
            this.inputFocus();
        },
        methods: {
            onDelete(e){
                this.val = '';
            },
            inputFocus(){
                return this.$el.querySelector('input').focus();
            }
        }
    }
</script>

<style lang="scss">
    .six-password{
        display: block;
        position: relative;
        width: 252px;
        overflow: hidden;
        margin: 0 auto;

        .am-password-handy-security {
            display: flex;
            padding: 0;
            background-color: #fff;
            box-sizing: border-box;
            width: 100%;
            height: 44px;
            overflow: hidden;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-clip: padding-box;
            font-family: Courier,monospace;
            font-size: 24px;
            line-height: 32px;

            & > div {
                flex: 1;
                margin-right: -1px;
                border-right: 1px solid #ddd;
                overflow: hidden;
                text-align: center;

                &:last-child {
                    margin-right: 0;
                    border-right: 0;
                }

                & > i{
                    display: inline-block;
                    width: 14px;
                    overflow: hidden;
                    line-height: 42px;
                    font-style: normal;
                    visibility: hidden;

                    &.visible{
                        visibility: visible;
                    }

                    &:empty{
                        margin: 16px 2px 0;
                        width: 10px;
                        height: 10px;
                        border-radius: 10px;
                        background-clip: padding-box;
                        background-color: #000;
                    }
                }
            }
        }

        input{
            position: absolute;
            padding: 0;
            opacity: .01;
            border: 0;
            left: -600px;
            height: 44px;
            width: 100%;
            display: block;
            letter-spacing: 36px;
            -webkit-rtl-ordering: logical;
            -webkit-border-image: none;
            outline: none;
            background-clip: padding-box;
            overflow: hidden;
        }
    }
</style>
