<template>
    <div class="tribe-item border-bottom table" :class="is_me?'my-tribe-ranks':''">
        <div class="table-cell tribe-icon">
            <span class="ranking-icon" :class="ranking_icon" v-if="ranking_icon"></span>
            <div class="table-cell tribe-icon ranking-txt" v-if="rankList > 3 || !rankList">
                <span class="margin-right">{{ rankList || '&nbsp;' }}</span>
            </div>
            <!-- <div class="table-cell tribe-icon ranking-txt">
                <span :class="[rank <= 3 ? 'red-color' : '', 'margin-right']">{{ rank || '&nbsp;' }}</span>
            </div> -->
        </div>
        <div class="tribe-info table-cell" v-if="item.user">
            <img :src="item.user.avatar | placeholder('avatar')">
            <div class="tribe-cont">
                <div class="tribe-nickname">{{ item.user.nickname }}
                    <span class="iconfont" :class="rank_class" v-if="type != 'cumulateRank'">
                        <span class="tribe-middle" v-if="rankList == '' || rankList == 0"></span>
                        <span v-if="rankList != 0">{{ rankList }}</span>
                    </span>
                </div>
                <div class="flex">
                    <div class="col-6 tribe-income" v-if="income">
                        <span>{{income.title}}:</span>￥{{ income.income }}
                    </div>
                   <!--  <div class="col-6 tribe-income" v-if="is_me">
                        <span>累计收入:</span>￥{{ item.income }}
                    </div> -->
                </div>
            </div>
        </div>
        <div class="tribe-tag" v-if="is_me"><span>我</span></div>
    </div>
</template>

<script>
    export default{
        components: {},
        props: ['item', 'type', 'is_me'],
        data(){
            return {
            }
        },
        computed: {
            income(){
                let ret = null;
                switch (this.type) {
                    case 'weekRank':
                        ret = {
                            title: '本周收入',
                            income: this.item.week_income,
                        };
                        break;
                    case 'monthRank':
                        ret = {
                            title: '本月收入',
                            income: this.item.month_income,
                        };
                        break;
                    case 'cumulateRank':
                        ret = {
                            title: '本年收入',
                            income: this.item.income,
                        };
                        break;
                }
                return ret;
            },
            ranking_icon(){
                let ret = null;
                switch (this.rank) {
                    case 1:
                        ret = 'first';
                        break;
                    case 2:
                        ret = 'second';
                        break;
                    case 3:
                        ret = 'third';
                        break;
                    default:
                        ret = null;
                        break;

                }
                return ret;
            },
            rankList(){
                let ret = null;
                switch (this.type) {
                    case 'weekRank':
                        ret = this.item.week_change;
                        break;
                    case 'monthRank':
                        ret = this.item.month_change;
                        break;
                }
                return Number(ret);
            },
            rank_class(){
                let ret = '';
                if (this.rankList != 0) {
                    ret = this.rankList > 0 ? 'icon-rank-up up' : 'icon-xiajiang down';
                }
                return ret;
            }
        },
        methods: {
        }
    }
</script>

<style lang="scss" scoped>
    @import "~/assets/scss/abstracts";

    .red-color{
        color: #fb7b51;
    }
    .ranking-icon{
        display: inline-block;
        width: 0.37rem;
        height: 0.49rem;
        margin-right: 0.22rem;
        &.first{
            @include backgroundImg(url('../assets/images/medal.png') no-repeat center center, contain);
        }
        &.second{
            @include backgroundImg(url('../assets/images/medal2.png') no-repeat center center, contain);
        }
        &.third{
            @include backgroundImg(url('../assets/images/medal3.png') no-repeat center center, contain);
        }
    }
    .tribe-info{
        img{
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 100%;
            float: left;
            margin-right: 0.22rem;
        }
    }
    .tribe-tag{
        position: absolute;
        right: .2rem;
        top: 0;
        width: .8rem;
        height: .8rem;
        color: #fff;
        font-size: .2rem;
        background: url('../assets/images/tribe-tag.png') no-repeat right center;
        background-size: cover;

        span{
            position: absolute;
            right: .1rem;
            top: .1rem;
        }
    }
    .tribe-nickname{
        color: $black1-color;
        font-size: 0.28rem;
        font-weight: 500;
        margin-bottom: 0.2rem;
        & > span{
            font-size: 0.2rem;
            margin-left: .2rem;
            font-weight: normal;
            &.up{
               color: #fd5050;
            }
            &.down{
                color: #22ac38;
            }
            .tribe-middle{
                display: inline-block;
                width: 0.13rem;
                height: 0.03rem;
                background: rgb(44, 153, 255);
                border-radius: 120px;
                vertical-align: middle;
            }
        }
    }
    .tribe-item{
        width: 100%;
        border-color: #efefef;
        border-width: 2px;
        padding: .3rem 0;
        &:last-child{
            border: 0;
        }
    }
    .tribe-icon{
        vertical-align: middle;
        width: 0.37rem;
        height: 0.49rem;
        &.ranking-txt{
            padding-right: 0.22rem;
            font-size: 0.26rem;
            span{
                display: inline-block;
                width: inherit;
                text-align: center;
            }
        }
    }
    .tribe-income{
        font-size: 0.24rem;
        color: $black-color;
        span{
            color: $gray1-color;
        }
    }
    .my-tribe-ranks{
          .tribe-income{
            color: #d79523;
        }
    }
</style>
