<template>
    <div class="you-may-also-like" v-show="list.length">
        <div class="title">猜你喜欢</div>
        <div class="list flex flex-wrap justify-between"
             v-infinite-scroll="fetchData"
             infinite-scroll-disabled="loading"
             infinite-scroll-distance="10"
        >
            <products-list-item class="col-6" v-for="(item, index) in list" :key="item" :item="item" @click.native="onClickItem(item.product.id)"></products-list-item>
        </div>
    </div>
</template>

<script>
    import ProductsListItem from '/components/ProductsListItem.vue'
    import {InfiniteScroll} from 'mint-ui';
    
    export default{
        components: {
            ProductsListItem,
        },
        directive: {
            InfiniteScroll
        },
        props: ['provider', 'sign'],
        watch: {
        },
        data(){
            return{
                list: [],
                form: {
                    sign: this.sign,
                    page: 0,
                },
                last_page: false,
                loading: false,
            }
        },
        computed:{},
        mounted() {
        },
        methods: {
            onClickItem(id){
                this.$router.push({
                    name: 'Mall.ProductDetail',
                    params: {
                        id: id
                    }
                });
            },
            fetchData(is_init_page) {
                if(this.loading || (!is_init_page && this.last_page)) return;

                if (is_init_page) {
                    this.form.page = 0;
                }
                this.form.page++;

                this.loading = true;

                Mint.Indicator.open();
                RequestAPI.http.get('individ/' + this.provider, {params: this.form})
                    .then((response)=>{
                        if (is_init_page) {
                            this.list = response.paginate_data.products;
                        }else {
                            for (let i of response.paginate_data.products) {
                                this.list.push(i)
                            }
                        }
                        if(!response.paginate_data.products.length){
                            this.last_page = true;
                        }
                    })
                    .finally(() => {
                        Mint.Indicator.close();
                        this.loading = false;
                    })
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";
    .you-may-also-like{

        .title{
            margin: .1rem 0;
            font-size: .26rem;
            text-align: center;
            position: relative;

            &:before,&:after{
                position: absolute;
                top:50%;
                content: " ";
                width: calc(100vw / 2 - .9rem);
                border-bottom: 1px solid #dcdcdc;
            }

            &:before{
                left: .2rem;
            }

            &:after{
               right: .2rem;
            }
        }

        .list{
            padding: .1rem;
        }

        .item {
            border-radius: .05rem;
            overflow: hidden;
            margin: .1rem;
            border: 1px solid $separate-color;

            &__attr {
                padding: .2rem;
                background: #fff;
            }

            &__name {
                font-size: .24rem;
                line-height: .36rem;
                margin-bottom: .1rem;
                -webkit-line-clamp: 2;
                height: .72rem;
            }
            &__price {
                font-size: .26rem;
                font-weight: 500;
            }
            &__sale-count {
                font-size: .2rem;
                color: #959595;
            }
        }
    }
</style>
