<template>
    <div class="my-collect" >
        <div class="min-height">
            <div class="collect-goods"
                 v-infinite-scroll="loadMore"
                 infinite-scroll-disabled="loading"
                 infinite-scroll-distance="pagination.per_page"
                 v-show="collection.collection && collection.collection.length"
            >
                <router-link :to="{name: 'Mall.ProductDetail', params: { id: i.sell_product.product.id }}" append class="collect-list" tag="div" v-for="i in collection.collection" :key="i">
                    <div class="goods-pic left" v-lazy:background-image="i.sell_product.product.main_image"></div>
                    <div class="collect-info">
                        <div class="collect-title">{{ i.sell_product.product.name }}</div>
                        <div class="flex collect-bottom">
                            <div class="col-4 price">¥{{ i.sell_product.base_price }}</div>
                            <div class="col-8 right-align collect-handle">
                                <span class="delect" v-on:click.prevent="deleteData(i.id)">删除</span>
                                <span class="add-shopcart" v-on:click.prevent="onClickAddShoppingCart(i.sell_product)">加入购物车</span>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
            <empty-view v-show="!collection.collection || !collection.collection.length" :type="type" :content="content"/>
        </div>
        <product-sku-action
                @close="onCloseSkuAction"
                :action="sku_panel.action"
                :sku="product.attributes"
                v-model="result_sku"
                v-if="sku_panel.is_show"
                :inventories="product.inventories"
                :default_price="product.base_price"
                :default_image="product.image"
                :sell_attribute_value="product.sell_attribute_value"
        />
    </div>

</template>

<script>
    import ProductSkuAction from '/modules/ProductSkuAction.vue'
    import EmptyView from '/modules/EmptyView.vue'
    import {InfiniteScroll} from 'mint-ui';

    export default{
        components:{
            ProductSkuAction,
            EmptyView,
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return{
                collection: {
                    collection:[],
                },
                sku_panel: {
                    is_show: false,
                    action: 'add-shopping-cart'
                },
                product: {},
                result_sku: {},
                type:1,
                content:'暂无收藏',
                pagination: {
                    current_page: 0,
                    last_page: 0,
                },
                loading: false,
            }
        },
        mounted(){
            this.reloadData(this, true);
        },
        methods: {
            deleteData(id){
                let $this = this;
                Mint.MessageBox.confirm('您确定删除该商品吗？', '')
                    .then(action => {
                        Mint.Indicator.open();
                        RequestAPI.http.delete('collection/' + id)
                        .then(function (response) {
                            $this.reloadData($this, true);
                        })
                        .finally(() => Mint.Indicator.close())
                    });
            },
            reloadData($this, is_init_page){
                if ($this.loading || !is_init_page && $this.pagination.current_page >= $this.pagination.last_page) {
                    return;
                }

                let params;
                if (is_init_page) {
                    $this.pagination.current_page = 1;
                }else {
                    params = {params: {page: $this.pagination.current_page+1}}
                }
                $this.loading = true;
                Mint.Indicator.open();
                RequestAPI.http.get('collection', params)
                    .then(function (response) {
                        if (is_init_page) {
                            $this.collection = response.paginate_data;
                        }else {
                            for (let i of response.paginate_data.collection) {
                                $this.collection.collection.push(i)
                            }
                        }
                        $this.pagination.current_page = Number(response.pagination.current_page);
                        $this.pagination.last_page = Number(response.pagination.last_page)
                    })
                    .finally(() => {
                        Mint.Indicator.close()
                        $this.loading = false
                    })
            },
            loadMore() {
                this.reloadData(this, false);
            },
            onClickAddShoppingCart(sku){
                let $this = this;

                this.product.base_price = sku.base_price;
                this.product.image = sku.image;
                Mint.Indicator.open();
                RequestAPI.http.get('product/'+ sku.id)
                    .then( (response)=>{
                        this.product.inventories = response.inventories;
                        this.product.attributes = response.attributes;
                        this.sku_panel.is_show = true;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            onCloseSkuAction(e){
                this.sku_panel.is_show = false;
                this.sku_panel.action = e;
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";
    .collect-goods{
        padding: 0.23rem 0.18rem;
    }
    .collect-list{
        height: 2.12rem;
        border: 1px solid rgb(225, 225, 225);
        border-radius: 0.04rem;
        background: rgb(253, 253, 253);
        margin-bottom: 0.17rem;
        overflow: hidden;

        .goods-pic{
            width: 2.16rem;
            height: 2.16rem;
            margin-right: 0.25rem;
            -webkit-background-size: cover;
                     -o-background-size: cover;
                    -ms-background-size: cover;
                   -moz-background-size: cover;
                        background-size: cover;
                background-position: center center;
        }
        .collect-info{
            padding: 0.28rem 0.25rem 0.26rem 0;
            .collect-title{
                font-size: 0.26rem;
                color: $black1-color;
                line-height: 1.5;
            }
        }
        .collect-bottom{
            margin-top: 0.54rem;
            .price{
                font-size: 0.26rem;
                color: $black-color;
            }
            .collect-handle{
                font-size: 0.2rem;
                color: $gray1-color;
                .delect{
                    margin-right: 0.32rem;
                }
            }
        }
    }
</style>
