<template>
    <div class="my-coupons">
        <!-- <div class="my-coupons-search">
            <form class="flex" @submit.prevent="onExchange">
                <div class="col-9 my-coupons-search-input"><input placeholder="请输入优惠码" v-model="coupon_code"></div>
                <div class="col-3 my-coupons-search-btn center"><button type="submit">兑换</button></div>
            </form>
        </div> -->
        <div class="header-bar no-fixed" v-scroll-to-fixed>
                <div class="nav flex justify-center justify-around">
                    <div class="nav__item" :class="type == 1 ? 'nav__item__on' : ''" @click="switchType(1)">可用</div>
                    <div class="nav__item" :class="type == 2 ? 'nav__item__on' : ''" @click="switchType(2)">已使用</div>
                    <div class="nav__item" :class="type == 3 ? 'nav__item__on' : ''" @click="switchType(3)">已过期</div>
                </div>
            </div>
        <div class="my-coupons-cont" v-if="coupons.length">
            <coupon-item :data="i" v-for="i in coupons" :key="i"></coupon-item>
        </div>
        <empty-view v-else :type="empty_type" :content="content"></empty-view>
    </div>
</template>

<script>
    import CouponItem from '/components/CouponItem.vue'
    import EmptyView from '/modules/EmptyView.vue'
    import {InfiniteScroll} from 'mint-ui';

    export default{
        components: {
            CouponItem,
            EmptyView
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return {
                content: '暂无优惠券',
                coupons: [],
                type: 1,
                coupon_code: '',
                empty_type: 5
            }
        },
        mounted(){
            this.fetchData('valid');
        },
        methods: {
            switchType(type){
                this.type = type;
                switch (type) {
                    case 1:
                        this.fetchData('valid');
                        break;
                    case 2:
                        this.fetchData('used');
                        break;
                    case 3:
                        this.fetchData('expired');
                        break;
                }
            },
            fetchData(type){
                Mint.Indicator.open();
                RequestAPI.http.get('coupon?status='+type)
                    .then((response) => {
                        this.coupons = response.coupons;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            onExchange(){
                if (this.coupon_code.trim() == '') {
                    Mint.Toast('请输入优惠码');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('coupon', {"cid": this.coupon_code})
                    .then((response) => {
                        this.coupons = response.coupons;
                    })
                    .finally(() => Mint.Indicator.close())
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-coupons-search{
        background: #FFF;
        width: 100%;
        padding: 0.24rem 0 0.24rem 0.33rem;
        @include boxSizing(border-box);
        input{
            height: 0.7rem;
            font-size: 0.28rem;
            @include inputStyle(100%,#ececec,#FFF,0.06rem,0.2rem 0.22rem);
            @include placeHolder(#b5b5b5);
            @include boxSizing(border-box);
        }
    }
    .my-coupons-search-btn{
        button{
            line-height: 1;
            padding: 0.22rem 0.27rem;
            @include buttonStyle($black-color,#FFF,1.29rem,0.7rem,0.04rem,0.28rem);
        }
    }
    .my-coupons-cont{
        padding: 0.35rem 0.1rem;
    }
    .my-coupons {
        .nav{
            width: 100%;
        }
    }
</style>
