<template>
    <div class="my-collect my-footprint">
        <div class="gray-bg min-height"
                 v-infinite-scroll="reloadData"
                 infinite-scroll-disabled="loading"
                 infinite-scroll-distance="10"
                 v-show="scan.scan && scan.scan.length"
         >
            <div class="collect-goods" v-for="i in scan.scan">
                <div :class="i.show_day?'footprint-time':'footprint-time no-day'">{{ i.show_day }}</div>
                <router-link :to="{name: 'Mall.ProductDetail', params: { id: i.sell_product.product.id }}" class="collect-list" tag="div">
                    <div class="goods-pic left" v-lazy:background-image="i.sell_product.product.main_image"></div>
                    <div class="footprint-info flex flex-column justify-around">
                        <div class="collect-title">{{ i.sell_product.product.name }}</div>
                        <div class="flex collect-bottom">
                            <div class="col-4 price">¥{{ i.sell_product.base_price }}</div>
                            <div class="col-8 right-align collect-handle">
                                <span class="delect" v-on:click.prevent="deleteData(i.id)">删除</span>
                                <span class="add-shopcart" v-on:click.prevent="onClickAddShoppingCart(i.sell_product)">加入购物车</span>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </div>
        <empty-view v-show="!scan.scan || !scan.scan.length" :type="type" :content="content" :action="action"/>
        <product-sku-action
                @close="onCloseSkuAction"
                :action="sku_panel.action"
                :sku="product.attributes"
                v-model="result_sku"
                v-if="sku_panel.is_show"
                :inventories="product.inventories"
                :default_price="product.base_price"
                :default_image="product.image"
                :sell_attribute_value="product.sell_attribute_value"
        />
    </div>
</template>

<script>
    import ProductSkuAction from '/modules/ProductSkuAction.vue'
    import EmptyView from '/modules/EmptyView.vue'
    import {InfiniteScroll} from 'mint-ui';

    export default{
        components:{
            ProductSkuAction,
            EmptyView,
        },
        directive: {
            InfiniteScroll
        },
        data(){
            return{
                all_days: [],
                scan: {
                    scan:[],
                },
                sku_panel: {
                    is_show: false,
                    action: 'add-shopping-cart'
                },
                product: {},
                result_sku: {},
                type:2,
                content:'您还没有浏览过商品',
                pagination: {
                    current_page: 0,
                    last_page: 0,
                },
                loading: false,
            }
        },
        mounted(){
            this.reloadData(true);
        },
        methods: {
            deleteData(id){
                let $this = this;
                Mint.MessageBox.confirm('您确定删除该商品吗？', '')
                    .then(action => {
                        Mint.Indicator.open();
                        RequestAPI.http.delete('scan/' + id)
                        .then(function (response) {
                            $this.reloadData($this, true);
                        })
                        .finally(() => Mint.Indicator.close())
                    });
            },
            reloadData(is_init_page = false){
                if (this.loading || (!is_init_page && this.pagination.current_page >= this.pagination.last_page)) {
                    return;
                }
                this.loading = true;

                if (is_init_page) {
                    this.pagination.current_page = 0;
                }
                this.pagination.current_page++;

                Mint.Indicator.open();
                RequestAPI.http.get('scan', {params: {page: this.pagination.current_page}})
                    .then((response)=>{
                        if (is_init_page) {
                            this.scan.scan = [];
                        }
                        for (let i of response.paginate_data.scan) {
                            let date = i.date.substring(0, 10)
                            if (this.all_days.indexOf(date) < 0) {
                                i.show_day = date;
                                this.all_days.push(date);
                            }
                            this.scan.scan.push(i);
                        }

                        this.pagination.current_page = Number(response.pagination.current_page);
                        this.pagination.last_page = Number(response.pagination.last_page);
                    })
                    .finally(() => {
                        Mint.Indicator.close();
                        this.loading = false;
                    })
            },
            onClickAddShoppingCart(sku){
                this.product.base_price = sku.base_price;
                this.product.image = sku.image;
                Mint.Indicator.open();
                RequestAPI.http.get('product/'+ sku.product.id)
                    .then( (response)=>{
                        this.product.inventories = response.inventories;
                        this.product.attributes = response.attributes;
                        this.sku_panel.is_show = true;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            onCloseSkuAction(e){
                this.sku_panel.is_show = false;
                this.sku_panel.action = e;
            },
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-footprint{
        .collect-goods{
            padding: 0 0.18rem;
        }
    }
    .footprint-time{
        padding: 0.23rem 0.1rem 0.19rem;
        font-size: 0.22rem;
        color: $black-color;
            &.no-day{
                padding: 0.09rem 0.1rem;
            }
    }

    .collect-goods{
        padding: 0.23rem 0.18rem;
    }
    .collect-list{
        height: 2.12rem;
        border: 1px solid rgb(225, 225, 225);
        border-radius: 0.04rem;
        background: rgb(253, 253, 253);
        margin-bottom: 0.17rem;
        overflow: hidden;

        &:last-child{
            margin-bottom: 0;
        }

        .goods-pic{
            width: 2.16rem;
            height: 2.16rem;
            margin-right: 0.25rem;
            -webkit-background-size: cover;
                     -o-background-size: cover;
                    -ms-background-size: cover;
                   -moz-background-size: cover;
                        background-size: cover;
                background-position: center center;
        }
        .footprint-info{
            padding: 0 0.2rem 0 0;
            min-height: 100%;

            .collect-title{
                font-size: 0.26rem;
                color: $black1-color;
                line-height: 1.5;
            }
        }
        .collect-bottom{
            .price{
                font-size: 0.26rem;
                color: $black-color;
            }
            .collect-handle{
                font-size: 0.2rem;
                color: $gray1-color;
                .delect{
                    margin-right: 0.32rem;
                }
            }
        }
    }
</style>
