<template>
    <div class="my-home">
        <div class="header-bar justify-between items-center">
            <router-link to="/settings" class="btn iconfont icon-shezhi1" tag="div"></router-link>
            <div class="title iconfont icon-AMII"></div>
            <div class="title-menu">
                <!-- <router-link :to="{name:'My.Messages'}" tag="div" class="btn iconfont icon-message message-btn"/> -->
                <i class="iconfont icon-caidan" @click="show_menus = !show_menus"></i>
                <div class="show-menu" v-if="show_menus">
                    <router-link :to="{name:'My.Messages'}" tag="div" class="items">
                        <img src="~/assets/images/message.png" alt="">
                        <span>消息</span>
                    </router-link>
                    <router-link to="/" tag="div" class="items">
                        <img src="~/assets/images/home.png" alt="">
                        <span>首页</span>
                    </router-link>
                    <div class="items" @click="menusShare">
                        <img src="~/assets/images/share-icon.png" alt="">
                        <span>分享</span>
                    </div>
                    <router-link :to="feedbackUrl" tag="div" class="items">
                        <img src="~/assets/images/advice.png" alt="">
                        <span>我要反馈</span>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="my-items">
                <router-link :to="{name: 'Settings.InfoEdit'}" class="my-info border-bottom flex justify-between items-center" tag="div">
                    <div class="settings-header col-8">
                        <div class="my-avatar left">
                            <img :src="user.avatar | placeholder('avatar')">
                            <span :class="user_gender"></span>
                        </div>
                        <div class="my-info-center">
                            <div class="my-nickname">{{ user.nickname }}</div>
                        </div>
                    </div>
                    <router-link :to="{name: 'My.Member'}" tag="div" class="my-grade"> V{{ user.level-1 }}会员</router-link>
                </router-link>
                <router-link to="orders/all" append class="my-orders flex flex-wrap right-arrow border-bottom" tag="div">
                    <div class="col-11 my-orders-title">全部订单</div>
                </router-link>
                <div class="my-operate flex">
                    <router-link to="orders/paying" append class="my-operate-items flex-one" tag="div">
                        <div :data-badge="getNumberCount(orderNumbers.paying)" class="inline-block">
                            <img src="~/assets/images/unpay.png" class="my-operate-icon"/>
                        </div>
                        <div>待付款</div>
                    </router-link>
                    <router-link to="orders/sending" append class="my-operate-items flex-one" tag="div">
                        <div :data-badge="getNumberCount(orderNumbers.sending)" class="inline-block">
                            <img src="~/assets/images/deliver.png" class="my-operate-icon"/>
                        </div>
                        <div>待发货</div>
                    </router-link>
                    <router-link to="orders/receiving" append class="my-operate-items flex-one" tag="div">
                        <div :data-badge="getNumberCount(orderNumbers.receiving)" class="inline-block">
                            <img src="~/assets/images/truck.png" class="my-operate-icon"/>
                        </div>
                        <div>待签收</div>
                    </router-link>
                    <router-link to="orders/appraising" append class="my-operate-items flex-one" tag="div">
                        <div :data-badge="getNumberCount(orderNumbers.appraising)" class="inline-block">
                            <img src="~/assets/images/comment.png" class="my-operate-icon"/>
                        </div>
                        <div>待评价</div>
                    </router-link>
                    <router-link to="orders/aftermarketList/refunding" append class="my-operate-items flex-one" tag="div">
                        <div :data-badge="getNumberCount(orderNumbers.refunding)" class="inline-block">
                            <img src="~/assets/images/safe.png" class="my-operate-icon"/>
                        </div>
                        <div>退款/售后</div>
                    </router-link>
                </div>
            </div>
            <div class="my-items">
                <table class="my-list">
                    <tr>
                        <router-link to="tribe" append class="list-items" tag="td">
                            <img src="~/assets/images/tribe.png"/>
                            <div class="title">部落</div>
                            <span>平台返佣20%</span>
                        </router-link>
                        <router-link to="property" append class="list-items" tag="td">
                            <img src="~/assets/images/wallet.png"/>
                            <div class="title">资产管理</div>
                            <!-- <span>开启创业之路</span> -->
                            <span></span>
                        </router-link>
                        <router-link to="money" append class="list-items" tag="td">
                            <img src="~/assets/images/pig.png"/>
                            <div class="title">立赚10元</div>
                            <span></span>
                        </router-link>
                    </tr>
                    <tr>
                        <router-link to="qrcode" append class="list-items" tag="td">
                            <img src="~/assets/images/qrcode.png"/>
                            <div class="title">我的二维码</div>
                            <span></span>
                        </router-link>
                        <router-link to="collect" append class="list-items" tag="td">
                            <img src="~/assets/images/save.png"/>
                            <div class="title">我的收藏</div>
                            <span></span>
                        </router-link>
                        <router-link to="footprint" append class="list-items" tag="td">
                            <img src="~/assets/images/foot.png"/>
                            <div class="title">浏览足迹</div>
                            <span></span>
                        </router-link>
                    </tr>
                    <tr>
                        <router-link to="/settings/figure" class="list-items" tag="td">
                            <img src="~/assets/images/figure.png"/>
                            <div class="title">身材管理</div>
                            <span></span>
                        </router-link>
                        <router-link to="/settings/feedback" class="list-items" tag="td">
                            <img src="~/assets/images/feedback.png"/>
                            <div class="title">意见反馈</div>
                            <span></span>
                        </router-link>
                        <td class="list-items" @click="puzzle_url">
                            <img src="~/assets/images/puzzle-icon.png"/>
                            <div class="title">我的拼图</div>
                            <span></span>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <fixed-bottom-bar></fixed-bottom-bar>
        <share-box v-if="menus_share" @close="menus_share = false"></share-box>
        <point-award :point="award.points" :message="award.message" v-if="award.points"></point-award>
    </div>
</template>

<script>
    import FixedBottomBar from '/components/FixedBottomBar.vue'
    import {mapMutations} from 'vuex'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import {app_rules} from '/config/parameter'
    import ShareBox from '/components/ShareBox.vue'
    import PointAward from '/components/PointAward.vue'

    export default{
        components: {
            FixedBottomBar,
            ShareBox,
            PointAward
        },
        data(){
            return {
                user: {},
                award: {},
                orderNumbers: {},
                show_menus: false,
                menus_share: false
            }
        },
        computed:{
            feedbackUrl(){
                let urls = '';
                if (this.$store.state.token) {
                    urls = {name:'Settings.Feedback'};
                } else {
                    urls = {name:'Auth.Login'};
                }
                return urls;
            },
            user_gender(){
                let gender = '';
                if (this.user.gender == 0) {
                    gender = 'avatar-female'
                } else if (this.user.gender == 1) {
                    gender = 'avatar-male'
                }
                return gender;
            }
        },
        mounted(){
            RequestAPI.http.get('order/status/count').then((r)=>{
                this.orderNumbers = r.counts;
            })
        },
        methods: {
            ...mapMutations([
                'cacheUserInfo'
            ]),
            menusShare(){
                share.init('home').then((r) => {
                    shareAction.init(r.title, r.content, '', '', r.share_url, r.image,() => {
                        this.menus_share = false;
                        if (this.$store.state.token) {
                            Mint.Indicator.open();
                            RequestAPI.http.get('activity-share/home')
                                .then((response) => {
                                    if (response && response != null) {
                                        this.award = response;
                                    }
                                })
                                .finally(() => Mint.Indicator.close());
                        }
                    });
                });
                if (this.$store.state.is_app) {
                    app_rules.share('home');
                    return false;
                }
                this.menus_share = true;
                this.show_menus = false;
            },
            puzzle_url(){
                if (this.user.playing_game == 0) {
                    this.$router.push({name: 'Game.Heartbeat'})
                } else {
                    this.$router.push({name: 'Game.Puzzle'})
                }
            },
            getNumberCount(number) {
                if (Number(number)) {
                    return number;
                }else {
                    return undefined;
                }
            },
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('user').then((r) => {
                    next(vm => {
                        vm.user = r;
                        if (!vm.$store.state.token && r) vm.$store.commit('updateToken', true);
                        vm.cacheUserInfo(r);
                    })
                })
                .finally(() => Mint.Indicator.close());
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-home {
        .border-bottom {
            border-color: rgb(230, 230, 230);
        }

        .title-menu{
            position: relative;
            text-align: center;
            padding-right: 6px;
            @include boxSizing(border-box);
            i{
                line-height: .9rem;
                font-size: .6rem;
                text-align: center;
            }

            .show-menu{
                position: absolute;
                right: .1rem;
                top: 100%;
                color: #fff;
                font-size: .28rem;
                background: #49484b;
                padding: 0 .28rem;
                border-radius: 3px;
                margin-top: .1rem;
                width: 2rem;
                z-index: 999;

                img{
                    width: .4rem;
                    margin-right: .18rem;
                    vertical-align: middle;
                }
                span{
                    vertical-align: middle;
                }
                .items{
                    border-bottom: 1px solid rgb(102, 102, 102);
                    text-align: left;
                    padding: .2rem 0;

                    &:last-child {
                        border-bottom: 0;
                    }
                }

                &:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: .2rem;
                    top: -11px;
                    @include triangleStyle(6px, #49484b, top);
                }
            }
        }
    }

    .my-items {
        background: #FFF;
        margin-bottom: 0.3rem;
    }

    .my-info {
        height: 1.87rem;
        overflow: hidden;
    }

    .settings-header{
        position: relative;
    }

    .my-avatar {
        @extend %avatar-box;
    }

    .my-arrow {
        width: 0.3rem;
        line-height: 1.87rem;
        padding: 0 0.3rem 0 0.43rem;
        .iconfont {
            font-size: 0.3275rem;
        }
    }

    .my-info-center {
        display: inline-block;
        max-width: 50%;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        line-height: 1;
        @include prefix(transform, translateY(-50%), ('webkit', 'moz'));
        .my-nickname {
            font-size: 0.3rem;
            font-weight: 500;
            color: $black-color;
        }
    }

    .my-grade {
        width: 1.4rem;
        height: 0.5rem;
        line-height: 0.5rem;
        color: $black1-color;
        font-size: 0.2rem;
        padding-left: 0.7rem;
        @include backgroundImg(url('../../assets/images/grade.png') no-repeat left center, cover);
    }

    .my-operate {
        .my-operate-items {
            text-align: center;
            padding: .45rem 0 .26rem;
        }
        .my-operate-icon {
            display: block;
            height: 0.38rem;
            margin: 0 auto 0.22rem auto;
        }
        span {
            font-size: 0.22rem;
        }
    }

    .my-orders {
        padding: 0.33rem 0.3rem;
        .my-orders-title {
            font-size: 0.28rem;
            font-weight: 500;
        }

    }

    .my-list {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        text-align: center;

        td{
            border: 1px solid rgb(230, 230, 230);
            width: 33%;

            a{
                display: block;
            }
            img{
                height: .46rem;
                margin: .44rem .2rem .17rem;
            }

            .title{
                font-size: .26rem;
                color: $black-color;
                font-weight: 500;
            }

            span{
                display: inline-block;
                padding: 0.1rem 0;
                font-size: .18rem;
                color: $sienna-color;
                height: .27rem;
            }

            &:nth-child(3n){
                border-right: 0;
            }

            &:empty{
                border: none;
            }
        }
    }
</style>
