<template>
    <div class="my-income">
        <div class="my-income-info center">
            <div class="my-income-title">累计收益</div>
            <strong><span>￥</span>{{ income || '0.00' }}</strong>
        </div>
        <div class="my-income-cont" v-show="datas.detail && datas.detail.length">
            <div class="my-income-items flex border-bottom" v-for=" i in datas.detail">
                <div class="col-6">
                    <div class="my-income-time">{{ i.created_at }}</div>
                    <div class="my-income-source">来自: {{ i.user.nickname }}</div>
                </div>
                <div class="col-6 right-align">
                    <div class="my-income-price">+{{ i.income }}</div>
                    <div class="my-income-count">订单总额: ￥{{ i.total_orders }}</div>
                </div>
            </div>
        </div>
        <empty-view :type="'14'" :content="'暂无明细'" v-show="!datas.detail || !datas.detail.length" />
    </div>
</template>

<script>
    import {mapMutations, mapActions} from 'vuex'
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components:{
            EmptyView,
        },
        data(){
            return{
                datas: {},
                income: '',
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('tribe/income/detail')
                .then(function (response) {
                    next(vm => {
                        vm.datas = response.paginate_data;
                        vm.income = response.cumulate_profit;
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        mounted(){
        },
        methods: {
            ...mapMutations([
                'commitTemp'
            ]),
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-income-info{
        background: #FFF;
        color: $black-color;
        padding: 0.45rem 0 0.48rem;
        margin-bottom: 0.23rem;
        .my-income-title{
            font-size: 0.2598rem;
            margin-bottom: 0.27rem;
        }
        strong{
            font-weight: 500;
            font-size: 0.5rem;
            span{
                font-size: 0.26rem;
            }
        }
    }
    .my-income-items{
        padding: 0.35rem 0.35rem 0.25rem;
        border-color: rgb(238, 238, 238);
        background: #FFF;
        font-size: 0.26rem;
    }
    .my-income-time{
        color: $gray1-color;
        margin-bottom: 0.34rem;
    }
    .my-income-count{
        color: $gray1-color;
    }
    .my-income-source,.my-income-price{
        color: $black-color;
        font-weight: 500;
    }
    .my-income-price{
        font-size: 0.28rem;
        margin-bottom: 0.34rem;
    }
</style>
