<template>
    <div class="my-member">
        <div class="member-header center">
            <div :style="background" :class="[this.data.avatar ? 'blurPic' : '', 'member-bg']"></div>
            <a href="/apih5/member/rule" class="right-align member-rules">
            会员规则
            </a>
            <div class="member-avatar">
                <img :src="data.avatar | placeholder('avatar')">
                <span>{{ data.level ? data.level.name : null}}会员</span>
            </div>
            <div class="member-nickname">{{ data.nickname }}</div>
            <div class="member-integral"><span>累计积分：{{ data.sum_points }}</span><span>可用积分：{{ data.points }}</span></div>
            <div class="member-grade" v-if="levels.length" ref="level">
                <div
                    :class="[nowLevel == index ? 'scaleImg' : '', 'member-grade-items']"
                    v-for="(i, index) in levels"
                    @click="selectLevel(index)">
                    <div class="lines" v-if="index == 0 && data.level.points < levels[1].points"><i ref="lines">{{ linesInit(i, index) }}</i></div>
                    <div class="member-grade-icon" v-if="index == 0 && data.level.name == 'V0'">
                        <img :src="data.level.id-1 >= index ? levelsImg.actives[index] : levelsImg.normals[index]">
                        <div class="member-grade-text">
                            {{ levels[index].name }}<br/>
                            <span>{{ levels[index].points }}</span>
                        </div>
                    </div>
                    <div class="member-grade-icon" v-if="index != 0 ">
                        <img :src="data.level.id-1 >= index ? levelsImg.actives[index] : levelsImg.normals[index]">
                        <div class="member-grade-text">
                            {{ levels[index].name }}<br/>
                            <span>{{ levels[index].points }}</span>
                        </div>
                    </div>
                    <div class="lines"><i ref="lines">{{ linesInit(i, index) }}</i></div>
                </div>
            </div>
        </div>
        <div class="member-detail" v-if="data.level && (nowLevel == data.level.id-1)">
            <div class="flex center">
                <div class="col-4 member-detail-list"><div class="member-detail-title">消费总额</div><div>￥{{ data.purchase_price }}</div></div>
                <div class="col-4 member-detail-list"><div class="member-detail-title">订单数</div><div>{{ data.ordres }}</div></div>
                <div class="col-4 member-detail-list"><div class="member-detail-title">加入AMII</div><div>{{ data.join_day }}天</div></div>
            </div>
        </div>
        <div class="member-privilege-box">
            <div class="member-privilege" v-if="privilege">
                <div class="member-privilege-head border-bottom" v-html="levelTitle"></div>
                <div class="member-privilege-cont">
                    <div class="member-privilege-list col-3" v-for="i in privilege">
                        <img :src="i.image" alt="">
                        <div :class="[i.status == 0 ? 'privilege-blur' : '', 'member-privilege-title']">{{ i.name }}</div>
                        <span :class="[i.status == 0 ? 'gray' : '']">{{ i.describe }}</span>
                    </div>
                    <a href="/apih5/member/rule" class="member-privilege-list col-3 privilege-link"><span>更多详情<br/>请查看…</span></a>
                </div>
            </div>
            <empty-view v-if="!privilege && $store.state.is_wechat" :type="type" :content="content" :btnText="btnText"></empty-view>
        </div>
        <div class="member-table" v-if="data.level && levels[nextLevel]">
            <div class="title">下一等级晋升条件</div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <td rowspan="2">会员等级</td>
                            <td rowspan="2">积分门槛</td>
                            <td colspan="4">条件(同时满足)</td>
                        </tr>
                        <tr>
                            <td>验证手机号</td>
                            <td>身份验证</td>
                            <td>购物金额</td>
                            <td>购物次数</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ levels[nextLevel].name }}</td>
                            <td>{{ levels[nextLevel].points }}</td>
                            <td><div class="img" v-if="levels[nextLevel].validate_phone == 1"></div></td>
                            <td><div class="img" v-if="levels[nextLevel].validate_user == 1"></div></td>
                            <td>{{ levels[nextLevel].require_money ? levels[nextLevel].require_money + '元' : '不限' }}</td>
                            <td>{{ levels[nextLevel].require_purchase_time ? levels[nextLevel].require_purchase_time : '不限' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components:{
            EmptyView
        },
        data(){
            return{
                nextLevel: 0,
                lines: {},
                enables: {},
                nowLevel: '',
                levelTitle: '我的特权',
                data: '',
                levels: [],
                privilege: {},
                type: 12,
                content: '暂无特权',
                btnText: '去验证手机',
                levelsImg: {
                    actives:[],
                    normals: []
                }
            }
        },
        mounted(){
            Mint.Indicator.open();
            axios
                .all([
                    RequestAPI.http.get('member?purchase_price=1'),
                    RequestAPI.http.get('level'),
                    RequestAPI.http.get('userlevel/enable'),
                ])
                .then(axios.spread((member, level, enables) => {
                    this.data = member;
                    this.levels = level;
                    this.enables = enables;
                    this.privilege  = member.enables;
                    this.nowLevel = member.level.id-1;
                    this.nextLevel = member.level.id;
                    this.levelTitle = '我的特权<span>'+ (member.enables ? member.enables.length : 0) +'项</span>';
                    if (member.is_weixin == 0) {
                        this.btnText = '去绑定微信'
                    }
                    if (member.phone == '' || !member.phone) {
                        this.btnText = '去验证手机'
                    }
                }))
                .finally(() => Mint.Indicator.close());
            for (var i = 0; i <= 10; i++) {
                this.levelsImg.actives.push(require('/assets/images/grade/grade-active'+ i +'.png'));
                this.levelsImg.normals.push(require('/assets/images/grade/grade'+ i +'.png'))
            }

        },
        computed:{
            background(){
                let placeholder = require('/assets/images/member-bg.png');
                return this.data.avatar && this.data.avatar != null ? 'background-image: url(' + this.data.avatar + ')' : 'background-image: url(' + placeholder + ')'
            }
        },
        methods:{
            linesInit(level, index){
                let percent = 0;
                setTimeout(()=>{
                    if ((parseFloat(this.data.sum_points) >= parseFloat(level.points)) && (this.data.level.id >= level.id)) {
                        if (this.levels[parseInt(index)]) {
                            percent = ((this.data.sum_points - this.levels[index].points) / (parseInt(this.levels[index+1].points - this.levels[index].points)) * 100).toPrecision(4);
                            if ((percent < 1 && index == 0)) {
                                percent = 10;
                            }
                        } else {
                            percent = 200;
                        }

                        percent = percent > 100 ? 100 : percent
                    } else {
                        percent = 0
                    }

                    for (let i in this.$refs.lines) {
                        this.$refs.lines[index].style.width = percent+'%';
                        if (index > 3 && this.$refs.lines[index].style.width != '0%') {
                            this.$refs.level.scrollLeft += 80;
                        }
                    }
                    this.$refs.lines[this.data.level.id-1].className = 'circle';

                }, 500 * index);
            },
            selectLevel(index){
                this.nowLevel = index;
                this.privilege = this.enables[index-1];
                this.nextLevel = index+1;
                this.levelTitle = index == this.data.level.id-1 ? '我的特权<span>'+ (this.data.enables ? this.data.enables.length : 0) +'项</span>' : 'V'+ index +'的特权<span>'+ this.enables[index-1].length +'项</span>'
            },
            getClass(val, numb){
                let classes = '';
                if (val == numb) {
                    classes = 'active last';
                }
               if (val > numb) {
                    classes = ' active';
                }
               return classes;
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    %lines {
        display: inline-block;
        width: .6rem;
        height: 2px;
        background: rgb(155, 157, 154);
        font-size: 3px;
        position: relative;
        z-index: -1;
        padding: 0 3px;
    }
    .member-header{
        position: relative;
        height: 5.7rem;

        .member-bg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 5.7rem;
            -webkit-background-size: cover;
                 -o-background-size: cover;
                -ms-background-size: cover;
               -moz-background-size: cover;
                    background-size: cover;
            background-position: center center;
            z-index: -1;

            &.blurPic{
                -webkit-filter: blur(20px);
                filter: blur(40px);

                &:after{
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: inherit;
                    background: rgba(0, 0, 0, 0.2);
                }
            }
        }
        .member-rules{
            position: absolute;
            right: .27rem;
            top: .39rem;
            color: #fff;
            font-size: .26rem;
        }
        .member-avatar{
            position: relative;
            display: inline-block;
            margin-top: 0.34rem;
            img{
                width: 1.4rem;
                height: 1.39rem;
                border-radius: 100%;
                border: 0.06rem solid #fbe18d;
            }
            span{
                display: block;
                position: absolute;
                left: 50%;
                bottom: -0.25rem;
                @include backgroundImg(url('../../assets/images/member-grade.png') no-repeat center center, contain);
                text-align: center;
                width: 2rem;
                height: 0.65rem;
                color: #FFF;
                margin-left: -1rem;
                font-size: 0.2rem;
                line-height: 0.4rem;
            }
        }
        .member-nickname{
            font-size: 0.24rem;
            color: #FFF;
            margin: 0.4rem 0 0.36rem;
        }
        .member-integral{
            color: rgba(255, 255, 255, 0.502);
            font-size: 0.24rem;
            span{
                margin: 0 0.25rem;
            }
        }
        .member-grade{
            margin: 0.4rem 0 0rem 0;
            position: absolute;
            white-space: nowrap;
            width: 100%;
            overflow-y: visible;
            overflow-x: auto;
            min-height: 2rem;
            padding-top: 10px;

            .member-grade-items{
                display: inline-block;
                position: relative;
                z-index: 10;
                font-size: 0;
                text-align: right;

                .lines{
                    @extend %lines;

                    i{
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0;
                        height: 2px;
                        background: #fcd182;
                        @include transitions();

                        &.circle:after{
                            content: '';
                            position: absolute;
                            width: 0.1rem;
                            height: 0.1rem;
                            border-radius: 100%;
                            vertical-align: middle;
                            background: #fcd182;
                            top: -1px;
                            right: 0;
                        }
                    }
                }

                .member-grade-icon{
                    position: relative;
                    display: inline-block;
                    z-index: 1;

                    &:before{
                        content: '';
                        position: absolute;
                        display: none;
                        bottom: -1.3rem;
                        left: 50%;
                        z-index: 999;
                        @include prefix(transform, translateX(-50%), ('webkit', 'moz'));
                        @include triangleStyle(8px, #fff, top);
                    }
                    img{
                        width: 0.7rem;
                        @include transitions();
                    }

                    .member-grade-text{
                        display: block;
                        position: absolute;
                        left: 50%;
                        text-align: center;
                        color: rgba(255, 255, 255, 0.502);
                        text-transform: uppercase;
                        font-size: 0.2rem;
                        margin-top: 0.2rem;
                        @include prefix(transform, translateX(-50%), ('webkit', 'moz'));

                        span{
                            display: inline-block;
                            color: rgba(255, 255, 255, 0.502);
                            margin-top: .15rem;
                        }
                    }
                }
                &.scaleImg{
                    z-index: 99;
                    .member-grade-icon{
                        &:before{
                            display: inline-block;
                        }

                        img{
                            @include prefix(transform, scale(1.3), ('webkit', 'ms','moz'));
                        }
                    }
                }
            }
        }
    }
    .member-detail{
        background: #FFF;
        margin-bottom: 0.18rem;
        padding: 0.2rem;
        .member-detail-list{
            padding: 0.14rem 0;
            border-right: 1px solid rgb(230, 230, 230);
            color: $black-color;
            font-size: 0.3rem;
            &:last-child{
                border-right: 0;
            }
            .member-detail-title{
                font-size: 0.24rem;
                color: $gray2-color;
                margin-bottom: 0.25rem;
            }
        }
    }
    .member-privilege-box{
        background: #fff;
        overflow: hidden;

        .empty-view{
            padding: 1rem 0!important;
        }
    }
    .member-privilege{
        background: #FFF;

        .member-privilege-head{
            padding: 0.24rem 0.4rem 0.2rem;
            border-color: #e6e6e6;
            font-size: 0.28rem;

            span{
                color: #b6814b;
                font-size: .22rem;
            }
        }
        .member-privilege-list{
            display: inline-block;
            border-bottom: 1px solid rgb(230, 230, 230);
            border-right: 1px solid rgb(230, 230, 230);
            text-align: center;
            padding: .4rem .3rem;
            vertical-align: top;
            height: 2.3rem;
            float: left;
            background: #fff;
            @include boxSizing(border-box);

            &:nth-child(4n){
                border-right: 0;
            }

            &:nth-child(n+5) {
                border-bottom: 0;
            }

            span{
                display: inline-block;
                margin-top: .1rem;
                color: #b6814b;

                &.gray{
                    color: rgba(0, 0, 0, 0.502);
                }
            }
            img{
                height: .7rem;
                margin-bottom: .17rem;
            }
            .member-privilege-title{
                color: #b6814b;
                font-size: .26rem;
                line-height: 1;

                &.privilege-blur{
                    color: rgba(0, 0, 0, 0.502);
                }
            }

            &.privilege-link{
                position: relative;
                font-size: .22rem;
                color: #999999;
                line-height: 1.455;
                text-align: center;

                span{
                    text-align: left;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    white-space: nowrap;
                    @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));
                }
            }

            .member-privilege-info{
                font-size: .2rem;
                color: $gray2-color;
                line-height: 1.5;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
    .member-table{
        margin-top: .2rem;
        background: #fff;
        .title{
            display: inline-block;
            width: 100%;
            font-size: .28rem;
            padding: .28rem 0 .2rem .4rem;
            border-bottom: 1px solid #e6e6e6;
            @include boxSizing(border-box)
        }
        .table{
            padding: .29rem;
            width: 100%;
            @include boxSizing(border-box)
        }
        table{
            width: 100%;
            text-align: center;
            border-collapse:collapse;
            border: 1px solid rgb(230, 230, 230);

            td{
                border: 1px solid rgb(230, 230, 230);
                font-size: 9px;
                padding: 9px 2%;
                color: #333333;
            }
            thead td{
                background-color: #e0af5b;
                font-size: 10px;
                color: #fff;
            }

            .img{
                display: inline-block;
                width: 15px;
                height: 15px!important;
                background: url('/assets/images/confirm.png') no-repeat center center;
                background-size: contain;
            }
        }
    }
</style>
