<template>
    <div class="money-content">
        <iframe src="/apih5/money/detail"
            class="money-iframes"
            id="iFrame1"
            name="iFrame1"
            :onload="content">

        </iframe>
        <!-- <img :src="'data:image/png;base64,' + datas.qrcode" v-if="datas.qrcode"> -->
    </div>
</template>

<script>
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    export default{
        components:{
            shareAction,
            share
        },
        data(){
            return{
                datas: {},
                content: '',
            }
        },
        mounted(){
            share.init('red_packet').then((r) => {
                shareAction.init(r.title, r.content, '', '', r.share_url, r.image);
            });
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('qrcode/info')
                .then(function (response) {
                    next(vm => {
                        vm.datas = response;
                        vm.content = 'this.height=iFrame1.document.body.scrollHeight;';
                        vm.content += 'iFrame1.document.body.querySelector(".qrcode-content img").setAttribute("src", "data:image/png;base64,'+ vm.datas.qrcode +'");';
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .money-content{
        min-height: 100vh;
        font-size: 0;
        // background: #8c12fd;
    }
    .money-iframes{
        width: 100%;
        border: 0;
        min-height: 100vh;
    }
</style>
