<template>
    <div class="my-property" v-if="user">
        <div class="property-header center">
            <div class="text">
                账户余额(元) <i :class="!close_eyes ? 'open' : 'close'" @click="close_eyes = !close_eyes"></i>
            </div>
            <router-link tag="div" :to="{name:'My.Withdraw.Withdraw'}">
                <img src="~/assets/images/property-coin.png" alt="" class="coin">
                <h1 v-if="!close_eyes">{{user.cumulate_profit}}</h1>
                <h1 v-else>******</h1>
            </router-link>
            <div class="info flex item-center">
                <div class="info-items col-4">
                    <div class="info-title">未到账收益(元)</div>
                    <span>{{user.return_money}}</span>
                </div>
                <router-link tag="div" :to="{name:'My.Coupons'}" class="info-items col-4">
                    <div class="info-title">优惠券</div>
                    <span>{{user.coupons}}张</span>
                </router-link>
                <router-link tag="div" :to="{name:'Points.Recording'}" class="info-items col-4">
                    <div class="info-title">可用积分</div>
                    <span>{{user.points}}</span>
                </router-link>
            </div>
        </div>
        <div class="property-content">
            <div class="date" @click="onShowPopup"><span>{{params.year}}年  {{params.month}}月</span><i
                    class="iconfont icon-triangle"></i></div>
            <div class="property-content-nav flex">
                <div class="items col-6" :class="type!='income' || 'active'" @click="type='income'">
                    收益 <span>{{user.total_profit}}</span>
                </div>
                <div class="items col-6" :class="type!='purchase' || 'active'" @click="type='purchase'">
                    消费 <span>{{user.purchase_price}}</span>
                </div>
            </div>
            <div class="property-content-body" v-if="user[type].length > 0">
                <div class="items" v-for="i in user[type]">
                    <div class="time">{{ i.created_at }}</div>
                    <div class="flex justify-between">
                        <div>{{ i.type_str }}</div>
                        <div>{{ i.value }}</div>
                    </div>
                </div>
            </div>
        </div>
        <empty-view v-show="user[type].length <= 0" :type="empty_type" :content="content"/>
        <popup v-model="popup.show" position="bottom" class="col-12">
            <picker :slots="popup.slots" @change="onDateChange" :visible-item-count="5" :show-toolbar="false"></picker>
        </popup>
    </div>
</template>

<script>
    import {Picker, Popup} from 'mint-ui';
    import EmptyView from '/modules/EmptyView.vue'

    export default{
        components: {
            Picker,
            Popup,
            EmptyView
        },
        data(){
            return {
                close_eyes: false,
                popup: {
                    show: false,
                    slots: [],
                },
                params: {
//                    year: '',
//                    month: ''
                },
                type: 'income',
                user: null,
                empty_type:9,
                content:'暂无明细',
            }
        },
        computed:{
            slots_date(){
                let years_arr = [];
                for (let i = 2017; i <= (new Date).getFullYear(); i++) {
                    years_arr.push(i);
                }

                let months_arr = [];
                for (let i = 1; i <= 12; i++) {
                    months_arr.push(i);
                }
                return [
                    {
                        flex: 1,
                        values: years_arr,
                        textAlign: 'center',
                    },
                    {
                        flex: 1,
                        values: months_arr,
                        textAlign: 'center',
                        defaultIndex: 4
                    }
                ]
            }
        },
        watch:{
            'popup.show'(){
                this.loadMore();
            }
        },
        mounted(){
            this.popup.slots = this.slots_date;
            this.loadMore();
        },
        methods: {
            onShowPopup(){
                this.slots_date[0].defaultIndex = this.slots_date[0].values.indexOf(parseInt(this.params.year));
                this.slots_date[1].defaultIndex = this.slots_date[1].values.indexOf(parseInt(this.params.month));
                this.$nextTick(()=>{
                    this.popup.show = true
                })
            },
            onDateChange(picker, values){
                this.params.year = values[0];
                this.params.month = values[1];
            },
            loadMore(){
                Mint.Indicator.open();
                RequestAPI.http.get('balance', {params: this.params})
                    .then((response) => {
                        this.user = response.user;
                        this.params = {
                            year: this.user.year,
                            month: this.user.month
                        };
                    })
                    .finally(() => Mint.Indicator.close())
            }
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .property-header {
        color: #fff;
        @include backgroundImg(url('../../assets/images/property-bg.png') no-repeat center center, cover);

        .text {
            text-align: left;
            color: #fff;
            font-size: .26rem;
            padding: .28rem .28rem .13rem;

            i {
                display: inline-block;
                width: .35rem;
                height: .35rem;
                vertical-align: middle;
                margin-left: .1rem;

                &.close {
                    @include backgroundImg(url('../../assets/images/close-eye.png') no-repeat center center, contain);
                }
                &.open {
                    @include backgroundImg(url('../../assets/images/eye.png') no-repeat center center, contain);
                }
            }
        }

        .coin {
            width: 1.02rem;
            height: 1.02rem;
            margin-bottom: .25rem;
        }

        h1 {
            font-size: .56rem;
            margin: 0;
            line-height: 1;
            margin-bottom: .34rem;
        }

        .info {
            border-top: 2px solid rgba(230, 230, 230, 0.502);
            padding: .38rem 0 .24rem;

            .info-items {
                font-size: .3rem;
                font-weight: bold;
                border-right: 1px solid rgba(230, 230, 230, 0.502);

                &:last-child {
                    border-right: 0;
                }

                .info-title {
                    font-size: .24rem;
                    color: rgba(255, 255, 255, 0.8);
                    font-weight: normal;
                    margin-bottom: .23rem;
                }
            }
        }
    }

    .property-content {
        margin-top: .2rem;
        background: #fff;
        padding-bottom: 1rem;

        .date {
            padding: .3rem 0;
            font-size: .28rem;
            text-align: center;

            i {
                font-size: .3rem;
                vertical-align: middle;
                margin-left: .1rem;
                color: rgb(149, 149, 149);
            }
        }

        .property-content-nav {
            padding: 0 .3rem .18rem;
            font-size: .28rem;
            color: #000;

            span {
                font-size: .22rem;
            }

            .items {
                padding: .18rem 0;
                text-align: center;
                border: 1px solid #000;
                border-radius: .1rem;

                &:last-child {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                &:first-child{
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
            .active {
                background: #000;
                color: #fff;
            }
        }

        .property-content-body {
            border-top: 1px solid rgb(230, 230, 230);
            border-bottom: 1px solid rgb(230, 230, 230);

            .items {
                margin-left: .36rem;
                padding-bottom: .26rem;
                padding-right: .5rem;
                border-bottom: 1px solid rgb(238, 238, 238);
                color: #000;
                font-size: .28rem;

                &:last-child {
                    border-bottom: 0;
                }

                .time {
                    font-size: .24rem;
                    margin: .35rem 0;
                }
            }
        }
    }
</style>
