<template>
    <div class="my-qrcode">
        <div class="my-qrcode-cont">
            <div class="my-qrcode-info flex items-center" v-if="datas.user">
                <div class="my-avatar">
                    <img :src="datas.user.avatar | placeholder('avatar')">
                    <span :class="user_gender"></span>
                </div>
                <div class="my-qrcode-nickname col-8">
                    <span>{{ datas.user.nickname }}</span>

                </div>
            </div>
            <div class="my-qrcode-pic center">
                <img :src="'data:image/png;base64,' + datas.qrcode" v-if="datas.qrcode">
                <div class="my-qrcode-notice">加入AMII开启个人零售新时代<br/>这是您的唯一的二维码</div>
            </div>
        </div>
        <div class="tools flex items-center center">
            <div class="items col-6" @click="onShare()">
                <img src="~/assets/images/share-icon.png" alt="">
                <div class="text">分享</div>
            </div>
            <div class="items col-6" @click="changeStyles()">
                <img src="~/assets/images/change-icon.png" alt="">
                <div class="text">换个样式 </div>
            </div>
        </div>
        <share-box v-if="share" @close="share = false"></share-box>
    </div>
</template>

<script>
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import {app_rules} from '/config/parameter'
    import ShareBox from '/components/ShareBox.vue'

    export default{
        components:{
            ShareBox
        },
        data(){
            return{
                datas: {},
                styles: 1,
                share: false,
                shareUrl: location.href
            }
        },
        computed:{
            user_gender(){
                let gender = '';
                if (this.datas.user.gender == 0) {
                    gender = 'avatar-female'
                } else if (this.datas.user.gender == 1) {
                    gender = 'avatar-male'
                }
                return gender;
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('qrcode/')
                .then(function (response) {
                    next(vm => {
                        vm.datas = response;
                        vm.shareUrl = response.shareUrl;
                        vm.styles = response.user.image_provider
                        share.init('code').then((r) => {
                            shareAction.init(r.title, r.content, '', '', vm.shareUrl, r.image);
                        });
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods:{
            onShare (){
                if (this.$store.state.is_app) {
                    app_rules.share('code');
                    return false;
                } else {
                    this.share = true;
                }
            },
            changeStyles(){
                this.styles < 6 ? this.styles++ : this.styles = 1;
                Mint.Indicator.open();
                RequestAPI.http.get('qrcode/' + this.styles)
                    .then((response) => {
                        this.datas = response;
                    })
                    .finally(() => Mint.Indicator.close())
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-qrcode{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #2e2e2e;

        .tools{
            position: absolute;
            bottom: .43rem;
            left: 50%;
            width: 80%;
            text-align: center;
            color: #fff;
            @include prefix(transform, translateX(-50%), ('webkit', 'moz'));

            .items{
                display: inline-block;

                img{
                    height: .4rem;
                }

                .text{
                    padding-top: .2rem;
                    font-size: .26rem;
                }
            }
        }
    }
    .my-qrcode-cont{
        position: fixed;
        left: 50%;
        top: 50%;
        width: 90%;
        height: 8rem;
        background: #FFF;
        margin: 0 auto;
        border-radius: 0.04rem;
        @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));
    }
    .my-qrcode-info{
        width: 100%;
        overflow: hidden;
        border-color: #e8e8e8;
    }
    .my-qrcode-nickname{
        line-height: 1;
        font-size: 0.3rem;
        color: $black-color;
        font-weight: 500;
    }
    .my-avatar{
        @extend %avatar-box;
    }
    .my-qrcode-pic{
        padding: 0.67rem 0 0.86rem;
        img{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            z-index: -1;
        }

        .my-qrcode-notice{
            position: absolute;
            bottom: 3%;
            text-align: center;
            font-size: .24rem;
            color: #999999;
            width: 100%;
            line-height: 1.333;
        }
    }
</style>
