<template>
    <div class="money-share">
        <div class="money-share-header">
            <div class="info" v-if="user">
                <img :src="user.avatar | placeholder('avatar')">
                <div class="name">{{ user.nickname }}</div>
            </div>
            <strong>加入AMII开启个人零售新时代</strong>
            <div class="header-text left-align">
                * 0风险、0投入、海量产品<br/>
                * 终身享有一二级会员全渠道消费高额佣金提成<br/>
                * 够优秀即可成为平台城市合伙人(零资金投入)/即将推出<br/>
                * 首单7折，玩游戏万件美衣免费送
            </div>
        </div>
        <div class="money-share-content">
            <img src="~/assets/images/money-share.png" alt="">
        </div>
        <div class="money-share-form">
            <div class="items flex items-center">
                <input type="tel" placeholder="请输入手机号码" v-model="form.phone" class="col-8">
                <div class="col-4"></div>
            </div>
            <div class="items flex items-center">
                <input type="tel" placeholder="请输入验证码" v-model="form.code" class="col-8" maxlength="4">
                <div class="right-align col-4 sendCode-box">
                    <span class="sendCode" v-if="!sms_countdown" @click="sendCode">获取验证码</span>
                    <span class="sendCode gray-color" v-if="sms_countdown">已发送({{sms_countdown}}秒)</span>
                </div>
            </div>
            <div class="items flex items-center">
                <input type="password" placeholder="设置密码（6位数以上）" v-model="form.password" class="col-8">
                <div class="col-4"></div>
            </div>
            <div class="auth-checkbox" @click="setDefault">
                <i class="iconfont" :class="[ status == 1 ? 'icon-xuanzhong' : 'checkbox-empty']"></i>
                <span>我已阅读并同意<a href="/apih5/member/policy">《用户注册协议》</a></span>
            </div>
            <button @click="commit" class="share-button">立即领取</button>
        </div>
    </div>
</template>

<script>
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components:{
        },
        data(){
            return{
                user: {},
                form: {
                    phone: '',
                    code: '',
                    uuid: this.$route.query.uuid || null,
                    password: '',
                },
                status: 1,
                sms_countdown: 0
            }
        },
        mounted(){
            this.user = this.$store.state.user_info;
            if (!this.$route.query.uuid) {
                Mint.Toast('获取优惠失败');
                return false;
            }
            Mint.Indicator.open();
            RequestAPI.http.get('user/info/'+ this.$route.query.uuid)
                .then((response) => {
                    this.user = response;
                })
                .finally(() => Mint.Indicator.close())
        },
        methods: {
            setDefault(){
                this.status = this.status == '1' ? '0' : '1';
            },
            commit(){
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                if (!this.form.code) {
                    Mint.Toast('请填写验证码');
                    return false;
                }
                let validPassword = (new SmsCaptcha).validator(this.form.password, 'password');
                if (!this.form.password) {
                    Mint.Toast('请输入密码');
                    return false;
                } else if (!validPassword) {
                    Mint.Toast('请输入包含数字和字母的6位以上密码');
                    return false;
                }
                if (this.status == 0) {
                    Mint.Toast('请仔细阅读用户注册协议');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('inviteSign', this.form)
                    .then((response) => {
                        this.$router.push({name: 'My.ShareSuccess'})
                    })
                    .catch((error) => {
                        if (error.code == '10001'){
                            setTimeout(()=>{
                                window.location.href = 'http://app.amii.com/';
                            }, 2000)
                        }
                    })
                    .finally(() => Mint.Indicator.close())
            },
            sendCode(){
                let sms_captcha = new SmsCaptcha();
                let validPhone = sms_captcha.validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                sms_captcha.send('code/register', this.form).then((response) => {
                    this.sms_countdown = 60;
                    let timeid = setInterval(() => {
                        if (!this.sms_countdown) {
                            clearInterval(timeid);
                        } else {
                            this.sms_countdown--;
                        }
                    }, 1000);
                })
                .catch((error) => {
                    if (error.status == 'error'){
                        setTimeout(()=>{
                            window.location.href = 'http://app.amii.com/';
                        }, 2000)
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .money-share{
        min-height: 100vh;
        background: #ffd091;
        padding: .55rem .3rem .3rem;
        @include boxSizing(border-box);

        &-header{
            position: relative;
            padding: 1rem .3rem .23rem .56rem;
            border-bottom: 1px dashed #ffd091;
            text-align: center;
            background: #fff3e3;

            &:before{
                content: '';
                display: inline-block;
                width: .4rem;
                height: .4rem;
                border-radius: 100%;
                background: #ffd091;
                position: absolute;
                left: -.2rem;
                bottom: -.2rem;
            }
            &:after{
                content: '';
                display: inline-block;
                width: .4rem;
                height: .4rem;
                border-radius: 100%;
                background: #ffd091;
                position: absolute;
                right: -.2rem;
                bottom: -.2rem;
            }
            .info{
                position: absolute;
                top: -.5rem;
                left: 50%;
                @include prefix(transform, translateX(-50%), ('webkit', 'moz'));
            }
            img{
                width: .88rem;
                height: .88rem;
                border-radius: 100%;
                border: 2px solid #fff;
            }

            .name{
                display: block;
                font-size: .2rem;
                color: #999999;
                margin: .15rem 0 .18rem;
            }

            strong{
                display: block;
                font-size: .30rem;
                margin-bottom: .1rem;
                line-height: 1;
            }

            .header-text{
                color: #666666;
                font-size: .2rem;
                font-weight: bold;
                line-height: 1.5;
            }

            span{
                display: block;
                font-size: .36rem;
                color: #333333;
                margin-bottom: .14rem;
                line-height: 1;
            }
        }

        &-content{
            img{
                width: 100%;
            }
        }

        &-form{
            background: #fff3e3;
            padding: .2rem .47rem .37rem;
            font-size: .26rem;

            .items{
                margin-bottom: .2rem;
                background: #fff;
                border: 1px solid rgb(221, 221, 221);
                border-radius: .08rem;
                padding: 0 .2rem;

                input{
                    border: 0;
                    padding: .27rem 0;
                }

                .sendCode-box{
                    padding: 0 .2rem 0 .15rem;
                    border-left: 1px solid rgb(231, 231, 231);

                    .sendCode{
                        white-space: nowrap;
                    }
                }
            }
            .share-button{
                width: 100%;
                background: rgb(243, 52, 64);
                border-radius: .08rem;
                color: #fff;
                text-align: center;
                padding: .3rem 0;
                margin: .1rem 0 .25rem;
                border: 0;
                font-weight: bold;
            }
        }

        &-footer{
            text-align: center;
            padding: .25rem 0 .2rem;
            img{
                width: 1.5rem;
            }
        }
        .auth-checkbox{
            margin: .27rem 0;

            i{
                font-size: 19px;
                vertical-align: text-top;
                color: $black-color;
                margin-right: 0.14rem;

                &.checkbox-empty{
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    font-size: normal;
                    border: 2px solid #c8c8c8;
                    border-radius: .04rem;
                    margin: 0.5px 0.14rem 0.5px 0;
                    vertical-align: middle;
                }
            }
            span{
                font-size: 0.22rem;
                color: #999999;
                vertical-align: middle;
                line-height: 1;
            }

            a{
                color: #000000;
                font-size: 0.22rem;
            }
        }
    }

</style>
