<template>
    <div class="money-share-success">
        <img src="~/assets/images/money-share-success.png" alt="">
        <div class="notice">恭喜你加入【AMII】<br/>20元现金券已放入【资产管理】</div>
        <div class="buttons">
            <router-link :to="{name: 'My.Coupons'}" tag="a">立即查看</router-link>
            <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.amii.app" class="active">下载AMII客户端</a>
            <div class="buttons-span">首单七折，玩游戏万件美衣免费送</div>
        </div>
    </div>
</template>

<script>
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components:{
        },
        data(){
            return{

            }
        },
        mounted(){

        },
        methods: {

        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .money-share-success{
        background: #3c3b40;
        text-align: center;
        min-height: 100vh;
        color: #fff;

        img{
            width: 90%;
            margin: 1.5rem 0 0;
        }
        .notice{
            font-size: .26rem;
            line-height: 1.385;
            margin-bottom: .3rem;
        }

        .buttons{
            width: 80%;
            margin: 0 auto;

            a{
                display: block;
                background: #fff;
                color: #d79523;
                text-align: center;
                margin-top: .4rem;
                padding: .3rem 0;
                border-radius: .04rem;

                &.active{
                    background: #d79523;
                    color: #fff;
                    margin-bottom: .2rem;
                }
            }
            .buttons-span{
                font-size: .2rem;
                color: rgba(255, 255, 255, 0.502);
            }
        }
    }
</style>
