<template>
    <div class="tribe gray-bg min-height">
        <div class="tribe-head center" v-if="user">
            <div class="tribe-income" v-if="gain.tribe">
                <div class="tribe-icons right-align">
                    <a href="/wechat/mall/sales-home" class="iconfont icon-wenhao1"></a>
                    <router-link :to="{name: 'My.TribeDetail'}" append tag="i" class="iconfont icon-paihangbang"></router-link>
                    <i class="iconfont icon-fenxiang" @click="onShare"></i>
                </div>
                <div class="flex sum">
                    <router-link :to="{name: 'My.Income'}" append class="col-6" tag="div">
                        <strong>{{ gain.tribe.return_money }}</strong>
                        <div class="income-title">未到账佣金(元)</div>
                    </router-link>
                    <router-link :to="{name: 'My.Income'}" append class="col-6" tag="div">
                        <strong>{{ gain.tribe.cumulate_profit }}</strong>
                        <div class="income-title">已到账佣金(元)</div>
                    </router-link>
                </div>
            </div>
            <div class="tribe-charts" v-if="gain.recently">
                <charts :charts="gain.recently"></charts>
            </div>
        </div>
        <div class="tribe-ranking">
            <div class="header-bar no-fixed">
                <div class="nav flex justify-center justify-around">
                    <div class="nav__item" :class="type == 'first' ? 'nav__item__on' : ''" @click="onClickSwitchBox('first')">一级部落({{ pagination.all_rank1 }}人)</div>
                    <div class="nav__item" :class="type == 'secode' ? 'nav__item__on' : ''" @click="onClickSwitchBox('secode')">二级部落({{ pagination.all_rank2 }}人)</div>
                </div>
            </div>
            <div class="tribe-detail-cont" v-if="datas.tribe && datas.tribe.length">
                <div class="tribe-detail-items border-bottom" v-for="i in datas.tribe">
                    <img :src="i.user.avatar | placeholder('avatar')">
                    <div class="tribe-detail-info">
                        <div class="tribe-detail-nickname">
                            {{ i.user.nickname }}
                            <span class="iconfont" :class="rank_class(i.user_contribute_change)">
                                <span class="tribe-middle" v-if="i.user_contribute_change == '' || i.user_contribute_change == 0"></span>
                                <span v-if="i.user_contribute_change != 0">{{ i.user_contribute_change }}</span>
                            </span>
                        </div>
                        <div class="flex tribe-detail">
                            <div class="col-6">
                                <span v-if="type == 'first'">二级部落: {{ i.number }} </span>
                            </div>
                            <div class="col-6">贡献值: ￥{{ i.contribute_income }} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="empty-text" v-else>
                <span>邀请好友购美衣，品牌返佣高至20%</span>
                <a href="/wechat/mall/sales-home" class="empty-button">了解详情</a>
            </div>
        </div>
        <div class="invite-button" @click="onShare">
            <i class="iconfont icon-fenxiang"></i>
            <span>邀好友，享返佣</span>
        </div>
        <share-box v-if="share" @close="share = false"></share-box>
    </div>
</template>

<script>
    import Charts from '/components/Charts.vue'
    import {shareAction} from '/api/WechatShare'
    import {share} from '/api/Share'
    import ShareBox from '/components/ShareBox.vue'

    export default{
        components: {
            Charts,
            ShareBox
        },
        data(){
            return {
                gain: {},
                type: 'first',
                datas: {},
                pagination: {},
                user: {},
                share: false
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            axios
                .all([
                    RequestAPI.http.get('user/gain/show'),
                    RequestAPI.http.get('tribe/first')
                ])
                .then(axios.spread((gain, tribe) => {
                    next(vm => {
                        vm.gain = gain;
                        vm.datas = tribe.paginate_data;
                        vm.pagination = tribe.pagination;
                        share.init('tribe').then((r) => {
                            shareAction.init(r.title, r.content, '', '', r.share_url, r.image);
                        });
                    })
                }))
                .finally(() => Mint.Indicator.close());
        },
        methods: {
            rank_class(data){
                let ret = '';
                if (data != 0) {
                    ret = data > 0 ? 'icon-rank-up up' : 'icon-xiajiang down';
                }
                return ret;
            },
            onClickSwitchBox(type){
                this.type = type;
                Mint.Indicator.open();
                RequestAPI.http.get('tribe/'+ type)
                    .then((response) =>{
                        this.datas = response.paginate_data;
                        this.pagination = response.pagination;
                    })
                    .finally(() => Mint.Indicator.close())
            },
            onShare(){
                this.share = true;
            },
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .tribe{
        padding-bottom: 1.5rem;
        @include boxSizing(border-box);
    }
    .tribe-ranking{
        .nav{
            width: 100%;
        }
        .header-bar{
            .nav__item{
                display: inline-block;
            }
        }
        .tribe-ranked-items{
            padding: 0 0 0 .2rem;
            background: #fff;
            margin-bottom: 1.6rem;
        }
    }
    .tribe-ranked-items{
        padding: 0 0 0 .2rem;
        background: #fff;
        margin-bottom: 1.6rem;
    }
    .tribe-head{
        background: #FFF;
        margin-bottom: 0.21rem;

        .tribe-income{
            height: 3.6rem;
            color: #fff;
            @include backgroundImg(url('../../assets/images/tribe-bg.png') no-repeat top center, cover);

            .tribe-icons{
                i, a{
                    display: inline-block;
                    padding: .24rem .2rem;
                    color: #fff;
                    vertical-align: middle;
                    font-size: .4rem;

                    &.icon-paihangbang{
                        font-size: .45rem;
                    }
                }
            }

            .sum{
                margin: 1.2rem 0 0rem;
            }

            strong{
                font-size: .36rem;
                line-height: 1;
            }

            .income-title{
                margin-top: .19rem;
                font-size: .22rem;
                line-height: 1;
            }
        }
    }
    .tribe-entrance-items{
        padding: 0.27rem 0;
    }
    .my-tribe{
        .nav{
            width: 100%;
        }
        .header-bar{
            .nav__item{
                display: inline-block;
            }
        }
    }
    .tribe-detail-cont{
        background: #FFF;
        padding-left: 0.44rem;
        .tribe-detail-items{
            padding: 0.38rem 0 0.32rem 0;
            overflow: hidden;
            border-color: rgb(220, 220, 220);

            img{
                width: 0.85rem;
                height: 0.84rem;
                border-radius: 100%;
                float: left;
                margin-right: 0.26rem;
            }
            .tribe-detail-nickname{
                color: $black1-color;
                margin-bottom: 0.15rem;
                font-size: 0.26rem;
                & > span{
                    font-size: 0.2rem;
                    margin-left: .2rem;
                    font-weight: normal;
                    &.up{
                       color: #fd5050;
                    }
                    &.down{
                        color: #22ac38;
                    }
                    .tribe-middle{
                        display: inline-block;
                        width: 0.13rem;
                        height: 0.03rem;
                        background: rgb(44, 153, 255);
                        border-radius: 120px;
                        vertical-align: middle;
                    }
                }
            }
            .tribe-detail{
                font-size: 0.24rem;
                color: $gray1-color;
            }
        }
    }
    .invite-button{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #fff;
        font-size: .36rem;
        line-height: 1;
        padding: .29rem 0;
        background: #fb5252;
        box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
        text-align: center;

        span{
            vertical-align: middle;
        }

        i{
            font-size: .45rem;
            vertical-align: middle;
            margin-right: .16rem;
            color: #fff;
        }
    }
    .share-box{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        color: #fff;
        text-align: center;
        font-size: .32rem;
        z-index: 9999;

        .share-icon{
            display: block;
            text-align: right;
            margin: .3rem 0 .22rem 0;
            width: 100%;
            height: 1.22rem;
            @include backgroundImg(url('../../assets/images/arrow.png') no-repeat 95% center, contain);
        }
    }

    .empty-text{
        text-align: center;
        padding: .8rem .32rem;
        color: $gray2-color;
        line-height: 1.8;
        font-size: .28rem;
    }
    .empty-button{
        padding: .3rem 0;
        color: #fff;
        background: #cd983e;
        border-radius: .04rem;
        display: block;
        margin: .4rem auto;
        width: 2.5rem;
        font-size: .32rem;
        line-height: 1;
        text-align: center;
    }

</style>
