<template>
    <div class="my-tribe gray-bg min-height">
        <div class="header-bar justify-between">
            <div class="nav center">
                <div class="col-4">
                    <div class="nav__item" :class="navItemClass('weekRank')" @click="onClickSwitchBox('weekRank')">周排名</div>
                </div>
                <div class="col-4">
                    <div class="nav__item" :class="navItemClass('monthRank')" @click="onClickSwitchBox('monthRank')">月排名</div>
                </div>
                <div class="col-4">
                    <div class="nav__item" :class="navItemClass('cumulateRank')" @click="onClickSwitchBox('cumulateRank')">年度排名</div>
                </div>
            </div>
        </div>
        <div class="tribe-ranked-items">
            <tribe-ranked-item v-for="i in items" :item="i" :type="type" :key="i"></tribe-ranked-item>
        </div>
        <div class="my-tribe-items">
            <tribe-ranked-item :item="user" v-if="user" :type="type" :is_me="true"></tribe-ranked-item>
        </div>
    </div>
</template>

<script>
    import TribeRankedItem from '/components/TribeRankedItem.vue'
    import {mapMutations} from 'vuex'

    export default{
        components:{
            TribeRankedItem,
        },
        data(){
            return{
                type: 'weekRank',
                user: {
                    "income":"0.00",
                    "week_income":"0.00",
                    "month_income":"0.00",
                    "contribute_income":"0.00",
                    "week_rank":"",
                    "month_rank":"",
                    "last_week_rank":"0",
                    "last_month_rank":"0",
                    "rank":"",
                    "week_change":"0",
                    "month_change":"0",
                    "user": this.$store.state.user_info
                },
                tribe: {}
            }
        },
        computed: {
            items(){
                return this.tribe[this.type];
            }
        },
        methods: {
            ...mapMutations([
                'commitTemp'
            ]),
            onClickSwitchBox(type){
                this.type = type;
            },
            navItemClass(type){
                return type == this.type ? 'nav__item__on' : ''
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('tribe/index')
                .then(function (response) {
                    next(vm => {
                        if(response.user){
                            vm.user = response.user;
                        }
                        vm.tribe = response;
                        vm.commitTemp(response.user);
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .my-tribe{
        .nav{
            width: 100%;
        }
        .header-bar{
            .nav__item{
                display: inline-block;
            }
        }
    }
    .tribe-ranked-items{
        padding: 0 0 0 .2rem;
        background: #fff;
        margin-bottom: 1.6rem;
    }
    .tribe-entrance-items{
        padding: 0.27rem 0;
    }
    .my-tribe-items{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding-left: .2rem;
    }
</style>
