<template>
    <div class="mall-auth auth-padTop">
        <div class="auth-box">
            <div class="auth-items">
                <input type="tel" placeholder="手机号" v-model="form.phone">
            </div>
            <div class="auth-items flex items-center">
                <input type="tel" placeholder="验证码" class="col-6" v-model="form.code" maxlength="4">
                <div class="col-6 right-align">
                    <span class="sendCode" v-if="!sms_countdown" @click="sendCode">发送验证码</span>
                    <span class="sendCode gray-color" v-if="sms_countdown">已发送({{sms_countdown}}秒)</span>
                </div>
            </div>
        </div>
        <div class="auth-button" @click="commit">下一步</div>
    </div>
</template>

<script>
    import SmsCaptcha from '/api/SmsCaptcha'
    import {mapMutations} from 'vuex'

    export default{
        components: {
        },
        data(){
            return {
                form: {
//                    phone: '130' + parseInt(Math.random() * 1000000 + 9999999),
//                    code: '1',
                },
                sms_countdown: 0
            }
        },
        mounted(){
            if (this.$route.query.title) {
                window.document.title = this.$route.query.title + ' - AMII';
            }
        },
        methods: {
            ...mapMutations([
                'commitTemp'
            ]),
            commit(){
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                if (!this.form.code) {
                    Mint.Toast('请填写验证码');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('password/code', this.form)
                    .then((response) => {
                        this.commitTemp(Object.assign({}, this.form, response));
                        // console.log(this.$store.state.temp);
                        this.$router.push({name : 'Auth.Reset', query:{title: this.$route.query.title}})
                    })
                    .finally(() => Mint.Indicator.close())
            },
            sendCode(){
                let sms_captcha = new SmsCaptcha();
                let validPhone = sms_captcha.validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                sms_captcha.send('code/forget', this.form).then((response) => {
                    this.sms_countdown = 60;
                    let timeid = setInterval(() => {
                        if (!this.sms_countdown) {
                            clearInterval(timeid);
                        } else {
                            this.sms_countdown--;
                        }
                    }, 1000);
                });
            }
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .auth-padTop{
        padding-top: 0.25rem;
    }
</style>
