<template>
    <router-view />
</template>

<script>
    export default{
        data(){
            return{

            }
        },
        components:{
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .mall-auth{
        min-height: 100vh;
        background: #FFF;
        padding: 0 0.75rem;
        font-size: 0.24rem;
        color: $black-color;
    }
    .auth-box{
        .auth-items{
            position: relative;
            padding-top: 0.3rem;
            border-bottom: 2px solid rgb(231, 231, 231);

            input{
                width: 100%;
                padding: 0.2rem 0.3rem;
                font-size: 0.26rem;
                border: 0;
                @include boxSizing(border-box);
            }
        }
        @include placeHolder(#b7b7b7);
    }
    .auth-button{
        @include buttonStyle(#cd983e,#fff,100%,0.9rem,0.04rem,0.32rem);
        line-height: 0.9rem;
        margin: 1.02rem 0 0.36rem 0;
        &.blur{
            background: rgb(216, 216, 216);
        }
    }
    .sendCode{
        border-left: 1px solid rgb(231, 231, 231);
        padding: 0 0.1rem 0 0.2rem;
    }
    .auth-error{
        padding: 0.55rem 0.33rem;
        color: #de1c1c;
        font-size: 0.24rem;

        i{
            font-size: 0.3rem;
            vertical-align: middle;
            margin-right: 5px;
        }

        a{
            color: $black-color;
        }
    }
</style>
