<template>
    <div class="mall-auth flex flex-wrap">
        <div class="col-12">
            <div class="login-logobox center">
                <div class="iconfont icon-AMII login-logo"></div>
                <span>极&nbsp;&nbsp;&nbsp;&nbsp;简 不动声色的美</span>
            </div>
            <div class="auth-box login-auth">
                <div class="auth-items">
                    <input type="tel" placeholder="手机号" v-model="form.phone">
                    <i class="iconfont icon-shoujihao input-icon"></i>
                </div>
                <div class="auth-items">
                    <input type="password" placeholder="密码" v-model="form.password">
                    <i class="iconfont icon-iconlock input-icon"></i>
                    <i class="close-button" v-if="form.password" @click="form.password = ''"></i>
                </div>
            </div>
            <div class="login-dynamic right-align"><router-link :to="{path: 'dynamicLogin', query: {phone: form.phone}}" append tag="div">动态密码登录</router-link></div>
            <div class="auth-button" @click="commit">登录</div>
            <div class="login-helper flex">
                <div class="col-6"><router-link to="forget" append tag="div">忘记密码？</router-link></div>
                <div class="col-6 right-align"><router-link to="register" append tag="div">创建账号</router-link></div>
            </div>
        </div>
        <div class="login-other center self-end" v-if="open_platform.length">
            <div class="login-other-title"><span>以其他方式登录</span></div>
            <div class="login-other-cont flex justify-around">
                <a v-for="i in open_platform" :href="i.link"><span><img src="~/assets/images/wechat.png" alt=""></span></a>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapMutations, mapActions} from 'vuex'
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components: {
        },
        data(){
            return {
                form: {
                    phone: '',
                    password: ''
                },
                returnUrl: ''
            }
        },
        beforeRouteEnter (to, from, next) {
            next((vm) => {
                let links = vm.$store.state.prevLink;
                vm.returnUrl = location.protocol + '//' + location.host + '/wechat' + links;
            })
        },
        computed:{
            open_platform(){
                let ret = [];
                if(this.$store.state.is_wechat){
                    ret.push({
                        link: RequestAPI.base_url + 'oath2/wemp/sign?return_url=' + btoa(this.returnUrl)
                    });
                }
                return ret
            }
        },
        mounted(){
        },
        methods: {
            ...mapActions([
                'login'
            ]),
            commit(){
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                if (!this.form.password) {
                    Mint.Toast('请填写密码');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('login', this.form)
                    .then((response) => {
                        this.login(response.token);
                        this.$store.commit('fetchLoginPointDialog', 1);
                        this.$store.commit('addOneDisplay', 'advertisement');
                        this.$store.commit('addOneDisplay', 'advertisement_notice');
                        this.$router.go(-1);
                    })
                    .finally(() => Mint.Indicator.close())
            },
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .login-logobox{
        padding: 0.68rem 0 0.44rem 0;
        .login-logo{
            font-size: 0.5rem;
            margin-bottom: 0.17rem;
        }
    }

    .login-auth {
        .auth-items{
            input {
                text-align: center;
                padding: 0.2rem 0.5rem;
            }
        }

        .input-icon{
            position: absolute;
            bottom: .17rem;
            left: .1rem;
            font-size: .45rem;
            color: rgb(220, 220, 220);
        }
    }

    .login-dynamic{
        margin-top: 0.3rem;
    }
    .login-other{
        padding: 0.57rem 0;
        width: 100%;
        .login-other-title{
            position: relative;
            width: 55%;
            color: $gray2-color;
            font-size: 0.2rem;
            margin: 0 auto 0.5rem auto;

            span{
                position: relative;
                padding: 0 0.18rem;
                background: #fff;
                z-index: 2;
            }

            &:after{
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                top: 6px;
                width: 100%;
                height: 2px;
                background: rgb(233, 233, 233);
            }
        }
        .login-other-cont{
            width: 90%;
            margin: 0 auto;

            span{
                display: inline-block;
                width: 0.86rem;
                height: 0.86rem;
                border-radius: 100%;
                text-align: center;
                line-height: 0.86rem;
            }
        }
    }
</style>
