<template>
    <div class="mall-auth auth-padTop">
        <div class="auth-box">
            <div class="auth-items">
                <input type="tel" placeholder="手机号" v-model="form.phone">
            </div>
            <div class="auth-items flex items-center">
                <input type="tel" class="flex-one" placeholder="验证码" v-model="form.code" maxlength="4"/>
                <div class="right-align">
                    <span class="sendCode" v-if="!sms_countdown" @click="sendCode">发送验证码</span>
                    <span class="sendCode gray-color" v-if="sms_countdown">已发送({{sms_countdown}}秒)</span>
                </div>
            </div>
            <div class="auth-items">
                <input type="password" placeholder="请设置6位及以上的密码" v-model="form.password">
                <i class="close-button" v-if="form.password" @click="form.password = ''"></i>
            </div>
            <div class="auth-items">
                <input type="password" placeholder="确认密码" v-model="confirm_password">
                <i class="close-button" v-if="confirm_password" @click="confirm_password = ''"></i>
            </div>
        </div>
        <div class="auth-button" @click="commit">注册</div>

        <div class="auth-checkbox" @click="setDefault">
            <i class="iconfont" :class="[ status == 1 ? 'icon-xuanzhong' : 'checkbox-empty']"></i>
            <span>我已阅读并同意<a href="/apih5/member/policy">《用户注册协议》</a></span>
        </div>

        <iframe v-if="show_iframe" src="/apih5/sales/rule" class="auth-iframes" id="iFrame1" name="iFrame1" onload="this.height=iFrame1.document.body.scrollHeight;iFrame1.document.body.querySelector('.invite-button').style.display='none';"></iframe>
        <iframe v-if="show_advertisement" src="/apih5/advertisement" class="auth-iframes" id="iFrame2" name="iFrame2" onload="this.height=iFrame2.document.body.scrollHeight"></iframe>
        <div v-if="show_active || show_iframe" class="center submit-items">
            <div class="title">店铺正在举办的活动有：</div>
            <div class="flex justify-between">
            <a href="/wechat/game" class="center submit-list">
                <img src="~/assets/images/game/submit1.png" alt="">
                <div class="button first">拼图送衣</div>
            </a>
            <a href="/wechat/mall/advertisement" class="center submit-list">
                <img src="~/assets/images/game/submit2.png" alt="">
                <div class="button">首单7折购<br/>+满送豪礼</div>
            </a>
            <a href="/wechat/mall/sales" class="center submit-list">
                <img src="~/assets/images/game/submit3.png" alt="">
                <div class="button">分享促单<br/>享返佣30% </div>
            </a>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapMutations} from 'vuex'
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components: {},
        data(){
            return {
                status: 1,
                form: {
//                    phone: '130' + parseInt(Math.random() * 1000000 + 9999999),
//                    code: '1',
                    password: '',
                    uuid: this.$route.query.uuid || null,
                    user_game_id: null
                },
                sms_countdown: 0,
                confirm_password: '',
                fromRouter: null,
                show_iframe: false,
                show_advertisement: false,
                show_active: false
            }
        },
        mounted(){
        },
        beforeRouteEnter (to, from, next) {
            next((vm)=> {
                vm.fromRouter = from.name;
                if (from.name) {
                    if (from.name.indexOf('My.Tribe') >= 0) {
                        vm.show_iframe = true;
                    } else if (from.name.indexOf('Game.') >= 0) {
                        vm.show_active = true;
                    }
                } else if (location.href.indexOf('source=qrcode') >= 0) {
                    vm.show_active = true;
                } else if (location.href.indexOf('source=advertisement') >= 0) {
                    vm.show_active = true;
                    vm.show_advertisement = true;
                } else if (location.href.indexOf('source=tribe') >= 0) {
                    vm.show_iframe = true;
                } else if (location.href.indexOf('source=puzzle') >= 0) {
                    vm.show_active = true;
                }
            })
        },
        methods: {
            ...mapActions([
                'login'
            ]),
            setDefault(){
                this.status = this.status == '1' ? '0' : '1';
            },
            commit(){
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                if (!this.form.code) {
                    Mint.Toast('请填写验证码');
                    return false;
                }
                let validPassword = (new SmsCaptcha).validator(this.form.password, 'password');
                if (!this.form.password) {
                    Mint.Toast('请输入密码');
                    return false;
                } else if (!validPassword) {
                    Mint.Toast('请输入包含数字和字母的6位以上密码');
                    return false;
                }
                if (this.confirm_password != this.form.password) {
                    Mint.Toast('确认密码与设置密码不一致');
                    return false;
                }
                if (this.status == 0) {
                    Mint.Toast('请仔细阅读用户注册协议');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('sign', this.form)
                    .then((response) => {
                        this.login(response.token);
                        this.$store.commit('fetchLoginPointDialog', 1);
                        if(!this.fromRouter) {
                            this.$router.replace({
                                path: '/mall'
                            });
                        }
                        switch (this.fromRouter){
                            case 'Auth.Login':
                                this.$router.go(-2);
                                break;
                            default:
                                this.$router.go(-1);
                                break;
                        }
                    })
                    .finally(() => Mint.Indicator.close())
            },
            sendCode(){
                let sms_captcha = new SmsCaptcha();
                let validPhone = sms_captcha.validator(this.form.phone, 'phone');
                if (!this.form.phone) {
                    Mint.Toast('请填写手机号');
                    return false;
                } else if (!validPhone) {
                    Mint.Toast('请填写正确手机号');
                    return false;
                }
                sms_captcha.send('code/register', this.form).then((response) => {
                    this.sms_countdown = 60;
                    let timeid = setInterval(() => {
                        if (!this.sms_countdown) {
                            clearInterval(timeid);
                        } else {
                            this.sms_countdown--;
                        }
                    }, 1000);
                });
            }
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .auth-padTop {
        padding-top: 0.25rem;
    }
    .auth-checkbox{
        margin-top: .27rem;

        i{
            font-size: 19px;
            vertical-align: text-top;
            color: $black-color;
            margin-right: 0.14rem;

            &.checkbox-empty{
                display: inline-block;
                width: 15px;
                height: 15px;
                font-size: normal;
                border: 2px solid #c8c8c8;
                border-radius: .04rem;
                margin: 0.5px 0.14rem 0.5px 0;
                vertical-align: middle;
            }
        }
        span{
            font-size: 0.22rem;
            color: #999999;
            vertical-align: middle;
            line-height: 1;
        }

        a{
            color: #000000;
            font-size: 0.22rem;
        }
    }
    .auth-iframes{
        width: 100%;
        border: 0;
    }
    .submit-items{
        margin: .52rem auto 0;
        padding-bottom: .46rem;

        .title{
            font-size: .3rem;
            color: #000;
            font-weight: 500;
            margin-bottom: .6rem;
        }

        .submit-list{
            img{
                width: 1.54rem;
                height: 1.54rem;
            }
        }
        .button{
            width: 1.57rem;
            padding: .1rem 0;
            color: #fff;
            background: $black-color;
            font-size: .24rem;
            border-radius: .04rem;
            margin: .15rem auto 0;
            min-height: .74rem;
            line-height: 1.5;
            &.first{
                line-height: .74rem;
            }
        }
    }
</style>
