<template>
    <div class="mall-auth auth-padTop">
        <div class="auth-box">
            <div class="auth-items">
                <input type="password" placeholder="新密码" v-model="form.password">
                <i class="close-button" v-if="form.password" @click="form.password = ''"></i>
            </div>
            <div class="auth-items">
                <input type="password" placeholder="请设置6位及以上的密码" v-model="form.confirm_password">
                <i class="close-button" v-if="form.confirm_password" @click="form.confirm_password = ''"></i>
            </div>
            <div class="reset-notice" v-if="$route.query.title">请输入包含数字和字母的6位以上密码</div>
        </div>
        <div class="auth-button" @click="commit">完成</div>
    </div>
</template>

<script>
    import {mapMutations, mapActions} from 'vuex'
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components: {
        },
        data(){
            return {
                form: {
                    password: '',
                    confirm_password: ''
                }
            }
        },
        mounted(){
        },
        methods: {
            ...mapActions([
                'login',
            ]),
            ...mapMutations([
                'commitTemp'
            ]),
            commit(){
                let stateData = this.$store.state.temp;
                let validPassword = (new SmsCaptcha).validator(this.form.password, 'password');
                if (!this.form.password) {
                    Mint.Toast('请输入密码');
                    return false;
                } else if (!validPassword) {
                    Mint.Toast('请输入包含数字和字母的6位以上密码');
                    return false;
                }
                if (this.form.confirm_password != this.form.password) {
                    Mint.Toast('确认密码与设置密码不一致');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('password', Object.assign({}, this.form, stateData))
                    .then((response) => {
                        this.login(response.token);
                        this.$store.commit('fetchLoginPointDialog', 1);
                        this.commitTemp({});
                       this.$router.go(-3);
                    })
                    .finally(() => Mint.Indicator.close())
            },
        },
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .auth-padTop{
        padding-top: 0.25rem;
    }
    .reset-notice{
        font-size: 0.22rem;
        color: #959595;
        padding: 0.28rem 0.22rem
    }
</style>
