<template>
    <div class="pay-container">
        <div class="input-items">
            <input type="text" placeholder="支付宝账号" v-model="form.account_number">
        </div>
        <div class="input-items">
            <input type="text" placeholder="认证名" v-model="form.account_name">
        </div>
        <div class="comfirm-btn" @click="commit">确定</div>
    </div>
</template>

<script>
    import {mapMutations, mapActions} from 'vuex'
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components: {
        },
        data(){
            return {
                form: {
                    type:'alipay',
                    account_name: this.$store.state.temp.account_name || '',
                    account_number: this.$store.state.temp.account_number || ''
                }
            }
        },
        mounted(){
        },
        methods: {
            ...mapActions([
                'login'
            ]),
            commit(){
                let validPhone = (new SmsCaptcha).validator(this.form.phone, 'phone');
                let validatorEmail = /^[\w\+\-]+(\.[\w\+\-]+)*@[a-z\d\-]+(\.[a-z\d\-]+)*\.([a-z]{2,4})$/i;
                let validatorPhone = /^1[3-9]\d{9}$/;
                if (!this.form.account_number) {
                    Mint.Toast('请填写支付宝账号');
                    return false;
                } else if (!(validatorEmail.test(this.form.account_number) || validatorPhone.test(this.form.account_number))) {
                    Mint.Toast('请填写正确的支付宝账号');
                    return false;
                }
                if (!this.form.account_name) {
                    Mint.Toast('请填写认证名');
                    return false;
                }
                Mint.Indicator.open();
                RequestAPI.http.post('withdraw/channels', this.form)
                    .then((response) => {
                        this.$router.go(-1);
                    })
                    .finally(() => Mint.Indicator.close())
            },
        },
    }
</script>

<style lang="scss">
    .pay-container{
        padding-top:0.6rem;
        min-height: 100vh;
        background: #fff;
        box-sizing: border-box;

        .input-items{
            padding-left:0.25rem;
            padding-right:0.25rem;
            height:0.6rem;
            margin-left:0.8rem;
            margin-right:0.8rem;
            margin-bottom:0.34rem;
            border-bottom:0.01rem solid #e7e7e7;

            input{
                width:100%;
                color:#999;
                font-size:0.26rem;
                border: 0;
            }
        }

        .comfirm-btn{
            align:center;
            margin-top: 2.8rem;
            background: #cd983e;
            border-radius:0.08rem;
            height:0.9rem;
            color: white;
            font-size: 0.32rem;
            line-height: 0.9rem;
            text-align: center;
            margin-left:0.8rem;
            margin-right:0.8rem;
        }
    }

</style>
