<template>
    <div class="container">
        <img src="~/assets/images/ic_gold.png" class="gold" />
        <div class="title">我的余额</div>
        <div>
            <span class="small-text">￥</span>
            <span class="big-text">{{balance}}</span>
            <span class="small-text">.{{decimals}}</span>
        </div>
        <router-link :to="{name:'My.Withdraw.Withdraw'}" tag="div" class="withdraw">提现</router-link>
    </div>
</template>

<script>
    export default{
        components:{
        },
        data(){
            return{
                cumulate_profit:"",
                balance:0,
                decimals:0,
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('user/balance')
                .then(function (response) {
                    next(vm => {
                        vm.cumulate_profit = response.cumulateProfit;
                        var balanceArray = vm.cumulate_profit.split(".");
                        vm.balance = balanceArray[0];
                        vm.decimals = balanceArray.length > 1 ? balanceArray[1] : '';
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods: {

        },

    }
</script>

<style lang="scss">

    .container {
        display:flex;
        flex-direction:column;
        align-items: center;

        .gold {
            width:2rem;
            height:2.12rem;
            margin-top:0.8rem;
            margin-bottom:0.4rem;
        }

        .title{
            font-size:0.28rem;
            color:black;
            margin-bottom:0.24rem;
        }

        .small-text {
            color:black;
            font-size:0.48rem;
        }

        .big-text {
            color:black;
            font-size:0.66rem;
        }

        .withdraw{
            margin-top: 1rem;
            background: black;
            border-radius:0.08rem;
            height:0.9rem;
            color: white;
            font-size: 0.32rem;
            line-height: 0.9rem;
            text-align: center;
            width: calc(100% - 1.6rem);
        }
    }



</style>
