<template>
    <div class="container">
        <!-- <div class="channel-container" @click="choseItem(0)">
            <div class="channel-type">
                <i class="iconfont icon-wechat icon-style"/>
                <span class="type-name">微信</span>
            </div>
            <div v-bind:class="{ 'binding-state': !wechatAccount}">{{wechatAccount?wechatAccount.account_name:'未绑定'}}</div>
        </div>
        <div class="line"></div> -->
        <div class="channel-container" @click="choseItem(1)">
            <div class="channel-type">
                <i class="iconfont icon-alipay icon-style"/>
                <span class="type-name">支付宝</span>
            </div>
            <div @click.prevent="bindingAlipay" class="binding-state" v-if="$route.query.setting">{{aliPayAccount? '修改' :'未绑定'}}</div>
            <div @click.prevent="bindingAlipay" v-bind:class="{ 'binding-state': !aliPayAccount}" v-else>{{aliPayAccount?aliPayAccount.account_number:'未绑定'}}</div>
        </div>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex'

    export default{
        components:{
        },
        data(){
            return{
                data:[],
                aliPayAccount: null,
                wechatAccount: null,
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('withdraw/channels')
                .then(function (response) {
                    next(vm => {
                       vm.data = response;
                       if (!response) return false;
                       for (let i = 0; i < response.length; i++) {
                          if (response[i].type == 'alipay') {
                            vm.aliPayAccount = response[i];
                          } else {
                            vm.wechatAccount = response[i];
                          }
                        }
                    })
                })
                .finally(() => Mint.Indicator.close())
        },
        methods: {
            ...mapMutations([
                'commitTemp'
            ]),
            choseItem(index){
                if(index==0){
                    if(this.wechatAccount){
                        this.commitTemp(this.wechatAccount);
                        this.$router.go(-1);
                    }
                }else{
                    if (!this.aliPayAccount) return false;
                    if(this.aliPayAccount && this.$route.query.setting == 1){
                        this.commitTemp(this.aliPayAccount);
                    } else {
                        this.commitTemp(this.aliPayAccount);
                        this.$router.go(-1);
                    }
                }
            },
            bindingAlipay(){
                let query = '';
                if(this.$route.query.setting == 1) {
                    query = 1;
                } else {
                    if(this.aliPayAccount){
                        return;
                    }
                }
                this.$router.push({
                    name: 'My.Withdraw.AlipayBinding',
                    query : {'setting': query}
                })
            }
        },

    }
</script>

<style lang="scss">

    .container {
        background :#f0f0f0;
        display:flex;
        flex-direction:column;
        align-items: center;

       .channel-container{
            width: 100%;
            background: white;
            height:1.1rem;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;

            .channel-type{
                display:flex;
                align-items: center;

                .icon-style{
                    font-size:0.8rem;
                    margin-right: 0.2rem;
                    align-self:flex-start;
                }

                .type-name{
                    color: #333;
                    font-size: 0.26rem;
                    margin-top: 0.14rem;
                }
            }

            .binding-state{
                width:0.98rem;
                height:0.38rem;
                line-height:0.38rem;
                text-align:center;
                border-radius:0.05rem;
                background:#cd983e;
                color:white;
                font-size:0.22rem;
            }

       }

       .line{
            background:white;
            height:0.01rem;
            align-self: flex-start;
            width:0.27rem;
       }

       .withdraw_hint{
            padding:0.2rem 0.25rem;
            line-height:0.35rem;
            color:#959595;
            font-size:0.22rem;
       }
    }
</style>
