<template>
    <div class="container">
        <div class="account-container" @click="toSelectChannel">
            <span class="black-text" v-if="!accountSelect">点击前往绑定账号</span>
            <div class="account-detail-container" v-else>
                <i class="iconfont icon-alipay icon-style" v-if="accountSelect.type=='alipay'"/>
                <i class="iconfont icon-wechat icon-style" v-else/>
                <div class="account-detail-info">
                    <span class="account-number" v-if="accountSelect.type == 'alipay'">{{ accountSelect.account_number }}</span>
                    <span class="account-name">{{accountSelect.account_name || ''}}</span>
                </div>
            </div>
            <span class="right-arrow"></span>
        </div>
        <div class="money-container">
            <div class="money-title">提现金额</div>
            <div class="input-money">
                <span class="money-sign">￥</span>
                <input type="text" class="money-values" step="1" v-model.trim.number="form.amount" name="points" >
            </div>
            <div class="input-money most-withdraw">
                <span class="sum-money">最多提现{{cumulateProfit}}元</span>
                <span class="sum-money withdraw-all" @click="withdrawAll">全部提现</span>
            </div>
        </div>
        <div class="withdraw" @click="comfirm">确定提现</div>
        <div class="withdraw-password" v-if="showPsd">
            <div class="withdraw-content">
                <div class="close right-align">
                    <i class="iconfont icon-close" @click="close"></i>
                </div>
                <div class="title center">输入提现密码</div>
                <six-password v-model="form.password"></six-password>
                <div class="right-align forget">
                    <router-link :to="{name:'Settings.Forget'}" tag="div">忘记密码</router-link>
                    <div class="error left-align">{{ error }}</div>
                </div>
                <div class="submit-button" @click="commit">
                    <button>确定</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapMutations} from 'vuex'
    import SixPassword from '/components/SixPassword.vue'
    import SmsCaptcha from '/api/SmsCaptcha'

    export default{
        components: {
            SixPassword
        },
        data(){
            return {
                error: '',
                data: {},
                cumulateProfit: 0,
                accountSelect: null,//选中的提现账户
                showPsd: false,
                form: {
                    channel_type: null,
                    amount: '',
                    password: ''
                }
            }
        },
        beforeRouteEnter (to, from, next) {
            Mint.Indicator.open();
            RequestAPI.http.get('withdraw')
                .then((withdraw)=>{
                    next(vm => {
                        vm.cumulateProfit = parseFloat(withdraw.wallet_balance);
                        vm.data = withdraw;
                        let accountSelect = vm.$store.state.temp;
                        if (accountSelect && accountSelect.type) {
                            vm.accountSelect = accountSelect;
                            vm.commitTemp(null);
                        } else {
                            vm.accountSelect = withdraw.channel;
                        }
                    })
                })
                .finally(() => Mint.Indicator.close());
        },
        mounted(){
        },
        methods: {
            ...mapMutations([
                'commitTemp',
                'cacheUserInfo'
            ]),
            toSelectChannel(){
                this.$router.push({
                    name: 'My.Withdraw.WithdrawChannel'
                })
            },
            withdrawAll(){
                this.form.amount = this.cumulateProfit;
            },
            comfirm(){
                //判断是否有设置过提现密码
                if (this.data.has_password == 0) {
                    Mint.MessageBox.confirm('您尚未设置提现密码<br/>请前往设置', '')
                        .then(action => {
                            this.$router.push({
                                name: 'Settings.SetWithdraw'
                            })
                        });
                    return;
                }
                if (!this.accountSelect) {
                    Mint.Toast('请选择提现绑定账号！');
                    return false;
                }
                if (!this.form.amount) {
                    Mint.Toast('请输入需要提现的金额！');
                    return false;
                }
                if(this.form.amount > this.cumulateProfit){
                    Mint.Toast('超出可提现金额！');
                    return false;
                }
                this.showPsd = true;
                this.form.password = '';
            },
            close(){
                this.error = '';
                this.showPsd = false;
            },
            withdraw(sms_code){
                this.form.channel_type = this.accountSelect.type;
                this.form.code = sms_code;
                Mint.Indicator.open();
                RequestAPI.http.post('withdraw/apply', this.form)
                    .then((response) => {
                        this.$router.go(-1);
                    })
                    .finally(() => {
                        Mint.Indicator.close();
                        this.showPsd = false;
                    })
            },
            commit(){
                if (this.form.password.length < 6) {
                    this.error = '请输入完整密码！';
                    return;
                }
                (new SmsCaptcha).send('codeAuth/withdraw');
                Mint.MessageBox.prompt('请输入验证码', '验证码已发送').then((res)=>{
                    if(res.action !== 'confirm') return;
                    let value = ''+parseInt(res.value);
                    if(value.length < 4) {
                        Mint.Toast('验证码格式错误');
                        return;
                    }
                    this.withdraw(value);
                });
            }
        }
    }
</script>

<style lang="scss">
    @import "~/assets/scss/abstracts";

    .error{
        font-size: .24rem;
        color: red;
        margin-top: .1rem;
    }
    .container {
        background :#f0f0f0;
        display:flex;
        flex-direction:column;
        align-items: center;

       .account-container{
            width: 100%;
            margin:0.2rem 0;
            background: white;
            height:1.1rem;
            padding-left: 0.3rem;
            padding-right: 0.3rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;

            .account-detail-container{
                display: flex;
                align-items: center;
                flex-grow: 1;
                flex-direction: row;
                justify-content: center flex-start;

                .icon-style{
                    font-size:0.8rem;
                    margin-right: 0.2rem;
                    align-self:flex-start;
                }

                .account-detail-info{
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    .account-name{
                        color: #333;
                        font-size: 0.26rem;
                        margin-top: 0.14rem;
                    }

                    .account-number{
                        color: #333;
                        font-size: 0.24rem;
                    }
                }
            }
       }

       .money-container{
            padding-left: 0.34rem;
            padding-right: 0.34rem;
            background:white;
            width: calc(100% - 0.68rem);

            .money-title{
                line-height:0.9rem;
                font-size:0.28rem;
                color:#999;
            }

            .input-money{
                display: flex;
                align-items: center;
                border-bottom: 0.01rem solid #e6e6e6;

                .money-sign{
                    font-size:0.66rem;
                }

                .money-values{
                    font-size:0.66rem;
                    width: 100%;
                    background-color: white;
                    border: 0;
                }
            }

            .most-withdraw{
                justify-content: space-between;
                border-bottom: 0;

                .sum-money{
                    font-size:0.28rem;
                    line-height:0.78rem;
                    color:#b5b5b5;
                }

                .withdraw-all{
                    color:black;
                }
            }
       }

       .withdraw{
            margin-top: 1.27rem;
            background: #cd983e;
            border-radius:0.08rem;
            height:0.9rem;
            color: white;
            font-size: 0.32rem;
            line-height: 0.9rem;
            text-align: center;
            width: calc(100% - 1.6rem);
        }

        .withdraw-password{
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.4);
            z-index: 9;

            .withdraw-content{
                position: fixed;
                left: 50%;
                top: 50%;
                width: 6rem;
                background: #FFF;
                color: $black-color;
                border-radius: 0.08rem;
                z-index: 9;
                @include prefix(transform, translate(-50%, -50%), ('webkit', 'moz'));

                .close{
                    position: absolute;
                    top: -.9rem;
                    right: 0;
                    font-size: .5rem;
                    color: #fff;
                }

                .title{
                    padding: .54rem 0;
                    font-size: .32rem;
                }

                .forget{
                    margin: .3rem;
                    font-size: .24rem;
                }

                .submit-button{
                    padding: 0 .42rem;

                    button{
                        width: 100%;
                        border: 1px solid #cd983e;
                        border-radius: 0.04rem;
                        background: #cd983e;
                        color: #FFF;
                        font-size: 0.28rem;
                        margin: 1.15rem 0 .33rem;
                        padding: .2rem 0;
                    }
                }
            }
        }
    }
</style>
