.mint-swipe-items-wrap > div{
  text-align: center;

  img{
    width: 100%;
    max-height: initial;
  }
}

.mint-switch-input:checked + .mint-switch-core{
  background: #4cd864 !important;
  border-color: #4cd864 !important;
}

.mint-swipe-indicators{
    display: inline-block;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}

.mint-indicator-wrapper {
    z-index: 99;
}
