<template>
    <div>
        <download-prompt></download-prompt>
        <router-view :class="{'download-padding': download}"></router-view>
        <div class="disabled_landscape">请用竖屏浏览！</div>
        <point-award-received></point-award-received>
    </div>
</template>

<script>
    import DownloadPrompt from '/components/DownloadPrompt.vue'
    import PointAwardReceived from '/components/PointAwardReceived.vue'

    export default{
        components: {
            DownloadPrompt,
            PointAwardReceived
        },
        data(){
            return {
                award: {},
                download: false
            }
        },
        created(){

        },
        mounted(){
            if (!this.$store.state.token) {
                this.download = false;
            } else {
                this.download = !this.$store.state.one_display.download_prompt;
            }
        },
        methods: {},
    }
</script>

<style lang="scss">
    @import "assets/scss/abstracts";
</style>
